Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

One more place missing
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Expose get_project as public method
  readthedocs/core/resolver.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

Use * and :splat syntax
  docs/dev/design/redirects.rst
Owners: @readthedocs/advocacy

Resolver: refactor (#10813)
  readthedocs/core/resolver.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

CI: update circleci API call
  .github/workflows/main.yml
Owners: @readthedocs/backend

Resolver: use new methods to resolve documentation pages
  readthedocs/analytics/models.py
  readthedocs/api/v2/serializers.py
  readthedocs/api/v3/serializers.py
  readthedocs/embed/views.py
  readthedocs/projects/models.py
  readthedocs/projects/views/mixins.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Fix
  readthedocs/api/v2/serializers.py
Owners: @readthedocs/backend

Add tests organization filter sets
  readthedocs/organizations/filters.py
  readthedocs/organizations/tests/test_filters.py
Owners: @readthedocs/backend

Update code comments
  readthedocs/core/filters.py
  readthedocs/organizations/filters.py
  readthedocs/organizations/views/public.py
Owners: @readthedocs/backend

A few more improvements
  readthedocs/core/filters.py
  readthedocs/organizations/filters.py
  readthedocs/organizations/tests/test_filters.py
  readthedocs/organizations/views/private.py
  readthedocs/organizations/views/public.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Use `functools.lru_cache` for project's domain resolution
  readthedocs/core/resolver.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Adapt old tests to clean the resolver's cache between each test
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

Clear cache on tests
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_build_notifications.py
Owners: @readthedocs/backend

Update more tests to match the Resolver cache
  readthedocs/proxito/tests/base.py
  readthedocs/proxito/tests/test_redirects.py
  readthedocs/rtd_tests/tests/test_footer.py
Owners: @readthedocs/backend

Clear cache on footer tests
  readthedocs/rtd_tests/tests/test_footer.py
Owners: @readthedocs/backend

update documentation around version warning banner
  docs/user/versions.rst
Owners: @readthedocs/advocacy

match indentation from previous author
  docs/user/versions.rst
Owners: @readthedocs/advocacy

trim trailing whitespace
  docs/user/versions.rst
Owners: @readthedocs/advocacy

CI: update circleci API call (#10874)
  .github/workflows/main.yml
Owners: @readthedocs/backend

Addons: improve domain resolution
  readthedocs/core/resolver.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Update from review
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Resolver: use new methods to resolve documentation pages (#10875)
  readthedocs/analytics/models.py
  readthedocs/api/v2/serializers.py
  readthedocs/api/v3/serializers.py
  readthedocs/embed/views.py
  readthedocs/projects/models.py
  readthedocs/projects/views/mixins.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Review updates for tests and arguments
  readthedocs/core/filters.py
  readthedocs/organizations/filters.py
  readthedocs/organizations/tests/test_filters.py
Owners: @readthedocs/backend

Build: use tag name for checkout
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Use a new instance of `Resolver()` each time it's needed
  readthedocs/analytics/models.py
  readthedocs/core/resolver.py
  readthedocs/core/templatetags/core_tags.py
  readthedocs/embed/views.py
  readthedocs/projects/models.py
  readthedocs/projects/views/mixins.py
  readthedocs/proxito/redirects.py
  readthedocs/proxito/tests/base.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
  readthedocs/redirects/models.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_build_notifications.py
  readthedocs/rtd_tests/tests/test_footer.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

Minor fix
  readthedocs/analytics/models.py
Owners: @readthedocs/backend

Revert comment
  readthedocs/rtd_tests/tests/test_footer.py
Owners: @readthedocs/backend

Typo import
  readthedocs/projects/views/public.py
Owners: @readthedocs/backend

Typo import
  readthedocs/api/v3/serializers.py
Owners: @readthedocs/backend

Comment
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Last updates
  docs/dev/design/redirects.rst
Owners: @readthedocs/advocacy

Build: use tag name for checkout (#10879)
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Redirects (design doc): improving existing functionality (#10825)
  docs/dev/design/redirects.rst
Owners: @readthedocs/advocacy

Remove unused method
  readthedocs/core/resolver.py
Owners: @readthedocs/backend

Release 10.9.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.9.0 (#10880)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Rename FilterMixin -> FilterContextMixin
  readthedocs/core/filters.py
  readthedocs/organizations/views/private.py
  readthedocs/organizations/views/public.py
Owners: @readthedocs/backend

Redirects: improvements from design doc
  readthedocs/api/v3/serializers.py
  readthedocs/projects/forms.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
  readthedocs/redirects/migrations/0006_add_new_fields.py
  readthedocs/redirects/models.py
  readthedocs/redirects/querysets.py
Owners: @readthedocs/backend

Fix lint
  readthedocs/organizations/views/private.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
