Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Builds: check project owners with one query
  readthedocs/projects/querysets.py
  readthedocs/rtd_tests/tests/test_project_querysets.py
Owners: @readthedocs/backend

Search: don't connect django-elasticsearch-dsl receivers to every model
  readthedocs/projects/tests/test_models.py
  readthedocs/search/tests/test_signal_processor.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Search: record all projects in a search query batch
  readthedocs/search/tasks.py
  readthedocs/search/tests/test_search_tasks.py
Owners: @readthedocs/backend

Builds: avoid duplicate queries in build overview and build status
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Search: update subproject search query count
  readthedocs/search/api/v3/tests/test_api.py
Owners: @readthedocs/backend

Builds: save only the task id after dispatching a build
  readthedocs/core/utils/__init__.py
  readthedocs/rtd_tests/tests/test_core_utils.py
Owners: @readthedocs/backend

Search: skip parsing sections when no indexer needs them
  readthedocs/projects/models.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tests/test_indexers.py
  readthedocs/search/parsers.py
  readthedocs/search/tests/test_parsers.py
Owners: @readthedocs/backend

Projects: cache feature ids per Project instance
  readthedocs/api/v2/serializers.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_models.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Projects: keep APIProject feature checks off the database
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Proxito: skip redirect queries for projects without redirects
  readthedocs/core/unresolver.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/proxito/views/mixins.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Owners: @readthedocs/backend

Builds: check if the project is active and load it once per webhook
  readthedocs/api/v2/views/integrations.py
  readthedocs/core/utils/__init__.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_project_querysets.py
Owners: @readthedocs/backend

Builds: count concurrent builds with a single project subquery
  readthedocs/builds/querysets.py
  readthedocs/builds/tests/test_build_queryset.py
Owners: @readthedocs/backend

Search: update multi-subproject search query count
  readthedocs/search/api/v3/tests/test_api.py
Owners: @readthedocs/backend

Builds: save only the changed fields when cancelling a build
  readthedocs/builds/models.py
  readthedocs/core/utils/__init__.py
  readthedocs/rtd_tests/tests/test_builds.py
  readthedocs/rtd_tests/tests/test_core_utils.py
Owners: @readthedocs/backend

Projects: prefetch the latest build of each version in the version list
  readthedocs/builds/models.py
  readthedocs/projects/views/public.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Search: fewer passes when cleaning and hashing a page
  readthedocs/search/parsers.py
  readthedocs/search/tests/test_parsers.py
Owners: @readthedocs/backend

Docs: expand upload docs based on feedback
  docs/user/guides/build/direct-upload.rst
Owners: @readthedocs/advocacy

Builds: look up the version stable/latest point to once
  readthedocs/api/v3/serializers.py
  readthedocs/builds/models.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/rtd_tests/tests/test_version.py
Owners: @readthedocs/backend

Build: send a OS hint based on the latest successful build
  readthedocs/core/utils/__init__.py
  readthedocs/rtd_tests/tests/test_core_utils.py
Owners: @readthedocs/backend

Builds: count concurrent builds with one indexed query
  readthedocs/builds/querysets.py
  readthedocs/builds/tests/test_build_queryset.py
Owners: @readthedocs/backend

Builds: save only the changed fields when cancelling a build
  readthedocs/core/utils/__init__.py
  readthedocs/rtd_tests/tests/test_core_utils.py
Owners: @readthedocs/backend

Search: record every project in a search query batch
  readthedocs/search/tasks.py
  readthedocs/search/tests/test_search_tasks.py
Owners: @readthedocs/backend

Builds: look up the version stable/latest point to once
  readthedocs/api/v3/serializers.py
  readthedocs/builds/models.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/rtd_tests/tests/test_version.py
Owners: @readthedocs/backend

Search: skip parsing sections when no indexer needs them
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tests/test_indexers.py
  readthedocs/search/parsers.py
  readthedocs/search/tests/test_parsers.py
Owners: @readthedocs/backend

Proxito: read custom 404 pages with a single S3 GET
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/storage/mixins.py
  readthedocs/storage/s3_storage.py
  readthedocs/storage/tests/test_s3_storage.py
Owners: @readthedocs/backend

PR preview: don't send commit status for closed PRs
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
Owners: @readthedocs/backend

Pagination: replace dj-pagination with Django's paginator
  readthedocs/builds/views.py
  readthedocs/core/pagination.py
  readthedocs/core/templatetags/privacy_tags.py
  readthedocs/organizations/views/private.py
  readthedocs/organizations/views/public.py
  readthedocs/profiles/views.py
  readthedocs/projects/views/private.py
  readthedocs/projects/views/public.py
  readthedocs/rtd_tests/tests/test_integrations.py
  readthedocs/rtd_tests/tests/test_project_views.py
  readthedocs/rtd_tests/tests/test_views.py
  readthedocs/settings/base.py
  readthedocs/templates/core/pagination.html
  readthedocs/templates/profiles/private/security_log.html
  readthedocs/templates/profiles/public/profile_detail.html
  readthedocs/templates/projects/project_dashboard_base.html
  readthedocs/templates/projects/project_list.html
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend, @readthedocs/frontend

Tests: compare security logs against the full queryset
  readthedocs/organizations/tests/test_views.py
  readthedocs/rtd_tests/tests/test_profile_views.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Storage: log rclone's stderr when a command fails
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/storage/rclone.py
Owners: @readthedocs/backend

Search: remove local copies leaked by killed workers
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tests/test_indexers.py
Owners: @readthedocs/backend

Make the download directory configurable
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tests/test_indexers.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Builds: admission lock expiration
  readthedocs/builds/constants.py
  readthedocs/builds/tasks.py
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Api: rank search matches on the repository name first in import ordering
  readthedocs/api/v3/filters.py
  readthedocs/api/v3/tests/test_remoterepositories.py
Owners: @readthedocs/backend

Truncate the logged stderr by lines instead of bytes
  readthedocs/storage/rclone.py
Owners: @readthedocs/backend

Audit: record direct uploads in the security log
  docs/user/security-log.rst
  readthedocs/audit/filters.py
  readthedocs/audit/migrations/0009_add_upload_actions.py
  readthedocs/audit/models.py
  readthedocs/audit/serializers.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Docs: trim the Read the Docs install and speed up search indexing
  docs/dev/docs.rst
  requirements/docs-local.in
  requirements/docs-local.txt
  requirements/docs.in
  requirements/docs.txt
  tasks.py
Owners: @readthedocs/advocacy, @readthedocs/backend

PR preview: don't send commit status for closed PRs (#13414)
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
Owners: @readthedocs/backend

Storage: log rclone's stderr when a command fails (#13416)
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/storage/rclone.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
