Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

This wasn't mean to be committed
  readthedocs/oauth/services/gitlab.py
Owners: @readthedocs/backend

OAuth: return an iterator for pagination
  readthedocs/oauth/services/base.py
Owners: @readthedocs/backend

GitLab: Use full path for GitLab projects
  readthedocs/oauth/services/gitlab.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Redirect: fix infinite redirect in 404 view
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/proxito/views/mixins.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @readthedocs/backend

Use Allauth settings for app name and hiding on login/connect forms
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Add priority and fields for hiding providers per Allauth process view
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Publish canceled subscriptions into `#rtd-notifications` channel (#12228)
  readthedocs/settings/base.py
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

OAuth: return an iterator for pagination (#12235)
  readthedocs/oauth/services/base.py
Owners: @readthedocs/backend

GitLab: Use full path for GitLab groups/organizations (#12236)
  readthedocs/oauth/services/gitlab.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Redirect: fix infinite redirect in 404 view (#12237)
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/proxito/views/mixins.py
Owners: @readthedocs/backend

Build: show the command that's currently being executed
  readthedocs/api/v2/views/model_views.py
  readthedocs/builds/migrations/0063_alter_buildcommandresult.py
  readthedocs/builds/models.py
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Delete
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Mark as safe
  readthedocs/builds/migrations/0063_alter_buildcommandresult.py
Owners: @readthedocs/backend

Make build read-only on updates
  readthedocs/api/v2/serializers.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_doc_building.py
Owners: @readthedocs/backend

Override update instead
  readthedocs/api/v2/serializers.py
Owners: @readthedocs/backend

Delete old URLs
  readthedocs/templates/security.html
  readthedocs/urls.py
Owners: @readthedocs/frontend, @readthedocs/backend

Delete old URLs (#12246)
  readthedocs/templates/security.html
  readthedocs/urls.py
Owners: @readthedocs/frontend, @readthedocs/backend

Recover files deleted
  media/css/badge_only.css
  media/css/readthedocs-doc-embed.css
  media/css/sphinx_rtd_theme.css
  media/images/badge-rtd.png
  media/images/gradient-light.png
  media/javascript/doctools.js
  media/javascript/jquery/jquery-2.0.3.min.js
  media/javascript/jquery/jquery-migrate-1.2.1.min.js
  media/javascript/readthedocs-analytics.js
  media/javascript/searchtools.js
  media/javascript/underscore.js
  readthedocs/core/static/core/css/badge_only.css
  readthedocs/core/static/core/css/theme.css
  readthedocs/core/static/core/font/Inconsolata-Bold.ttf
  readthedocs/core/static/core/font/Inconsolata-Regular.ttf
  readthedocs/core/static/core/font/Lato-Bold.ttf
  readthedocs/core/static/core/font/Lato-BoldItalic.ttf
  readthedocs/core/static/core/font/Lato-Italic.ttf
  readthedocs/core/static/core/font/Lato-Regular.ttf
  readthedocs/core/static/core/font/RobotoSlab-Bold.ttf
  readthedocs/core/static/core/font/RobotoSlab-Regular.ttf
  readthedocs/core/static/core/font/fontawesome-webfont.eot
  readthedocs/core/static/core/font/fontawesome-webfont.svg
  readthedocs/core/static/core/font/fontawesome-webfont.ttf
  readthedocs/core/static/core/font/fontawesome-webfont.woff
  readthedocs/core/static/core/font/fontawesome-webfont.woff2
  readthedocs/core/static/core/fonts
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
  readthedocs/static/vendor/underscore-standalone.js
Owners: @readthedocs/frontend, @readthedocs/backend

Delete `/projects/<slug>/downloads/` URL
  readthedocs/api/v3/serializers.py
  readthedocs/projects/urls/public.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/urls.py
  readthedocs/rtd_tests/tests/test_project_views.py
  readthedocs/templates/core/project_downloads.html
  readthedocs/templates/projects/project_downloads.html
Owners: @readthedocs/backend, @readthedocs/frontend

Update docs and tests
  docs/user/addons.rst
  docs/user/api/v3.rst
  readthedocs/api/v3/tests/responses/projects-detail.json
  readthedocs/api/v3/tests/responses/projects-list.json
  readthedocs/api/v3/tests/responses/projects-list_POST.json
  readthedocs/api/v3/tests/responses/projects-subprojects-detail.json
  readthedocs/api/v3/tests/responses/projects-subprojects-list.json
  readthedocs/api/v3/tests/responses/projects-subprojects-list_POST.json
  readthedocs/api/v3/tests/responses/projects-superproject.json
  readthedocs/api/v3/tests/responses/projects-versions-builds-list_POST.json
  readthedocs/api/v3/tests/responses/remoterepositories-list.json
  readthedocs/proxito/tests/responses/v1.json
Owners: @readthedocs/advocacy, @readthedocs/backend

Add `admins` template filter
  readthedocs/core/templatetags/privacy_tags.py
Owners: @readthedocs/backend

GitLab: handle when a repository is moved to another group (#12233)
  readthedocs/oauth/services/gitlab.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Update docstring
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

GitLab: Use full path for GitLab groups/organizations (#12236)
  readthedocs/oauth/services/gitlab.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

GitLab: handle when a repository is moved to another group (#12233)
  readthedocs/oauth/services/gitlab.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Don't override name in provider
  readthedocs/allauth/providers/githubapp/provider.py
Owners: @readthedocs/backend

Add support for subproject and per-version sitemaps, and styled main sitemap
  readthedocs/core/static/core/xsl/sitemap.xslt
  readthedocs/proxito/views/serve.py
  readthedocs/templates/sitemap.xml
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Redirect to `projects_detail` when hitting the `/downloads` URL
  readthedocs/projects/urls/public.py
Owners: @readthedocs/backend

Update doc URLs from readthedocs.org/com to app.readthedocs.org/com
  README.rst
  docs/dev/design/embed-api.rst
  docs/dev/design/new-search-api.rst
  docs/dev/design/theme-context.rst
  docs/development/design/flyout-redesign.rst
  docs/user/about/index.rst
  docs/user/addons.rst
  docs/user/advertising/ad-blocking.rst
  docs/user/advertising/ethical-advertising.rst
  docs/user/advertising/index.rst
  docs/user/api/v2.rst
  docs/user/api/v3.rst
  docs/user/badges.rst
  docs/user/commercial/subscriptions.rst
  docs/user/guides/build-troubleshooting.rst
  docs/user/guides/build/webhooks.rst
  docs/user/guides/connecting-git-account.rst
  docs/user/guides/embedding-content.rst
  docs/user/guides/hiding-a-version.rst
  docs/user/guides/importing-private-repositories.rst
  docs/user/guides/manage-read-the-docs-teams.rst
  docs/user/guides/setup-single-sign-on-github-gitlab-bitbucket.rst
  docs/user/guides/setup-single-sign-on-google-email.rst
  docs/user/guides/setup/git-repo-manual.rst
  docs/user/open-source-philosophy.rst
  docs/user/privacy-policy.rst
  docs/user/security.rst
  docs/user/server-side-search/api.rst
  docs/user/server-side-search/syntax.rst
  docs/user/shared/admonition-rtd-business.rst
  docs/user/shared/organization-permissions.rst
  docs/user/support.rst
  docs/user/team.rst
  docs/user/terms-of-service.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/backend, @readthedocs/advocacy

Updates
  readthedocs/oauth/tasks.py
  readthedocs/oauth/views.py
Owners: @readthedocs/backend

GitHub App: handle webhook events in task (#12223)
  readthedocs/oauth/tasks.py
  readthedocs/oauth/views.py
Owners: @readthedocs/backend

Update tests to match the redirect
  readthedocs/rtd_tests/tests/test_privacy.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
Owners: @readthedocs/backend

Delete /projects/<slug>/downloads/ URL (#12247)
  docs/user/addons.rst
  docs/user/api/v3.rst
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/responses/projects-detail.json
  readthedocs/api/v3/tests/responses/projects-list.json
  readthedocs/api/v3/tests/responses/projects-list_POST.json
  readthedocs/api/v3/tests/responses/projects-subprojects-detail.json
  readthedocs/api/v3/tests/responses/projects-subprojects-list.json
  readthedocs/api/v3/tests/responses/projects-subprojects-list_POST.json
  readthedocs/api/v3/tests/responses/projects-superproject.json
  readthedocs/api/v3/tests/responses/projects-versions-builds-list_POST.json
  readthedocs/api/v3/tests/responses/remoterepositories-list.json
  readthedocs/projects/urls/public.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/urls.py
  readthedocs/rtd_tests/tests/test_privacy.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
  readthedocs/rtd_tests/tests/test_project_views.py
  readthedocs/templates/core/project_downloads.html
  readthedocs/templates/projects/project_downloads.html
Owners: @readthedocs/advocacy, @readthedocs/backend, @readthedocs/frontend

Update readthedocs/oauth/notifications.py
  readthedocs/oauth/notifications.py
Owners: @readthedocs/backend

Release 13.5.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 13.5.0 (#12252)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Organizations: allow uploading avatar
  .gitignore
  dockerfiles/nginx/web.conf.template
  readthedocs/organizations/forms.py
  readthedocs/organizations/migrations/0016_organization_avatar.py
  readthedocs/organizations/models.py
  readthedocs/organizations/tests/test_views.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
