Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Spaceee
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

GitHub App: open beta (#12217)
  docs/user/reference/git-integration.rst
  readthedocs/core/adapters.py
  readthedocs/core/tests/test_adapters.py
  readthedocs/oauth/notifications.py
  readthedocs/oauth/signals.py
  readthedocs/profiles/views.py
  readthedocs/settings/base.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Update subproject guide screenshots and directions
  docs/user/guides/subprojects.rst
  docs/user/img/screenshots/business.yml
  docs/user/img/screenshots/community-delete-button.png
  docs/user/img/screenshots/community-edit-button.png
  docs/user/img/screenshots/community-project-subproject-create.png
  docs/user/img/screenshots/community-project-subproject-list.png
  docs/user/img/screenshots/community.yml
Owners: @readthedocs/advocacy

Also update guide index
  docs/user/guides/setup/index.rst
Owners: @readthedocs/advocacy

Directions update
  docs/user/guides/build/webhooks.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Vale fixes
  docs/user/guides/creating-project-private-repository.rst
Owners: @readthedocs/advocacy

Fix link
  docs/dev/design/flyout-redesign.rst
Owners: @readthedocs/advocacy

Clarify language
  docs/user/advertising/advertising-details.rst
Owners: @readthedocs/advocacy

Skip changelog section
  CHANGELOG.rst
Owners: @readthedocs/backend

Install `ext-theme` from `requirements.txt`
  dockerfiles/Dockerfile
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
  tox.ini
Owners: @readthedocs/backend

Add TheEconomist and proselist rules from WTD (#12258)
  .circleci/config.yml
  .vale.ini
  CHANGELOG.rst
  docs/dev/design/flyout-redesign.rst
  docs/user/advertising/advertising-details.rst
  docs/user/advertising/ethical-advertising.rst
  docs/user/commercial/subscriptions.rst
  docs/user/gsoc.rst
  docs/user/guides/pdf-non-ascii-languages.rst
  docs/user/index.rst
  docs/vale
  docs/vale/RTD/sso.yaml
  docs/vale/RTD/style.yml
  tox.ini
Owners: @readthedocs/backend, @readthedocs/advocacy

More updates
  docs/user/pull-requests.rst
  readthedocs/builds/tasks.py
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0149_show_build_overview_in_comment.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/search.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/advocacy, @readthedocs/backend

Fix tests
  readthedocs/filetreediff/tests/test_filetreediff.py
Owners: @readthedocs/backend

Fix more tests
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

More fixes
  readthedocs/oauth/services/githubapp.py
  readthedocs/rtd_tests/tests/test_imported_file.py
Owners: @readthedocs/backend

Directions update
  docs/user/guides/build/webhooks.rst
Owners: @readthedocs/advocacy

Update UI and directions on outgoing webhooks
  docs/user/_static/images/webhooks-activity.png
  docs/user/_static/images/webhooks-events.png
  docs/user/_static/images/webhooks-payload.png
  docs/user/_static/images/webhooks-secret.png
  docs/user/guides/build/index.rst
  docs/user/guides/build/webhooks.rst
  docs/user/img/screenshots/Makefile
  docs/user/img/screenshots/community-project-webhook-activity.png
  docs/user/img/screenshots/community-project-webhook-create.png
  docs/user/img/screenshots/community-project-webhook-secret.png
  docs/user/img/screenshots/community.yml
Owners: @readthedocs/advocacy

Update UI screenshots and directions on outgoing webhooks (#12261)
  docs/user/_static/images/webhooks-activity.png
  docs/user/_static/images/webhooks-events.png
  docs/user/_static/images/webhooks-payload.png
  docs/user/_static/images/webhooks-secret.png
  docs/user/guides/build/index.rst
  docs/user/guides/build/webhooks.rst
  docs/user/img/screenshots/Makefile
  docs/user/img/screenshots/community-project-webhook-activity.png
  docs/user/img/screenshots/community-project-webhook-create.png
  docs/user/img/screenshots/community-project-webhook-secret.png
  docs/user/img/screenshots/community.yml
Owners: @readthedocs/advocacy

Also update guide index
  docs/user/guides/setup/index.rst
Owners: @readthedocs/advocacy

Update subproject guide screenshots and directions
  docs/user/guides/subprojects.rst
  docs/user/img/screenshots/business.yml
  docs/user/img/screenshots/community-delete-button.png
  docs/user/img/screenshots/community-edit-button.png
  docs/user/img/screenshots/community-project-subproject-create.png
  docs/user/img/screenshots/community-project-subproject-list.png
  docs/user/img/screenshots/community.yml
Owners: @readthedocs/advocacy

Note alias field in seealso
  docs/user/guides/subprojects.rst
Owners: @readthedocs/advocacy

Update subproject guide screenshots and directions (#12262)
  docs/user/guides/setup/index.rst
  docs/user/guides/subprojects.rst
  docs/user/img/screenshots/business.yml
  docs/user/img/screenshots/community-delete-button.png
  docs/user/img/screenshots/community-edit-button.png
  docs/user/img/screenshots/community-project-subproject-create.png
  docs/user/img/screenshots/community-project-subproject-list.png
  docs/user/img/screenshots/community.yml
Owners: @readthedocs/advocacy

Try some more vale fixes
  docs/user/environment-variables.rst
  docs/user/explanation/configuration-file.rst
  docs/user/guides/set-up-single-sign-on-saml.rst
Owners: @readthedocs/advocacy

Try some more vale fixes (#12260)
  docs/user/environment-variables.rst
  docs/user/explanation/configuration-file.rst
  docs/user/guides/set-up-single-sign-on-saml.rst
Owners: @readthedocs/advocacy

Use Allauth settings for app name and hiding on login/connect forms (#12242)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

doc: Document `build.commands` working directory (#11218)
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Fix bumpver because we removed package.json
  setup.cfg
Owners: @readthedocs/backend

Fix bumpver because we removed package.json (#12266)
  setup.cfg
Owners: @readthedocs/backend

Release 14.0.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Release 14.0.0 (#12267)
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Update CHANGELOG
  CHANGELOG.rst
Owners: @readthedocs/backend

Delete js file to avoid breaking `collectstatic`
  media/javascript/jquery/jquery-migrate-1.2.1.min.js
Owners: @readthedocs/frontend

Delete js file to avoid breaking `collectstatic`
  media/javascript/jquery/jquery-migrate-1.2.1.min.js
Owners: @readthedocs/frontend

Delete js file to avoid breaking `collectstatic`
  media/javascript/jquery/jquery-migrate-1.2.1.min.js
Owners: @readthedocs/frontend

Delete js file to avoid breaking `collectstatic` (#12268)
  media/javascript/jquery/jquery-migrate-1.2.1.min.js
Owners: @readthedocs/frontend

Test
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Test
  readthedocs/builds/reporting.py
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

More tests
  readthedocs/builds/tests/test_tasks.py
  readthedocs/projects/migrations/0149_show_build_overview_in_comment.py
  readthedocs/projects/models.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Comment on teset
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
