Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

GitHub App announcement (#12280)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

GitHub App: don't sync repositories that the app doesn't have access to (#12272)
  readthedocs/oauth/services/githubapp.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Release 14.1.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Move queryset subclass to context data
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

GitHub App: respect project option about comment
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

GitHub App: respect project option about comment
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

GitHub App: respect project option about comment
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/api/v2/serializers.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/projects/migrations/0149_add_ssh_key_with_write_access.py
  readthedocs/projects/models.py
  readthedocs/projects/notifications.py
  readthedocs/projects/tasks/builds.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/api/v2/serializers.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/projects/migrations/0149_add_ssh_key_with_write_access.py
  readthedocs/projects/models.py
  readthedocs/projects/notifications.py
  readthedocs/projects/tasks/builds.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Fix migration
  readthedocs/projects/migrations/0150_add_ssh_key_with_write_access.py
Owners: @readthedocs/backend

Fix bad merge conflict
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Fix migration
  readthedocs/projects/migrations/0150_add_ssh_key_with_write_access.py
Owners: @readthedocs/backend

Fix bad merge conflict
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Fix blog post link
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Project: fix regex
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Remove ToS and redirect to the webpage (#12279)
  docs/user/privacy-policy.rst
  docs/user/reference/policies.rst
  docs/user/terms-of-service.rst
  docs/user/unofficial-projects.rst
Owners: @readthedocs/advocacy

Settings: bring CSP settings from -ops
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Append specific settings for development environment
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Add `SUPPORT_FORM_ENDPOINT` only if defined
  readthedocs/settings/base.py
Owners: @readthedocs/backend

GitHub App: respect project option about comment (#12281)
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Save last login method in a cookie
  readthedocs/core/middleware.py
  readthedocs/oauth/signals.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Project: fix regex (#12283)
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix blog post link (#12282)
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Project: fix regex (#12283)
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix blog post link (#12282)
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Fix blog post link
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Fix blog post link
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Add GitHub App integration type (#12273)
  readthedocs/integrations/migrations/0015_add_github_app_integration.py
  readthedocs/integrations/models.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Fix blog post link (#12287)
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/projects/tests/mockers.py
Owners: @readthedocs/backend

Fix tests (#12288)
  readthedocs/projects/tests/mockers.py
Owners: @readthedocs/backend

Remove privacy policy and 'choosing between our sites' content
  docs/user/.tx/config
  docs/user/advertising/ad-blocking.rst
  docs/user/advertising/advertising-details.rst
  docs/user/legal/security-policy.rst
  docs/user/locale/da/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/da/LC_MESSAGES/privacy-policy.po
  docs/user/locale/es/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/es/LC_MESSAGES/privacy-policy.po
  docs/user/locale/fa/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/fa/LC_MESSAGES/privacy-policy.po
  docs/user/locale/it/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/it/LC_MESSAGES/privacy-policy.po
  docs/user/locale/ja/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/ja/LC_MESSAGES/privacy-policy.po
  docs/user/locale/nb/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/nb/LC_MESSAGES/privacy-policy.po
  docs/user/locale/nl/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/nl/LC_MESSAGES/privacy-policy.po
  docs/user/locale/pt_BR/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/pt_BR/LC_MESSAGES/privacy-policy.po
  docs/user/locale/ru/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/ru/LC_MESSAGES/privacy-policy.po
  docs/user/locale/tr/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/tr/LC_MESSAGES/privacy-policy.po
  docs/user/locale/zh/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/zh/LC_MESSAGES/privacy-policy.po
  docs/user/locale/zh_CN/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/zh_CN/LC_MESSAGES/privacy-policy.po
  docs/user/privacy-policy.rst
Owners: @readthedocs/advocacy

Triggering CI build
  docs/user/advertising/ad-blocking.rst
Owners: @readthedocs/advocacy

Build overview: don't create comment for projects with empty diffs
  readthedocs/builds/reporting.py
  readthedocs/builds/tasks.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/githubapp.py
Owners: @readthedocs/backend

Build overview: link to commit comparison
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Docs: Remove privacy policy and all related references
  docs/user/.tx/config
  docs/user/advertising/ad-blocking.rst
  docs/user/advertising/advertising-details.rst
  docs/user/legal/security-policy.rst
  docs/user/locale/da/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/da/LC_MESSAGES/privacy-policy.po
  docs/user/locale/es/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/es/LC_MESSAGES/privacy-policy.po
  docs/user/locale/fa/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/fa/LC_MESSAGES/privacy-policy.po
  docs/user/locale/it/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/it/LC_MESSAGES/privacy-policy.po
  docs/user/locale/ja/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/ja/LC_MESSAGES/privacy-policy.po
  docs/user/locale/nb/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/nb/LC_MESSAGES/privacy-policy.po
  docs/user/locale/nl/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/nl/LC_MESSAGES/privacy-policy.po
  docs/user/locale/pt_BR/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/pt_BR/LC_MESSAGES/privacy-policy.po
  docs/user/locale/ru/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/ru/LC_MESSAGES/privacy-policy.po
  docs/user/locale/tr/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/tr/LC_MESSAGES/privacy-policy.po
  docs/user/locale/zh/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/zh/LC_MESSAGES/privacy-policy.po
  docs/user/locale/zh_CN/LC_MESSAGES/privacy-policy.mo
  docs/user/locale/zh_CN/LC_MESSAGES/privacy-policy.po
  docs/user/privacy-policy.rst
  docs/user/reference/policies.rst
Owners: @readthedocs/advocacy

Fix: Remove trailing whitespace identified by CI
  docs/user/advertising/ad-blocking.rst
  docs/user/legal/security-policy.rst
Owners: @readthedocs/advocacy

Make doc preview more prominent and remove headings
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Organizations: show the `slug` field on creation
  readthedocs/organizations/forms.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend
