Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Make `slug` not required and add some test cases
  readthedocs/organizations/forms.py
  readthedocs/organizations/tests/test_forms.py
Owners: @readthedocs/backend

Organizations: show the `slug` field on creation (#12297)
  readthedocs/organizations/forms.py
  readthedocs/organizations/tests/test_forms.py
Owners: @readthedocs/backend

Addons: add `linkpreviews.selector` field
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0151_addons_linkpreviews_selector.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Revert "Addons: add `linkpreviews.selector` field"
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0151_addons_linkpreviews_selector.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Addons: add `linkpreviews.selector` field
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0151_addons_linkpreviews_selector.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Upgrade `django-structlog` to `3.x`
  readthedocs/api/v2/views/integrations.py
  readthedocs/builds/tasks.py
  readthedocs/core/logs.py
  readthedocs/core/signals.py
  readthedocs/core/unresolver.py
  readthedocs/core/utils/__init__.py
  readthedocs/core/utils/filesystem.py
  readthedocs/doc_builder/environments.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/views.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/views/serve.py
  readthedocs/search/utils.py
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/signals.py
  readthedocs/subscriptions/utils.py
  readthedocs/telemetry/collectors.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade to `4.x`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade to `5.x`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade to `6.x`
  readthedocs/settings/base.py
  requirements/pip.in
Owners: @readthedocs/backend

Update tests to match `log.bind`
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Upgrade to `6.x`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade to `7.x`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade to `8.x`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade to `9.x`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade `structlog` to its latest version
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Lint
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Release 14.2.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Release 14.2.0 (#12303)
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Upgrade redis to its latest version (`6.2.0`)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Fix bugs with organization form and slug input
  readthedocs/organizations/forms.py
Owners: @readthedocs/backend

Upgrade `django-structlog` to its latest version (#12302)
  readthedocs/api/v2/views/integrations.py
  readthedocs/builds/tasks.py
  readthedocs/core/logs.py
  readthedocs/core/signals.py
  readthedocs/core/unresolver.py
  readthedocs/core/utils/__init__.py
  readthedocs/core/utils/filesystem.py
  readthedocs/doc_builder/environments.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/views.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_oauth.py
  readthedocs/search/utils.py
  readthedocs/settings/base.py
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/signals.py
  readthedocs/subscriptions/utils.py
  readthedocs/telemetry/collectors.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Development: accept `PRUNE_PACKAGE_CACHE` argument in Dockerfile
  dockerfiles/Dockerfile
Owners: @readthedocs/backend

Development: accept `PRUNE_PACKAGE_CACHE` argument in Dockerfile (#11816)
  dockerfiles/Dockerfile
Owners: @readthedocs/backend

Remove API_LARGE_DATA feature flag
  readthedocs/doc_builder/environments.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/builds/tests/test_tasks.py
Owners: @readthedocs/backend

Build overview: link to commit comparison (#12292)
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Fix tests
  readthedocs/builds/tests/test_tasks.py
Owners: @readthedocs/backend

Tune validation errors and fix tests for required slug
  readthedocs/organizations/forms.py
  readthedocs/organizations/tests/test_forms.py
  readthedocs/organizations/tests/test_views.py
Owners: @readthedocs/backend

Tests
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Docstring
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Add user_has_github_app_account templatetag
  readthedocs/core/templatetags/readthedocs/socialaccounts.py
Owners: @readthedocs/backend

Add GitLab error to known errors when the SSH key is read-only
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Support any git provider
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Fix bugs with organization form and slug input (#12306)
  readthedocs/organizations/forms.py
  readthedocs/organizations/tests/test_forms.py
  readthedocs/organizations/tests/test_views.py
Owners: @readthedocs/backend

Upgrade redis to its latest version (`6.2.0`) (#12304)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Add user_has_github_app_account templatetag (#12310)
  readthedocs/core/templatetags/readthedocs/socialaccounts.py
Owners: @readthedocs/backend

Remove API_LARGE_DATA feature flag (#12309)
  readthedocs/doc_builder/environments.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Add GitLab error to known errors when the SSH key is read-only (#12311)
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Typo
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Update examples.rst
  docs/user/examples.rst
Owners: @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
