Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Notifications: initialize exception properly
  readthedocs/projects/exceptions.py
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Notifications: define the message
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Notifications: add missing `format_values`
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Notifications: use `instance.slug` instead of `instance.name` (#11018)
  readthedocs/oauth/notifications.py
  readthedocs/subscriptions/notifications.py
Owners: @readthedocs/backend

Remove outdated comments
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Refactor "notifications for user" as QuerySet
  readthedocs/api/v3/views.py
  readthedocs/notifications/querysets.py
Owners: @readthedocs/backend

Comments
  readthedocs/api/v3/urls.py
Owners: @readthedocs/backend

Use `Subquery` to improve the db query
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

Notifications: render `Organization` notifications on details page
  readthedocs/organizations/models.py
  readthedocs/organizations/templates/organizations/organization_detail.html
Owners: @readthedocs/backend, @readthedocs/frontend

Notifications: save `format_values` when `on_retry` exception (#11020)
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Notification: oauth typo on URL name (#11017)
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Update readthedocs/projects/notifications.py
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Notifications: initialize exception properly (#11019)
  readthedocs/projects/exceptions.py
  readthedocs/projects/notifications.py
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Notifications: use `Template`'s Django engine to render them
  readthedocs/config/notifications.py
  readthedocs/core/notifications.py
  readthedocs/domains/notifications.py
  readthedocs/notifications/messages.py
  readthedocs/oauth/notifications.py
  readthedocs/projects/notifications.py
  readthedocs/subscriptions/notifications.py
Owners: @readthedocs/backend

Revert #11018 and use `instance.name` again
  readthedocs/oauth/notifications.py
Owners: @readthedocs/backend

Notifications: add missing `format_values` (#11021)
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Notifications: typo on constant (#11015)
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Update tests
  readthedocs/notifications/tests/test_messages.py
Owners: @readthedocs/backend

Build: typo on `on_retry` (#11014)
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Revert 8256440 and 90d1687 as requested
  docs/user/guides/reproducible-builds.rst
Owners: @readthedocs/advocacy

Link to the config file tutorial
  docs/user/guides/reproducible-builds.rst
Owners: @readthedocs/advocacy

Notifications: render `Organization` notifications on details page (#11023)
  readthedocs/organizations/models.py
  readthedocs/organizations/templates/organizations/organization_detail.html
Owners: @readthedocs/backend, @readthedocs/frontend

Notifications: use Template's Django engine to render them (#11024)
  readthedocs/config/notifications.py
  readthedocs/core/notifications.py
  readthedocs/domains/notifications.py
  readthedocs/notifications/messages.py
  readthedocs/notifications/tests/test_messages.py
  readthedocs/oauth/notifications.py
  readthedocs/projects/notifications.py
  readthedocs/subscriptions/notifications.py
Owners: @readthedocs/backend

Development: define `SUPPORT_EMAIL` setting
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Update readthedocs/settings/docker_compose.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Config: better validation error for `conda.environment` (#10979)
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/notifications.py
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

Build: reset notifications when reseting a build
  readthedocs/builds/models.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Development: define `SUPPORT_EMAIL` setting (#11026)
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Add missing imports
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Redirects: limit to 100 per project
  readthedocs/redirects/validators.py
  readthedocs/settings/base.py
  readthedocs/subscriptions/constants.py
Owners: @readthedocs/backend

Build: reset notifications when reseting a build (#11027)
  readthedocs/builds/models.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Test
  readthedocs/redirects/tests/test_views.py
Owners: @readthedocs/backend

Allow forced redirects for everyone
  readthedocs/api/v3/serializers.py
  readthedocs/projects/forms.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Update docs
  docs/user/api/v3.rst
  docs/user/user-defined-redirects.rst
Owners: @readthedocs/advocacy

Linter
  readthedocs/redirects/validators.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Logging: reduce not useful lines
  readthedocs/core/unresolver.py
  readthedocs/proxito/middleware.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Addons: update form to show all the options
  readthedocs/projects/forms.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Search override: don't trust all search input
  docs/user/api/v2.rst
  docs/user/api/v3.rst
  docs/user/server-side-search/api.rst
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Owners: @readthedocs/advocacy, @readthedocs/frontend

Search override: don't trust all search input
  docs/user/api/v2.rst
  docs/user/api/v3.rst
  docs/user/server-side-search/api.rst
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Owners: @readthedocs/advocacy, @readthedocs/frontend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
