Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Notifications: allow usernames with dots
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Cleanup: delete `yaml_load_safely`
  readthedocs/config/tests/test_yaml_loader.py
  readthedocs/doc_builder/backends/mkdocs.py
Owners: @readthedocs/backend

Addons API: change `versions.active` to `.actives` since it's a list
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Cleanup: delete `yaml_load_safely` (#11285)
  readthedocs/config/tests/test_yaml_loader.py
  readthedocs/doc_builder/backends/mkdocs.py
Owners: @readthedocs/backend

Test
  readthedocs/api/v3/tests/test_users.py
Owners: @readthedocs/backend

Dashboard: promote features in the right bar
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Docs: basic docs for SAML SSO
  docs/user/commercial/single-sign-on.rst
  docs/user/guides/access/index.rst
  docs/user/guides/set-up-single-sign-on-saml.rst
Owners: @readthedocs/advocacy

Use a table instead
  docs/user/guides/set-up-single-sign-on-saml.rst
Owners: @readthedocs/advocacy

Improve logic from feedback
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Move partials to a better place
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Docs: explain how to use `uv` to install dependencies
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Docs: use the `sphinx-rtd-theme` with support for addons integration (#11279)
  .readthedocs.yml
  docs/_static/js/readthedocs-doc-diff.js
  docs/conf.py
Owners: @readthedocs/backend, @readthedocs/advocacy

Docs: explain how to use `uv` to install dependencies (#11290)
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Updates from feedback
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Dashboard: promote features in the right bar (#11287)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Update test
  readthedocs/api/v3/tests/test_versions.py
Owners: @readthedocs/backend

Make attributes required
  docs/user/guides/set-up-single-sign-on-saml.rst
Owners: @readthedocs/advocacy

Apply suggestions from code review
  readthedocs/projects/version_handling.py
Owners: @readthedocs/backend

Addons: refactor sorting versions for flyout (#11278)
  readthedocs/projects/version_handling.py
Owners: @readthedocs/backend

Notifications: allow usernames with dots (#11283)
  readthedocs/api/v3/tests/test_users.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Release 10.24.1
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.24.1 (#11296)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Revert "Cleanup: delete `yaml_load_safely` (#11285)"
  readthedocs/config/tests/test_yaml_loader.py
  readthedocs/doc_builder/backends/mkdocs.py
Owners: @readthedocs/backend

Revert "Cleanup: delete `yaml_load_safely` (#11285)"
  readthedocs/config/tests/test_yaml_loader.py
  readthedocs/doc_builder/backends/mkdocs.py
Owners: @readthedocs/backend

Revert "Cleanup: delete `yaml_load_safely` (#11285)"
  readthedocs/config/tests/test_yaml_loader.py
  readthedocs/doc_builder/backends/mkdocs.py
Owners: @readthedocs/backend

Revert "Cleanup: delete `yaml_load_safely` (#11285)" (#11297)
  readthedocs/config/tests/test_yaml_loader.py
  readthedocs/doc_builder/backends/mkdocs.py
Owners: @readthedocs/backend

Move queryset ordering configuration up to to Version.Meta
  readthedocs/api/v3/views.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Use initial value for default dashboard template name
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Use initial value for default dashboard template name
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Use initial value for default dashboard template name
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

The `python.install` requires the `path` key
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Replace non-existant `python.install.package` with `python.install.path`
  docs/user/config-file/index.rst
Owners: @readthedocs/advocacy

Replace non-existant `python.install.package` with `python.install.path` (#11301)
  docs/user/config-file/index.rst
Owners: @readthedocs/advocacy

Addons: return 404 when the `project` does not exist in the DB
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Use initial value for default dashboard template name (#11298)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Docs: use addons search
  docs/conf.py
Owners: @readthedocs/advocacy

Addons: return 404 when the `project` does not exist in the DB (#11302)
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Dashboard: promote "security logs" only if organization owner
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Wrangler: NGINX and redirects
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
