Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Lint
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

Test: remove old test
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

Lint
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

Fix bug with build filter
  readthedocs/builds/filters.py
Owners: @readthedocs/backend

Add missing Version.external_version_name
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Add conditional logic to replace project version list view
  readthedocs/projects/urls/public.py
Owners: @readthedocs/backend

Celery: handle known exceptions on `delete_closed_external_versions`
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Addons: rename library
  dockerfiles/nginx/proxito.conf.template
  readthedocs/projects/models.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Build: install all the latest Python "core requirements" (#10508)
  docs/user/build-default-versions.rst
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/models.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Addons: rename endpoint to make it nicer (#10526)
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/urls.py
Owners: @readthedocs/backend

Docs: update gvisor instructions
  docs/dev/guides/gvisor.rst
Owners: @readthedocs/advocacy

Addons: return `ethicalads` data on `/_/addons/` endpoint
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Development: update docs to pull required images only
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Addons: return whether or not EthicalAd is enabled
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Lint: avoid `prospector` failing because missing import
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Sponsorship: comment explaining the required setting
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Celery: handle known exceptions on `delete_closed_external_versions` (#10532)
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Addons: rename library (#10531)
  dockerfiles/nginx/proxito.conf.template
  readthedocs/projects/models.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Addons: rename endpoint to make it nicer
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/urls.py
Owners: @readthedocs/backend

Use more django-filter internals and rely on filter attributes
  readthedocs/builds/filters.py
Owners: @readthedocs/backend

Addons: return `ethicalads` data on `/_/addons/` endpoint (#10534)
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Add conditional logic to replace project version list view (#10530)
  readthedocs/projects/urls/public.py
Owners: @readthedocs/backend

Formatting
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Get prospector to shut up
  README.rst
Owners: @readthedocs/backend

Add config file tutorial to tutorial list index as well
  docs/user/tutorials/index.rst
Owners: @readthedocs/advocacy

Docs: swap around content for configuration files (#10517)
  .readthedocs.yml
  docs/user/config-file/index.rst
  docs/user/config-file/v2.rst
  docs/user/explanation/advanced.rst
  docs/user/explanation/configuration-file.rst
  docs/user/explanation/index.rst
  docs/user/guides/setup/configuration-file.rst
  docs/user/guides/setup/index.rst
  docs/user/index.rst
  docs/user/tutorials/index.rst
Owners: @readthedocs/backend, @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Development: update docs to pull required images only (#10535)
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Build: remove PyPy support (#10523)
  docs/user/config-file/v1.rst
  docs/user/config-file/v2.rst
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
  readthedocs/rtd_tests/tests/test_config_integration.py
  readthedocs/settings/base.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Release 9.16.1
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 9.16.1 (#10543)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Dependencies: unpin `pyyaml`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Dependencies: upgrade
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Dependencies: unpin `pyyaml`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Dependencies: upgrade
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Dependencies: unpin `pyyaml`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Dependencies: upgrade
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Docs: Fix pinned term
  docs/user/guides/reproducible-builds.rst
Owners: @readthedocs/advocacy

Telemetry: check for Sphinx config before use it
  readthedocs/telemetry/collectors.py
Owners: @readthedocs/backend

Dependencies: unpin pyyaml (#10544)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
