Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Build: Skip host key verification when syncing versions (#12724)
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Update custom script UI docs
  docs/user/custom-script.rst
Owners: @readthedocs/advocacy

feat: Add Parquet Analytics POC for scalable analytics
  readthedocs/analytics/IMPLEMENTATION_CHECKLIST.md
  readthedocs/analytics/PARQUET_POC.md
  readthedocs/analytics/POC_COMPLETE.md
  readthedocs/analytics/QUICK_REFERENCE.md
  readthedocs/analytics/README_POC.md
  readthedocs/analytics/TROUBLESHOOTING.md
  readthedocs/analytics/examples/__init__.py
  readthedocs/analytics/examples/parquet_workflow_example.py
  readthedocs/analytics/management/__init__.py
  readthedocs/analytics/management/commands/__init__.py
  readthedocs/analytics/management/commands/export_pageviews_to_parquet.py
  readthedocs/analytics/parquet.py
  readthedocs/analytics/tasks.py
  readthedocs/analytics/tests/test_parquet.py
Owners: @readthedocs/backend

chore: update requirements with Parquet analytics dependencies and fix test isolation
  readthedocs/analytics/tests/test_parquet.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

style: fix ruff import ordering and f-string issues
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/settings/proxito/base.py
  readthedocs/settings/test.py
Owners: @readthedocs/backend

docs: fix code block formatting for blacken-docs compatibility
  readthedocs/analytics/TROUBLESHOOTING.md
Owners: @readthedocs/backend

Update Celery router to perform only 1 query to check for conda usage
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Update Custom Script UI docs (#12729)
  docs/user/custom-script.rst
Owners: @readthedocs/advocacy

DB: clean up tables
  readthedocs/core/tasks.py
  readthedocs/core/utils/db.py
  readthedocs/settings/base.py
  readthedocs/telemetry/tasks.py
Owners: @readthedocs/backend

Format
  readthedocs/core/tasks.py
  readthedocs/core/utils/db.py
  readthedocs/telemetry/tasks.py
Owners: @readthedocs/backend

Add support for serving llms.txt files
  docs/user/index.rst
  docs/user/reference/llms-txt.rst
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Add sample llms.txt to docs for testing
  docs/_extra/llms.txt
  docs/conf.py
Owners: @readthedocs/advocacy

Use subproject alias in search results
  readthedocs/search/api/v3/serializers.py
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/api/v3/views.py
Owners: @readthedocs/backend

Revert "Use subproject alias in search results"
  readthedocs/search/api/v3/serializers.py
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/api/v3/views.py
Owners: @readthedocs/backend

Tasks: fix remove_orphan_build_config
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Add tests for remove_orphan_build_config task (#12738)
  readthedocs/builds/tests/test_tasks.py
Owners: @readthedocs/backend

Updates
  readthedocs/core/tasks.py
  readthedocs/core/utils/db.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Add tests for delete_in_batches limit parameter and raw_delete_in_batches (#12739)
  readthedocs/core/tests/test_db_utils.py
Owners: @readthedocs/backend

Return number of deleted records
  readthedocs/core/utils/db.py
Owners: @readthedocs/backend

Suggestions from review
  readthedocs/core/utils/db.py
Owners: @readthedocs/backend

Add robots.txt and update llms.txt
  docs/_extra/llms.txt
  docs/_extra/robots.txt
Owners: @readthedocs/advocacy

Refine llms txt serving
  docs/_extra/llms.txt
  docs/_extra/robots.txt
  docs/conf.py
  docs/user/reference/llms-txt.rst
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Fix lint whitespace
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Untangle automation rules from `Version` model
  readthedocs/api/v2/utils.py
  readthedocs/builds/automation_actions.py
  readthedocs/builds/migrations/0068_add_push_automation_rule.py
  readthedocs/builds/models.py
  readthedocs/builds/tasks.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/utils.py
Owners: @readthedocs/backend

Create forms, views and URLs for the new model
  readthedocs/builds/forms.py
  readthedocs/projects/urls/private.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Use the polymorphic model to avoid collisions in ordering
  readthedocs/projects/ordering.py
Owners: @readthedocs/backend

Delete files created by AI
  IMPLEMENTATION_SUMMARY.md
  PUSH_AUTOMATION_RULES.md
Owners: @readthedocs/backend

Log a message when the build is not triggered due a to path filtering
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Update help_text and placeholder
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Use readthedocs variables for git placeholders
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Use a JSONField for the form
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Small section of docs written by AI
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Format
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Remove unused variables from db utils tests (#12741)
  readthedocs/core/tests/test_db_utils.py
Owners: @readthedocs/backend

Tasks: fix remove_orphan_build_config (#12737)
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
Owners: @readthedocs/backend

Use format_html for URL interpolation in form validation messages (#12745)
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Document all RedirectCreateSerializer fields in API V3 redirect creation docs (#12746)
  docs/user/api/v3.rst
Owners: @readthedocs/advocacy

Update readthedocs/telemetry/tasks.py
  readthedocs/telemetry/tasks.py
Owners: @readthedocs/backend

Comment
  readthedocs/telemetry/tasks.py
Owners: @readthedocs/backend
