Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Inline
  readthedocs/upload/api/views.py
Owners: @readthedocs/backend

Docs: use the latest version of sphinxcontrib-video (#13225)
  docs/user/science.rst
  requirements/docs.in
  requirements/docs.txt
Owners: @readthedocs/advocacy, @readthedocs/backend

No need to return a full response on an error
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Clean up
  readthedocs/builds/models.py
  readthedocs/builds/signals_receivers.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

We need this
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Project: make has_valid_clone nullable before removal (#13224)
  readthedocs/projects/migrations/0167_alter_has_valid_clone.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

More explicit about initial bash script
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Use `application/schema+json` as the content_type
  readthedocs/core/views/__init__.py
Owners: @readthedocs/backend

Use `.json` as the file extension
  readthedocs/urls.py
Owners: @readthedocs/backend

Fix failed test
  readthedocs/core/tests/test_homepage.py
Owners: @readthedocs/backend

Downloads: use the external domain for external version download URLs
  readthedocs/builds/models.py
  readthedocs/core/resolver.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_version.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Requirements: use Python 3.14 for pip-tools workflow
  .github/workflows/pip-tools.yaml
Owners: @readthedocs/backend

Re-create the migration
  readthedocs/api/v2/migrations/0002_buildapikey_build.py
Owners: @readthedocs/backend

Build: revoke build API key immediately after the build is finished
  readthedocs/api/v2/models.py
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/projects/tasks/utils.py
  readthedocs/rtd_tests/tests/test_projects_tasks.py
Owners: @readthedocs/backend

Projects: remove has_valid_clone field
  readthedocs/api/v2/serializers.py
  readthedocs/projects/fixtures/test_data.json
  readthedocs/projects/migrations/0168_remove_has_valid_clone.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Requirements: use Python 3.14 for pip-tools workflow (#13229)
  .github/workflows/pip-tools.yaml
Owners: @readthedocs/backend

AWS: add security token service for build-uploads bucket, with tests
  readthedocs/aws/security_token_service.py
  readthedocs/aws/tests/test_security_token_service.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Fix invalid Python 3 except syntax across 17 files
  readthedocs/api/v2/serializers.py
  readthedocs/api/v2/views/integrations.py
  readthedocs/builds/tasks.py
  readthedocs/core/apps.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/environments.py
  readthedocs/integrations/models.py
  readthedocs/oauth/migrations/0003_move_github.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/organizations/templatetags/organizations.py
  readthedocs/projects/forms.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/views/public.py
  readthedocs/search/api/pagination.py
Owners: @readthedocs/backend

AWS: add tests for build-uploads security token service credentials
  readthedocs/aws/tests/test_security_token_service.py
Owners: @readthedocs/backend

Sync AGENTS.md from readthedocs/common
  AGENTS.md
Owners: @readthedocs/backend

Clean up
  readthedocs/aws/tests/test_security_token_service.py
  readthedocs/settings/test.py
Owners: @readthedocs/backend

AWS: add tests for build-uploads security token service credentials (#13234)
  readthedocs/aws/tests/test_security_token_service.py
  readthedocs/settings/test.py
Owners: @readthedocs/backend

Builds: add test for trigger_build with an uploaded version
  readthedocs/rtd_tests/tests/test_core_utils.py
Owners: @readthedocs/backend

Storage: add tests for generate_presigned_post
  readthedocs/storage/tests/test_s3_storage.py
Owners: @readthedocs/backend

Updates
  readthedocs/rtd_tests/tests/test_core_utils.py
Owners: @readthedocs/backend

Builds: test trigger_build for uploaded versions (#13235)
  readthedocs/rtd_tests/tests/test_core_utils.py
Owners: @readthedocs/backend

Storage: add tests for generate_presigned_post (#13236)
  readthedocs/storage/tests/test_s3_storage.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/aws/tests/test_security_token_service.py
Owners: @readthedocs/backend

Upload: add tests for the direct artifacts upload API
  readthedocs/upload/tests/__init__.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Proxito: stop serving docs for organizations disabled ~90 days
  readthedocs/organizations/querysets.py
  readthedocs/organizations/tests/test_querysets.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/tests/test_disabled_organizations.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Upload: use django_dynamic_fixture.get() and plain asserts in tests
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Upload: drop redundant format="json" (already the API test default)
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Clean up
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Upload: add tests for the direct artifacts upload API (#13237)
  readthedocs/upload/tests/__init__.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Docs: add commercial onboarding funnel dev doc
  docs/dev/commercial-onboarding.rst
  docs/dev/index.rst
Owners: @readthedocs/advocacy

Release 2026.08.18
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Projects: remove has_valid_clone field (#13231)
  readthedocs/api/v2/serializers.py
  readthedocs/projects/fixtures/test_data.json
  readthedocs/projects/migrations/0168_remove_has_valid_clone.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Add retry on cURL since RustFS is flaky locally
  upload.sh
Owners: @readthedocs/backend

Revert "Docs: add commercial onboarding funnel dev doc"
  docs/dev/commercial-onboarding.rst
  docs/dev/index.rst
Owners: @readthedocs/advocacy
