Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

oauth: fix RemoteRepository URL validation to accept SSH git-user format (#12965)
  readthedocs/oauth/migrations/0019_fix_ssh_url_validators.py
  readthedocs/oauth/models.py
  readthedocs/oauth/tests/test_models.py
  readthedocs/oauth/validators.py
Owners: @readthedocs/backend

Build: use Ubuntu 26.04 LTS as default LTS latest image (#13020)
  readthedocs/builds/constants_docker.py
Owners: @readthedocs/backend

Proxito: add `max-age=` to redirects
  readthedocs/proxito/cache.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_redirects.py
Owners: @readthedocs/backend

Docs: add guide for migrating from Community to Business
  docs/user/commercial/index.rst
  docs/user/guides/maintenance/index.rst
  docs/user/guides/migrate-community-to-business.rst
Owners: @readthedocs/advocacy

Docs: simplify Community to Business migration guide
  docs/user/commercial/index.rst
  docs/user/guides/maintenance/index.rst
  docs/user/guides/migrate-community-to-business.rst
Owners: @readthedocs/advocacy

Don't use attachment for PDFs
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/mixins.py
  readthedocs/rtd_tests/tests/test_privacy.py
Owners: @readthedocs/backend

Update cache max-age depending on the status code
  readthedocs/proxito/cache.py
  readthedocs/proxito/tests/test_redirects.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Use a variable for the hostname
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Pass the `instance_id` instead of the builder and apply a regex
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Release 2026.06.23
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Build: test ephemeral builders approach (#13117)
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Build: test ephemeral builders approach (#13117)
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Build: test ephemeral builders approach (#13117)
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Updates
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Pass upload status
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

More updates
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Fix checks
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Squash core migrations
  readthedocs/core/migrations/0001_squashed.py
Owners: @readthedocs/backend

Format
  readthedocs/core/migrations/0001_squashed.py
Owners: @readthedocs/backend

Nginx: avoid sending Cookie header to S3 when using sendfile
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend

Docs: mark miniconda3 versions as deprecated
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Safe
  readthedocs/core/migrations/0001_squashed.py
Owners: @readthedocs/backend

Docs: remove beta mention from GitHub App
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Re-organize
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Reword this
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Format
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Squash core migrations (#13150)
  readthedocs/core/migrations/0001_squashed.py
Owners: @readthedocs/backend

Apply suggestions from code review
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Use django's content_disposition_header utility (#13136)
  readthedocs/projects/tests/test_views.py
  readthedocs/projects/utils.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/mixins.py
  readthedocs/rtd_tests/tests/test_privacy.py
Owners: @readthedocs/backend

Move the logic inside `cache_response` and set 20m for temporary redirects
  readthedocs/proxito/cache.py
  readthedocs/proxito/middleware.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Update tests to check for 1200 now
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_redirects.py
Owners: @readthedocs/backend

Nginx: avoid sending Cookie header to S3 when using sendfile (#13152)
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend

Build: don't sync or install dev dependencies when using `uv run`
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/backends/sphinx.py
Owners: @readthedocs/backend

Update mkdocs test and add 2 for sphinx
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

docs: address review feedback on Docusaurus tutorial (#13037)
  docs/user/index.rst
  docs/user/tutorial/docusaurus.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Update from review
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Document deprecation of old pull request preview method
  docs/user/guides/pull-requests.rst
Owners: @readthedocs/advocacy

Api: avoid extra DB queries on build serializer
  readthedocs/api/v3/serializers.py
  readthedocs/builds/models.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

projects: widen subproject_slug routes for slash aliases + end-to-end tests
  readthedocs/api/v3/tests/test_subprojects.py
  readthedocs/api/v3/views.py
  readthedocs/constants.py
  readthedocs/projects/constants.py
  readthedocs/projects/migrations/0166_alias_allow_slashes.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/test_subproject_aliases.py
  readthedocs/proxito/urls.py
Owners: @readthedocs/backend

projects: allow slashes in subproject aliases
  readthedocs/core/unresolver.py
  readthedocs/projects/migrations/0166_alias_allow_slashes.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_models.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
