Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

API V3: Don't allow leaking teams through expandable fields (#11471)
  docs/user/api/v3.rst
  readthedocs/api/v3/mixins.py
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/urls.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Updates from review
  docs/dev/design/file-tree-diff.rst
Owners: @readthedocs/advocacy

Render notification's header on build detail page
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/frontend

Release 11.4.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.4.0 (#11515)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Docs: remove "Canonical URLs" guide
  docs/user/canonical-urls.rst
  docs/user/guides/canonical-urls.rst
  docs/user/guides/content/index.rst
  docs/user/reference/404-not-found.rst
Owners: @readthedocs/advocacy

Docs: update API V3 docs about authentication
  docs/user/api/v3.rst
Owners: @readthedocs/advocacy

Docs: update API V3 docs about authentication (#11517)
  docs/user/api/v3.rst
Owners: @readthedocs/advocacy

Remote repository: try to fix slow query
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Remote repository: try to fix slow query
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Remote repository: try to fix slow query
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Remote repository: fix slow query (#11518)
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Rethink envisioning section
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Update links to version doc, remove mentions of logging out
  docs/user/automation-rules.rst
  docs/user/commercial/privacy-level.rst
  docs/user/commercial/sharing.rst
  docs/user/commercial/single-sign-on.rst
  docs/user/guides/best-practice/links.rst
  docs/user/guides/pull-requests.rst
  docs/user/reference/robots.rst
  docs/user/server-side-search/api.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Update tests
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Update tests
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Revert "Update tests"
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Addons: add a notification on each Sphinx build (#11514)
  readthedocs/projects/notifications.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/backend, @readthedocs/frontend

Update tests
  readthedocs/api/v3/tests/responses/notifications-list.json
  readthedocs/api/v3/tests/responses/organizations-notifications-detail.json
  readthedocs/api/v3/tests/responses/organizations-notifications-list.json
Owners: @readthedocs/backend

Notifications: render the URL for account using Django template tag
  readthedocs/api/v3/tests/responses/notifications-list.json
  readthedocs/api/v3/tests/responses/users-notifications-detail.json
  readthedocs/api/v3/tests/responses/users-notifications-list.json
  readthedocs/core/notifications.py
  readthedocs/notifications/signals.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Settings: explicitly set password hashers
  readthedocs/settings/base.py
  readthedocs/settings/test.py
Owners: @readthedocs/backend

Docs: warm about password sharing links with the same password
  docs/user/commercial/sharing.rst
Owners: @readthedocs/advocacy

Allauth: don't completely override the `send_email` method
  readthedocs/core/adapters.py
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Apply suggestions from code review
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Formatting
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Explore an alternative way of explaining states (#11512)
  docs/user/automation-rules.rst
  docs/user/commercial/privacy-level.rst
  docs/user/commercial/sharing.rst
  docs/user/commercial/single-sign-on.rst
  docs/user/guides/best-practice/links.rst
  docs/user/guides/content/index.rst
  docs/user/guides/pull-requests.rst
  docs/user/reference/robots.rst
  docs/user/server-side-search/api.rst
  docs/user/tutorial/index.rst
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Fix indent
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Notifications: render the URL using Django `url` template tag (#11465)
  readthedocs/api/v3/tests/responses/notifications-list.json
  readthedocs/api/v3/tests/responses/organizations-notifications-detail.json
  readthedocs/api/v3/tests/responses/organizations-notifications-list.json
  readthedocs/subscriptions/notifications.py
Owners: @readthedocs/backend

Notifications: render the URL for account using Django template tag (#11521)
  readthedocs/api/v3/tests/responses/notifications-list.json
  readthedocs/api/v3/tests/responses/users-notifications-detail.json
  readthedocs/api/v3/tests/responses/users-notifications-list.json
  readthedocs/core/notifications.py
  readthedocs/notifications/signals.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Fix indent
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Tweak link and fix text
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Post merge fixes (#11530)
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Merge
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Analytics: remove GA
  docs/user/advertising/advertising-details.rst
  docs/user/guides/content/index.rst
  docs/user/legal/dpa/subprocessors.rst
  docs/user/privacy-policy.rst
  docs/user/reference/analytics.rst
  readthedocs/analytics/tasks.py
  readthedocs/analytics/utils.py
  readthedocs/proxito/views/mixins.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Apply suggestions from code review
  docs/user/legal/dpa/subprocessors.rst
  docs/user/reference/analytics.rst
Owners: @readthedocs/advocacy

Analytics: remove GA (#11532)
  docs/user/advertising/advertising-details.rst
  docs/user/guides/content/index.rst
  docs/user/legal/dpa/subprocessors.rst
  docs/user/privacy-policy.rst
  docs/user/reference/analytics.rst
  readthedocs/analytics/tasks.py
  readthedocs/analytics/utils.py
  readthedocs/proxito/views/mixins.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Docs: simplify repdroducible guide
  docs/user/guides/reproducible-builds.rst
Owners: @readthedocs/advocacy

Remove duplicated field
  readthedocs/api/v3/serializers.py
Owners: @readthedocs/backend
