Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Fix incorrect comment in requirements.txt as generated by pip-compile (#12884)
  docs/user/guides/reproducible-builds.rst
Owners: @readthedocs/advocacy

Clean up and some docs
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Form improvements to project repository fields (#12654)
  readthedocs/core/forms.py
  readthedocs/projects/forms.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Release 2026.03.31
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Refactor get_storage_path* functions
  readthedocs/builds/models.py
  readthedocs/embed/v3/views.py
  readthedocs/filetreediff/__init__.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_project.py
  readthedocs/search/parsers.py
Owners: @readthedocs/backend

Fix rebase
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Fixes
  readthedocs/builds/models.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_imported_file.py
Owners: @readthedocs/backend

Test
  readthedocs/embed/v3/views.py
  readthedocs/rtd_tests/tests/test_project.py
Owners: @readthedocs/backend

Redirects: extract :splat string into a constant (#12890)
  readthedocs/redirects/constants.py
  readthedocs/redirects/models.py
  readthedocs/redirects/validators.py
Owners: @readthedocs/backend

docs: document GitLab fork merge request status limitation
  docs/user/guides/pull-requests.rst
  docs/user/pull-requests.rst
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Docs: Add instructions for managing organization owners (#12760)
  docs/user/commercial/organizations.rst
  docs/user/guides/manage-read-the-docs-teams.rst
Owners: @readthedocs/advocacy

Fix rebase (#12907)
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Add codespell config (in common/) and symlink
  .codespellrc
Owners: @readthedocs/backend

[DATALAD RUNCMD] chore: run codespell throughout fixing non-ambiguous typos
  .github/ISSUE_TEMPLATE/feature.md
  AGENTS.md
  docs/user/custom-script.rst
  docs/user/img/screenshots/business.yml
  readthedocs/api/v2/views/model_views.py
  readthedocs/api/v3/serializers.py
  readthedocs/builds/version_slug.py
  readthedocs/config/config.py
  readthedocs/config/notifications.py
  readthedocs/conftest.py
  readthedocs/core/filters.py
  readthedocs/core/utils/filesystem.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/environments.py
  readthedocs/integrations/models.py
  readthedocs/notifications/messages.py
  readthedocs/notifications/models.py
  readthedocs/organizations/tests/test_filters.py
  readthedocs/organizations/tests/test_forms.py
  readthedocs/projects/forms.py
  readthedocs/projects/models.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/hosting.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_automation_rules.py
  readthedocs/rtd_tests/tests/test_doc_building.py
  readthedocs/rtd_tests/utils.py
  readthedocs/search/utils.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/subscriptions/tests/test_views.py
  readthedocs/telemetry/collectors.py
  readthedocs/templates/projects/notifications/deprecated_github_webhook_email.html
  readthedocs/templates/projects/notifications/deprecated_github_webhook_email.txt
  readthedocs/templates/projects/project_dashboard_base.html
  readthedocs/vcs_support/backends/git.py
  scripts/compile_version_upload_s3.sh
Owners: @readthedocs/backend, @readthedocs/advocacy, @readthedocs/frontend

Fix ambiguous typos requiring context review
  readthedocs/api/v2/views/model_views.py
  readthedocs/api/v3/permissions.py
  readthedocs/builds/tasks.py
  readthedocs/core/middleware.py
  readthedocs/core/utils/__init__.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/version_handling.py
  readthedocs/projects/views/base.py
  readthedocs/redirects/querysets.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_oauth.py
  readthedocs/settings/base.py
  readthedocs/storage/rclone.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Feedback
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Update code and tests to pass
  readthedocs/config/config.py
  readthedocs/config/models.py
  readthedocs/config/validation.py
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Remove comment
  readthedocs/config/config.py
Owners: @readthedocs/backend

delete comment
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

Add checks for `command`
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

remove debug logging
  readthedocs/config/validation.py
Owners: @readthedocs/backend

Support `uv` natively (initial implementation)
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/models.py
  readthedocs/config/notifications.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/python_environments.py
Owners: @readthedocs/backend

Fail when more than `python.install` entries are used with `uv`
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/notifications.py
Owners: @readthedocs/backend

Add tests for uv native support and fix path validation bugs (#12881)
  readthedocs/config/config.py
  readthedocs/config/models.py
  readthedocs/config/tests/test_config.py
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Update environment variables when building
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Handle exception in the director
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/tests/test_director.py
Owners: @readthedocs/backend

Update documentation to match code changes
  docs/user/build-customization.rst
  docs/user/config-file/index.rst
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Remove unused method
  readthedocs/doc_builder/python_environments.py
Owners: @readthedocs/backend

Remove old comments
  readthedocs/doc_builder/python_environments.py
Owners: @readthedocs/backend

Revert some copilot fixes
  readthedocs/settings/base.py
  readthedocs/storage/filesystem.py
Owners: @readthedocs/backend

Restore test for walk
  readthedocs/rtd_tests/tests/test_build_storage.py
Owners: @readthedocs/backend

Fix storage safety gaps identified in refactor review (#12908)
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/storage/filesystem.py
  readthedocs/storage/mixins.py
Owners: @readthedocs/backend

format
  readthedocs/storage/filesystem.py
Owners: @readthedocs/backend

Refactor storage (#12840)
  readthedocs/builds/storage.py
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/settings/test.py
  readthedocs/storage/filesystem.py
  readthedocs/storage/mixins.py
  readthedocs/storage/s3_storage.py
Owners: @readthedocs/backend

Remove setting version_type
  readthedocs/projects/views/public.py
Owners: @readthedocs/backend

Delete dead settings
  readthedocs/settings/base.py
Owners: @readthedocs/backend

S3: delete directories in batches
  readthedocs/storage/s3_storage.py
Owners: @readthedocs/backend

Fix codecov: combine coverage in a final job per @stsewd's suggestion
  .circleci/config.yml
Owners: @readthedocs/backend

Fix persist_to_workspace: copy .coverage to unique name after tox
  .circleci/config.yml
Owners: @readthedocs/backend

Docs: clarify that SSL certificates are auto-provisioned after DNS setup
  docs/user/guides/custom-domains.rst
Owners: @readthedocs/advocacy
