Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Remove tasks to send emails about deprecations
  readthedocs/projects/tasks/utils.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Update docs/user/custom-domains.rst
  docs/user/custom-domains.rst
Owners: @readthedocs/advocacy

Custom domain doc improvements (#10719)
  docs/user/custom-domains.rst
  docs/user/img/mermaid-custom-domains.png
  docs/user/img/mermaid-custom-domains.svg
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Test ES upgrade to 7.17.13
  .circleci/config.yml
Owners: @readthedocs/backend

Test ES upgrade to 7.17.13 (#10770)
  .circleci/config.yml
Owners: @readthedocs/backend

Upgrade ES to 8.x
  .circleci/config.yml
  readthedocs/settings/base.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Forgot about this
  .circleci/config.yml
Owners: @readthedocs/backend

Release 10.6.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.mo
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.6.0 (#10772)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.mo
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Fix tests
  .circleci/config.yml
  readthedocs/search/tests/test_faceted_search.py
  readthedocs/search/tests/test_views.py
Owners: @readthedocs/backend

SSO: update Google Workspace integration docs
  docs/user/guides/setup-single-sign-on-google-email.rst
Owners: @readthedocs/advocacy

Linter
  readthedocs/search/apps.py
  readthedocs/search/migrations/0005_alter_searchquery_id.py
Owners: @readthedocs/backend

Build: remove support for MkDocs <= 0.17.3 (#10584)
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

SearchQuery: use BigAutoField for primary key (#9671)
  readthedocs/search/apps.py
  readthedocs/search/migrations/0005_alter_searchquery_id.py
Owners: @readthedocs/backend

Deprecation: remove support for Sphinx 1.x (#10365)
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_doc_building.py
Owners: @readthedocs/backend

BuildAPIKey: remove old revoked/expired keys
  readthedocs/api/v2/tasks.py
  readthedocs/api/v2/test/test_tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Format
  readthedocs/api/v2/tasks.py
  readthedocs/api/v2/test/test_tasks.py
Owners: @readthedocs/backend

Build: log directory size to be uploaded
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Update index.rst
  docs/user/index.rst
Owners: @readthedocs/advocacy

Update index.rst (#10780)
  docs/user/index.rst
Owners: @readthedocs/advocacy

SSO: update Google Workspace integration docs (#10774)
  docs/user/guides/setup-single-sign-on-google-email.rst
Owners: @readthedocs/advocacy

Add example
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Build: log directory size to be uploaded (#10779)
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Set to 15 days
  readthedocs/api/v2/tasks.py
  readthedocs/api/v2/test/test_tasks.py
Owners: @readthedocs/backend

BuildAPIKey: remove old revoked/expired keys (#10778)
  readthedocs/api/v2/tasks.py
  readthedocs/api/v2/test/test_tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Proxito: remove one query from the middleware
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_headers.py
Owners: @readthedocs/backend

Release 10.6.1
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.6.1 (#10792)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

docs: Document how to fetch additional branches
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Proxito: remove one query from the middleware (#10788)
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_headers.py
Owners: @readthedocs/backend

Use get to access build dictionary
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Proxito: always use subdomain for serving docs
  docs/dev/install.rst
  docs/dev/settings.rst
  readthedocs/api/v3/tests/mixins.py
  readthedocs/core/context_processors.py
  readthedocs/core/resolver.py
  readthedocs/embed/tests/test_api.py
  readthedocs/embed/v3/tests/test_access.py
  readthedocs/embed/v3/tests/test_basics.py
  readthedocs/embed/v3/tests/test_external_pages.py
  readthedocs/embed/v3/tests/test_internal_pages.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_build_notifications.py
  readthedocs/rtd_tests/tests/test_core_tags.py
  readthedocs/rtd_tests/tests/test_footer.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/rtd_tests/tests/test_privacy.py
  readthedocs/rtd_tests/tests/test_redirects.py
  readthedocs/rtd_tests/tests/test_resolver.py
  readthedocs/rtd_tests/tests/test_single_version.py
  readthedocs/rtd_tests/tests/test_version.py
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/tests/test_api.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/settings/proxito/base.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Format
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Update constants_docker.py
  readthedocs/builds/constants_docker.py
Owners: @readthedocs/backend

Use get to access build dictionary (#10797)
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Webhooks: use PUBLIC_API_URL to generate the webhook URL
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
Owners: @readthedocs/backend

Remove more code
  readthedocs/core/resolver.py
Owners: @readthedocs/backend

Fix test
  readthedocs/search/tests/test_views.py
  readthedocs/settings/test.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
