Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Requirements: revert upgrade to `psycopg==3.x`
  requirements/deploy.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Requirements: revert upgrade to `psycopg==3.x`
  requirements/deploy.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Requirements: revert upgrade to `psycopg==3.x`
  requirements/deploy.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Second draft
  docs/dev/server-side-search.rst
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/search.py
  readthedocs/search/management/commands/reindex_elasticsearch.py
  readthedocs/search/utils.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Docs: make `sphinx.configuration` in the tutorial
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Drop custom domain mermaid graphic
  docs/user/custom-domains.rst
  docs/user/img/mermaid-custom-domains.png
  docs/user/img/mermaid-custom-domains.svg
Owners: @readthedocs/advocacy

Explain our default subdomains better
  docs/user/custom-domains.rst
Owners: @readthedocs/advocacy

Remove custom domain guidance for open source projects
  docs/user/custom-domains.rst
Owners: @readthedocs/advocacy

Rework set up notes and "how custom domains work" into features section
  docs/user/custom-domains.rst
Owners: @readthedocs/advocacy

Backwards link syntax
  docs/user/custom-domains.rst
Owners: @readthedocs/advocacy

Docs: update `build.commands` note (#10708)
  docs/user/build-customization.rst
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Don't use page title for CDN doc
  docs/user/custom-domains.rst
Owners: @readthedocs/advocacy

Update Python versions
  readthedocs/builds/constants_docker.py
Owners: @readthedocs/backend

Addons: include `hotkeys` in API response
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v0.json
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Remove missed extra word
  docs/user/custom-domains.rst
Owners: @readthedocs/advocacy

Addons: include `hotkeys` in API response (#10722)
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v0.json
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Update packages
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Requirements: revert upgrade to `psycopg==3.x` (#10713)
  requirements/deploy.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Release 10.4.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.4.0 (#10727)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Fix tests
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/files/404.html
  readthedocs/rtd_tests/files/index.html
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/search/tests/test_api.py
Owners: @readthedocs/backend, @readthedocs/frontend

Docs: make `sphinx.configuration` in the tutorial (#10718)
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Fix tests on .com
  readthedocs/rtd_tests/tests/test_footer.py
Owners: @readthedocs/backend

Format
  readthedocs/rtd_tests/tests/test_footer.py
Owners: @readthedocs/backend

FooterAPI: use organizations to test private versions
  readthedocs/rtd_tests/tests/test_footer.py
Owners: @readthedocs/backend

Remove more code
  readthedocs/builds/admin.py
  readthedocs/builds/querysets.py
  readthedocs/projects/admin.py
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/search/management/commands/reindex_elasticsearch.py
  readthedocs/search/utils.py
Owners: @readthedocs/backend

Simplify more things
  readthedocs/projects/tasks/search.py
  readthedocs/search/tests/test_utils.py
  readthedocs/search/utils.py
Owners: @readthedocs/backend

Fix test
  readthedocs/rtd_tests/tests/test_imported_file.py
Owners: @readthedocs/backend

Small updates
  readthedocs/projects/tasks/search.py
  readthedocs/search/management/commands/reindex_elasticsearch.py
Owners: @readthedocs/backend

Update test
  readthedocs/rtd_tests/tests/test_imported_file.py
Owners: @readthedocs/backend

Docs: remove old question from FAQ
  docs/user/faq.rst
Owners: @readthedocs/advocacy

guilabel
  docs/user/faq.rst
Owners: @readthedocs/advocacy

Update question about `sphinx.` and `mkdocs.` configuration
  docs/user/faq.rst
Owners: @readthedocs/advocacy

Remove feature flags question
  docs/user/faq.rst
Owners: @readthedocs/advocacy

RTD -> Read the Docs
  docs/user/faq.rst
Owners: @readthedocs/advocacy

URL update
  docs/user/faq.rst
Owners: @readthedocs/advocacy

Fusion two theme questions
  docs/user/faq.rst
Owners: @readthedocs/advocacy

Update image scaling question
  docs/user/faq.rst
Owners: @readthedocs/advocacy

Update install a Python package question
  docs/user/faq.rst
Owners: @readthedocs/advocacy
