Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

tests: cover stable version selection by verbose_name
  docs/user/versions.rst
  readthedocs/projects/tests/test_version_handling.py
Owners: @readthedocs/advocacy, @readthedocs/backend

docs: align index page with new pricing page language
  docs/user/index.rst
Owners: @readthedocs/advocacy

docs: lead index positioning with open source value
  docs/user/index.rst
Owners: @readthedocs/advocacy

docs: rename 'Read the Docs for Business' to 'Read the Docs Business'
  docs/conf.py
  docs/dev/design/new-search-api.rst
  docs/user/advertising/ethical-advertising.rst
  docs/user/advertising/index.rst
  docs/user/api/v3.rst
  docs/user/builds.rst
  docs/user/commercial/index.rst
  docs/user/guides/build-troubleshooting.rst
  docs/user/guides/management/index.rst
  docs/user/legal/dpa/subprocessors.rst
  docs/user/privacy-policy.rst
  docs/user/reference/features.rst
  docs/user/reference/git-integration.rst
  docs/user/shared/admonition-rtd-business.rst
  docs/user/support.rst
  docs/user/tutorial/index.rst
  readthedocs/api/v3/views.py
  readthedocs/projects/forms.py
  readthedocs/subscriptions/templates/subscriptions/notifications/organization_disabled_email.html
  readthedocs/subscriptions/templates/subscriptions/notifications/organization_disabled_email.txt
  readthedocs/templates/projects/project_advertising.html
  readthedocs/templates/projects/project_import.html
Owners: @readthedocs/advocacy, @readthedocs/backend, @readthedocs/frontend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Document policies for automated access
  docs/user/about/index.rst
  docs/user/automated-access.rst
Owners: @readthedocs/advocacy

Minor grammar fixes
  docs/user/automated-access.rst
Owners: @readthedocs/advocacy

Fix etag spelling
  docs/user/automated-access.rst
Owners: @readthedocs/advocacy

projects: surface options_base_version in AddonsConfigForm
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0164_options_base_version_help_text.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

projects: address review feedback on options_base_version
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0165_options_base_version_help_text.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

tests: renumber version ordering migration after merging main
  readthedocs/builds/migrations/0073_version_ordering_ascending.py
Owners: @readthedocs/backend

tests: drop exit_code kwarg removed from Build model
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

tests: drop exit_code kwarg removed from Build model
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

builds: add files changed overview to build detail page
  readthedocs/builds/tests/test_views.py
  readthedocs/builds/views.py
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Update docs/user/automated-access.rst
  docs/user/automated-access.rst
Owners: @readthedocs/advocacy

Automation rules: run delete action on deleted versions only (#13029)
  readthedocs/api/v2/utils.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_automation_rules.py
Owners: @readthedocs/backend

Account: block deletion for spam accounts
  readthedocs/core/utils/spam.py
  readthedocs/profiles/views.py
Owners: @readthedocs/backend

Fixes
  readthedocs/core/utils/spam.py
  readthedocs/rtd_tests/tests/test_profile_views.py
Owners: @readthedocs/backend

Update django-allauth
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Add null check for project before accessing has_feature method (#13031)
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

tests: cover stable version selection by verbose_name (#13047)
  docs/user/versions.rst
  readthedocs/projects/tests/test_version_handling.py
Owners: @readthedocs/advocacy, @readthedocs/backend

api: fix verb agreement in viewset comment
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

builds: drop redundant exception handling in files changed view
  readthedocs/builds/views.py
Owners: @readthedocs/backend

builds: gate the build diff inside get_diff_for_build
  readthedocs/builds/tests/test_views.py
  readthedocs/builds/views.py
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/tests/test_filetreediff.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Update index.rst
  docs/user/index.rst
Owners: @readthedocs/advocacy

Update django-allauth (#13059)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Account: block deletion for spam accounts (#13058)
  readthedocs/core/utils/spam.py
  readthedocs/profiles/views.py
  readthedocs/rtd_tests/tests/test_profile_views.py
Owners: @readthedocs/backend

docs: Update "Read the Docs for Business" to "Read the Docs Business" (#13057)
  docs/conf.py
  docs/dev/design/new-search-api.rst
  docs/user/advertising/ethical-advertising.rst
  docs/user/advertising/index.rst
  docs/user/api/v3.rst
  docs/user/builds.rst
  docs/user/commercial/index.rst
  docs/user/guides/build-troubleshooting.rst
  docs/user/guides/management/index.rst
  docs/user/legal/dpa/subprocessors.rst
  docs/user/privacy-policy.rst
  docs/user/reference/features.rst
  docs/user/reference/git-integration.rst
  docs/user/shared/admonition-rtd-business.rst
  docs/user/support.rst
  docs/user/tutorial/index.rst
  readthedocs/api/v3/views.py
  readthedocs/projects/forms.py
  readthedocs/subscriptions/templates/subscriptions/notifications/organization_disabled_email.html
  readthedocs/subscriptions/templates/subscriptions/notifications/organization_disabled_email.txt
  readthedocs/templates/projects/project_advertising.html
  readthedocs/templates/projects/project_import.html
Owners: @readthedocs/advocacy, @readthedocs/backend, @readthedocs/frontend

Release 2026.05.26
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

tests: quiet down debug logs so failure output is readable
  pytest.ini
  readthedocs/settings/test.py
Owners: @readthedocs/backend

docs: document how to override the test log level
  docs/dev/tests.rst
Owners: @readthedocs/advocacy

docs: point devs at logs/debug.log for full test logs
  docs/dev/tests.rst
Owners: @readthedocs/advocacy

docs: add a --log-level=DEBUG example for inline debug output
  docs/dev/tests.rst
Owners: @readthedocs/advocacy

tests: silence tox's pip-freeze dump in CI logs
  tox.ini
Owners: @readthedocs/backend

Revert "tests: silence tox's pip-freeze dump in CI logs"
  tox.ini
Owners: @readthedocs/backend

ci: skip coverage report when tests fail
  .circleci/config.yml
Owners: @readthedocs/backend

Potential fix for pull request finding
  docs/dev/tests.rst
Owners: @readthedocs/advocacy

projects: retire github-app beta announcement
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Tests: force creation of the user profile
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
