Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Remove old footer code
  readthedocs/api/v2/permissions.py
  readthedocs/api/v2/proxied_urls.py
  readthedocs/api/v2/templates/restapi/footer.html
  readthedocs/api/v2/urls.py
  readthedocs/api/v2/views/footer_views.py
  readthedocs/api/v2/views/proxied.py
  readthedocs/core/static-src/core/js/doc-embed/footer.js
  readthedocs/core/static-src/core/js/readthedocs-doc-embed.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
  readthedocs/proxito/tests/test_proxied_api.py
  readthedocs/rtd_tests/tests/test_footer.py
Owners: @readthedocs/backend, @readthedocs/frontend

Keep removing more footer code
  media/css/readthedocs-doc-embed.css
  readthedocs/api/v2/proxied_urls.py
  readthedocs/api/v2/views/footer_views.py
  readthedocs/core/static-src/core/js/doc-embed/sponsorship.js
  readthedocs/core/static-src/core/js/readthedocs-doc-embed.js
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/rtd_tests/tests/test_api_version_compare.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
  readthedocs/rtd_tests/tests/test_resolver.py
  readthedocs/settings/base.py
Owners: @readthedocs/frontend, @readthedocs/backend

Build assets
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Owners: @readthedocs/frontend

Release 11.17.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.17.0 (#11837)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Remove disable_sphinx_manipulation feature flag
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/base.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/doc_builder/signals.py
  readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl
  readthedocs/projects/models.py
  readthedocs/projects/tests/mockers.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

Fix import wizard?
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Again
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Is this okay?
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

I think this works
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Remove EthicalAd URLs
  readthedocs/api/v2/urls.py
Owners: @readthedocs/backend

Update docstring
  readthedocs/doc_builder/base.py
Owners: @readthedocs/backend

Remove disable_sphinx_manipulation feature flag (#11841)
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/base.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/doc_builder/signals.py
  readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl
  readthedocs/projects/models.py
  readthedocs/projects/tests/mockers.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

Avoid `RecursionError`
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Build: remove usage of addons field
  readthedocs/api/v2/serializers.py
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Apply suggestions from code review
  docs/user/guides/access/index.rst
  docs/user/guides/managing-maintainers.rst
  docs/user/intro/accounts.rst
Owners: @readthedocs/advocacy

Build: remove conda_append_core_requirements feature flag
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Fix tests again
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Add Rust reshim
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Add mdbook docs page
  docs/user/intro/doctools.rst
  docs/user/intro/mdbook.rst
Owners: @readthedocs/advocacy

Remove EthicalAd URLs (#11843)
  readthedocs/api/v2/urls.py
Owners: @readthedocs/backend

Fix import wizard (#11842)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Remove old footer code (#11836)
  media/css/readthedocs-doc-embed.css
  readthedocs/api/v2/permissions.py
  readthedocs/api/v2/proxied_urls.py
  readthedocs/api/v2/templates/restapi/footer.html
  readthedocs/api/v2/urls.py
  readthedocs/api/v2/views/footer_views.py
  readthedocs/api/v2/views/proxied.py
  readthedocs/core/static-src/core/js/doc-embed/footer.js
  readthedocs/core/static-src/core/js/doc-embed/sponsorship.js
  readthedocs/core/static-src/core/js/readthedocs-doc-embed.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/proxito/tests/test_proxied_api.py
  readthedocs/rtd_tests/tests/test_api_version_compare.py
  readthedocs/rtd_tests/tests/test_footer.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
  readthedocs/rtd_tests/tests/test_resolver.py
  readthedocs/settings/base.py
Owners: @readthedocs/frontend, @readthedocs/backend

Tests: use uv with tox
  .circleci/config.yml
  requirements/docker.in
  requirements/docker.txt
Owners: @readthedocs/backend

More uv
  .circleci/config.yml
  tox.embedapi.ini
Owners: @readthedocs/backend

Build: remove usage of addons field (#11846)
  readthedocs/api/v2/serializers.py
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Disable repo instead of deleting it
  readthedocs/projects/forms.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Fix silly syntax error
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Add test
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Move `filetreediff` addons response to its own endpoint
  readthedocs/api/v3/urls.py
  readthedocs/api/v3/views.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Add Rust reshim (#11848)
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Config file: make sphinx or mkdocs configuration required
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/notifications.py
  readthedocs/doc_builder/director.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/backend

Cleanup doctool toctree listing (#11833)
  docs/user/index.rst
  docs/user/intro/doctools.rst
  docs/user/intro/docusaurus.rst
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Add authentication documentation (#11834)
  docs/user/commercial/single-sign-on.rst
  docs/user/guides/access/index.rst
  docs/user/guides/manage-read-the-docs-teams.rst
  docs/user/guides/managing-maintainers.rst
  docs/user/index.rst
  docs/user/intro/accounts.rst
Owners: @readthedocs/advocacy

Update docs/user/intro/mdbook.rst
  docs/user/intro/mdbook.rst
Owners: @readthedocs/advocacy

Add back to toctree
  docs/user/intro/doctools.rst
Owners: @readthedocs/advocacy

docs: Reframe Supported Tools
  docs/user/intro/doctools.rst
Owners: @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
