Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Update docs/user/build-customization.rst
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Add info on generating docs in `.txt` format (#12194)
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Delete how to change url versioning page (#12192)
  docs/user/guides/setup/index.rst
  docs/user/guides/setup/versioning-schemes.rst
  docs/user/versioning-schemes.rst
Owners: @readthedocs/advocacy

GitHub App: block GH app users to re-connect to old OAuth app (#12175)
  readthedocs/core/adapters.py
  readthedocs/core/tests/test_adapters.py
Owners: @readthedocs/backend

Release 13.2.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 13.2.0 (#12195)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Docs: update AWS temporary credentials documentation
  docs/dev/aws-temporary-credentials.rst
Owners: @readthedocs/advocacy

Split gold membership Stripe webhooks
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Verify email template hasn't been migrated to ext-theme yet
  readthedocs/organizations/templates/organizations/verify_email.html
Owners: @readthedocs/frontend

These views don't have a template
  readthedocs/organizations/tests/test_privacy_urls.py
  readthedocs/organizations/views/private.py
Owners: @readthedocs/backend

Docs: update AWS temporary credentials documentation (#12196)
  docs/dev/aws-temporary-credentials.rst
Owners: @readthedocs/advocacy

New dashboard: delete legacy HTML templates (#12183)
  readthedocs/audit/templates/audit/list_logs.html
  readthedocs/core/templates/core/ko_form_field.html
  readthedocs/gold/templates/gold/projects.html
  readthedocs/gold/templates/gold/subscription_detail.html
  readthedocs/invitations/templates/invitations/includes/invitation_list.html
  readthedocs/invitations/templates/invitations/invitation_detail.html
  readthedocs/organizations/templates/organizations/admin/base.html
  readthedocs/organizations/templates/organizations/admin/organization_delete.html
  readthedocs/organizations/templates/organizations/admin/organization_edit.html
  readthedocs/organizations/templates/organizations/admin/owners_edit.html
  readthedocs/organizations/templates/organizations/base.html
  readthedocs/organizations/templates/organizations/base_team.html
  readthedocs/organizations/templates/organizations/includes/member_list.html
  readthedocs/organizations/templates/organizations/includes/team_list_item.html
  readthedocs/organizations/templates/organizations/includes/team_member_list.html
  readthedocs/organizations/templates/organizations/member_list.html
  readthedocs/organizations/templates/organizations/onboard/base.html
  readthedocs/organizations/templates/organizations/onboard/invite.html
  readthedocs/organizations/templates/organizations/onboard/organization.html
  readthedocs/organizations/templates/organizations/onboard/plan.html
  readthedocs/organizations/templates/organizations/onboard/team.html
  readthedocs/organizations/templates/organizations/organization_choose.html
  readthedocs/organizations/templates/organizations/organization_create.html
  readthedocs/organizations/templates/organizations/organization_detail.html
  readthedocs/organizations/templates/organizations/organization_invite.html
  readthedocs/organizations/templates/organizations/organization_list.html
  readthedocs/organizations/templates/organizations/security_log.html
  readthedocs/organizations/templates/organizations/team_create.html
  readthedocs/organizations/templates/organizations/team_delete.html
  readthedocs/organizations/templates/organizations/team_detail.html
  readthedocs/organizations/templates/organizations/team_edit.html
  readthedocs/organizations/templates/organizations/team_list.html
  readthedocs/organizations/templates/organizations/team_member_create.html
  readthedocs/organizations/templates/organizations/team_project_edit.html
  readthedocs/organizations/tests/test_privacy_urls.py
  readthedocs/organizations/views/private.py
Owners: @readthedocs/frontend, @readthedocs/backend

Updates tests
  readthedocs/subscriptions/tests/test_event_handlers.py
Owners: @readthedocs/backend

New dashboard: delete legacy HTML templates (part 2)
  readthedocs/subscriptions/templates/subscriptions/notifications/organization_disabled_site.html
  readthedocs/subscriptions/templates/subscriptions/notifications/subscription_ended_site.html
  readthedocs/subscriptions/templates/subscriptions/notifications/subscription_required_site.html
  readthedocs/templates/projects/notifications/deprecated_build_webhook_site.html
  readthedocs/templates/projects/notifications/deprecated_github_webhook_site.html
  readthedocs/templates/projects/notifications/resource_usage_site.html
Owners: @readthedocs/frontend

Remove redirect templates
  readthedocs/redirects/templates/redirects/redirect_form.html
  readthedocs/redirects/templates/redirects/redirect_list.html
Owners: @readthedocs/frontend

Remove unused account templates
  readthedocs/templates/account/README.md
  readthedocs/templates/account/email.html
  readthedocs/templates/account/login.html
  readthedocs/templates/account/password_change.html
  readthedocs/templates/account/signup.html
Owners: @readthedocs/backend, @readthedocs/frontend

More deletions
  readthedocs/subscriptions/templates/subscriptions/notifications/trial_ending_site.html
  readthedocs/subscriptions/templates/subscriptions/subscription_detail.html
Owners: @readthedocs/frontend

Remove more templates
  readthedocs/templates/archive/index.html
  readthedocs/templates/builds/build_detail.html
  readthedocs/templates/builds/build_list.html
  readthedocs/templates/builds/regexautomationrule_form.html
  readthedocs/templates/builds/tag_list.html
  readthedocs/templates/builds/versionautomationrule_list.html
  readthedocs/templates/core/badge_markup.html
  readthedocs/templates/core/build_list_detailed.html
  readthedocs/templates/core/filter_bar.html
  readthedocs/templates/core/filter_list.html
  readthedocs/templates/core/header.html
  readthedocs/templates/core/home-header.html
  readthedocs/templates/core/notifications.html
  readthedocs/templates/core/project_bar.html
  readthedocs/templates/core/project_bar_base.html
  readthedocs/templates/core/project_detail_right.html
  readthedocs/templates/core/project_details.html
Owners: @readthedocs/frontend

More deleted template files
  readthedocs/templates/all_builds.html
  readthedocs/templates/base.html
  readthedocs/templates/base_filter.html
  readthedocs/templates/error_header.html
  readthedocs/templates/homepage.html
  readthedocs/templates/post_commit.html
  readthedocs/templates/style_catalog.html
Owners: @readthedocs/frontend

More...
  readthedocs/templates/core/project_list.html
  readthedocs/templates/core/project_list_detailed.html
  readthedocs/templates/core/widesearchbar.html
  readthedocs/templates/flagging/flag_confirm.html
  readthedocs/templates/flagging/flag_success.html
Owners: @readthedocs/frontend

Remove allauth warning
  readthedocs/core/adapters.py
  readthedocs/core/tests/test_adapters.py
Owners: @readthedocs/backend

Remove allauth warning (#12198)
  readthedocs/core/adapters.py
  readthedocs/core/tests/test_adapters.py
Owners: @readthedocs/backend

Settings: bring CSP settings from -ops
  readthedocs/settings/base.py
Owners: @readthedocs/backend

New dashboard: delete legacy HTML templates (part 2)
  readthedocs/templates/errors/base.html
  readthedocs/templates/errors/dashboard/401.html
  readthedocs/templates/errors/dashboard/403.html
  readthedocs/templates/errors/dashboard/404.html
  readthedocs/templates/errors/dashboard/429.html
  readthedocs/templates/errors/dashboard/4xx.html
  readthedocs/templates/errors/dashboard/500.html
  readthedocs/templates/errors/dashboard/5xx.html
  readthedocs/templates/errors/dashboard/base.html
  readthedocs/templates/errors/dashboard/spam.html
  readthedocs/templates/errors/proxito/401.html
  readthedocs/templates/errors/proxito/403.html
  readthedocs/templates/errors/proxito/404/base.html
  readthedocs/templates/errors/proxito/404/dns.html
  readthedocs/templates/errors/proxito/404/include_error_message.html
  readthedocs/templates/errors/proxito/404/include_search.html
  readthedocs/templates/errors/proxito/404/include_tips.html
  readthedocs/templates/errors/proxito/404/no_language.html
  readthedocs/templates/errors/proxito/404/no_project.html
  readthedocs/templates/errors/proxito/404/no_project_page.html
  readthedocs/templates/errors/proxito/404/no_subproject.html
  readthedocs/templates/errors/proxito/404/no_version.html
  readthedocs/templates/errors/proxito/418.html
  readthedocs/templates/errors/proxito/429.html
  readthedocs/templates/errors/proxito/4xx.html
  readthedocs/templates/errors/proxito/500.html
  readthedocs/templates/errors/proxito/5xx.html
  readthedocs/templates/errors/proxito/base.html
  readthedocs/templates/errors/proxito/spam.html
  readthedocs/templates/notifications/send_notification_form.html
  readthedocs/templates/pagination/pagination.html
  readthedocs/templates/socialaccount/authentication_error.html
  readthedocs/templates/socialaccount/connections.html
  readthedocs/templates/socialaccount/snippets/provider_list.html
  readthedocs/templates/sphinx/conf.py.conf
  readthedocs/templates/support/error.html
  readthedocs/templates/support/index.html
  readthedocs/templates/support/success.html
Owners: @readthedocs/frontend, @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Djstripe cleanup (#12160)
  docs/dev/settings.rst
  docs/dev/subscriptions.rst
  readthedocs/api/v2/urls.py
  readthedocs/gold/tests/test_signals.py
  readthedocs/gold/tests/test_views.py
  readthedocs/gold/tests/test_webhooks.py
  readthedocs/gold/views.py
  readthedocs/organizations/tests/test_querysets.py
  readthedocs/payments/mixins.py
  readthedocs/payments/tests/utils.py
  readthedocs/payments/utils.py
  readthedocs/rtd_tests/utils.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/settings/test.py
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/signals.py
  readthedocs/subscriptions/tests/test_event_handlers.py
  readthedocs/subscriptions/tests/test_signals.py
  readthedocs/subscriptions/tests/test_tasks.py
  readthedocs/subscriptions/tests/test_views.py
  readthedocs/subscriptions/utils.py
  readthedocs/subscriptions/views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Testing PR
  README.rst
Owners: @readthedocs/backend

Create a dataclass for version info
  readthedocs/api/v2/utils.py
  readthedocs/builds/tasks.py
  readthedocs/projects/datatypes.py
  readthedocs/projects/tasks/mixins.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Tests: call `super().setUp()`
  readthedocs/payments/tests/utils.py
Owners: @readthedocs/backend

Tests: call `super().setUp()` (#12208)
  readthedocs/payments/tests/utils.py
Owners: @readthedocs/backend

Release 13.3.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 13.3.0 (#12209)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Updates from review
  readthedocs/oauth/migrate.py
  readthedocs/profiles/tests/test_views.py
Owners: @readthedocs/backend

GitHub App: faster migration page (#12186)
  readthedocs/oauth/migrate.py
  readthedocs/profiles/tests/test_views.py
  readthedocs/profiles/views.py
Owners: @readthedocs/backend

Gold: `subscription` is the subscription id as string
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Gold: `subscription` is the subscription id as string
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Gold: `subscription` is the subscription id as string
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Test: update mocked data
  readthedocs/subscriptions/tests/test_event_handlers.py
Owners: @readthedocs/backend

Gold: `subscription` is the subscription id as string (#12212)
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/tests/test_event_handlers.py
Owners: @readthedocs/backend

Another test
  README.rst
Owners: @readthedocs/backend
