Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

DB: clean up tables (#12732)
  readthedocs/core/tasks.py
  readthedocs/core/tests/test_db_utils.py
  readthedocs/core/utils/db.py
  readthedocs/settings/base.py
  readthedocs/telemetry/tasks.py
Owners: @readthedocs/backend

Project: delete versions in batches when deleting project
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Update test
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

Fix HTML escaping in "No connected services found" notification (#12736)
  readthedocs/projects/forms.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Update the UI to use one command per line
  docs/user/build-customization.rst
  readthedocs/projects/forms.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Apply suggestion from @humitos
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Refactor `.config` property to use `values_list` for efficiency
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Release 15.13.1
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Tasks: delete record_search_query task
  readthedocs/search/tasks.py
Owners: @readthedocs/backend

Auth: skip complex querysets for public versions
  readthedocs/api/v2/permissions.py
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Also apply to project
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Forgot this
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Integrations: don't send build status for builds without a version
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Select related
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Rename llms txt view
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Add support for serving llms.txt files (#12733)
  docs/user/index.rst
  docs/user/reference/llms-txt.rst
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Skip router tests on SQLite backend since it does not support 'contains' lookups.
  readthedocs/builds/tests/test_celery_task_router.py
Owners: @readthedocs/backend

Auth: skip complex querysets for public projects/versions (#12749)
  readthedocs/api/v2/permissions.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Project: delete versions in batches when deleting project (#12747)
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

Comment
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Integrations: don't send build status for builds without a version (#12750)
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Tasks: delete record_search_query task (#12748)
  readthedocs/search/tasks.py
Owners: @readthedocs/backend

GitHub App: list it first
  readthedocs/settings/base.py
Owners: @readthedocs/backend

GitHub App: Remote RTD_ALLOW_GITHUB_APP setting
  readthedocs/core/adapters.py
  readthedocs/core/tests/test_adapters.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Project: don't error when a project doesn't have a valid default version
  readthedocs/projects/views/public.py
Owners: @readthedocs/backend

Clean up copilot mess
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Add tests for ProjectDetailView with invalid default version (#12755)
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Add agent skills documentation
  docs/user/index.rst
  docs/user/reference/agent-skills.rst
Owners: @readthedocs/advocacy

Link skills to SKILL.md
  docs/user/reference/agent-skills.rst
Owners: @readthedocs/advocacy

Add agent skills to maintaining projects
  docs/user/index.rst
Owners: @readthedocs/advocacy

Remove duplicate agent skills link
  docs/user/index.rst
Owners: @readthedocs/advocacy

Link Agent Skills CLI
  docs/user/reference/agent-skills.rst
Owners: @readthedocs/advocacy

Update Agent Skills CLI link
  docs/user/reference/agent-skills.rst
Owners: @readthedocs/advocacy

Cleanup title
  docs/user/reference/agent-skills.rst
Owners: @readthedocs/advocacy

GitHub App: Remove RTD_ALLOW_GITHUB_APP setting (#12753)
  readthedocs/core/adapters.py
  readthedocs/core/tests/test_adapters.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Update example to checkout a spare repository
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Update docs
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Update test cases
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Use fnmatch
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Execute the push automation rules inside the pull request events
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
