Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Djstripe cleanup
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Use Stripe secret from djstripe database
  readthedocs/gold/views.py
  readthedocs/payments/utils.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Filter the key by `secret` since we will need the `publishable` as well
  readthedocs/gold/views.py
  readthedocs/payments/utils.py
Owners: @readthedocs/backend

Use publishable key from database
  readthedocs/payments/mixins.py
Owners: @readthedocs/backend

Update documentation
  docs/dev/settings.rst
  docs/dev/subscriptions.rst
Owners: @readthedocs/advocacy

Remove test keys
  readthedocs/settings/test.py
Owners: @readthedocs/backend

Use publishable key from db
  readthedocs/gold/views.py
Owners: @readthedocs/backend

Update documentation for local webhooks
  docs/dev/subscriptions.rst
Owners: @readthedocs/advocacy

Define Stripe API key immediately before usage
  readthedocs/gold/views.py
  readthedocs/payments/utils.py
  readthedocs/subscriptions/signals.py
  readthedocs/subscriptions/utils.py
  readthedocs/subscriptions/views.py
Owners: @readthedocs/backend

Update tests to work with testing Stripe keys
  readthedocs/gold/tests/test_signals.py
  readthedocs/gold/tests/test_views.py
  readthedocs/gold/tests/test_webhooks.py
  readthedocs/organizations/tests/test_querysets.py
  readthedocs/rtd_tests/files/test.html
  readthedocs/rtd_tests/utils.py
  readthedocs/subscriptions/tests/test_event_handlers.py
  readthedocs/subscriptions/tests/test_signals.py
  readthedocs/subscriptions/tests/test_tasks.py
  readthedocs/subscriptions/tests/test_views.py
Owners: @readthedocs/backend, @readthedocs/frontend

Revert file modified by mistake
  readthedocs/rtd_tests/files/test.html
Owners: @readthedocs/frontend

Re-add templates required in production
  readthedocs/templates/errors/proxito/404/base.html
  readthedocs/templates/errors/proxito/404/dns.html
  readthedocs/templates/errors/proxito/404/include_error_message.html
  readthedocs/templates/errors/proxito/404/include_search.html
  readthedocs/templates/errors/proxito/404/include_tips.html
  readthedocs/templates/errors/proxito/404/no_language.html
  readthedocs/templates/errors/proxito/404/no_project.html
  readthedocs/templates/errors/proxito/404/no_project_page.html
  readthedocs/templates/errors/proxito/404/no_subproject.html
  readthedocs/templates/errors/proxito/404/no_version.html
Owners: @readthedocs/frontend

Recover `security.html`
  readthedocs/templates/security.html
Owners: @readthedocs/frontend

Upgrade Django to 5.2 (#12149)
  pytest.ini
  readthedocs/oauth/models.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Update readthedocs/projects/apps.py
  readthedocs/projects/apps.py
Owners: @readthedocs/backend

Do not run `djstripe` checks on builders (#12159)
  readthedocs/projects/apps.py
Owners: @readthedocs/backend

Migrate Stripe usage to the new `StripeClient`
  readthedocs/gold/tests/test_signals.py
  readthedocs/gold/tests/test_views.py
  readthedocs/gold/tests/test_webhooks.py
  readthedocs/gold/views.py
  readthedocs/organizations/tests/test_querysets.py
  readthedocs/payments/mixins.py
  readthedocs/payments/tests/utils.py
  readthedocs/payments/utils.py
  readthedocs/rtd_tests/utils.py
  readthedocs/subscriptions/signals.py
  readthedocs/subscriptions/tests/test_event_handlers.py
  readthedocs/subscriptions/tests/test_signals.py
  readthedocs/subscriptions/tests/test_tasks.py
  readthedocs/subscriptions/tests/test_views.py
  readthedocs/subscriptions/utils.py
  readthedocs/subscriptions/views.py
Owners: @readthedocs/backend

Fix enums
  readthedocs/gold/views.py
  readthedocs/payments/mixins.py
  readthedocs/payments/tests/utils.py
  readthedocs/payments/utils.py
Owners: @readthedocs/backend

Migrate Stripe Checkout session
  readthedocs/gold/views.py
Owners: @readthedocs/backend

Migrate Stripe billing portal
  readthedocs/gold/views.py
Owners: @readthedocs/backend

Migrate webhook and event creation
  readthedocs/gold/views.py
Owners: @readthedocs/backend

Migrate Stripe Checkout and Billing Portal
  readthedocs/subscriptions/views.py
Owners: @readthedocs/backend

Upgrade more djstripe code
  readthedocs/payments/utils.py
  readthedocs/subscriptions/utils.py
Owners: @readthedocs/backend

Create a default account for tests
  readthedocs/payments/tests/utils.py
Owners: @readthedocs/backend

Update tests
  readthedocs/gold/views.py
  readthedocs/subscriptions/tests/test_signals.py
Owners: @readthedocs/backend

Add PaymentMixin for test
  readthedocs/gold/tests/test_views.py
Owners: @readthedocs/backend

Add comment to Sitemap explaining how to customize it
  readthedocs/templates/sitemap.xml
Owners: @readthedocs/backend

Redirect for `/` and `/welcome` URLs
  readthedocs/core/tests/test_homepage.py
  readthedocs/core/views/__init__.py
  readthedocs/urls.py
Owners: @readthedocs/backend

Add to robots.txt as well
  readthedocs/templates/robots.txt
Owners: @readthedocs/backend

Small copy edits
  readthedocs/templates/robots.txt
  readthedocs/templates/sitemap.xml
Owners: @readthedocs/backend

Build: escape all whitespaces
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Changes from review
  readthedocs/core/tests/test_homepage.py
  readthedocs/core/views/__init__.py
Owners: @readthedocs/backend

Missing import
  readthedocs/core/tests/test_homepage.py
Owners: @readthedocs/backend

Use `fixture.get`
  readthedocs/core/tests/test_homepage.py
Owners: @readthedocs/backend

Downgrade `lxml` to avoid mismatch versions
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Downgrade `lxml` to avoid mismatch versions (#12167)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Migrate Gold membership code to djstripe
  readthedocs/api/v2/urls.py
  readthedocs/gold/views.py
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/tests/test_event_handlers.py
Owners: @readthedocs/backend

Delete test webhook for gold since it was migrated to djstripe
  readthedocs/gold/tests/test_webhooks.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
