Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Builds: fix the redirect pre-fill and its tests
  readthedocs/builds/tests/test_tasks.py
  readthedocs/projects/views/private.py
  readthedocs/redirects/tests/test_views.py
Owners: @readthedocs/backend

Projects: drop GitHub App context flag to keep the change minimal
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Api: apply ruff formatting
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Builds: keep the existing files changed wording
  readthedocs/builds/tests/test_tasks.py
  readthedocs/projects/views/private.py
  readthedocs/redirects/tests/test_views.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Apply suggestion from @humitos
  .github/workflows/docs-upload.yaml
Owners: @readthedocs/backend

CI: upload docs to `docs-upload` project for PRs and `main` branch (#13310)
  .github/workflows/docs-upload.yaml
Owners: @readthedocs/backend

Api: make import ordering opt-in via ?ordering=import
  readthedocs/api/v3/filters.py
  readthedocs/api/v3/tests/test_remoterepositories.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Api: match the docs boost on the repository name only
  readthedocs/api/v3/filters.py
  readthedocs/api/v3/tests/test_remoterepositories.py
Owners: @readthedocs/backend

Apply batched suggestions from code review
  docs/user/guides/build/direct-upload.rst
Owners: @readthedocs/advocacy

Docs: initial page for "Direct upload" (#13313)
  docs/user/builds.rst
  docs/user/continuous-deployment.rst
  docs/user/guides/build/direct-upload.rst
  docs/user/guides/build/index.rst
  docs/user/index.rst
Owners: @readthedocs/advocacy

Onboarding: direct upload
  readthedocs/projects/forms.py
  readthedocs/projects/views/mixins.py
  readthedocs/projects/views/private.py
  readthedocs/projects/views/public.py
  readthedocs/rtd_tests/tests/test_project_views.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Docs: use offline formats instead of downloadable documentation
  docs/user/build-customization.rst
  docs/user/explanation/advanced.rst
  docs/user/explanation/index.rst
  docs/user/flyout-menu.rst
  docs/user/guides/build/direct-upload.rst
  docs/user/guides/enable-offline-formats.rst
  docs/user/index.rst
  docs/user/offline-formats.rst
  docs/user/subprojects.rst
Owners: @readthedocs/advocacy

Use "When to avoid building" section and move it to the top
  docs/user/guides/build/skip-or-cancel-builds.rst
Owners: @readthedocs/advocacy

Apply suggestion from @agjohnson
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Docs: differentiate between skip and cancel builds in the documentation (#13297)
  docs/user/build-customization.rst
  docs/user/builds.rst
  docs/user/guides/build/index.rst
  docs/user/guides/build/skip-or-cancel-builds.rst
  docs/user/guides/setup/monorepo.rst
  readthedocs/notifications/messages.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Api: use the django-filter OrderingFilter pattern
  readthedocs/api/v3/filters.py
Owners: @readthedocs/backend

Docs: make command multiple to avoid horizontal scrolling
  docs/user/guides/build/direct-upload.rst
Owners: @readthedocs/advocacy

Design: repository picker for the "Add project" page
  docs/dev/design/add-project-repository-picker.rst
Owners: @readthedocs/advocacy

Design: soften the wording in the repository picker doc
  docs/dev/design/add-project-repository-picker.rst
Owners: @readthedocs/advocacy

Show potential slug in the examples (optional)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Docs: use offline formats instead of downloadable documentation (#13322)
  docs/user/build-customization.rst
  docs/user/explanation/advanced.rst
  docs/user/explanation/index.rst
  docs/user/flyout-menu.rst
  docs/user/guides/build/direct-upload.rst
  docs/user/guides/enable-offline-formats.rst
  docs/user/index.rst
  docs/user/offline-formats.rst
  docs/user/subprojects.rst
Owners: @readthedocs/advocacy

Logs: follow the standard keys we are using everywhere
  readthedocs/core/adapters.py
  readthedocs/core/signals.py
  readthedocs/core/tasks.py
  readthedocs/gold/views.py
  readthedocs/invitations/backends.py
  readthedocs/invitations/models.py
  readthedocs/invitations/views.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/organizations/signals.py
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Docs: make command multiple to avoid horizontal scrolling (#13323)
  docs/user/guides/build/direct-upload.rst
Owners: @readthedocs/advocacy

Projects: remove the default branch field from the import form (#13314)
  readthedocs/projects/forms.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Filetreediff: refresh the base snapshot from the builder's base commit
  docs/dev/design/file-tree-diff.rst
  readthedocs/api/v2/serializers.py
  readthedocs/builds/migrations/0080_build_base_commit.py
  readthedocs/builds/models.py
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Bump the default Ubuntu version to 26.04
  .readthedocs.yml
  docs/dev/install.rst
  docs/user/build-customization.rst
  docs/user/config-file/examples/mkdocs/.readthedocs.yaml
  docs/user/config-file/examples/sphinx/.readthedocs.yaml
  docs/user/config-file/v2.rst
  docs/user/guides/conda.rst
  docs/user/guides/environment-variables.rst
  docs/user/guides/reproducible-builds.rst
  docs/user/intro/markdoc.rst
  docs/user/intro/mkdocs.rst
  docs/user/intro/sphinx.rst
  docs/user/intro/zensical.rst
  readthedocs/config/tests/test_config.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/templates/projects/import_config.html
  scripts/compile_version_upload_s3.sh
Owners: @readthedocs/backend, @readthedocs/advocacy, @readthedocs/frontend

Bump the default Python version to 3.14
  .readthedocs.yml
  docs/user/build-customization.rst
  docs/user/config-file/examples/mkdocs/.readthedocs.yaml
  docs/user/config-file/examples/sphinx/.readthedocs.yaml
  docs/user/config-file/v2.rst
  docs/user/environment-variables.rst
  docs/user/guides/build/skip-or-cancel-builds.rst
  docs/user/guides/reproducible-builds.rst
  readthedocs/templates/projects/import_config.html
Owners: @readthedocs/backend, @readthedocs/advocacy, @readthedocs/frontend

Filetreediff: report the base commit from the legacy build task too
  docs/dev/design/file-tree-diff.rst
  docs/user/visual-diff.rst
  readthedocs/builds/models.py
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_backend.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Projects: list remote repositories on the import view
  readthedocs/projects/filters.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Docs: design doc for the pull request builds listing page
  docs/_static/images/design-docs/pull-request-builds/disabled.png
  docs/_static/images/design-docs/pull-request-builds/empty.png
  docs/_static/images/design-docs/pull-request-builds/list.png
  docs/dev/design/pull-request-builds-listing.rst
Owners: @readthedocs/advocacy

Settings: make the GitHub App the default GitHub provider
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Builds: name the project in the build overview comment footer
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Builds: report failed documentation builds in the pull request comment
  readthedocs/builds/reporting.py
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Projects: only test the import view context, not the theme template
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Release 2026.09.22
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Search: limit the number of cache tags returned in the search API
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/api/v3/views.py
Owners: @readthedocs/backend

Search: limit the number of cache tags returned in the search API
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/api/v3/views.py
Owners: @readthedocs/backend

Search: limit the number of cache tags returned in the search API
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/api/v3/views.py
Owners: @readthedocs/backend

Docs: clarify Transifex translation workflow for contributors
  docs/dev/contribute.rst
  docs/dev/i18n.rst
Owners: @readthedocs/advocacy

Docs: add common build failure troubleshooting sections
  docs/user/guides/build-troubleshooting.rst
Owners: @readthedocs/advocacy
