Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Test service
  readthedocs/storage/security_token_service.py
  readthedocs/storage/tests/__init__.py
  readthedocs/storage/tests/test_security_token_service.py
Owners: @readthedocs/backend

Add tests for the API
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Fix typo, thanks copilot
  readthedocs/storage/rclone.py
  readthedocs/storage/s3_storage.py
Owners: @readthedocs/backend

Docs: mention fine-grained personal access token for GitHub (#12074)
  docs/user/guides/private-python-packages.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Pin django-csp to 3.8
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Updates from review
  docs/dev/aws-temporary-credentials.rst
  docs/dev/settings.rst
  readthedocs/api/v2/views/model_views.py
  readthedocs/aws/__init__.py
  readthedocs/aws/security_token_service.py
  readthedocs/aws/tests/__init__.py
  readthedocs/aws/tests/test_security_token_service.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/settings/base.py
  readthedocs/storage/rclone.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Format
  readthedocs/api/v2/views/model_views.py
Owners: @readthedocs/backend

Remove cacheops
  dockerfiles/settings/proxito.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Remove cacheops (#12087)
  dockerfiles/settings/proxito.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Release 12.0.3
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 12.0.3 (#12089)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

New dashboard: remove legacy dashboard
  .circleci/config.yml
  readthedocs/builds/views.py
  readthedocs/core/context_processors.py
  readthedocs/core/middleware.py
  readthedocs/core/notifications.py
  readthedocs/core/views/__init__.py
  readthedocs/organizations/tests/test_filters.py
  readthedocs/organizations/views/private.py
  readthedocs/organizations/views/public.py
  readthedocs/projects/forms.py
  readthedocs/projects/notifications.py
  readthedocs/projects/urls/private.py
  readthedocs/projects/urls/public.py
  readthedocs/projects/views/private.py
  readthedocs/projects/views/public.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/rtd_tests/tests/test_project_views.py
  readthedocs/settings/base.py
  tox.ini
Owners: @readthedocs/backend

`ProjectDetailViewBase` needs `_get_versions`
  readthedocs/projects/views/public.py
Owners: @readthedocs/backend

Small updates to `BuildList`
  readthedocs/builds/views.py
Owners: @readthedocs/backend

Test: remove POST to `/projects/<slug>/builds/`
  readthedocs/rtd_tests/tests/test_views.py
Owners: @readthedocs/backend

Use exttheme only if it's installed
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Requirements: pin newrelic
  requirements/deploy.in
  requirements/deploy.txt
Owners: @readthedocs/backend

Requirements: pin newrelic
  requirements/deploy.in
  requirements/deploy.txt
Owners: @readthedocs/backend

Update readthedocs/projects/urls/private.py
  readthedocs/projects/urls/private.py
Owners: @readthedocs/backend

Requirements: pin newrelic (#12092)
  requirements/deploy.in
  requirements/deploy.txt
Owners: @readthedocs/backend

Requirements: pin newrelic
  requirements/deploy.in
  requirements/deploy.txt
Owners: @readthedocs/backend

Use scoped credentials for build_tools too
  readthedocs/api/v2/views/model_views.py
  readthedocs/aws/security_token_service.py
  readthedocs/aws/tests/test_security_token_service.py
  readthedocs/doc_builder/director.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/storage.py
  readthedocs/projects/tests/mockers.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Tests
  readthedocs/aws/security_token_service.py
  readthedocs/aws/tests/test_security_token_service.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Remove old analytics fields
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Don't set secret key on builders
  dockerfiles/settings/build.py
Owners: @readthedocs/backend

Docs: document how to change the version slug
  docs/user/faq.rst
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Remove feature flag
  readthedocs/builds/forms.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_build_forms.py
Owners: @readthedocs/backend

Fix link
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Updates from review
  readthedocs/oauth/models.py
  readthedocs/oauth/services/githubapp.py
Owners: @readthedocs/backend

Group by installations on sync
  readthedocs/oauth/services/githubapp.py
Owners: @readthedocs/backend

Use django-coverage-plugin to check templates
  .coveragerc
  readthedocs/settings/test.py
  requirements/testing.in
  requirements/testing.txt
Owners: @readthedocs/backend

Don't set secret key on builders (#12095)
  dockerfiles/settings/build.py
Owners: @readthedocs/backend

Updates from review
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Version: document how to change the version slug and expose it to everyone (#12096)
  docs/user/faq.rst
  docs/user/versions.rst
  readthedocs/builds/forms.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_build_forms.py
Owners: @readthedocs/advocacy, @readthedocs/backend

VCS: pass a version object to git provider
  readthedocs/doc_builder/director.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/rtd_tests/tests/test_backend.py
  readthedocs/rtd_tests/utils.py
  readthedocs/vcs_support/backends/git.py
  readthedocs/vcs_support/base.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade to Django 5.x
  readthedocs/builds/models.py
  readthedocs/oauth/models.py
  requirements/pip.in
  requirements/pip.txt
Owners: @readthedocs/backend

pre-commit
  readthedocs/builds/models.py
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Comment
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend
