Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Remove unrelated change
  readthedocs/search/api/v3/executor.py
Owners: @readthedocs/backend

Remove unrelated change (#11704)
  readthedocs/search/api/v3/executor.py
Owners: @readthedocs/backend

Clean up Addons & Flyout menu docs
  docs/user/_static/images/flyout-open.png
  docs/user/addons.rst
  docs/user/doc-diff.rst
  docs/user/flyout-menu.rst
  docs/user/glossary.rst
  docs/user/img/addons-docdiff.gif
  docs/user/index.rst
  docs/user/pull-requests.rst
Owners: @readthedocs/advocacy

Clean up front page copy
  docs/user/index.rst
Owners: @readthedocs/advocacy

Release 11.11.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.11.0 (#11708)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

File indexers: correctly get page content from PR previews
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/search/parsers.py
Owners: @readthedocs/backend

File indexers: correctly get page content from PR previews
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/search/parsers.py
Owners: @readthedocs/backend

File indexers: correctly get page content from PR previews
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/search/parsers.py
Owners: @readthedocs/backend

File indexers: correctly get page content from PR previews (#11709)
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/search/parsers.py
Owners: @readthedocs/backend

Build: allow partial override of build steps
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/models.py
  readthedocs/config/notifications.py
  readthedocs/core/utils/objects.py
  readthedocs/doc_builder/director.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Docs: update sphinx
  requirements/docs.in
  requirements/docs.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Clarify support for an optional v-prefix in branch and tag names
  docs/user/versions.rst
  readthedocs/builds/constants.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Add info about v-prefix in automation rules docs
  docs/user/automation-rules.rst
Owners: @readthedocs/advocacy

Fix tests
  readthedocs/embed/v3/tests/test_external_pages.py
  readthedocs/embed/v3/tests/test_internal_pages.py
  readthedocs/embed/v3/tests/utils.py
  tox.embedapi.ini
Owners: @readthedocs/backend

Docs: update sphinx (#11711)
  readthedocs/embed/v3/tests/test_external_pages.py
  readthedocs/embed/v3/tests/test_internal_pages.py
  readthedocs/embed/v3/tests/utils.py
  requirements/docs.in
  requirements/docs.txt
  requirements/testing.txt
  tox.embedapi.ini
Owners: @readthedocs/backend

Fix tests
  readthedocs/config/tests/test_config.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Update schema
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/backend

Tests
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

Tests
  readthedocs/config/tests/test_config.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Test empty overrides
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Maybe is tox?
  .circleci/config.yml
Owners: @readthedocs/backend

Clarify support for an optional `v`-prefix in branch and tag names (#11712)
  docs/user/automation-rules.rst
  docs/user/versions.rst
  readthedocs/builds/constants.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Updates from review
  readthedocs/config/models.py
  readthedocs/config/tests/test_config.py
  readthedocs/core/utils/objects.py
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/backend

Updates from review
  readthedocs/core/unresolver.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Owners: @readthedocs/backend

Unresolver: allow a full URL when un-resolving a domain (#11632)
  readthedocs/core/unresolver.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade .circleci/config.yml
  .circleci/config.yml
Owners: @readthedocs/backend

More upgrades
  .circleci/config.yml
Owners: @readthedocs/backend

Docs: update Sphinx instructions to override search (#11702)
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Update docs/user/flyout-menu.rst
  docs/user/flyout-menu.rst
Owners: @readthedocs/advocacy

Clean up Addons & Flyout menu docs (#11706)
  docs/user/_static/images/flyout-open.png
  docs/user/addons.rst
  docs/user/doc-diff.rst
  docs/user/flyout-menu.rst
  docs/user/glossary.rst
  docs/user/img/addons-docdiff.gif
  docs/user/index.rst
  docs/user/pull-requests.rst
Owners: @readthedocs/advocacy

Docs: document 2fa
  docs/user/guides/management/2fa.rst
  docs/user/guides/management/index.rst
Owners: @readthedocs/advocacy

Admin: Make large inlines collapse by default
  readthedocs/builds/admin.py
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

Addons: allow users to show/hide notifications on latest/non-stable
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0128_addons_notifications.py
  readthedocs/projects/migrations/0129_addons_remove_old_fields.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Update allauth
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Remove unused notification
  readthedocs/notifications/migrations/0004_remove_unused_notification.py
  readthedocs/oauth/notifications.py
Owners: @readthedocs/backend

We are no longer using this
  readthedocs/oauth/notifications.py
Owners: @readthedocs/backend

Unresolver: allow a full URL when un-resolving a domain (#11632)
  readthedocs/core/unresolver.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Owners: @readthedocs/backend

Unresolver: allow a full URL when un-resolving a domain (#11632)
  readthedocs/core/unresolver.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Owners: @readthedocs/backend
