Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Tasks: make user required
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

docs: design doc for file tree diff base resolution
  docs/dev/design/file-tree-diff-base-resolution.rst
Owners: @readthedocs/advocacy

filetreediff: use PR base commit from webhook for refresh check
  readthedocs/api/v2/views/integrations.py
  readthedocs/builds/migrations/0073_version_base_identifier.py
  readthedocs/builds/models.py
  readthedocs/core/views/hooks.py
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Build: define `READTHEDOCS_VIRTUALENV_PATH` when building with `uv` (#13169)
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Getting started with AI
  docs/user/index.rst
  docs/user/tutorial/docusaurus-with-ai.rst
Owners: @readthedocs/advocacy

Remove django-annoying (#13170)
  readthedocs/core/migrations/0001_initial.py
  readthedocs/core/migrations/0002_make_userprofile_user_a_onetoonefield.py
  readthedocs/core/migrations/0003_add_banned_status.py
  readthedocs/core/migrations/0004_ad-opt-out.py
  readthedocs/core/migrations/0005_migrate-old-passwords.py
  readthedocs/core/migrations/0006_remove_userprofile_allow_email.py
  readthedocs/core/migrations/0007_historicaluser.py
  readthedocs/core/migrations/0008_add_extra_history_fields.py
  readthedocs/core/migrations/0009_historicaluserprofile.py
  readthedocs/core/migrations/0010_add_time_fields.py
  readthedocs/core/migrations/0011_alter_historicaluser_first_name.py
  readthedocs/core/migrations/0012_add_newsletter_setting.py
  readthedocs/core/migrations/0013_add_optout_email_config_file_deprecation.py
  readthedocs/core/migrations/0014_optout_email_build_image_deprecation.py
  readthedocs/core/migrations/0015_remove_email_options.py
  readthedocs/core/migrations/0016_update_dj_simple_history.py
  readthedocs/core/migrations/0017_remove_unused_indexes.py
  readthedocs/core/migrations/0018_add_profile_theme.py
  readthedocs/core/migrations/0019_create_missing_user_profiles.py
  readthedocs/core/migrations/0020_alter_userprofile_user.py
  readthedocs/core/migrations/0021_create_missing_user_profiles.py
  readthedocs/settings/base.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Remove replaces field from squashed migration
  readthedocs/core/migrations/0001_squashed.py
Owners: @readthedocs/backend

Take into account baseurl and canonical
  docs/user/tutorial/docusaurus-with-ai.rst
Owners: @readthedocs/advocacy

GitHub connection required
  docs/user/tutorial/docusaurus-with-ai.rst
Owners: @readthedocs/advocacy

Apply suggestion from @humitos
  docs/user/tutorial/docusaurus-with-ai.rst
Owners: @readthedocs/advocacy

Remove irrelevant section
  docs/user/tutorial/docusaurus-with-ai.rst
Owners: @readthedocs/advocacy

Apply suggestion from @humitos
  docs/user/tutorial/docusaurus-with-ai.rst
Owners: @readthedocs/advocacy

Remove explanation about what it did
  docs/user/tutorial/docusaurus-with-ai.rst
Owners: @readthedocs/advocacy

Use Ubuntu 26.04 and Python 3.14 (#13027)
  .circleci/config.yml
  dockerfiles/Dockerfile
  docs/dev/install.rst
  docs/dev/tests.rst
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
  tox.ini
Owners: @readthedocs/backend, @readthedocs/advocacy

Remove replaces field from squashed migration (#13174)
  readthedocs/core/migrations/0001_squashed.py
Owners: @readthedocs/backend

Remove unnecessary parentheses
  readthedocs/api/v2/serializers.py
  readthedocs/api/v2/views/integrations.py
  readthedocs/builds/tasks.py
  readthedocs/core/apps.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/environments.py
  readthedocs/integrations/models.py
  readthedocs/oauth/migrations/0003_move_github.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/organizations/templatetags/organizations.py
  readthedocs/projects/forms.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/views/public.py
  readthedocs/search/api/pagination.py
Owners: @readthedocs/backend

Fix URLs files with the new pre-commit versions
  readthedocs/proxito/urls.py
  readthedocs/urls.py
Owners: @readthedocs/backend

Update common/ (#13175)
  readthedocs/api/v2/serializers.py
  readthedocs/api/v2/views/integrations.py
  readthedocs/builds/tasks.py
  readthedocs/core/apps.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/environments.py
  readthedocs/integrations/models.py
  readthedocs/oauth/migrations/0003_move_github.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/organizations/templatetags/organizations.py
  readthedocs/projects/forms.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/urls.py
  readthedocs/search/api/pagination.py
  readthedocs/urls.py
Owners: @readthedocs/backend

Tasks: make user required (#13172)
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Release 2026.07.07
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Test
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Builds: use `filter=fully_trusted` to avoid issues when un-tar doctools
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Builds: use `filter=fully_trusted` to avoid issues when un-tar doctools
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Builds: use `filter=fully_trusted` to avoid issues when un-tar doctools
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Direct artifacts upload
  readthedocs/api/v2/views/model_views.py
  readthedocs/aws/security_token_service.py
  readthedocs/builds/migrations/0075_build_is_uploaded.py
  readthedocs/builds/models.py
  readthedocs/projects/tasks/storage.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/settings/test.py
  readthedocs/storage/s3_storage.py
  readthedocs/upload/__init__.py
  readthedocs/upload/api/serializers.py
  readthedocs/upload/api/urls.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tasks.py
  readthedocs/urls.py
  upload.sh
Owners: @readthedocs/backend

Feature flag
  readthedocs/builds/migrations/0075_build_is_uploaded.py
  readthedocs/projects/models.py
  readthedocs/upload/api/views.py
Owners: @readthedocs/backend

Get it working
  readthedocs/projects/tasks/storage.py
  readthedocs/upload/tasks.py
Owners: @readthedocs/backend

Builds: use `filter=fully_trusted` to avoid issues when un-tar doctools (#13177)
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Small updates
  readthedocs/projects/migrations/0166_alias_allow_slashes.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/test_subproject_aliases.py
Owners: @readthedocs/backend

Potential fix for pull request finding
  readthedocs/core/unresolver.py
Owners: @readthedocs/backend

Webs: use gunicorn preload option
  readthedocs/gunicorn_conf.py
Owners: @readthedocs/backend

Updates
  readthedocs/core/unresolver.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Owners: @readthedocs/backend

Add Luxembourgish to supported project languages
  readthedocs/projects/constants.py
Owners: @readthedocs/backend

Add migration for Luxembourgish language support
  readthedocs/projects/migrations/0166_alter_historicalproject_language_and_more.py
Owners: @readthedocs/backend

Format Luxembourgish language migration
  readthedocs/projects/migrations/0166_alter_historicalproject_language_and_more.py
Owners: @readthedocs/backend

Implement Safe migration for historical project
  readthedocs/projects/migrations/0166_alter_historicalproject_language_and_more.py
Owners: @readthedocs/backend

Fix migration formatting
  readthedocs/projects/migrations/0166_alter_historicalproject_language_and_more.py
Owners: @readthedocs/backend

Fix migration whitespace formatting
  readthedocs/projects/migrations/0166_alter_historicalproject_language_and_more.py
Owners: @readthedocs/backend

Fix migration formatting
  readthedocs/projects/migrations/0166_alter_historicalproject_language_and_more.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
