Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Requirements: update `newrelic` (#10525)
  requirements/deploy.in
  requirements/deploy.txt
Owners: @readthedocs/backend

Docs: Fix pinned term (#10545)
  docs/user/guides/reproducible-builds.rst
Owners: @readthedocs/advocacy

Build: fail builds if there is no `index.html` in the output dir
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

API: add `?full_name=` icontains filter on RemoteRepository
  readthedocs/api/v3/filters.py
Owners: @readthedocs/backend

API: add test case for `?full_name=` filter
  readthedocs/api/v3/tests/test_remoterepositories.py
Owners: @readthedocs/backend

Docs: update APIv3 query parameters to add `full_name`
  docs/user/api/v3.rst
Owners: @readthedocs/advocacy

Add an initial doclist extension.
  docs/_ext/doclist.py
  docs/conf.py
  docs/user/tutorials/index.rst
Owners: @readthedocs/advocacy

Docs: mention how to use `inv docker.compilebuildtool`
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Build: use a setting to define the Docker image for the clone step
  readthedocs/doc_builder/director.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Update readthedocs/settings/base.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Invoke: refactor Docker settings/constants
  readthedocs/builds/_docker.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Update docs/dev/install.rst
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Build: use a setting to define the Docker image for the clone step (#10555)
  readthedocs/doc_builder/director.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

API: add `?full_name=` icontains filter on RemoteRepository (#10551)
  docs/user/api/v3.rst
  readthedocs/api/v3/filters.py
  readthedocs/api/v3/tests/test_remoterepositories.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Build: use `only-if-needed` pip's strategy when installing package
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Development: install Docker and Docker Compose with official guides
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Mention gVisor in the same section
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Docs: do not mention `python.system_packages`
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Change build filter field name
  readthedocs/builds/filters.py
Owners: @readthedocs/backend

Make pylint happy
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Add missing Version.external_version_name (#10529)
  README.rst
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Fix docker setting
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Fix docker setting (#10565)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Typo
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Build: use `only-if-needed` pip's strategy when installing package (#10560)
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Rename constant file with a better name
  readthedocs/builds/constants_docker.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Development: install Docker and Docker Compose with official guides (#10561)
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Fix bug with build filter (#10528)
  readthedocs/builds/filters.py
Owners: @readthedocs/backend

Module name fix
  readthedocs/config/config.py
Owners: @readthedocs/backend

Telemetry: check for Sphinx config before use it (#10546)
  readthedocs/telemetry/collectors.py
Owners: @readthedocs/backend

Docs: mention how to use `inv docker.compilebuildtool` (#10554)
  docs/dev/install.rst
  readthedocs/builds/constants_docker.py
  readthedocs/config/config.py
  readthedocs/settings/base.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Release 9.16.2
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.mo
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.mo
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 9.16.2 (#10566)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.mo
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.mo
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Move sphinx conventions to the generic parser
  docs/dev/search-integration.rst
  readthedocs/search/parsers.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Format
  readthedocs/search/parsers.py
Owners: @readthedocs/backend

Add redirect to ``about.readthedocs.com`` for logged out users
  readthedocs/core/views/__init__.py
Owners: @readthedocs/backend

Migrate new tests
  readthedocs/api/v3/tests/test_builds.py
  readthedocs/embed/v3/tests/test_access.py
  readthedocs/organizations/tests/test_views.py
  readthedocs/rtd_tests/tests/test_core_utils.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

Fix linter
  readthedocs/organizations/views/private.py
  readthedocs/projects/views/private.py
  readthedocs/subscriptions/managers.py
  readthedocs/subscriptions/models.py
  readthedocs/subscriptions/views.py
Owners: @readthedocs/backend

Build: add `mambaforge-22.09` as newer Python tool
  docs/user/config-file/v2.rst
  docs/user/guides/conda.rst
  readthedocs/builds/constants_docker.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/advocacy, @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
