Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Build: update all `build.tools` and add latest versions
  docs/user/config-file/v2.rst
  readthedocs/builds/constants_docker.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/advocacy, @readthedocs/backend

Uppercase G for Gold membership in subscription_detail.html
  readthedocs/gold/templates/gold/subscription_detail.html
Owners: @readthedocs/frontend

Unbreak strings to proper extraction for translation
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Unbreak strings to proper extraction for translation (#11389)
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Add migrations
  readthedocs/oauth/migrations/0016_deprecate_old_vcs.py
  readthedocs/projects/migrations/0123_deprecate_old_vcs.py
Owners: @readthedocs/backend

Update readthedocs/projects/constants.py
  readthedocs/projects/constants.py
Owners: @readthedocs/backend

Build: add the version of miniconda in the `build.tools` option
  docs/user/config-file/v2.rst
  readthedocs/builds/constants_docker.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/advocacy, @readthedocs/backend

Test: update latest version
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

VCS: remove code for old VCS support (#11377)
  README.rst
  docs/user/guides/setup/git-repo-manual.rst
  docs/user/intro/import-guide.rst
  docs/user/versions.rst
  readthedocs/api/v3/tests/test_projects.py
  readthedocs/builds/models.py
  readthedocs/doc_builder/director.py
  readthedocs/oauth/migrations/0016_deprecate_old_vcs.py
  readthedocs/oauth/models.py
  readthedocs/projects/constants.py
  readthedocs/projects/migrations/0123_deprecate_old_vcs.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/mixins.py
  readthedocs/rtd_tests/tests/projects/test_version_sorting.py
  readthedocs/rtd_tests/tests/test_backend.py
  readthedocs/rtd_tests/tests/test_backend_svn.py
  readthedocs/rtd_tests/tests/test_project_forms.py
  readthedocs/rtd_tests/tests/test_version_commit_name.py
  readthedocs/rtd_tests/utils.py
  readthedocs/settings/docker_compose.py
  readthedocs/vcs_support/backends/__init__.py
  readthedocs/vcs_support/backends/bzr.py
  readthedocs/vcs_support/backends/git.py
  readthedocs/vcs_support/backends/hg.py
  readthedocs/vcs_support/backends/svn.py
  readthedocs/vcs_support/base.py
  requirements/testing.in
  requirements/testing.txt
Owners: @readthedocs/backend, @readthedocs/advocacy

Add issue to track the TODO
  readthedocs/projects/constants.py
Owners: @readthedocs/backend

Templates: pass `ADMIN_URL` into context
  readthedocs/core/context_processors.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Test case updated
  readthedocs/rtd_tests/tests/test_notifications.py
Owners: @readthedocs/backend

Minor refactor
  docs/user/config-file/v2.rst
  docs/user/guides/private-python-packages.rst
Owners: @readthedocs/advocacy

GitHub with uppercase H in onboard_import.html
  readthedocs/templates/projects/onboard_import.html
Owners: @readthedocs/frontend

Add Unknown for missing VCS class
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Add Unknown for missing VCS class
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Add Unknown for missing VCS class
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix my PR
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix my PR
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix my PR
  readthedocs/projects/models.py
Owners: @readthedocs/backend

VCS: check for the class before using it
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix lint
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Settings: revert `USE_PROMOS` setting
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Build: update `asdf` and its plugins so we can build latest versions
  scripts/compile_version_upload_s3.sh
Owners: @readthedocs/backend

Build: update `asdf` and its plugins so we can build latest versions (#11401)
  scripts/compile_version_upload_s3.sh
Owners: @readthedocs/backend

Add Unknown for missing VCS class (#11398)
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Oauth: Fix GitLab access token URL
  readthedocs/oauth/services/base.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Settings: revert `USE_PROMOS` setting (#11400)
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

GitHub with uppercase H in onboard_import.html (#11396)
  readthedocs/templates/projects/onboard_import.html
Owners: @readthedocs/frontend

Uppercase G for Gold membership in subscription_detail.html (#11388)
  readthedocs/gold/templates/gold/subscription_detail.html
Owners: @readthedocs/frontend

Fix linter
  readthedocs/oauth/services/base.py
Owners: @readthedocs/backend

Oauth: Fix GitLab access token URL (#11402)
  readthedocs/oauth/services/base.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Oauth: Fix GitLab access token URL (#11402)
  readthedocs/oauth/services/base.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Oauth: Fix GitLab access token URL (#11402)
  readthedocs/oauth/services/base.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Build: update all `build.tools` and add latest versions (#11386)
  docs/user/config-file/v2.rst
  readthedocs/builds/constants_docker.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/advocacy, @readthedocs/backend

Templates: pass `ADMIN_URL` into context (#11394)
  readthedocs/core/context_processors.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Migration
  readthedocs/projects/migrations/0124_remove_zh_locale.py
Owners: @readthedocs/backend

Translations: disable `zh` code (#11385)
  readthedocs/projects/constants.py
  readthedocs/projects/migrations/0124_remove_zh_locale.py
Owners: @readthedocs/backend

Docs: update "Example projects" a little
  docs/user/examples.rst
Owners: @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
