Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

projects: surface options_base_version in AddonsConfigForm
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0164_options_base_version_help_text.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

docs: design doc for migrating PR status to the GitHub Checks API
  docs/dev/design/github-checks-api.rst
Owners: @readthedocs/advocacy

builds: add visual diff link to build overview PR comment
  readthedocs/builds/tests/test_tasks.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

emails: use instance production_uri for account settings link
  readthedocs/templates/projects/notifications/deprecated_build_image_used_email.html
  readthedocs/templates/projects/notifications/deprecated_build_image_used_email.txt
  readthedocs/templates/projects/notifications/deprecated_config_file_used_email.html
  readthedocs/templates/projects/notifications/deprecated_config_file_used_email.txt
Owners: @readthedocs/frontend, @readthedocs/backend

templates: unify Business upsell CTAs on about.readthedocs.com
  readthedocs/templates/projects/notifications/new_dashboard_email.html
  readthedocs/templates/projects/notifications/new_dashboard_email.txt
  readthedocs/templates/projects/project_advertising.html
  readthedocs/templates/projects/project_import.html
Owners: @readthedocs/frontend, @readthedocs/backend

docs: avoid "dogfood" term flagged by vale
  docs/dev/design/github-checks-api.rst
Owners: @readthedocs/advocacy

docs: fix vale spelling errors in code style guide
  docs/dev/code-style-guide.rst
Owners: @readthedocs/advocacy

docs: link team page to unified support docs instead of org support form
  docs/user/team.rst
Owners: @readthedocs/advocacy

docs: explain why config paths are relative to repo root
  docs/user/guides/setup/monorepo.rst
Owners: @readthedocs/advocacy

audit: move project-delete audit log to pre_delete signal
  readthedocs/core/tasks.py
  readthedocs/projects/signals.py
Owners: @readthedocs/backend

tests: fix CI failures for build parity fields
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

builds: distinct commit status for skipped (exit code 183) builds
  readthedocs/builds/constants.py
  readthedocs/builds/tasks.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

builds: add GitHub App + GitLab coverage for BUILD_STATUS_SKIPPED
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

tests: strengthen API v3 filter assertions and drop unused imports
  readthedocs/api/v3/tests/test_filters.py
Owners: @readthedocs/backend

audit: extract get_audit_context helper for project deletion signal
  readthedocs/core/history.py
  readthedocs/projects/signals.py
Owners: @readthedocs/backend

builds: report cancelled builds as cancelled, not failed
  readthedocs/builds/constants.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

audit: skip logging when no actor is attributable
  readthedocs/core/history.py
  readthedocs/projects/signals.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

builds: use "uv run mkdocs" when building under UvEnv
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

emails: migrate base email template to MJML
  emails/.gitignore
  emails/README.md
  emails/build.config.json
  emails/build.js
  emails/package-lock.json
  emails/package.json
  emails/preview/fixtures.json
  emails/preview/render.py
  emails/preview/screenshot.js
  emails/src/core/email/base.mjml
  readthedocs/templates/core/email/base.html
Owners: @readthedocs/backend, @readthedocs/frontend

settings: fix CSP warnings in local dev
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

addons: run proselint on builds, surface warnings via addons API
  docs/dev/design/proselint-overview.png
  docs/dev/design/proselint-tooltip.png
  docs/dev/design/proselint.rst
  readthedocs/projects/constants.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0164_addons_proselint_enabled.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/search.py
  readthedocs/proselint/__init__.py
  readthedocs/proselint/dataclasses.py
  readthedocs/proselint/indexer.py
  readthedocs/proselint/tests/__init__.py
  readthedocs/proselint/tests/test_indexer.py
  readthedocs/proxito/views/hosting.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  requirements/pip.in
Owners: @readthedocs/advocacy, @readthedocs/backend

Build: do not update `asdf` before compiling the build tools
  scripts/compile_version_upload_s3.sh
Owners: @readthedocs/backend

Build: do not update `asdf` before compiling the build tools (#12998)
  scripts/compile_version_upload_s3.sh
Owners: @readthedocs/backend

config: validate that elements of `extra_requirements` are strings (#12981)
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

tests: fix migration conflict and webhook trigger_build call order
  readthedocs/builds/migrations/0072_version_ordering_ascending.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
Owners: @readthedocs/backend

API: allow ordering by verbose name length
  readthedocs/api/v3/filters.py
Owners: @readthedocs/backend

builds: use `uv run mkdocs` when building under UvEnv (#12997)
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

config: validate sphinx.configuration must be named conf.py (#12980)
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/notifications.py
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

ci: harden workflows against zizmor findings
  .github/workflows/main.yml
  .github/workflows/pip-tools.yaml
Owners: @readthedocs/backend

ci: bump codecov orb to v5.4.3 and drop unused node orb
  .circleci/config.yml
Owners: @readthedocs/backend

Add profile field for dashboard theme
  readthedocs/core/migrations/0018_add_profile_theme.py
  readthedocs/core/models.py
Owners: @readthedocs/backend

Fix observations flagged by Claude in querysets
  readthedocs/core/permissions.py
  readthedocs/organizations/signals.py
Owners: @readthedocs/backend

Build: fix delete_old_build_objects task
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

docs: use anchor for Sign up CTA to match Learn more
  docs/_templates/breadcrumbs.html
Owners: @readthedocs/advocacy

docs: use anchor for Sign up CTA to match Learn more (#13005)
  docs/_templates/breadcrumbs.html
Owners: @readthedocs/advocacy

Fix YAML in uv examples
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

builds: lead PR comment with build status, hide commit details, button preview link
  readthedocs/builds/reporting.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Release 2026.04.29
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

projects: allow slashes in subproject aliases
  readthedocs/core/unresolver.py
  readthedocs/projects/migrations/0164_alias_allow_slashes.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_models.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
