Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

docs: typo fix on "Custom and built-in redirects" page (#10651)
  docs/user/user-defined-redirects.rst
Owners: @readthedocs/advocacy

Build: remove `using_rtd_theme` variable
  readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl
Owners: @readthedocs/backend

Build: remove `using_rtd_theme` variable
  readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl
Owners: @readthedocs/backend

Build: remove `using_rtd_theme` variable
  readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl
Owners: @readthedocs/backend

Build: remove `using_rtd_theme` variable (#10653)
  readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl
Owners: @readthedocs/backend

Feature flag: remove UPDATE_CONDA_STARTUP (#10494)
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Stop creating a conf.py automatically and doing magic around README handling (#5609)
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/base.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/projects/utils.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

Deprecation: remove "use system packages" (`python.system_packages` config key and UI checkbox) (#10562)
  docs/user/api/v3.rst
  docs/user/config-file/v1.rst
  docs/user/config-file/v2.rst
  readthedocs/api/v2/serializers.py
  readthedocs/config/config.py
  readthedocs/config/models.py
  readthedocs/config/tests/test_config.py
  readthedocs/doc_builder/config.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/fixtures/test_data.json
  readthedocs/projects/forms.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
  readthedocs/rtd_tests/fixtures/spec/v2/schema.yml
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_build_config.py
  readthedocs/rtd_tests/tests/test_config_integration.py
  readthedocs/rtd_tests/tests/test_doc_building.py
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/advocacy, @readthedocs/backend, @readthedocs/frontend

Resolve merge conflict
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Solve merge conflict
  readthedocs/rtd_tests/tests/test_backend.py
Owners: @readthedocs/backend

Move code to simplify diff
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Remove double space
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Feature flag: remove `DONT_SHALLOW_CLONE` (#10588)
  readthedocs/projects/models.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Update all dependencies
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Tests: Update Sphinx test matrix for EmbedAPI
  tox.embedapi.ini
Owners: @readthedocs/backend

Check for created subscriptions
  readthedocs/organizations/models.py
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/tests/test_event_handlers.py
Owners: @readthedocs/backend

Run without migrations to speed things up
  tox.embedapi.ini
Owners: @readthedocs/backend

Update tests to work with Sphinx 7.x
  readthedocs/embed/v3/tests/test_external_pages.py
  readthedocs/embed/v3/tests/test_internal_pages.py
  readthedocs/embed/v3/tests/utils.py
Owners: @readthedocs/backend

Lint
  readthedocs/embed/v3/tests/test_external_pages.py
  readthedocs/embed/v3/tests/test_internal_pages.py
  readthedocs/embed/v3/tests/utils.py
Owners: @readthedocs/backend

Make explicit it requires Tox<4
  .circleci/config.yml
  tox.embedapi.ini
Owners: @readthedocs/backend

Upgrade packages, again
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Set `SECURE_PROXY_SSL_HEADER` when using docker compose
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Tests: Update Sphinx test matrix for EmbedAPI (#10655)
  .circleci/config.yml
  readthedocs/embed/v3/tests/test_external_pages.py
  readthedocs/embed/v3/tests/test_internal_pages.py
  readthedocs/embed/v3/tests/utils.py
  tox.embedapi.ini
Owners: @readthedocs/backend

Pin Sphinx because of sphinx-notfound-page
  requirements/docs.in
Owners: @readthedocs/backend

Pin sphinx
  requirements/docs.txt
Owners: @readthedocs/backend

CI: Add requirements/testing.txt to pre-commit cache key
  .circleci/config.yml
Owners: @readthedocs/backend

CI: Add requirements/testing.txt to pre-commit cache key (#10658)
  .circleci/config.yml
Owners: @readthedocs/backend

Git: simplify submodule checks (#10635)
  readthedocs/projects/exceptions.py
  readthedocs/projects/tests/mockers.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/projects/validators.py
  readthedocs/rtd_tests/tests/test_backend.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Update readthedocs/settings/docker_compose.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Proxito: Don't hit storage for 404s (#10617)
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Set `SECURE_PROXY_SSL_HEADER` when using docker compose (#10657)
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Always use the new implementation
  readthedocs/core/unresolver.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/proxito/tests/test_custom_path_prefixes.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/proxito/tests/test_middleware.py
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/proxito/tests/test_redirects.py
  readthedocs/proxito/tests/test_urls.py
Owners: @readthedocs/backend

Remove old code
  readthedocs/core/resolver.py
  readthedocs/projects/models.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/decorators.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
  readthedocs/proxito/views/utils.py
Owners: @readthedocs/backend

Remove feature
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/proxito/tests/test_middleware.py
  readthedocs/proxito/tests/test_redirects.py
  readthedocs/proxito/tests/test_urls.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

Move new implementation (ServeDocs view)
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Rename path -> proxito_path
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Move new implementation up (ServeError404 view)
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Add tests from https://github.com/readthedocs/readthedocs.org/pull/10182
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend
