Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Merge commit from fork
  readthedocs/core/adapters.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/core/adapters.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Add vitepress doc page (#11944)
  docs/user/intro/doctools.rst
  docs/user/intro/vitepress.rst
Owners: @readthedocs/advocacy

Allow users to change version slug
  readthedocs/builds/forms.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Fix order
  readthedocs/builds/forms.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Better version of what I did
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Update docs/user/build-customization.rst
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

kraken-logon
  .github/kraken-logon
Owners: @readthedocs/backend

Add faster build router
  readthedocs/builds/tasks.py
  readthedocs/subscriptions/constants.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Docs: explains flyout position
  docs/user/flyout-menu.rst
Owners: @readthedocs/advocacy

Version sync: restore verbose_name for stable version (#11941)
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Don't set a project-language on RTD links.
  .github/workflows/pr-preview-links.yaml
Owners: @readthedocs/backend

Delete old slug
  readthedocs/builds/forms.py
Owners: @readthedocs/backend

Version: use field validator instead of custom field for slug
  readthedocs/builds/migrations/0001_initial.py
  readthedocs/builds/migrations/0005_remove-version-alias.py
  readthedocs/builds/models.py
  readthedocs/builds/version_slug.py
  readthedocs/rtd_tests/tests/test_version_slug.py
Owners: @readthedocs/backend

Migration
  readthedocs/builds/migrations/0060_alter_version_slug.py
Owners: @readthedocs/backend

Mark as safe
  readthedocs/builds/migrations/0060_alter_version_slug.py
Owners: @readthedocs/backend

More safe
  readthedocs/builds/migrations/0001_initial.py
  readthedocs/builds/migrations/0005_remove-version-alias.py
Owners: @readthedocs/backend

Check for unique slug
  readthedocs/builds/forms.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Just check once
  readthedocs/builds/forms.py
Owners: @readthedocs/backend

Use html5 pattern?
  readthedocs/builds/forms.py
Owners: @readthedocs/backend

Format
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Add docs commit
  docs/conf.py
Owners: @readthedocs/advocacy

Fix 404 pages?
  docs/conf.py
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/user/flyout-menu.rst
Owners: @readthedocs/advocacy

Addons: expose `readthedocs.resolver.filename` in the API response (#11940)
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Release 11.19.2
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.19.2 (#11959)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Version: use field validator instead of custom field for slug (#11957)
  readthedocs/builds/migrations/0001_initial.py
  readthedocs/builds/migrations/0005_remove-version-alias.py
  readthedocs/builds/migrations/0060_alter_version_slug.py
  readthedocs/builds/models.py
  readthedocs/builds/version_slug.py
  readthedocs/rtd_tests/tests/test_version_slug.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/builds/forms.py
  readthedocs/rtd_tests/tests/test_build_forms.py
Owners: @readthedocs/backend

Dup
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Tests
  readthedocs/rtd_tests/tests/test_build_forms.py
Owners: @readthedocs/backend

Fixes
  readthedocs/builds/forms.py
  readthedocs/rtd_tests/tests/test_build_forms.py
Owners: @readthedocs/backend

Final updates
  readthedocs/builds/forms.py
Owners: @readthedocs/backend

Delete tests
  readthedocs/embed/tests/data/sphinx/latest/index.html
  readthedocs/embed/tests/data/sphinx/latest/index.json
  readthedocs/embed/tests/data/sphinx/latest/page-i-need-secrets-or-environment-variables-in-my-build.html
  readthedocs/embed/tests/data/sphinx/latest/page-sub-title-one.html
  readthedocs/embed/tests/data/sphinx/latest/page-subsub-title.html
  readthedocs/embed/tests/data/sphinx/latest/page-title-one.html
  readthedocs/embed/tests/data/sphinx/latest/page.html
  readthedocs/embed/tests/data/sphinx/latest/page.json
  readthedocs/embed/tests/test_api.py
Owners: @readthedocs/frontend, @readthedocs/backend

Update migration
  readthedocs/projects/migrations/0144_alter_importedfile_id.py
Owners: @readthedocs/backend

Docs: explains flyout position (#11954)
  docs/user/flyout-menu.rst
Owners: @readthedocs/advocacy

Remove embed API v2 code (#11945)
  readthedocs/api/mixins.py
  readthedocs/embed/tests/data/sphinx/latest/index.html
  readthedocs/embed/tests/data/sphinx/latest/index.json
  readthedocs/embed/tests/data/sphinx/latest/page-i-need-secrets-or-environment-variables-in-my-build.html
  readthedocs/embed/tests/data/sphinx/latest/page-sub-title-one.html
  readthedocs/embed/tests/data/sphinx/latest/page-subsub-title.html
  readthedocs/embed/tests/data/sphinx/latest/page-title-one.html
  readthedocs/embed/tests/data/sphinx/latest/page.html
  readthedocs/embed/tests/data/sphinx/latest/page.json
  readthedocs/embed/tests/test_api.py
  readthedocs/embed/v3/views.py
  readthedocs/embed/views.py
Owners: @readthedocs/backend, @readthedocs/frontend

Admin: allow blank field from admin
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Migration for the blank attribute
  readthedocs/projects/migrations/0144_addons_blank_field.py
Owners: @readthedocs/backend
