Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Revise robots.txt with guidelines and more disallowed crawling
  media/robots.txt
Owners: @readthedocs/backend

Fix linting
  media/robots.txt
Owners: @readthedocs/backend

CI: update codecov orb (#13119)
  .circleci/config.yml
Owners: @readthedocs/backend

CI: re-use db between tests
  tox.ini
Owners: @readthedocs/backend

Cache /welcome/ redirect for non-logged-in users
  readthedocs/core/views/__init__.py
Owners: @readthedocs/backend

Add tests for /welcome/ CDN cache headers
  readthedocs/core/tests/test_homepage.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Docs: fix contributing documentation links
  .github/CONTRIBUTING.rst
  .github/no-response.yml
Owners: @readthedocs/backend

Revise robots.txt with guidelines and more disallowed crawling (#13127)
  media/robots.txt
Owners: @readthedocs/backend

Requirements: update if package is older than 14 days (#13121)
  .github/workflows/pip-tools.yaml
  tasks.py
Owners: @readthedocs/backend

Update requirements (14 days)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Update robots.txt with automated access guidelines (#13116)
  readthedocs/templates/robots.txt
Owners: @readthedocs/backend

Make sure the dict contains what we need
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Terminate the instance only once
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Move logic for local development
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Run the worker with nodemon
  dockerfiles/Dockerfile.isolated-builder
Owners: @readthedocs/backend

Updates to remove mentions to ECS
  readthedocs/projects/tasks/isolated_builder.py
Owners: @readthedocs/backend

CI: re-use db between tests (#13128)
  tox.ini
Owners: @readthedocs/backend

llms.txt: allow serving from private version (#13118)
  docs/user/reference/llms-txt.rst
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Docs: fix contributing documentation links (#13132)
  .github/CONTRIBUTING.rst
  .github/no-response.yml
Owners: @readthedocs/backend

Release 2026.06.16
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Design doc: direct upload for artifacts
  docs/dev/design/artifacts-upload.rst
Owners: @readthedocs/advocacy

Updates
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Use django's content_disposition_header utility
  readthedocs/projects/utils.py
  readthedocs/proxito/views/mixins.py
Owners: @readthedocs/backend

Assert attachment Content-Disposition in download tests
  readthedocs/projects/tests/test_views.py
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

More words
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Docs: design proposal for moving heavy proxito redirects to the edge
  docs/dev/design/redirects-at-the-edge.rst
Owners: @readthedocs/advocacy

Redirects: basic implementation for serving forced redirects at the edge
  docs/dev/design/redirects-at-the-edge.rst
  readthedocs/proxito/middleware.py
  readthedocs/redirects/apps.py
  readthedocs/redirects/edge.py
  readthedocs/redirects/edge_cloudflare.py
  readthedocs/redirects/edge_worker.js
  readthedocs/redirects/signals.py
  readthedocs/redirects/tasks.py
  readthedocs/redirects/tests/test_edge.py
  readthedocs/settings/base.py
Owners: @readthedocs/advocacy, @readthedocs/backend, @readthedocs/frontend

Proxito: un-prefix /_/ paths served under a custom path prefix
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend

Proxito: serve multiple projects under one domain by path
  readthedocs/core/unresolver.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Owners: @readthedocs/backend

Redirects: simplify edge implementation after review
  readthedocs/redirects/edge.py
  readthedocs/redirects/signals.py
  readthedocs/redirects/tests/test_edge.py
Owners: @readthedocs/backend

More words
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Link
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Re-order
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Format
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Put some suggestions from Claudia
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Happy?
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

More format
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Keep old version of elasticsearch because tests are failing
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend
