Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Add GITHUB_APP_NAME to context processor
  readthedocs/core/context_processors.py
Owners: @readthedocs/backend

Proxito: return `Cross-Origin-Opener-Policy` header
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend

Avoid breaking change on task signature (#12510)
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Fix SSO queries performance regression (#12509)
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

Avoid breaking change on task signature (#12510)
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Fix SSO queries performance regression (#12509)
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

Use context data instead of one off template tags (#12506)
  readthedocs/core/templatetags/readthedocs/socialaccounts.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Remove other use of passing GITHUB_APP_NAME
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Proxito: return `Cross-Origin-Opener-Policy` header (#12513)
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend

feat: Improve error message for missing mkdocs.yml
  readthedocs/doc_builder/backends/mkdocs.py
Owners: @readthedocs/backend

Docs: mention support emails
  docs/user/support.rst
Owners: @readthedocs/advocacy

Comment
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Skip checkout
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Remove DONT_CLEAN_BUILD feature flag
  readthedocs/projects/models.py
  readthedocs/projects/tasks/utils.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Update mkdocs.py
  readthedocs/doc_builder/backends/mkdocs.py
Owners: @readthedocs/backend

Update exceptions.py
  readthedocs/projects/exceptions.py
Owners: @readthedocs/backend

Update notifications.py
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Update test_build_tasks.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Update exceptions.py
  readthedocs/projects/exceptions.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Remove old logic
  readthedocs/profiles/tests/test_views.py
  readthedocs/profiles/views.py
Owners: @readthedocs/backend

Fix test for context processor
  readthedocs/rtd_tests/tests/test_notifications.py
Owners: @readthedocs/backend

Add GITHUB_APP_NAME to context processor (#12511)
  readthedocs/core/context_processors.py
  readthedocs/profiles/tests/test_views.py
  readthedocs/profiles/views.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_notifications.py
Owners: @readthedocs/backend

Updates to match Sphinx builder
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/projects/exceptions.py
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Docs: mention support emails (#12518)
  docs/user/support.rst
Owners: @readthedocs/advocacy

fixtures: update test_data.json with test-builds fixture (#8914)
  readthedocs/projects/fixtures/test_data.json
Owners: @readthedocs/backend

Release 15.4.1
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Add base classes for rich choice select fields
  readthedocs/core/forms.py
  readthedocs/core/templatetags/core_tags.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Docs: Add common build failures to FAQ
  docs/user/faq.rst
Owners: @readthedocs/advocacy

Docs: Add documentation for Sphinx tags (#4603)
  docs/user/reference/features.rst
Owners: @readthedocs/advocacy

Repo sync: use project queue for syncing
  readthedocs/core/views/hooks.py
Owners: @readthedocs/backend

Add base classes for rich choice select fields (#12524)
  readthedocs/core/forms.py
  readthedocs/core/templatetags/core_tags.py
Owners: @readthedocs/backend

Docs: clarified and expanded continuous deployment overview and integration workflow
  docs/user/continuous-deployment.rst
Owners: @readthedocs/advocacy

docs: Correct grammar in project story (Closes #1234)
  docs/user/story.rst
Owners: @readthedocs/advocacy

Fix vale issues
  docs/dev/aws-temporary-credentials.rst
  docs/dev/contribute.rst
  docs/dev/design/build-images.rst
  docs/dev/design/future-builder.rst
  docs/dev/design/new-notifications-system.rst
  docs/dev/design/secure-api-access-from-builders.rst
  docs/dev/github-app.rst
  docs/user/commercial/sharing.rst
  docs/user/guides/best-practice/links.rst
  docs/user/guides/build-troubleshooting.rst
  docs/user/guides/connecting-git-account.rst
  docs/user/guides/creating-project-private-repository.rst
  docs/user/guides/deprecating-content.rst
  docs/user/guides/technical-docs-seo-guide.rst
  docs/user/science.rst
  docs/user/security-implications.rst
  docs/user/security.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

docs: Improve clarity on bug bountie section (Closes #5678)
  docs/user/security.rst
Owners: @readthedocs/advocacy

Add support for Sphinx tags in Read the Docs build process
  readthedocs/doc_builder/backends/sphinx.py
Owners: @readthedocs/backend

Lint
  readthedocs/projects/tasks/utils.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend
