Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Use query argument in reverse
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Build: use a longer and more accurate expiricy time for API key (#12425)
  readthedocs/api/v2/models.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Builds: healthcheck permissions (#12423)
  readthedocs/api/v2/views/model_views.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Git services: improve sync repos
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/services/gitlab.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/oauth/services/gitlab.py
  readthedocs/rtd_tests/tests/test_oauth.py
  readthedocs/rtd_tests/tests/test_oauth_sync.py
Owners: @readthedocs/backend

This is for another PR
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/services/gitlab.py
Owners: @readthedocs/backend

Add test for repo moved to another workspace
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Cache organization
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
Owners: @readthedocs/backend

Docstrings
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
Owners: @readthedocs/backend

Git services: allow updating a single repository
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Stuff
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Apply suggestion from @Copilot
  readthedocs/oauth/services/bitbucket.py
Owners: @readthedocs/backend

Apply suggestion from @Copilot
  readthedocs/oauth/services/bitbucket.py
Owners: @readthedocs/backend

Update readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/bitbucket.py
Owners: @readthedocs/backend

No need to return
  readthedocs/oauth/services/github.py
Owners: @readthedocs/backend

Build: complete cleanup
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Builds: improve DB query for unhealthy builds
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Telemetry: create index to speed up queries
  readthedocs/telemetry/migrations/0002_created_index.py
  readthedocs/telemetry/models.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Celery: add extra broker settings
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Dependencies: upgrade them all
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.in
  requirements/testing.txt
Owners: @readthedocs/backend

Remove Sphinx warning
  docs/conf.py
Owners: @readthedocs/advocacy

Move cache initialization to base class
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
Owners: @readthedocs/backend

Git services: improve sync repos (#12428)
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/rtd_tests/tests/test_oauth.py
  readthedocs/rtd_tests/tests/test_oauth_sync.py
Owners: @readthedocs/backend

Update conda.rst
  docs/user/guides/conda.rst
Owners: @readthedocs/advocacy

Tests: fix tests con .com
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Builds: improve DB query for unhealthy builds (#12431)
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Telemetry: create index to speed up queries (#12432)
  readthedocs/telemetry/migrations/0002_created_index.py
  readthedocs/telemetry/models.py
Owners: @readthedocs/backend

Dependencies: upgrade them all (#12437)
  docs/conf.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.in
  requirements/testing.txt
Owners: @readthedocs/advocacy, @readthedocs/backend

Use same limit from tests
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Tests: fix tests con .com (#12439)
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Update bitbucket
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/githubapp.py
Owners: @readthedocs/backend

Format
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Create a feature flag to full clean builds
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Add log line
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Update "Making builds faster with mamba" to use miniconda directly (#12438)
  docs/user/guides/conda.rst
Owners: @readthedocs/advocacy

Build: complete cleanup (#12430)
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Release 15.2.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Match main
  readthedocs/api/v2/views/model_views.py
Owners: @readthedocs/backend

Match main
  readthedocs/api/v2/views/model_views.py
Owners: @readthedocs/backend
