Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Simplify skip-if-docs-only: compare against origin/main
  .circleci/config.yml
Owners: @readthedocs/backend

Add test to catch Django template syntax errors
  readthedocs/core/fixtures/flag_types.json
  readthedocs/core/tests/test_templates.py
  readthedocs/templates/projects/doc_file.rst.html
  readthedocs/templates/projects/includes/flagging.html
Owners: @readthedocs/backend, @readthedocs/frontend

Fix test failures from version ordering change
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/projects/templatetags/projects_tags.py
  readthedocs/search/tests/conftest.py
  readthedocs/search/tests/test_api.py
Owners: @readthedocs/backend

Remove ext-theme flagging entries from KNOWN_ISSUES
  readthedocs/core/tests/test_templates.py
Owners: @readthedocs/backend

Fix robots.txt test: update hidden version ordering expectation
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

Add comments documenting pipeline architecture and test marker coverage
  .circleci/config.yml
Owners: @readthedocs/backend

Add tests for valueless query param preservation in redirects
  readthedocs/proxito/tests/test_redirects.py
Owners: @readthedocs/backend

Add tests for build and version API v3 filters
  readthedocs/api/v3/tests/test_filters.py
Owners: @readthedocs/backend

Docs: clarify page redirect scope
  docs/user/user-defined-redirects.rst
  readthedocs/proxito/tests/test_old_redirects.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Skip running tests when only docs have changed (#12878)
  .circleci/config.yml
Owners: @readthedocs/backend

Use explicit `custom-match` value instead of `None`
  readthedocs/builds/constants.py
Owners: @readthedocs/backend

Build: better support for long branches with AWS temporary credentials (#12866)
  docs/dev/aws-temporary-credentials.rst
  readthedocs/aws/security_token_service.py
  readthedocs/aws/tests/test_security_token_service.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Some initial changes to support a rich select project repository combo field
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Fix test
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Add dont-sync attr for feature flag
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Reduce code needed for front end web components
  readthedocs/core/forms.py
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Match copy to front end
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Revert "Downgrade debug toolbar to 6.1.0" (#12855)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

CI: don't skip on main
  .circleci/config.yml
Owners: @readthedocs/backend

CI: don't skip on main (#12900)
  .circleci/config.yml
Owners: @readthedocs/backend

Docs: clarify that page redirects apply to all translations (#12872)
  docs/user/user-defined-redirects.rst
  readthedocs/proxito/tests/test_old_redirects.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Fix vertical centering of Preview build button (#12885)
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Admin: add search fields for EmailHook and WebHook models (#12891)
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

Docs: remove broken PDF download link (#12887)
  docs/user/downloadable-documentation.rst
Owners: @readthedocs/advocacy

Rename sort_version_aware to sort_version_aware_naive
  readthedocs/api/v3/views.py
  readthedocs/builds/filters.py
  readthedocs/builds/querysets.py
Owners: @readthedocs/backend

Address review feedback: simplify rclone install, drop uv pin, add codecov flags
  .circleci/config.yml
Owners: @readthedocs/backend

Simplify tox commands and update test documentation
  docs/dev/tests.rst
  tox.ini
Owners: @readthedocs/advocacy, @readthedocs/backend

Fix skip-if-docs-only: run tests when no changed files detected
  .circleci/config.yml
Owners: @readthedocs/backend

Add tox-uv to Docker development requirements
  requirements/docker.in
  requirements/docker.txt
Owners: @readthedocs/backend

Add uv alongside pip in private dependencies docs
  docs/user/faq.rst
  docs/user/guides/private-python-packages.rst
Owners: @readthedocs/advocacy

Fix broken uv docs link
  docs/user/guides/private-python-packages.rst
Owners: @readthedocs/advocacy

Revert uv mentions — no specific uv docs to reference
  docs/user/faq.rst
  docs/user/guides/private-python-packages.rst
Owners: @readthedocs/advocacy

Sitemaps: return custom sitemap.xml if it exists, otherwise return the default one
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Update documentation
  docs/user/reference/sitemaps.rst
Owners: @readthedocs/advocacy

Proxito: check forced redirects before system redirects
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Docs: document forced redirect ordering before system redirects
  docs/user/user-defined-redirects.rst
Owners: @readthedocs/advocacy

Admin: add remote repository admin search
  readthedocs/oauth/admin.py
  readthedocs/oauth/tests/test_admin.py
Owners: @readthedocs/backend

Tests: add subproject and translation coverage for forced redirects
  readthedocs/proxito/tests/test_old_redirects.py
Owners: @readthedocs/backend

Build: skip invalid single-version builds
  readthedocs/api/v3/tests/test_builds.py
  readthedocs/api/v3/views.py
  readthedocs/core/tests/test_hooks.py
  readthedocs/core/utils/__init__.py
  readthedocs/core/views/hooks.py
  readthedocs/rtd_tests/tests/test_core_utils.py
Owners: @readthedocs/backend

Build: don't fetch all branches when building default branch (#12882)
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
