Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Format
  readthedocs/organizations/forms.py
  readthedocs/organizations/migrations/0016_organization_avatar.py
  readthedocs/organizations/models.py
Owners: @readthedocs/backend

Safe migration
  readthedocs/organizations/migrations/0016_organization_avatar.py
Owners: @readthedocs/backend

Update migration
  readthedocs/organizations/migrations/0016_organization_avatar.py
Owners: @readthedocs/backend

Use function for storage
  readthedocs/organizations/migrations/0016_organization_avatar.py
  readthedocs/organizations/models.py
Owners: @readthedocs/backend

Remove big gifs and cleanup language
  docs/user/img/viz-diff-configs.gif
  docs/user/img/viz-diff-nav.gif
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

feat(viz-diff-doc): update viz diff doc (#12185)
  docs/user/img/addons-docdiff.gif
  docs/user/img/screenshot-viz-diff-ui.png
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/user/guides/pull-requests.rst
Owners: @readthedocs/advocacy

Clarification on PR build webhooks and GitHub Action (#11998)
  docs/user/guides/pull-requests.rst
Owners: @readthedocs/advocacy

Updates
  readthedocs/api/v2/serializers.py
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Build: show the command that's currently being executed (#12243)
  readthedocs/api/v2/serializers.py
  readthedocs/api/v2/views/model_views.py
  readthedocs/builds/migrations/0063_alter_buildcommandresult.py
  readthedocs/builds/models.py
  readthedocs/doc_builder/environments.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_doc_building.py
Owners: @readthedocs/backend

Update doc URLs from readthedocs.org/com to app.readthedocs.org/com (#12251)
  README.rst
  docs/dev/design/embed-api.rst
  docs/dev/design/new-search-api.rst
  docs/dev/design/theme-context.rst
  docs/development/design/flyout-redesign.rst
  docs/user/about/index.rst
  docs/user/addons.rst
  docs/user/advertising/ad-blocking.rst
  docs/user/advertising/ethical-advertising.rst
  docs/user/advertising/index.rst
  docs/user/api/v2.rst
  docs/user/api/v3.rst
  docs/user/badges.rst
  docs/user/commercial/subscriptions.rst
  docs/user/guides/build-troubleshooting.rst
  docs/user/guides/build/webhooks.rst
  docs/user/guides/connecting-git-account.rst
  docs/user/guides/embedding-content.rst
  docs/user/guides/hiding-a-version.rst
  docs/user/guides/importing-private-repositories.rst
  docs/user/guides/manage-read-the-docs-teams.rst
  docs/user/guides/setup-single-sign-on-github-gitlab-bitbucket.rst
  docs/user/guides/setup-single-sign-on-google-email.rst
  docs/user/guides/setup/git-repo-manual.rst
  docs/user/open-source-philosophy.rst
  docs/user/privacy-policy.rst
  docs/user/security.rst
  docs/user/server-side-search/api.rst
  docs/user/server-side-search/syntax.rst
  docs/user/shared/admonition-rtd-business.rst
  docs/user/shared/organization-permissions.rst
  docs/user/support.rst
  docs/user/team.rst
  docs/user/terms-of-service.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/backend, @readthedocs/advocacy

Delete old images
  docs/user/guides/creating-project-private-repository.rst
  docs/user/img/screenshot-com-manual-import.png
  docs/user/img/screenshot-com-ssh-keys.png
Owners: @readthedocs/advocacy

Run checks
  docs/user/guides/creating-project-private-repository.rst
  docs/user/img/screenshots/business.yml
Owners: @readthedocs/advocacy

Rename private repo import doc file
  docs/user/guides/creating-project-private-repository.rst
Owners: @readthedocs/advocacy

Add shot-scraper proof of concept and some updated screen shots
  .gitignore
  docs/user/img/screenshots/Makefile
  docs/user/img/screenshots/business-project-manual-form.png
  docs/user/img/screenshots/business-project-manual-team-select.png
  docs/user/img/screenshots/business-project-ssh-key.png
  docs/user/img/screenshots/business.yml
  docs/user/img/screenshots/community.yml
Owners: @readthedocs/backend, @readthedocs/advocacy

Doc updates to manual project creation for private repo page
  docs/user/guides/access/index.rst
  docs/user/guides/creating-project-private-repository.rst
  docs/user/guides/private-submodules.rst
Owners: @readthedocs/advocacy

Normalize usage of "single sign-on"
  docs/user/commercial/single-sign-on.rst
  docs/user/guides/access/index.rst
  docs/user/guides/manage-read-the-docs-teams.rst
  docs/user/guides/set-up-single-sign-on-saml.rst
  docs/user/guides/setup-single-sign-on-github-gitlab-bitbucket.rst
  docs/user/guides/setup-single-sign-on-google-email.rst
  docs/user/index.rst
Owners: @readthedocs/advocacy

Drop mentions of sustainability concepts and supporters
  docs/user/advertising/ad-blocking.rst
  docs/user/privacy-policy.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Add pixi example (#12155)
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Add vale and fix issues detected
  .circleci/config.yml
  docs/user/build-customization.rst
  docs/user/faq.rst
  docs/user/guides/private-python-packages.rst
  docs/user/tutorial/index.rst
  docs/user/versions.rst
  docs/vale/.vale.ini
  docs/vale/Swap.yml
  tox.ini
Owners: @readthedocs/backend, @readthedocs/advocacy

Cleanup config
  docs/vale/.vale.ini
  docs/vale/Swap.yml
Owners: @readthedocs/advocacy

Try and fix CI
  tox.ini
Owners: @readthedocs/backend

Run against main docs
  docs/dev/design/build-images.rst
  docs/dev/design/new-search-api.rst
  docs/dev/design/redirects.rst
  docs/dev/design/sphinx-jquery.rst
  docs/dev/style-guide.rst
  tox.ini
Owners: @readthedocs/advocacy, @readthedocs/backend

Use our rules
  docs/user/gsoc.rst
  docs/vale/.vale.ini
  docs/vale/RTD/style.yml
  tox.ini
Owners: @readthedocs/advocacy, @readthedocs/backend

Normalize usage of "single sign-on" (#12256)
  docs/user/commercial/single-sign-on.rst
  docs/user/guides/access/index.rst
  docs/user/guides/manage-read-the-docs-teams.rst
  docs/user/guides/set-up-single-sign-on-saml.rst
  docs/user/guides/setup-single-sign-on-github-gitlab-bitbucket.rst
  docs/user/guides/setup-single-sign-on-google-email.rst
  docs/user/index.rst
Owners: @readthedocs/advocacy

move config to top level
  .vale.ini
  docs/vale/RTD/sso.yaml
  docs/vale/RTD/style.yml
  tox.ini
Owners: @readthedocs/backend, @readthedocs/advocacy

Add vale and fix issues detected (#12257)
  .circleci/config.yml
  .vale.ini
  docs/dev/design/build-images.rst
  docs/dev/design/new-search-api.rst
  docs/dev/design/redirects.rst
  docs/dev/design/sphinx-jquery.rst
  docs/dev/style-guide.rst
  docs/user/build-customization.rst
  docs/user/faq.rst
  docs/user/gsoc.rst
  docs/user/guides/private-python-packages.rst
  docs/user/tutorial/index.rst
  docs/user/versions.rst
  docs/vale/RTD/sso.yaml
  docs/vale/RTD/style.yml
  tox.ini
Owners: @readthedocs/backend, @readthedocs/advocacy

Fix newline
  .vale.ini
Owners: @readthedocs/backend

FIx symlink
  docs/vale
Owners: @readthedocs/advocacy

Update build-customization.rst to include example with pydoctor
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Fix typo
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Update common again
  docs/dev/design/flyout-redesign.rst
Owners: @readthedocs/advocacy

Try and fix pre-commit
  .circleci/config.yml
  tox.ini
Owners: @readthedocs/backend

Remove trailing whitespace
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Update import private repository UI shots and directions (#12255)
  .gitignore
  docs/user/guides/access/index.rst
  docs/user/guides/creating-project-private-repository.rst
  docs/user/guides/importing-private-repositories.rst
  docs/user/guides/private-submodules.rst
  docs/user/img/screenshot-com-manual-import.png
  docs/user/img/screenshot-com-ssh-keys.png
  docs/user/img/screenshots/Makefile
  docs/user/img/screenshots/business-project-manual-form.png
  docs/user/img/screenshots/business-project-manual-team-select.png
  docs/user/img/screenshots/business-project-ssh-key.png
  docs/user/img/screenshots/business.yml
  docs/user/img/screenshots/community.yml
Owners: @readthedocs/backend, @readthedocs/advocacy

Still very WIP
  readthedocs/builds/reporting.py
  readthedocs/builds/tasks.py
  readthedocs/filetreediff/__init__.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/views/hosting.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Fix URL
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Try some more vale fixes
  docs/user/environment-variables.rst
  docs/user/explanation/configuration-file.rst
  docs/user/guides/creating-project-private-repository.rst
  docs/user/guides/set-up-single-sign-on-saml.rst
  docs/vale/RTD/features.yml
  docs/vale/RTD/sso.yaml
Owners: @readthedocs/advocacy

Update UI and directions on outgoing webhooks
  docs/user/_static/images/webhooks-activity.png
  docs/user/_static/images/webhooks-events.png
  docs/user/_static/images/webhooks-payload.png
  docs/user/_static/images/webhooks-secret.png
  docs/user/guides/build/index.rst
  docs/user/guides/build/webhooks.rst
  docs/user/img/screenshots/Makefile
  docs/user/img/screenshots/community-project-webhook-activity.png
  docs/user/img/screenshots/community-project-webhook-create.png
  docs/user/img/screenshots/community-project-webhook-secret.png
  docs/user/img/screenshots/community.yml
Owners: @readthedocs/advocacy
