Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Add test case for serving `zh` language code
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

Add test case for serving `zh` language code
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

Proxito: allow serving `zh` (deprecated) language code
  readthedocs/projects/constants.py
Owners: @readthedocs/backend

Proxito: allow serving `zh` (deprecated) language code
  readthedocs/projects/constants.py
Owners: @readthedocs/backend

Add test case for serving `zh` language code
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

Proxito: allow serving `zh` (deprecated) language code (#11429)
  readthedocs/projects/constants.py
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

Organization: disable organization on non-active subscription
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/tasks.py
Owners: @readthedocs/backend

Link website from docs sidebar (#11426)
  docs/user/index.rst
Owners: @readthedocs/advocacy

Try to add a test
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_footer.py
Owners: @readthedocs/backend

Rename test
  readthedocs/rtd_tests/tests/test_footer.py
Owners: @readthedocs/backend

Move 401 to errors/proxito
  readthedocs/proxito/views/mixins.py
  readthedocs/templates/errors/401.html
  readthedocs/templates/errors/proxito/401.html
Owners: @readthedocs/backend, @readthedocs/frontend

Be more defensive in redirect code (#11427)
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_footer.py
Owners: @readthedocs/backend

Don't disable organization on `trialing` subscription
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Requirements: upgrade `psycopg` to v3
  requirements/deploy.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Delete test for deleted task
  readthedocs/subscriptions/tests/test_tasks.py
Owners: @readthedocs/backend

Requirements: upgrade `psycopg` to v3 (#11432)
  requirements/deploy.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

CSP: remove obsolete block-all-mixed-content directive
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Add test to check the organization is disabled after canceling
  readthedocs/subscriptions/tests/test_event_handlers.py
Owners: @readthedocs/backend

Sales: send a Slack message to be able to contact the customer
  readthedocs/settings/base.py
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Release 11.1.1
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.mo
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.1.1 (#11438)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.mo
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Run iri_to_uri on header values
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_headers.py
Owners: @readthedocs/backend

Escape in the right place
  readthedocs/proxito/middleware.py
Owners: @readthedocs/backend

Remove _convert_to_charset logic and fix test
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_old_redirects.py
Owners: @readthedocs/backend

Run iri_to_uri on header values (#11439)
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/proxito/tests/test_old_redirects.py
Owners: @readthedocs/backend

Change working to match ext-theme
  readthedocs/templates/account/signup.html
Owners: @readthedocs/frontend

One more template
  readthedocs/templates/account/login.html
Owners: @readthedocs/frontend

Apply suggestions from code review
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Fix whitespace
  readthedocs/projects/forms.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Remove old code
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

One more
  readthedocs/templates/account/login.html
Owners: @readthedocs/frontend

Continue to disbale external_builds_enabled field
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Attempt to keep backwards compat
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Use log in instead of sign in
  readthedocs/templates/account/login.html
Owners: @readthedocs/frontend

Add comment for the setting
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Sales: send a Slack message to be able to contact the customer (#11437)
  readthedocs/settings/base.py
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Add historial records for `djstripe.models.Subscription`
  readthedocs/subscriptions/apps.py
  readthedocs/subscriptions/models.py
Owners: @readthedocs/backend

Move the code to `subscriptions/models.py`
  readthedocs/subscriptions/apps.py
  readthedocs/subscriptions/models.py
Owners: @readthedocs/backend

Comment
  .circleci/config.yml
Owners: @readthedocs/backend
