Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Remove DONT_CLEAN_BUILD feature flag (#12519)
  readthedocs/projects/models.py
  readthedocs/projects/tasks/utils.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Update tests and code to make them pass
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Fix test
  readthedocs/core/views/hooks.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Set final cutoff date for projects using SSH keys with write access
  readthedocs/doc_builder/director.py
  readthedocs/notifications/messages.py
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Use timezone-aware datetime for SSH key cutoff date comparison (#12538)
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Format
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Repo sync: use project queue for syncing (#12529)
  readthedocs/core/views/hooks.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Build environment: log stderr
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Version sync: skip syncing versions when lsremote fails
  readthedocs/projects/exceptions.py
  readthedocs/projects/tasks/mixins.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_backend.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Build environment: log stderr (#12539)
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Update readthedocs/projects/tasks/mixins.py
  readthedocs/projects/tasks/mixins.py
Owners: @readthedocs/backend

Version sync: skip syncing versions when lsremote fails (#12540)
  readthedocs/projects/exceptions.py
  readthedocs/projects/tasks/mixins.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_backend.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Delete project and organization objects asynchronously
  readthedocs/core/history.py
  readthedocs/core/mixins.py
  readthedocs/core/tasks.py
  readthedocs/organizations/views/private.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Integrations: skip processing webhook events for GitHub App projects
  readthedocs/api/v2/views/integrations.py
  readthedocs/projects/notifications.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Update readthedocs/api/v2/views/integrations.py
  readthedocs/api/v2/views/integrations.py
Owners: @readthedocs/backend

Update readthedocs/core/tasks.py
  readthedocs/core/tasks.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Improve verbose_name description in API v2 docs
  docs/user/api/v2.rst
Owners: @readthedocs/advocacy

Downgrade django-allauth to 65.12.1
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Integrations: skip processing webhook events for GitHub App projects (#12542)
  readthedocs/api/v2/views/integrations.py
  readthedocs/projects/notifications.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Delete project and organization objects asynchronously (#12541)
  readthedocs/core/history.py
  readthedocs/core/mixins.py
  readthedocs/core/tasks.py
  readthedocs/organizations/views/private.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Fix vale issues (#12532)
  docs/dev/aws-temporary-credentials.rst
  docs/dev/contribute.rst
  docs/dev/design/build-images.rst
  docs/dev/design/future-builder.rst
  docs/dev/design/new-notifications-system.rst
  docs/dev/design/secure-api-access-from-builders.rst
  docs/dev/github-app.rst
  docs/user/commercial/sharing.rst
  docs/user/guides/best-practice/links.rst
  docs/user/guides/build-troubleshooting.rst
  docs/user/guides/connecting-git-account.rst
  docs/user/guides/creating-project-private-repository.rst
  docs/user/guides/deprecating-content.rst
  docs/user/guides/technical-docs-seo-guide.rst
  docs/user/science.rst
  docs/user/security-implications.rst
  docs/user/security.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Set final cutoff date for projects using SSH keys with write access (#12536)
  readthedocs/doc_builder/director.py
  readthedocs/notifications/messages.py
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Release 15.5.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Merge commit from fork
  readthedocs/projects/forms.py
  readthedocs/rtd_tests/tests/test_domains.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/projects/forms.py
  readthedocs/rtd_tests/tests/test_domains.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/projects/forms.py
  readthedocs/rtd_tests/tests/test_domains.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Projects: redirect old project slugs safely
  readthedocs/projects/views/public.py
Owners: @readthedocs/backend

Feedback from review
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/projects/exceptions.py
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Update readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/backends/mkdocs.py
Owners: @readthedocs/backend

Show GH App notification to all users
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Search: reduce page size in search API pagination
  readthedocs/search/api/pagination.py
Owners: @readthedocs/backend

Fix case where rtd_product is not defined.
  readthedocs/subscriptions/views.py
Owners: @readthedocs/backend

Fix self.data.project not existing
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Properly return when no org found
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Update the config steps to cache a True result.
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Show GH App notification to all users (#12547)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Properly return when no org found (#12552)
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Fix case where rtd_product is not defined. (#12550)
  readthedocs/subscriptions/views.py
Owners: @readthedocs/backend

Make it 15
  readthedocs/search/api/pagination.py
  readthedocs/search/tests/test_api.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
