Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Email not verified notification
  readthedocs/core/notifications.py
Owners: @readthedocs/backend

Project skipped notification
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Missing file for NotificationQuerySet
  readthedocs/notifications/querysets.py
Owners: @readthedocs/backend

Migrate `oauth` app notifications to the new system
  readthedocs/builds/tasks.py
  readthedocs/oauth/notifications.py
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Add small comment about notification migration
  readthedocs/templates/base.html
Owners: @readthedocs/frontend

Rename import
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix queryset when creating a notification via `.add()`
  readthedocs/notifications/querysets.py
Owners: @readthedocs/backend

Remove `SiteNotification` completely
  readthedocs/notifications/__init__.py
  readthedocs/notifications/notification.py
Owners: @readthedocs/backend

Rename file and remove `__init__` magic
  readthedocs/domains/notifications.py
  readthedocs/notifications/__init__.py
  readthedocs/notifications/email.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/subscriptions/notifications.py
Owners: @readthedocs/backend

Remove `django-message-extends` completely
  readthedocs/core/admin.py
  readthedocs/core/tasks.py
  readthedocs/notifications/constants.py
  readthedocs/notifications/storages.py
  readthedocs/notifications/urls.py
  readthedocs/rtd_tests/tests/test_celery.py
  readthedocs/settings/base.py
  readthedocs/subscriptions/tests/test_tasks.py
  readthedocs/urls.py
  requirements/pip.in
Owners: @readthedocs/backend

Note about user notifications in base template
  readthedocs/templates/base.html
Owners: @readthedocs/frontend

Remove commented code for debugging
  readthedocs/doc_builder/director.py
  readthedocs/notifications/email.py
Owners: @readthedocs/backend

Allow empty project list on organization team form (#10947)
  readthedocs/organizations/forms.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Allow override of env settings from host
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Add Djstripe webhook secret too
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Allow override of env settings from host (#10959)
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Typo (from review)
  readthedocs/notifications/constants.py
  readthedocs/notifications/migrations/0001_initial.py
Owners: @readthedocs/backend

Migrate `ConfigError` to the new notification system
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/notifications.py
  readthedocs/config/tests/test_config.py
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Implement refact `icon` and `icon_type` into `icon_classes`
  readthedocs/api/v3/serializers.py
  readthedocs/notifications/constants.py
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Remove unused setting
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Release 10.13.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.13.0 (#10961)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Update config file test cases to match changes
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
  readthedocs/core/tests/test_filesystem_utils.py
  readthedocs/domains/tests/test_tasks.py
  readthedocs/projects/tests/mockers.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/subscriptions/tests/test_tasks.py
Owners: @readthedocs/backend

Mark test that depend on search to be skipped
  readthedocs/rtd_tests/tests/test_imported_file.py
Owners: @readthedocs/backend

Cancel build test fixed
  readthedocs/core/utils/__init__.py
  readthedocs/projects/tasks/builds.py
  readthedocs/subscriptions/tests/test_tasks.py
Owners: @readthedocs/backend

Update APIv3 test cases
  readthedocs/api/v3/tests/responses/projects-builds-detail.json
  readthedocs/api/v3/tests/responses/projects-detail.json
  readthedocs/api/v3/tests/responses/projects-versions-builds-list_POST.json
Owners: @readthedocs/backend

Down to a few of tests failing
  readthedocs/api/v3/tests/mixins.py
  readthedocs/core/tests/test_contact.py
  readthedocs/core/utils/contact.py
  readthedocs/projects/exceptions.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/vcs_support/backends/bzr.py
  readthedocs/vcs_support/backends/git.py
  readthedocs/vcs_support/backends/hg.py
  readthedocs/vcs_support/backends/svn.py
Owners: @readthedocs/backend

Raise exception properly by passing `message_id`
  readthedocs/vcs_support/base.py
Owners: @readthedocs/backend

More tests updated/fixed
  readthedocs/projects/exceptions.py
  readthedocs/projects/notifications.py
  readthedocs/rtd_tests/tests/test_backend.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
  readthedocs/rtd_tests/tests/test_project.py
  readthedocs/vcs_support/backends/bzr.py
  readthedocs/vcs_support/backends/git.py
  readthedocs/vcs_support/backends/hg.py
  readthedocs/vcs_support/backends/svn.py
  readthedocs/vcs_support/base.py
Owners: @readthedocs/backend

BuildUser/BuildAdd error
  readthedocs/doc_builder/exceptions.py
Owners: @readthedocs/backend

Instantiate `BuildDirector` on `before_start`
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Update test case to pass
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Update more tests related to notifications
  readthedocs/core/tests/test_contact.py
  readthedocs/core/utils/contact.py
  readthedocs/rtd_tests/tests/test_notifications.py
Owners: @readthedocs/backend

Make usage of `.add` for deduplication
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Move the link to the message itself.
  readthedocs/doc_builder/director.py
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Create message IDs property
  readthedocs/domains/notifications.py
  readthedocs/domains/tasks.py
Owners: @readthedocs/backend

Use IDs to avoid notifications
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Update comments
  readthedocs/doc_builder/director.py
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Attach organization on retry
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend
