Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Restore tests-embedapi dependency on both checks and tests
  .circleci/config.yml
Owners: @readthedocs/backend

Fix uv integration: use standalone installer and keep pip for tox<4
  .circleci/config.yml
  tox.embedapi.ini
Owners: @readthedocs/backend

Fix uv PATH: source BASH_ENV so uv is available in subsequent steps
  .circleci/config.yml
Owners: @readthedocs/backend

Pin uv to specific version (0.8.17) for reproducible CI builds
  .circleci/config.yml
Owners: @readthedocs/backend

Use all requirements files for cache key checksums
  .circleci/config.yml
Owners: @readthedocs/backend

Fix uv pip install: use explicit --python for pyenv compatibility
  .circleci/config.yml
Owners: @readthedocs/backend

Simplify: use pip for tox install, let tox-uv use uv binary internally
  .circleci/config.yml
Owners: @readthedocs/backend

Fix missing tox: install uv via pip instead of standalone installer
  .circleci/config.yml
Owners: @readthedocs/backend

Docs: remove broken PDF download link
  docs/user/downloadable-documentation.rst
Owners: @readthedocs/advocacy

Docs: clarify private deps require requirements.txt, not pyproject.toml
  docs/user/faq.rst
  docs/user/guides/private-python-packages.rst
Owners: @readthedocs/advocacy

Update .circleci/config.yml
  .circleci/config.yml
Owners: @readthedocs/backend

Fix skip-if-docs-only: don't halt on main branch
  .circleci/config.yml
Owners: @readthedocs/backend

Docs: clarify config file paths are relative to repo root
  docs/user/config-file/v2.rst
  docs/user/guides/setup/monorepo.rst
Owners: @readthedocs/advocacy

Redirects: make :splat a constant
  readthedocs/redirects/constants.py
  readthedocs/redirects/models.py
  readthedocs/redirects/validators.py
Owners: @readthedocs/backend

Admin: add search fields for EmailHook and WebHook models
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

Proxito: preserve valueless query params in redirects
  readthedocs/proxito/views/mixins.py
Owners: @readthedocs/backend

Address review: explain why paths are relative to repo root
  docs/user/guides/setup/monorepo.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Add data-driven roadmap prioritization review
  docs/dev/roadmap-prioritization-review.rst
Owners: @readthedocs/advocacy

Fix Version model default ordering to be ascending
  readthedocs/builds/migrations/0071_version_ordering_ascending.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Add test to catch template syntax errors and remove broken templates
  readthedocs/core/tests/test_templates.py
  readthedocs/templates/projects/doc_file.rst.html
  readthedocs/templates/projects/includes/flagging.html
Owners: @readthedocs/backend, @readthedocs/frontend

Add test to catch template syntax errors, remove dead templates
  readthedocs/rtd_tests/tests/test_template_syntax.py
  readthedocs/templates/projects/doc_file.rst.html
  readthedocs/templates/projects/includes/flagging.html
Owners: @readthedocs/backend, @readthedocs/frontend

Exclude third-party template dirs (ext-theme) from syntax test
  readthedocs/rtd_tests/tests/test_template_syntax.py
Owners: @readthedocs/backend

Add version-aware ordering for API and filter dropdowns
  readthedocs/api/v3/views.py
  readthedocs/builds/filters.py
  readthedocs/builds/querysets.py
Owners: @readthedocs/backend

Trivial: update setup-checkout description to trigger cached CI run
  .circleci/config.yml
Owners: @readthedocs/backend

Fix CI failures: add safe attribute to migration, fix formatting, update test assertions
  readthedocs/api/v3/tests/test_versions.py
  readthedocs/api/v3/views.py
  readthedocs/builds/migrations/0071_version_ordering_ascending.py
Owners: @readthedocs/backend

Cache rclone binary, skip apt update/install
  .circleci/config.yml
Owners: @readthedocs/backend

Split proxito tests into parallel CI job
  .circleci/config.yml
  tox.ini
Owners: @readthedocs/backend

Split search tests into separate parallel CI job
  .circleci/config.yml
  tox.ini
Owners: @readthedocs/backend

Run tests-search after core jobs, in parallel with tests-embedapi
  .circleci/config.yml
Owners: @readthedocs/backend

Fix proxito tests: set correct DJANGO_SETTINGS_MODULE
  tox.ini
Owners: @readthedocs/backend

Fix proxito tests: exclude search-dependent tests from proxito job
  tox.ini
Owners: @readthedocs/backend

Use Django language codes for projects
  readthedocs/core/unresolver.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/projects/constants.py
  readthedocs/projects/migrations/0159_migrate_language_codes_to_django.py
  readthedocs/projects/migrations/0160_alter_historicalproject_language_and_more.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Fix search tests: use proxito settings for dual-marked tests
  tox.ini
Owners: @readthedocs/backend

Drop accidental sitemap changes from language PR
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Compare against PR base branch instead of hardcoded main
  .circleci/config.yml
Owners: @readthedocs/backend

Fix skip-if-docs-only: prevent set -e from failing on API errors
  .circleci/config.yml
Owners: @readthedocs/backend

Fix skip-if-docs-only: disable set -e and handle all error cases
  .circleci/config.yml
Owners: @readthedocs/backend

Docs: note that CI skips test jobs for docs-only changes
  docs/dev/tests.rst
Owners: @readthedocs/advocacy

Docs: expand CI skip note with more detail
  docs/dev/tests.rst
Owners: @readthedocs/advocacy
