Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Test we are hitting APIv2 for notifications
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Remove old comment
  readthedocs/subscriptions/tasks.py
Owners: @readthedocs/backend

Remove temporary debugging link
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/frontend

Remove old comment
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Update send build status celery tests
  readthedocs/rtd_tests/tests/test_celery.py
Owners: @readthedocs/backend

Explain how to show notifications attached to users
  readthedocs/templates/base.html
Owners: @readthedocs/frontend

Better comment in template
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/frontend

Lint
  readthedocs/api/v3/serializers.py
  readthedocs/notifications/messages.py
  readthedocs/subscriptions/tasks.py
Owners: @readthedocs/backend

Minor changes
  readthedocs/config/config.py
  readthedocs/config/notifications.py
  readthedocs/config/validation.py
Owners: @readthedocs/backend

Refactor `ValidationError` to raise a proper exception/notification
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/notifications.py
  readthedocs/config/validation.py
Owners: @readthedocs/backend

Update tests for config after refactor
  readthedocs/config/tests/test_config.py
  readthedocs/config/tests/test_validation.py
  readthedocs/config/validation.py
Owners: @readthedocs/backend

Pass `user_notifications` to templates
  readthedocs/core/context_processors.py
  readthedocs/templates/base.html
Owners: @readthedocs/backend, @readthedocs/frontend

More updates on config tests
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

Remove debugging code
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Add context processor for user notifications
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Don't retrieve notifications if anonymous user
  readthedocs/core/context_processors.py
Owners: @readthedocs/backend

Use proper exception
  readthedocs/config/tests/test_validation.py
Owners: @readthedocs/backend

Clarify that 404 analytics is only available on Read the Docs for Business
  docs/user/reference/analytics.rst
Owners: @readthedocs/advocacy

Format.all.data.Update code-of-conduct.rst
  docs/dev/code-of-conduct.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Fix YAML indentation in example `.readthedocs.yaml`
  readthedocs/templates/projects/import_config.html
Owners: @readthedocs/frontend

Fix YAML indentation in example `.readthedocs.yaml` (#10970)
  readthedocs/templates/projects/import_config.html
Owners: @readthedocs/frontend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

APIv3: return `permissions` expandable field on projects
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Addons: return original language as flyout's translation
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Test: update addons flyout languages to match changes
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Test: adapt more tests
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Search: fix default for search.ranking when indexing (#10945)
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Updates from review
  readthedocs/redirects/querysets.py
Owners: @readthedocs/backend

Docs: Mention about infinite redirects
  docs/user/user-defined-redirects.rst
Owners: @readthedocs/advocacy

Redirects: improvements from design doc (#10881)
  docs/user/api/v3.rst
  docs/user/guides/redirects.rst
  docs/user/user-defined-redirects.rst
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/responses/projects-redirects-detail.json
  readthedocs/api/v3/tests/responses/projects-redirects-detail_PUT.json
  readthedocs/api/v3/tests/responses/projects-redirects-list.json
  readthedocs/api/v3/tests/responses/projects-redirects-list_POST.json
  readthedocs/api/v3/tests/test_redirects.py
  readthedocs/builds/models.py
  readthedocs/projects/forms.py
  readthedocs/projects/ordering.py
  readthedocs/projects/urls/private.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
  readthedocs/redirects/constants.py
  readthedocs/redirects/migrations/0006_add_new_fields.py
  readthedocs/redirects/migrations/0007_migrate_to_new_syntax.py
  readthedocs/redirects/models.py
  readthedocs/redirects/querysets.py
  readthedocs/redirects/templates/redirects/redirect_list.html
  readthedocs/redirects/tests/test_views.py
  readthedocs/redirects/validators.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
  readthedocs/rtd_tests/tests/test_redirects.py
Owners: @readthedocs/advocacy, @readthedocs/backend, @readthedocs/frontend

Addons: get translation from main project (#10952)
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Apply suggestions from code review
  readthedocs/config/notifications.py
  readthedocs/notifications/messages.py
  readthedocs/oauth/notifications.py
  readthedocs/oauth/tasks.py
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Remove old TODO messages
  readthedocs/notifications/messages.py
  readthedocs/rtd_tests/tests/test_notifications.py
Owners: @readthedocs/backend

Remove `deprecated_` utils and notifications
  readthedocs/builds/models.py
  readthedocs/rtd_tests/tests/test_builds.py
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/backend, @readthedocs/frontend

Use the proper HTML/CSS for user notifications
  readthedocs/core/notifications.py
  readthedocs/templates/base.html
Owners: @readthedocs/backend, @readthedocs/frontend

Message for deploy key (required in commercial)
  readthedocs/oauth/notifications.py
Owners: @readthedocs/backend

Migrate Docker errors to new system
  readthedocs/doc_builder/environments.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Migrate more messages to the new notifications system
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Typo
  readthedocs/projects/exceptions.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
