Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Create task only for external versions
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Docs: fix link to blog post
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Docs: mention GH releases in changelog
  CHANGELOG.rst
Owners: @readthedocs/backend

Update installation
  dockerfiles/Dockerfile
  requirements/deploy.in
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.in
  requirements/testing.txt
  tox.ini
Owners: @readthedocs/backend

Remove options that are better suited for inclusion in a config file
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Add example usage of pydoctor in the build customization page (#12259)
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Docs: fix link to blog post (#12270)
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Docs: mention GH releases in changelog (#12271)
  CHANGELOG.rst
Owners: @readthedocs/backend

GitHub App: don't sync repositories that the app doesn't have access to
  readthedocs/oauth/services/githubapp.py
Owners: @readthedocs/backend

Add GitHub App integration type
  readthedocs/integrations/models.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Do not install it via tox
  tox.ini
Owners: @readthedocs/backend

Style
  requirements/deploy.in
Owners: @readthedocs/backend

Use hashed static files
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Use hashed static files
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Use hashed static files
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Set explicit test STORAGES to fix tests
  readthedocs/settings/test.py
Owners: @readthedocs/backend

Tests
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Updates from review
  docs/user/pull-requests.rst
  readthedocs/builds/tests/test_tasks.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/advocacy, @readthedocs/backend

Use hashed static files (#12274)
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/settings/test.py
Owners: @readthedocs/backend

Filter files
  readthedocs/filetreediff/dataclasses.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Rework diff docs
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Install `sphinx-prompt` properly
  docs/conf.py
Owners: @readthedocs/advocacy

Addons: default "Include subprojects" to true on search
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Remove features
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Use UUID, and delete old avatars
  readthedocs/organizations/models.py
  readthedocs/organizations/tests/test_views.py
Owners: @readthedocs/backend

Update settings
  readthedocs/settings/docker_compose.py
  readthedocs/settings/test.py
Owners: @readthedocs/backend

Use same storage backend for static files
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Update tests
  readthedocs/builds/tests/test_tasks.py
Owners: @readthedocs/backend

GitHub App: post comments on PRs (#12230)
  docs/user/pull-requests.rst
  readthedocs/builds/reporting.py
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0149_show_build_overview_in_comment.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/rtd_tests/tests/test_oauth.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/advocacy, @readthedocs/backend

Add GitHub App integration type
  readthedocs/integrations/models.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Use GHA and remote repository metadata for integration attributes
  readthedocs/integrations/models.py
Owners: @readthedocs/backend

Add migration for GitHub App integration
  readthedocs/integrations/migrations/0015_add_github_app_integration.py
Owners: @readthedocs/backend

Fix migration
  readthedocs/integrations/migrations/0015_add_github_app_integration.py
Owners: @readthedocs/backend

Slight model rename and basic test
  readthedocs/integrations/migrations/0015_add_github_app_integration.py
  readthedocs/integrations/models.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Addons: default "Include subprojects" to true on search (#12278)
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Remove ToS and redirect to the webpage
  docs/user/terms-of-service.rst
Owners: @readthedocs/advocacy

GitHub App announcement
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Use the correct variable
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Remove references
  docs/user/privacy-policy.rst
  docs/user/reference/policies.rst
  docs/user/unofficial-projects.rst
Owners: @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
