Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Builds: rename `isolated-builders` to `build-isolated` (#13266)
  readthedocs/api/v2/views/model_views.py
  readthedocs/builds/querysets.py
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_build_queryset.py
  readthedocs/core/utils/__init__.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/utils.py
  readthedocs/rtd_tests/tests/test_core_utils.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/upload/api/views.py
Owners: @readthedocs/backend

Docs: add Starlight to the list of supported documentation tools
  docs/user/intro/doctools.rst
  docs/user/intro/starlight.rst
Owners: @readthedocs/advocacy

Add organization to upload API tests to support business tests
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Add organization to upload API tests to support business tests (#13269)
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Fix more tests missing organization creation
  readthedocs/builds/tests/test_views.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Upgrade PyGithub (#13260)
  readthedocs/oauth/clients.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/rtd_tests/tests/test_oauth.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Fix tests again, don't avoid testing organizations
  readthedocs/builds/tests/test_views.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Release 2026.08.26
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Docs: fix typos and grammar across user docs
  docs/user/build-customization.rst
  docs/user/custom-script.rst
  docs/user/guides/build/email-notifications.rst
  docs/user/guides/custom-domains.rst
  docs/user/guides/manage-translations-sphinx.rst
  docs/user/pull-requests.rst
  docs/user/reference/git-integration.rst
  docs/user/versioning-schemes.rst
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Builds: don't delete uploaded versions when syncing the repository
  readthedocs/api/v2/utils.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Builds: remove legacy Version.uploaded field
  readthedocs/api/v2/utils.py
  readthedocs/api/v3/filters.py
  readthedocs/builds/migrations/0078_merge_uploaded_into_is_uploaded.py
  readthedocs/builds/migrations/0079_remove_version_uploaded.py
  readthedocs/builds/models.py
  readthedocs/projects/fixtures/test_data.json
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Dev settings: read RTD_OPENAI_API_KEY from the environment
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Builds: run `sync_versions` in the build-isolated fleet
  readthedocs/core/tests/test_trigger_sync_versions.py
  readthedocs/core/utils/__init__.py
  readthedocs/core/views/hooks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Docs: fix typos and grammar across user docs (#13271)
  docs/user/build-customization.rst
  docs/user/custom-script.rst
  docs/user/guides/build/email-notifications.rst
  docs/user/guides/custom-domains.rst
  docs/user/guides/manage-translations-sphinx.rst
  docs/user/pull-requests.rst
  docs/user/reference/git-integration.rst
  docs/user/versioning-schemes.rst
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Builds: purge the CDN as soon as a build finishes
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_projects_tasks.py
Owners: @readthedocs/backend

Purge the CDN only once, at build completion
  readthedocs/builds/tasks.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tasks/utils.py
  readthedocs/rtd_tests/tests/test_projects_tasks.py
Owners: @readthedocs/backend

Drop redundant version guard and duplicated comments
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

GitHub App: don't create notification on 500 or rate limit errors when creating commit statuses (#13252)
  readthedocs/oauth/services/githubapp.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Builds: quote the container command so docker-py can split it back
  readthedocs/doc_builder/environments.py
  readthedocs/doc_builder/tests/test_environments.py
Owners: @readthedocs/backend

Dev settings: read RTD_OPENAI_API_KEY from the environment (#13274)
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Search: purge cached search results after indexing
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_projects_tasks.py
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/api/v3/views.py
  readthedocs/search/signals.py
Owners: @readthedocs/backend

Don't special-case legacy uploaded versions
  readthedocs/api/v3/filters.py
  readthedocs/builds/migrations/0078_merge_uploaded_into_is_uploaded.py
  readthedocs/builds/migrations/0078_remove_version_uploaded.py
  readthedocs/builds/models.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Only skip uploaded versions for version-deleted automation rules
  readthedocs/api/v2/utils.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Docs: improve Zensical intro page
  docs/user/intro/zensical.rst
Owners: @readthedocs/advocacy

Docs: improve Zensical intro page (#13281)
  docs/user/intro/zensical.rst
Owners: @readthedocs/advocacy

Fix Vale spelling failure for Astro
  docs/user/intro/starlight.rst
Owners: @readthedocs/advocacy

Docs: add Starlight to the list of supported documentation tools (#13268)
  docs/user/intro/doctools.rst
  docs/user/intro/starlight.rst
Owners: @readthedocs/advocacy

Release 2026.09.01
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Fix more tests missing organization creation (#13270)
  readthedocs/builds/tests/test_views.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Revise hiding version instructions in user guide
  docs/user/guides/hiding-a-version.rst
Owners: @readthedocs/advocacy

Api: don't require the slug when updating a version
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/test_versions.py
Owners: @readthedocs/backend

Builds: standardize slug validation and rename side effects on the model
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/test_versions.py
  readthedocs/api/v3/views.py
  readthedocs/builds/forms.py
  readthedocs/builds/migrations/0075_alter_version_slug.py
  readthedocs/builds/models.py
  readthedocs/builds/version_slug.py
Owners: @readthedocs/backend

Revise hiding version instructions in user guide (#13282)
  docs/user/guides/hiding-a-version.rst
Owners: @readthedocs/advocacy

Update organizations.rst
  docs/user/commercial/organizations.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Make the CDNCacheMixin to support multiple projects
  readthedocs/api/mixins.py
  readthedocs/search/api/v2/views.py
  readthedocs/search/api/v3/views.py
  readthedocs/search/tests/test_proxied_api.py
Owners: @readthedocs/backend

Build: set a maximum size for build media files
  readthedocs/api/v2/serializers.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/projects/migrations/0170_project_max_build_media_size.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Use Mb as unit, which is simpler
  readthedocs/projects/migrations/0170_project_max_build_media_size.py
  readthedocs/projects/models.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Development: improve logging
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend
