Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Update instructions for Jupyter notebook galleries (#11545)
  docs/user/guides/jupyter.rst
Owners: @readthedocs/advocacy

Release 11.6.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.6.0 (#11554)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Search: add function to re-index a project
  readthedocs/projects/tasks/search.py
  readthedocs/search/tests/test_utils.py
Owners: @readthedocs/backend

Add project: improve way to get the `basics` form
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Update readthedocs/projects/tasks/search.py
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Search: add function to re-index a project (#11555)
  readthedocs/projects/tasks/search.py
  readthedocs/search/tests/test_utils.py
Owners: @readthedocs/backend

Docs: simplify "Add project" page
  docs/user/glossary.rst
  docs/user/intro/import-guide.rst
Owners: @readthedocs/advocacy

Docs: rename `import-guide` to `add-project`
  docs/user/guides/importing-private-repositories.rst
  docs/user/guides/setup/git-repo-automatic.rst
  docs/user/guides/setup/monorepo.rst
  docs/user/index.rst
  docs/user/intro/add-project.rst
  docs/user/intro/getting-started-with-mkdocs.rst
  docs/user/intro/getting-started-with-sphinx.rst
  docs/user/reference/git-integration.rst
  docs/user/tutorials/index.rst
Owners: @readthedocs/advocacy

Typo
  docs/user/intro/add-project.rst
Owners: @readthedocs/advocacy

Delete old images
  docs/user/_static/images/first-steps/admin-panel.png
  docs/user/_static/images/first-steps/import-a-repository.png
Owners: @readthedocs/advocacy

Settings: define threshold setting for removing projects from ES
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Addons: small improvements and privacy considerations
  readthedocs/api/v2/permissions.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Tasks: delete closed PRs every 30 minutes
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Settings: define threshold setting for removing projects from ES (#11560)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Delete old first
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Allauth: 2FA (#11524)
  readthedocs/settings/base.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Allow overrides from .com
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Dead code
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Update comment
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Use clone_url for remote repository field
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Fix a minor typo
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Fix a minor typo (#11565)
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Add project: improve way to get the `basics` form (#11558)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Docs: make URLs not linkable (#11553)
  docs/user/subprojects.rst
Owners: @readthedocs/advocacy

Use clone_url for remote repository field (#11564)
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Rename task
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Tasks: delete closed PRs every 30 minutes (#11563)
  readthedocs/builds/tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Updates from review
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Release 11.7.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.7.0 (#11567)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Notifications: small typo
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Set privacy level explicitly to fix tests
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

typo
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Update tests to match the changes in the title
  readthedocs/api/v3/tests/responses/notifications-list.json
  readthedocs/api/v3/tests/responses/projects-notifications-detail.json
  readthedocs/api/v3/tests/responses/projects-notifications-list.json
Owners: @readthedocs/backend

Notifications: small typo (#11568)
  readthedocs/api/v3/tests/responses/notifications-list.json
  readthedocs/api/v3/tests/responses/projects-notifications-detail.json
  readthedocs/api/v3/tests/responses/projects-notifications-list.json
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Typo
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Skip jsdoc for now
  docs/user/intro/doctools.rst
  docs/user/intro/jsdoc.rst
Owners: @readthedocs/advocacy

Add clarity on mkdocs vs material
  docs/user/intro/doctools.rst
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
