Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Add environment variable to supress 3rd party tracebacks
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Design: onboarding direct upload projects (#13349)
  docs/dev/design/direct-upload-projects.rst
Owners: @readthedocs/advocacy

Settings: default to the GitHub App and collapse the OAuth app on Community (#13306)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Search: accept builder-uploaded file tree diff manifests
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/projects/tests/test_indexers.py
Owners: @readthedocs/backend

Update envvar name
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Development: improve logging (#13288)
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Update title
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Update from feedback
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Rename migration
  readthedocs/projects/migrations/0171_project_build_method.py
Owners: @readthedocs/backend

Logs: follow the standard keys we are using everywhere (#13326)
  readthedocs/core/adapters.py
  readthedocs/core/signals.py
  readthedocs/core/tasks.py
  readthedocs/gold/views.py
  readthedocs/invitations/backends.py
  readthedocs/invitations/models.py
  readthedocs/invitations/views.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/organizations/signals.py
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Use boolean field for `Project.is_direct_upload`
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/projects/constants.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0171_project_build_method.py
  readthedocs/projects/migrations/0171_project_is_direct_upload.py
  readthedocs/projects/models.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_build_forms.py
  readthedocs/rtd_tests/tests/test_core_utils.py
  readthedocs/rtd_tests/tests/test_project_views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Typo
  readthedocs/projects/migrations/0171_project_is_direct_upload.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Avoid failing when a project doesn't have its default version
  readthedocs/core/resolver.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

robotstxt and sitemapxml protection against no default version
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

On-boarding projects to use "Direct upload" (build externally) (#13325)
  docs/user/guides/build/direct-upload.rst
  readthedocs/api/v2/views/integrations.py
  readthedocs/api/v3/views.py
  readthedocs/builds/forms.py
  readthedocs/builds/models.py
  readthedocs/core/resolver.py
  readthedocs/core/utils/__init__.py
  readthedocs/core/views/hooks.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0171_project_is_direct_upload.py
  readthedocs/projects/models.py
  readthedocs/projects/notifications.py
  readthedocs/projects/views/mixins.py
  readthedocs/projects/views/private.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_build_forms.py
  readthedocs/rtd_tests/tests/test_core_utils.py
  readthedocs/rtd_tests/tests/test_project_views.py
  readthedocs/rtd_tests/tests/test_resolver.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Tune build form copy
  readthedocs/builds/forms.py
Owners: @readthedocs/backend

Tune build form copy (#13363)
  readthedocs/builds/forms.py
Owners: @readthedocs/backend

Disable the template panel still for now
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Docker: follow configurable host ports for webpack and storage
  docs/dev/install.rst
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Docs: note the memory needed to run both environments
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Docs: parser changes roll forward, no re-extract operation
  docs/dev/design/parse-on-the-builder.rst
Owners: @readthedocs/advocacy

Querysets: add `Project.filter.with_feature` queryset
  readthedocs/projects/querysets.py
  readthedocs/rtd_tests/tests/test_project_querysets.py
Owners: @readthedocs/backend

Docker: forward business domains from the community NGINX
  docker-compose.override.yml
  dockerfiles/nginx/side-by-side.conf.template
  docs/dev/install.rst
Owners: @readthedocs/backend, @readthedocs/advocacy

Tests: create search indexes once per class in SearchTestBase
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/tests/utils.py
Owners: @readthedocs/backend

Docker: use the development services' hostnames
  dockerfiles/nginx/README.rst
  dockerfiles/nginx/services.conf.template
  docs/dev/install.rst
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend, @readthedocs/advocacy

Builds: resolve the project once per request in the builds views (#13359)
  readthedocs/builds/views.py
Owners: @readthedocs/backend

Api: select_related the relations serializers read on builds and versions (#13357)
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Fix Version model ordering: ascending + version-aware sorting (#12894)
  readthedocs/api/v3/tests/test_versions.py
  readthedocs/api/v3/views.py
  readthedocs/builds/filters.py
  readthedocs/builds/migrations/0080_version_ordering_ascending.py
  readthedocs/builds/models.py
  readthedocs/builds/querysets.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/projects/templatetags/projects_tags.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/search/tests/conftest.py
  readthedocs/search/tests/test_api.py
Owners: @readthedocs/backend

Search: send pages to Elasticsearch in batches while indexing (#13361)
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Proxito: build sitemap.xml with a fixed number of queries (#13360)
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Builds: cache Version.latest_build on the instance (#13358)
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Tests: fix tests on corporate for direct upload
  readthedocs/rtd_tests/tests/test_build_forms.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Tests: fix tests on corporate for direct upload (#13368)
  readthedocs/rtd_tests/tests/test_build_forms.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Docs: side by side needs no configuration now
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Add a specific class for these test cases so we don't inherit Projects
  readthedocs/rtd_tests/tests/test_project_querysets.py
Owners: @readthedocs/backend

Querysets: add `Project.filter.with_feature` queryset (#13366)
  readthedocs/projects/querysets.py
  readthedocs/rtd_tests/tests/test_project_querysets.py
Owners: @readthedocs/backend

Use django-debug-toolbar cache backend to share data across workers (#13087)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Tests: create search indexes once per class in SearchTestBase (#13367)
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/tests/utils.py
Owners: @readthedocs/backend

Search: read the local copy with path operations, not a storage shim
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/search/parsers.py
  readthedocs/search/tests/test_parsers.py
  readthedocs/storage/mixins.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
