Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Fix tests?
  readthedocs/api/v3/tests/mixins.py
Owners: @readthedocs/backend

Update docs/user/reference/sitemaps.rst
  docs/user/reference/sitemaps.rst
Owners: @readthedocs/advocacy

SAML: update docs (#11583)
  docs/user/guides/set-up-single-sign-on-saml.rst
Owners: @readthedocs/advocacy

Move spam template to standard location
  readthedocs/projects/views/base.py
  readthedocs/proxito/views/mixins.py
  readthedocs/templates/errors/dashboard/spam.html
  readthedocs/templates/errors/proxito/spam.html
Owners: @readthedocs/backend, @readthedocs/frontend

Replace one off teapot view
  readthedocs/core/views/__init__.py
  readthedocs/proxito/urls.py
  readthedocs/templates/errors/proxito/418.html
Owners: @readthedocs/backend, @readthedocs/frontend

Default error view drop top level errors and split proxito error views
  readthedocs/core/views/__init__.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/utils.py
Owners: @readthedocs/backend

Move top level errors to dashboard error templates path
  readthedocs/templates/404.html
  readthedocs/templates/errors/dashboard/401.html
  readthedocs/templates/errors/dashboard/403.html
  readthedocs/templates/errors/dashboard/404.html
  readthedocs/templates/errors/dashboard/429.html
  readthedocs/templates/errors/dashboard/4xx.html
  readthedocs/templates/errors/dashboard/500.html
  readthedocs/templates/errors/dashboard/5xx.html
  readthedocs/templates/errors/dashboard/base.html
Owners: @readthedocs/frontend

Move proxito 404 errors to proxito error path
  readthedocs/templates/errors/404/no_language.html
  readthedocs/templates/errors/404/no_project_page.html
  readthedocs/templates/errors/404/no_subproject.html
  readthedocs/templates/errors/404/no_version.html
  readthedocs/templates/errors/proxito/404/base.html
  readthedocs/templates/errors/proxito/404/dns.html
  readthedocs/templates/errors/proxito/404/include_error_message.html
  readthedocs/templates/errors/proxito/404/include_search.html
  readthedocs/templates/errors/proxito/404/include_tips.html
  readthedocs/templates/errors/proxito/404/no_language.html
  readthedocs/templates/errors/proxito/404/no_project.html
  readthedocs/templates/errors/proxito/404/no_project_page.html
  readthedocs/templates/errors/proxito/404/no_subproject.html
  readthedocs/templates/errors/proxito/404/no_version.html
Owners: @readthedocs/frontend

Point proxito views at new errors/proxito path
  readthedocs/proxito/exceptions.py
  readthedocs/proxito/views/utils.py
Owners: @readthedocs/backend

Add proxito error templates path with links to dashboard templates for now
  readthedocs/templates/errors/proxito/403.html
  readthedocs/templates/errors/proxito/429.html
  readthedocs/templates/errors/proxito/500.html
  readthedocs/templates/errors/proxito/5xx.html
  readthedocs/templates/errors/proxito/base.html
Owners: @readthedocs/frontend

Make error view handler more explicit
  readthedocs/core/views/__init__.py
  readthedocs/proxito/urls.py
  readthedocs/templates/errors/proxito/418.html
  readthedocs/urls.py
Owners: @readthedocs/backend, @readthedocs/frontend

Reword DNS exception reason
  readthedocs/proxito/exceptions.py
Owners: @readthedocs/backend

Update pattern for error view for proxito
  readthedocs/core/views/__init__.py
Owners: @readthedocs/backend

Add missing template
  readthedocs/templates/errors/proxito/4xx.html
Owners: @readthedocs/frontend

Docs: small updates to sitemaps page (#11585)
  docs/user/reference/sitemaps.rst
Owners: @readthedocs/advocacy

Docs: final date for addons and link to blog post
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Docs: final date for addons and link to blog post (#11588)
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Fix URL load order bug
  readthedocs/proxito/urls.py
Owners: @readthedocs/backend

Standardize error template paths (#11494)
  readthedocs/core/views/__init__.py
  readthedocs/projects/views/base.py
  readthedocs/proxito/exceptions.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/utils.py
  readthedocs/templates/404.html
  readthedocs/templates/errors/404/no_language.html
  readthedocs/templates/errors/404/no_project_page.html
  readthedocs/templates/errors/404/no_subproject.html
  readthedocs/templates/errors/404/no_version.html
  readthedocs/templates/errors/dashboard/401.html
  readthedocs/templates/errors/dashboard/403.html
  readthedocs/templates/errors/dashboard/404.html
  readthedocs/templates/errors/dashboard/429.html
  readthedocs/templates/errors/dashboard/4xx.html
  readthedocs/templates/errors/dashboard/500.html
  readthedocs/templates/errors/dashboard/5xx.html
  readthedocs/templates/errors/dashboard/base.html
  readthedocs/templates/errors/dashboard/spam.html
  readthedocs/templates/errors/proxito/403.html
  readthedocs/templates/errors/proxito/404/base.html
  readthedocs/templates/errors/proxito/404/dns.html
  readthedocs/templates/errors/proxito/404/include_error_message.html
  readthedocs/templates/errors/proxito/404/include_search.html
  readthedocs/templates/errors/proxito/404/include_tips.html
  readthedocs/templates/errors/proxito/404/no_language.html
  readthedocs/templates/errors/proxito/404/no_project.html
  readthedocs/templates/errors/proxito/404/no_project_page.html
  readthedocs/templates/errors/proxito/404/no_subproject.html
  readthedocs/templates/errors/proxito/404/no_version.html
  readthedocs/templates/errors/proxito/418.html
  readthedocs/templates/errors/proxito/429.html
  readthedocs/templates/errors/proxito/4xx.html
  readthedocs/templates/errors/proxito/500.html
  readthedocs/templates/errors/proxito/5xx.html
  readthedocs/templates/errors/proxito/base.html
  readthedocs/templates/errors/proxito/spam.html
  readthedocs/urls.py
Owners: @readthedocs/backend, @readthedocs/frontend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Alternate layout using only sphinx-design, with clickable cards
  docs/user/intro/doctools.rst
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Update readthedocs/organizations/views/private.py
  readthedocs/organizations/views/private.py
Owners: @readthedocs/backend

Add success messages for Organization views (#11480)
  readthedocs/organizations/views/base.py
  readthedocs/organizations/views/private.py
Owners: @readthedocs/backend

Conditionally disabled custom 404 pages on dev docs
  docs/conf.py
Owners: @readthedocs/advocacy

Conditionally disabled custom 404 pages on dev docs (#11596)
  docs/conf.py
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/user/glossary.rst
  docs/user/guides/setup/git-repo-automatic.rst
  docs/user/intro/add-project.rst
  docs/user/intro/getting-started-with-mkdocs.rst
  docs/user/intro/getting-started-with-sphinx.rst
Owners: @readthedocs/advocacy

Rephrase sentence
  docs/user/guides/setup/monorepo.rst
Owners: @readthedocs/advocacy

Docs: simplify "Add project" page (#11559)
  docs/user/_static/images/first-steps/admin-panel.png
  docs/user/_static/images/first-steps/import-a-repository.png
  docs/user/glossary.rst
  docs/user/guides/importing-private-repositories.rst
  docs/user/guides/setup/git-repo-automatic.rst
  docs/user/guides/setup/monorepo.rst
  docs/user/index.rst
  docs/user/intro/add-project.rst
  docs/user/intro/getting-started-with-mkdocs.rst
  docs/user/intro/getting-started-with-sphinx.rst
  docs/user/intro/import-guide.rst
  docs/user/reference/git-integration.rst
  docs/user/tutorials/index.rst
Owners: @readthedocs/advocacy

Docs: Handle long commit messages in [skip ci] example
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Fix minor typo in "Version states"
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Fix minor typo in "Version states" (#11603)
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Docs: test new theme version/language selector
  .readthedocs.yml
Owners: @readthedocs/backend

Force yes
  .readthedocs.yml
Owners: @readthedocs/backend

Docs: Handle long commit messages in [skip ci] example (#11601)
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Drop unnecessary CSP directives for gold view
  readthedocs/gold/views.py
Owners: @readthedocs/backend

Revert test functionality
  readthedocs/gold/tests/test_views.py
Owners: @readthedocs/backend

Add project: check YAML file for specific branch
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Drop unnecessary CSP directives for gold view (#11605)
  readthedocs/gold/tests/test_views.py
  readthedocs/gold/views.py
Owners: @readthedocs/backend

Add language and markup info the main pages
  docs/user/intro/doctools.rst
  docs/user/intro/mkdocs.rst
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
