Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Format
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Document usage of custom .readthedocs.yaml path (#12577)
  README.rst
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Project: add helper method to get old GitHub OAuth app repo (#12574)
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Remove unrelated changes to tasks/utils.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Release 15.6.1
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Fix ValueError from invalid CSS selectors in EmbedAPI (#12573)
  readthedocs/embed/v3/views.py
Owners: @readthedocs/backend

Fix MultipleObjectsReturned error when multiple integrations exist
  readthedocs/api/v2/views/integrations.py
Owners: @readthedocs/backend

Search: allow deleting search index for a project
  readthedocs/builds/querysets.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0156_project_search_indexing_enabled.py
  readthedocs/projects/models.py
  readthedocs/projects/notifications.py
  readthedocs/projects/tasks/search.py
  readthedocs/search/documents.py
Owners: @readthedocs/backend

Format
  readthedocs/projects/migrations/0156_project_search_indexing_enabled.py
Owners: @readthedocs/backend

Safe
  readthedocs/projects/migrations/0156_project_search_indexing_enabled.py
Owners: @readthedocs/backend

Tests
  readthedocs/projects/tests/test_indexers.py
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Update readthedocs/projects/tests/test_views.py
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Docs: Explain main content node detection in visual diff
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Remove other change
  readthedocs/api/v2/views/integrations.py
Owners: @readthedocs/backend

Search: Update ES to 8.19.7
  .circleci/config.yml
  readthedocs/search/faceted_search.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Search: optimize queryset when searching for subprojects
  readthedocs/core/resolver.py
  readthedocs/projects/models.py
  readthedocs/search/api/v2/serializers.py
  readthedocs/search/api/v3/executor.py
Owners: @readthedocs/backend

Search: Update ES to 8.19.7 (#12587)
  .circleci/config.yml
  readthedocs/search/faceted_search.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Search: allow deleting search index for a project (#12584)
  readthedocs/builds/querysets.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0156_project_search_indexing_enabled.py
  readthedocs/projects/models.py
  readthedocs/projects/notifications.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tests/test_indexers.py
  readthedocs/projects/tests/test_views.py
  readthedocs/search/documents.py
Owners: @readthedocs/backend

Pass ProjectVersionInfo as JSON-safe data
  readthedocs/builds/tasks.py
  readthedocs/projects/datatypes.py
  readthedocs/projects/tasks/mixins.py
Owners: @readthedocs/backend

Create a dataclass for version info
  readthedocs/api/v2/utils.py
  readthedocs/builds/tasks.py
  readthedocs/projects/datatypes.py
  readthedocs/projects/tasks/mixins.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Remove 'minProperties' from build.tools in schema
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/backend

Document Docusaurus trailingSlash requirement for Read the Docs (#12583)
  docs/user/intro/docusaurus.rst
Owners: @readthedocs/advocacy

Update all build tools and add newer versions.
  docs/user/config-file/v2.rst
  readthedocs/builds/constants_docker.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/advocacy, @readthedocs/backend

Update default/latest build tools
  readthedocs/builds/constants_docker.py
Owners: @readthedocs/backend

Extract main content detection to public reference doc
  docs/dev/search-integration.rst
  docs/user/index.rst
  docs/user/reference/main-content-detection.rst
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Move main content detection to features subtree
  docs/user/index.rst
Owners: @readthedocs/advocacy

Fix links
  docs/user/reference/main-content-detection.rst
Owners: @readthedocs/advocacy

Docs: align wording with 'CSS main content selector' label
  docs/user/reference/main-content-detection.rst
Owners: @readthedocs/advocacy

Fix tests on .com
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Add test for multiple integrations error and fix exception handling (#12598)
  readthedocs/api/v2/views/integrations.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

One more setting
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Document specific feature usage
  docs/dev/search-integration.rst
  docs/user/link-previews.rst
  docs/user/reference/main-content-detection.rst
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Fix tests com (#12599)
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Fix linting
  readthedocs/api/v2/views/integrations.py
Owners: @readthedocs/backend

Update error msg
  readthedocs/api/v2/views/integrations.py
Owners: @readthedocs/backend

Format
  readthedocs/search/api/v3/executor.py
Owners: @readthedocs/backend

Fix linting
  readthedocs/api/v2/views/integrations.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Fix missing ref
  docs/dev/search-integration.rst
Owners: @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
