Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Move stop consuming tasks inside before_start
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Use the `reply=` argument from Celery
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

CI: update codecov orb
  .circleci/config.yml
Owners: @readthedocs/backend

Replace URL text filter with dropdown selection in redirects (#13010)
  readthedocs/projects/filters.py
  readthedocs/redirects/tests/test_views.py
Owners: @readthedocs/backend

Builds: Add get_result_display property to Build model (#13105)
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Builds: Rename "External" version type to "Pull request" in UI and docs (#13098)
  docs/user/automation-rules.rst
  readthedocs/builds/constants.py
  readthedocs/builds/migrations/0073_alter_automationrulematch_version_type_and_more.py
  readthedocs/projects/migrations/0165_alter_automationrulematch_version_type.py
Owners: @readthedocs/advocacy, @readthedocs/backend

projects: address review feedback on options_base_version
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0165_options_base_version_help_text.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

DB: fix migrations inconsistency
  readthedocs/builds/migrations/0073_alter_automationrulematch_version_type_and_more.py
Owners: @readthedocs/backend

Builds: remove Ubuntu 20.04 from the list of supported versions (#13115)
  docs/dev/install.rst
  docs/user/build-customization.rst
  docs/user/config-file/v2.rst
  readthedocs/builds/constants_docker.py
  readthedocs/builds/tests/test_buildconfig.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/config/tests/test_config.py
  readthedocs/doc_builder/environments.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/advocacy, @readthedocs/backend

Requirements: update if package is older than 14 days
  .github/workflows/pip-tools.yaml
  tasks.py
Owners: @readthedocs/backend

CI: Replace Codecov with self-hosted coverage reports
  .circleci/config.yml
  .codecov.yml
  .coveragerc
  tox.ini
Owners: @readthedocs/backend

Revert unrelated .coveragerc and tox.ini changes
  .coveragerc
  tox.ini
Owners: @readthedocs/backend

projects: keep user-facing options_base_version copy in the form
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0165_options_base_version_help_text.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/oauth/notifications.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_tasks.py
  readthedocs/oauth/utils.py
  readthedocs/projects/signals.py
  readthedocs/projects/views/mixins.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/core/utils/users.py
  readthedocs/organizations/forms.py
  readthedocs/organizations/tests/test_forms.py
  readthedocs/organizations/tests/test_views.py
  readthedocs/projects/forms.py
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Fix migration
  readthedocs/builds/migrations/0074_alter_automationrulematch_version_type_and_more.py
Owners: @readthedocs/backend

Missing migration
  readthedocs/builds/migrations/0074_change_external_type_label.py
Owners: @readthedocs/backend

Fix
  readthedocs/builds/migrations/0074_change_external_type_label.py
Owners: @readthedocs/backend

DB: fix migrations inconsistency (#13120)
  readthedocs/builds/migrations/0074_change_external_type_label.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/oauth/notifications.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_tasks.py
  readthedocs/oauth/utils.py
  readthedocs/projects/signals.py
  readthedocs/projects/views/mixins.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/core/utils/users.py
  readthedocs/organizations/forms.py
  readthedocs/organizations/tests/test_forms.py
  readthedocs/organizations/tests/test_views.py
  readthedocs/projects/forms.py
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/oauth/notifications.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_tasks.py
  readthedocs/oauth/utils.py
  readthedocs/projects/signals.py
  readthedocs/projects/views/mixins.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/core/utils/users.py
  readthedocs/organizations/forms.py
  readthedocs/organizations/tests/test_forms.py
  readthedocs/organizations/tests/test_views.py
  readthedocs/projects/forms.py
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Format code
  readthedocs/core/utils/users.py
Owners: @readthedocs/backend

Remove homepage field from UserProfile model
  readthedocs/core/admin.py
  readthedocs/core/forms.py
  readthedocs/core/migrations/0022_remove_historicaluserprofile_homepage_and_more.py
  readthedocs/core/models.py
  readthedocs/rtd_tests/tests/test_profile_views.py
Owners: @readthedocs/backend

Format code (#13124)
  readthedocs/core/utils/users.py
Owners: @readthedocs/backend

Updates
  docs/user/reference/llms-txt.rst
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Proxito: serve llms.txt for private versions
  docs/user/reference/llms-txt.rst
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Modernize
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

Docker: follow redirect when installing mc
  dockerfiles/Dockerfile
Owners: @readthedocs/backend

Builds: Add management command to rebuild all active versions
  readthedocs/projects/management/commands/rebuild_active_versions.py
Owners: @readthedocs/backend

builds: fix orphaned automationrulematch migration
  readthedocs/builds/migrations/0073_alter_automationrulematch_version_type_and_more.py
Owners: @readthedocs/backend

docs: quote ETag/Date as RST inline literals
  docs/user/automated-access.rst
Owners: @readthedocs/advocacy

Initial implementation for Celery-on-EC2 ephemeral/isolated builders
  readthedocs/builds/migrations/0073_build_task_arn.py
  readthedocs/builds/migrations/0074_alter_build_task_arn.py
  readthedocs/builds/models.py
  readthedocs/core/utils/__init__.py
  readthedocs/projects/apps.py
  readthedocs/projects/migrations/0165_historicalproject_container_cpu_limit_and_more.py
  readthedocs/projects/migrations/0166_alter_historicalproject_container_cpu_limit_and_more.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/isolated_builder.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Add no self terminate for the instance
  readthedocs/projects/models.py
  readthedocs/projects/tasks/isolated_builder.py
Owners: @readthedocs/backend

Update paths
  readthedocs/projects/tasks/isolated_builder.py
Owners: @readthedocs/backend

projects: surface options_base_version in AddonsConfigForm (#12971)
  docs/user/automated-access.rst
  readthedocs/projects/forms.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Create venv at Docker container start
  dockerfiles/Dockerfile.isolated-builder
  readthedocs/projects/tasks/isolated_builder.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Docker: follow redirect when installing mc (#13126)
  dockerfiles/Dockerfile
Owners: @readthedocs/backend

Potential fix for pull request finding
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend
