Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Proxito: remove `X-RTD-Hosting-Integrations` HTTP header (#11656)
  readthedocs/proxito/tests/test_headers.py
Owners: @readthedocs/backend

Search: respect spacing from block elements when indexing
  readthedocs/search/parsers.py
  readthedocs/search/tests/data/sphinx/in/page.html
  readthedocs/search/tests/data/sphinx/out/page.json
Owners: @readthedocs/backend, @readthedocs/frontend

Update readthedocs/projects/notifications.py
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Notification: update copy since it's a past date (#11657)
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Addons: disable search filters for now (#11638)
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Release 11.9.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.9.0 (#11659)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Simplify instructions for installing dependencies with uv (#11655)
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Fix analytics links
  docs/user/addons.rst
  docs/user/guides/content/index.rst
  docs/user/guides/technical-docs-seo-guide.rst
  docs/user/index.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Fix other issues
  docs/user/commercial/index.rst
  docs/user/commercial/sharing.rst
  docs/user/index.rst
Owners: @readthedocs/advocacy

Clean up index
  docs/user/commercial/index.rst
  docs/user/index.rst
Owners: @readthedocs/advocacy

Version file tree diff: design doc (#11507)
  docs/dev/design/file-tree-diff.rst
Owners: @readthedocs/advocacy

Build: refactor search indexing process (#11643)
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_imported_file.py
Owners: @readthedocs/backend

Search: respect spacing from block elements when indexing (#11658)
  readthedocs/search/parsers.py
  readthedocs/search/tests/data/sphinx/in/page.html
  readthedocs/search/tests/data/sphinx/out/page.json
Owners: @readthedocs/backend, @readthedocs/frontend

codespell the docs directory
  docs/Makefile
  docs/dev/design/better-doc-urls-handling.rst
  docs/dev/design/build-images.rst
  docs/dev/design/file-tree-diff.rst
  docs/dev/design/new-notifications-system.rst
  docs/dev/design/new-search-api.rst
  docs/dev/design/pr-builder.rst
  docs/dev/design/redirects.rst
  docs/dev/design/secure-api-access-from-builders.rst
  docs/dev/search-integration.rst
  docs/dev/subscriptions.rst
  docs/user/api/v3.rst
  docs/user/builds.rst
  docs/user/faq.rst
  docs/user/glossary.rst
  docs/user/intro/add-project.rst
  docs/user/science.rst
  docs/user/server-side-search/api.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Upgrade .circleci/config.yml
  .circleci/config.yml
Owners: @readthedocs/backend

codespell the docs directory (#11664)
  docs/Makefile
  docs/dev/design/better-doc-urls-handling.rst
  docs/dev/design/build-images.rst
  docs/dev/design/file-tree-diff.rst
  docs/dev/design/new-notifications-system.rst
  docs/dev/design/new-search-api.rst
  docs/dev/design/pr-builder.rst
  docs/dev/design/redirects.rst
  docs/dev/design/secure-api-access-from-builders.rst
  docs/dev/search-integration.rst
  docs/dev/subscriptions.rst
  docs/user/api/v3.rst
  docs/user/builds.rst
  docs/user/faq.rst
  docs/user/glossary.rst
  docs/user/intro/add-project.rst
  docs/user/science.rst
  docs/user/server-side-search/api.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

.circleci/config.yml: Upgrade from Node.js v10 to v20
  .circleci/config.yml
Owners: @readthedocs/backend

natives --> graceful-fs
  package.json
Owners: @readthedocs/backend

npm install
  package-lock.json
Owners: @readthedocs/backend

npm audio fix && npm install
  package-lock.json
Owners: @readthedocs/backend

npm audit fix --force && npm install
  package-lock.json
  package.json
Owners: @readthedocs/backend

Notification: make "pending configuration" dismissable
  readthedocs/domains/tasks.py
Owners: @readthedocs/backend

Notification: make "pending configuration" dismissable (#11670)
  readthedocs/domains/tasks.py
Owners: @readthedocs/backend

Remove session fallback cookie
  readthedocs/core/middleware.py
  readthedocs/rtd_tests/tests/test_middleware.py
Owners: @readthedocs/backend

Sitemap: don't include hidden versions
  docs/user/reference/sitemaps.rst
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Enable subproject filters for projects with subprojects
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Also show on subprojects
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Subscription: better feature description
  readthedocs/subscriptions/constants.py
Owners: @readthedocs/backend

Sitemap: don't include hidden versions (#11675)
  docs/user/reference/sitemaps.rst
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Update to support subprojects having the right filter
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Link to new dashboard Addons page in old dashboard settings.
  readthedocs/templates/projects/project_edit_base.html
Owners: @readthedocs/frontend

Accidentally a word
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Fix up link
  readthedocs/templates/projects/project_edit_base.html
Owners: @readthedocs/frontend

Fix up docstring
  readthedocs/templates/projects/project_edit_base.html
Owners: @readthedocs/frontend

Fix tests
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Fix analytics links (#11661)
  docs/user/addons.rst
  docs/user/commercial/sharing.rst
  docs/user/guides/content/index.rst
  docs/user/guides/technical-docs-seo-guide.rst
  docs/user/index.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Link to new dashboard Addons page in old dashboard settings. (#11678)
  readthedocs/templates/projects/project_edit_base.html
Owners: @readthedocs/frontend

Fix Content type on addons in dev
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend
