Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Update steps
  docs/dev/aws-temporary-credentials.rst
  readthedocs/aws/security_token_service.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Update log
  readthedocs/oauth/models.py
Owners: @readthedocs/backend

Versions: always keep latest in sync with default branch/tag
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Updates to match templates
  readthedocs/oauth/migrate.py
  readthedocs/profiles/views.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Update log (#12120)
  readthedocs/oauth/models.py
Owners: @readthedocs/backend

Better support for users with multiple GitHub accounts
  readthedocs/core/templatetags/readthedocs/socialaccounts.py
  readthedocs/oauth/migrate.py
  readthedocs/oauth/utils.py
  readthedocs/profiles/views.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/profiles/tests/test_views.py
Owners: @readthedocs/backend

Add migration page for GitHub App (#12112)
  readthedocs/core/templatetags/readthedocs/socialaccounts.py
  readthedocs/oauth/migrate.py
  readthedocs/oauth/notifications.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/utils.py
  readthedocs/profiles/tests/__init__.py
  readthedocs/profiles/tests/test_views.py
  readthedocs/profiles/urls/private.py
  readthedocs/profiles/views.py
  readthedocs/rtd_tests/tests/test_oauth.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
Owners: @readthedocs/backend

Versions: always keep latest in sync with default branch/tag (#12121)
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Upgrade packages and merge with origin/main
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Release 12.0.5
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 12.0.5 (#12125)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

We can't pass `{opts}` here
  tox.embedapi.ini
Owners: @readthedocs/backend

GitHub App: fix PR builds and import
  readthedocs/oauth/admin.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/views.py
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

One more fix
  readthedocs/oauth/services/githubapp.py
Owners: @readthedocs/backend

Fix tests and return a single value
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/oauth/utils.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Test
  readthedocs/rtd_tests/tests/test_celery.py
Owners: @readthedocs/backend

Test form
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Missed one
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

This file is not needed
  readthedocs/builds/migrations/0062_builds_indexes.py
Owners: @readthedocs/backend

Update migrations to make Django 5.2, tests and check happy
  readthedocs/builds/migrations/0001_initial.py
  readthedocs/builds/migrations/0017_builds_deterministic_order_index.py
  readthedocs/builds/migrations/0054_add_builds_index_for_addons.py
  readthedocs/builds/migrations/0061_remove_unused_indexes.py
Owners: @readthedocs/backend

Add missing migration
  readthedocs/builds/migrations/0062_rename_indexes.py
Owners: @readthedocs/backend

GitHub App: fix PR builds and import (#12126)
  readthedocs/oauth/admin.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/oauth/utils.py
  readthedocs/oauth/views.py
  readthedocs/projects/forms.py
  readthedocs/projects/tests/test_views.py
  readthedocs/rtd_tests/tests/test_celery.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

fix merge
  readthedocs/oauth/services/githubapp.py
Owners: @readthedocs/backend

Scope token
  readthedocs/oauth/services/githubapp.py
Owners: @readthedocs/backend

Format
  readthedocs/oauth/services/githubapp.py
Owners: @readthedocs/backend

Remove this
  readthedocs/oauth/services/base.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Test api
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Add test
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Debug
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Update test
  readthedocs/profiles/tests/test_views.py
Owners: @readthedocs/backend

Fix more tests
  readthedocs/profiles/tests/test_views.py
Owners: @readthedocs/backend

Fix?
  readthedocs/profiles/tests/test_views.py
Owners: @readthedocs/backend

Nope, rollback
  readthedocs/profiles/tests/test_views.py
Owners: @readthedocs/backend

Debug
  readthedocs/profiles/tests/test_views.py
Owners: @readthedocs/backend

Fond the problem
  readthedocs/oauth/services/github.py
  readthedocs/profiles/tests/test_views.py
Owners: @readthedocs/backend

Fix tests on .com (#12131)
  readthedocs/oauth/services/github.py
  readthedocs/profiles/tests/test_views.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend
