Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Apply suggestions from code review
  docs/user/guides/setup/git-repo-manual.rst
Owners: @readthedocs/advocacy

Small wording cleanup on Integration howto (#10632)
  docs/user/guides/setup/git-repo-manual.rst
Owners: @readthedocs/advocacy

Git: simplify submodule checks
  readthedocs/projects/exceptions.py
  readthedocs/projects/tests/mockers.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/projects/validators.py
  readthedocs/rtd_tests/tests/test_backend.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Proxito: allow to generate proxied API URLs with a prefix (#10634)
  readthedocs/api/v2/serializers.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_models.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Small edits to structure
  docs/user/explanation/documentation-structure.rst
  docs/user/explanation/methodology.rst
Owners: @readthedocs/advocacy

Docs: Methodology section (#10417)
  docs/user/explanation/documentation-structure.rst
  docs/user/explanation/methodology.rst
  docs/user/index.rst
Owners: @readthedocs/advocacy

Build: update links to blog post
  readthedocs/projects/tasks/utils.py
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/backend, @readthedocs/frontend

Build: do not set `sphinx_rtd_theme` theme automatically
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Build: fail the build if `docs/conf.py` doesn't exist
  readthedocs/doc_builder/backends/sphinx.py
Owners: @readthedocs/backend

Docs: update tutorial with the latest required changes
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Build: update links to blog post (#10636)
  readthedocs/projects/tasks/utils.py
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/backend, @readthedocs/frontend

Development: disable cached Loader on `DEBUG=True`
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Development: disable cached Loader on `DEBUG=True` (#10640)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Remove the celery email tasks until we can debug them.
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Build: do not set `sphinx_rtd_theme` theme automatically (#10638)
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Build: drop `websupport2` support from `conf.py` template
  readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl
Owners: @readthedocs/backend

JS assets: remove `websupport2-bundle.js`
  media/javascript/websupport2-bundle.js
Owners: @readthedocs/frontend

Docs: update screenshot
  docs/user/_static/images/tutorial/github-template.png
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Docs: the page is called Admin
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Docs: remove note about requiring a YAML file
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Build: raise exception if no config file
  readthedocs/doc_builder/backends/sphinx.py
Owners: @readthedocs/backend

Docs: update tutorial with the latest required changes (#10639)
  docs/user/_static/images/tutorial/github-template.png
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Celery: use `django-celery-beat` scheduler
  readthedocs/settings/base.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Celery: use `wed` instead of `wednesday`
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Build: drop websupport2 support from conf.py template (#10646)
  media/javascript/websupport2-bundle.js
  readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl
Owners: @readthedocs/frontend, @readthedocs/backend

Import: remove extra/advanced step from project import wizard (#10603)
  readthedocs/projects/forms.py
  readthedocs/projects/views/mixins.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_project_forms.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

VCS: remove unused methods and make new Git pattern the default (#8968)
  readthedocs/projects/models.py
  readthedocs/projects/tasks/mixins.py
  readthedocs/projects/tests/mockers.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_backend.py
  readthedocs/vcs_support/backends/__init__.py
  readthedocs/vcs_support/backends/bzr.py
  readthedocs/vcs_support/backends/git.py
  readthedocs/vcs_support/backends/hg.py
  readthedocs/vcs_support/backends/svn.py
  readthedocs/vcs_support/base.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Celery: use django-celery-beat scheduler (#10647)
  readthedocs/settings/base.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Addons: prepare the backend for the new flyout
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Remove the celery email tasks until we can debug them. (#10641)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

typo fix "you"->"your"
  docs/user/user-defined-redirects.rst
Owners: @readthedocs/advocacy

Tests
  readthedocs/organizations/migrations/0012_add_organization_never_disable.py
  readthedocs/organizations/migrations/0013_migrate_locked_subscriptions.py
  readthedocs/organizations/models.py
  readthedocs/organizations/querysets.py
  readthedocs/organizations/tests/test_querysets.py
  readthedocs/subscriptions/tasks.py
  readthedocs/subscriptions/tests/test_daily_email.py
  readthedocs/subscriptions/tests/test_tasks.py
Owners: @readthedocs/backend

Subscriptions: remove old code
  readthedocs/organizations/models.py
  readthedocs/organizations/signals.py
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/managers.py
  readthedocs/subscriptions/models.py
  readthedocs/subscriptions/signals.py
  readthedocs/subscriptions/tasks.py
  readthedocs/subscriptions/templates/subscriptions/notifications/subscription_stats_email.txt
  readthedocs/subscriptions/tests/test_event_handlers.py
  readthedocs/subscriptions/tests/test_models.py
  readthedocs/subscriptions/tests/test_views.py
  readthedocs/subscriptions/utils.py
Owners: @readthedocs/backend

Format
  readthedocs/organizations/migrations/0013_migrate_locked_subscriptions.py
Owners: @readthedocs/backend

Fixes
  readthedocs/organizations/querysets.py
  readthedocs/organizations/signals.py
Owners: @readthedocs/backend

Fix migration
  readthedocs/organizations/migrations/0013_migrate_locked_subscriptions.py
Owners: @readthedocs/backend

Format
  readthedocs/organizations/signals.py
Owners: @readthedocs/backend

Don't create subscription when checking for feature
  readthedocs/subscriptions/products.py
Owners: @readthedocs/backend

Include requirements in cache key
  .circleci/config.yml
Owners: @readthedocs/backend
