Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Use old method for now
  readthedocs/config/config.py
Owners: @readthedocs/backend

Add Markdoc to the doc tools
  docs/user/intro/doctools.rst
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Add to toctree
  docs/user/index.rst
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Add Antora docs
  docs/user/intro/antora.rst
  docs/user/intro/doctools.rst
Owners: @readthedocs/advocacy

Add toctree
  docs/user/index.rst
  docs/user/intro/doctools.rst
Owners: @readthedocs/advocacy

Move the `DEFAULT_ROOT_SELECTOR` to the frontend
  readthedocs/embed/v3/views.py
  readthedocs/projects/models.py
  readthedocs/proxito/views/hosting.py
  readthedocs/search/parsers.py
Owners: @readthedocs/backend

Update tests
  readthedocs/proxito/tests/responses/v1.json
Owners: @readthedocs/backend

Use addons JavaScript file from Docker container
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend

Use NGINX to proxy it to addons container
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend

Update development docs
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Typo
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/user/intro/doctools.rst
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Placeholder
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Set brownouts for deprecated embed API v2
  readthedocs/embed/views.py
Owners: @readthedocs/backend

Use addons JavaScript file from Docker container (#11785)
  dockerfiles/nginx/proxito.conf.template
  docs/dev/install.rst
Owners: @readthedocs/backend, @readthedocs/advocacy

Update docs/user/intro/markdoc.rst
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Prefix all paths in proxito urls
  readthedocs/proxito/urls.py
Owners: @readthedocs/backend

Use re_path
  readthedocs/proxito/urls.py
Owners: @readthedocs/backend

Update docs/user/intro/markdoc.rst
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Update docs/user/intro/markdoc.rst
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Update docs/user/intro/markdoc.rst
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Remove path import
  readthedocs/proxito/urls.py
Owners: @readthedocs/backend

Increase default docker limits
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Fixes
  readthedocs/embed/views.py
Owners: @readthedocs/backend

Add dev favicon
  media/images/favicon-dev.png
Owners: @readthedocs/frontend

Update docs/user/intro/markdoc.rst
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Increase default docker limits (#11788)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Addons: make default root CSS selector a shared option (#11767)
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0137_use_generic_root_selector.py
  readthedocs/projects/migrations/0138_remove_old_fields.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Add Supported Features
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Add Supported Features
  docs/user/intro/docusaurus.rst
Owners: @readthedocs/advocacy

Fix whitespace
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Support RTD_USE_PROMOS for setting USE_PROMOS in dev
  docs/dev/settings.rst
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Add test filesection indexer
  readthedocs/filesections/__init__.py
  readthedocs/filesections/dataclasses.py
  readthedocs/projects/constants.py
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Change reponse name to pages
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

File tree diff: migrate feature flag to model field
  readthedocs/projects/migrations/0139_addons_filetreediff_field.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
  readthedocs/rtd_tests/tests/test_imported_file.py
Owners: @readthedocs/backend

Update migration
  readthedocs/projects/migrations/0139_addons_filetreediff_field.py
Owners: @readthedocs/backend

Addons: base version to compare against (DocDiff and File Tree Diff)
  readthedocs/projects/migrations/0140_addons_options_base_version.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Set brownouts for deprecated embed API v2 (#11786)
  readthedocs/embed/views.py
Owners: @readthedocs/backend

Update tests
  readthedocs/rtd_tests/tests/test_imported_file.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
