Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Revert "Dependencies: all packages updated via pip-tools (#12135)"
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Revert "Dependencies: all packages updated via pip-tools" (#12136)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Release 13.0.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 13.0.0 (#12141)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Docs: handle versions when "instant loading" feature enabled
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Build: update build tools
  docs/user/config-file/v2.rst
  readthedocs/builds/constants_docker.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/advocacy, @readthedocs/backend

New templates: remove `TEMPLATE_ROOT` setting and old template path
  readthedocs/core/context_processors.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Downgrade to Django 4.2.x due to `djstripe`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Minor changes required for Django 4.2.x
  pytest.ini
  readthedocs/oauth/models.py
Owners: @readthedocs/backend

Downgrade to Django 4.2.x due to `djstripe`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Minor changes required for Django 4.2.x
  pytest.ini
  readthedocs/oauth/models.py
Owners: @readthedocs/backend

Downgrade to Django 4.2.x due to `djstripe`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Minor changes required for Django 4.2.x
  pytest.ini
  readthedocs/oauth/models.py
Owners: @readthedocs/backend

Search: truncate contents before indexing
  readthedocs/search/parsers.py
  readthedocs/search/tests/test_parsers.py
Owners: @readthedocs/backend

Update docs/user/intro/mkdocs.rst
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Downgrade to Django 4.2.x due to `djstripe` (#12145)
  pytest.ini
  readthedocs/oauth/models.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Docs: handle versions when "instant loading" feature enabled (#12142)
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Condiontally homepage redirect based on domain and logged in status
  readthedocs/core/views/__init__.py
Owners: @readthedocs/backend

Upgrade `djstripe`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade Django to 5.2
  pytest.ini
  readthedocs/oauth/models.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

`stripe.api_requestor.APIRequestor` now lives at `stripe.APIRequestor`
  readthedocs/gold/tests/test_signals.py
Owners: @readthedocs/backend

The `djstripe.webhooks.registration` code was removed
  readthedocs/subscriptions/tests/test_event_handlers.py
Owners: @readthedocs/backend

Update Stripe test to use `requests_mock`
  readthedocs/gold/tests/test_signals.py
Owners: @readthedocs/backend

Search: truncate contents before indexing (#12146)
  readthedocs/search/parsers.py
  readthedocs/search/tests/test_parsers.py
Owners: @readthedocs/backend

Search: truncate contents before indexing (#12146)
  readthedocs/search/parsers.py
  readthedocs/search/tests/test_parsers.py
Owners: @readthedocs/backend

Search: truncate contents before indexing (#12146)
  readthedocs/search/parsers.py
  readthedocs/search/tests/test_parsers.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Domains: don't check for limit on existing domains
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_domain_views.py
Owners: @readthedocs/backend

Domains: don't check for limit on existing domains (#12154)
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_domain_views.py
Owners: @readthedocs/backend

Condiontally homepage redirect based on domain and logged in status (#12147)
  readthedocs/core/views/__init__.py
Owners: @readthedocs/backend

Upgrade `djstripe` (#12148)
  readthedocs/gold/tests/test_signals.py
  readthedocs/subscriptions/tests/test_event_handlers.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Update build-customization.rst
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Update djstripe handlers (`webhook.handler` was deleted)
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Update djstripe handlers (`webhook.handler` was deleted) (#12156)
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Release 13.1.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 13.1.0 (#12157)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Do not run `djstripe` checks on builders
  readthedocs/projects/apps.py
Owners: @readthedocs/backend

Do not run `djstripe` checks on builders
  readthedocs/projects/apps.py
Owners: @readthedocs/backend

Do not run `djstripe` checks on builders
  readthedocs/projects/apps.py
Owners: @readthedocs/backend
