Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Fix error type
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Remove showing errors from `build.error`
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/frontend

Typo in copy
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Use 10.13.0 mo file for now
  readthedocs/locale/de/LC_MESSAGES/django.mo
Owners: @readthedocs/backend

Revert mo file
  readthedocs/locale/de/LC_MESSAGES/django.mo
Owners: @readthedocs/backend

Fix mo file
  readthedocs/locale/de/LC_MESSAGES/django.mo
Owners: @readthedocs/backend

Redirects: remove null option from position field
  readthedocs/redirects/migrations/0008_alter_redirect_position.py
  readthedocs/redirects/models.py
Owners: @readthedocs/backend

Redirects: remove null option from position field
  readthedocs/redirects/migrations/0008_alter_redirect_position.py
  readthedocs/redirects/models.py
Owners: @readthedocs/backend

Redirects: remove null option from position field
  readthedocs/redirects/migrations/0008_alter_redirect_position.py
  readthedocs/redirects/models.py
Owners: @readthedocs/backend

Redirects: remove null option from position field (#10991)
  readthedocs/redirects/migrations/0008_alter_redirect_position.py
  readthedocs/redirects/models.py
Owners: @readthedocs/backend

Development: update steps for testing subscriptions
  docs/dev/subscriptions.rst
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Integrations: harcode deprecation date for incoming webhooks without a secret
  readthedocs/api/v2/views/integrations.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Format
  readthedocs/api/v2/views/integrations.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Revert "Remove showing errors from `build.error`"
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/frontend

Comment explaining the decision about `Build.error` HTML+KO code
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/frontend

Use `textwrap.dedent` + `.strip()` for all messages
  readthedocs/config/notifications.py
  readthedocs/core/notifications.py
  readthedocs/domains/notifications.py
  readthedocs/notifications/messages.py
  readthedocs/oauth/notifications.py
  readthedocs/projects/notifications.py
  readthedocs/subscriptions/notifications.py
Owners: @readthedocs/backend

Avoid breaking at rendering time
  readthedocs/notifications/models.py
Owners: @readthedocs/backend

Apply feedback from review
  readthedocs/api/v2/views/model_views.py
Owners: @readthedocs/backend

Lint
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Remove leftovers from `django-messages-extends`
  readthedocs/templates/base.html
Owners: @readthedocs/frontend

Development: update steps for testing subscriptions (#10992)
  docs/dev/subscriptions.rst
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Use datetime
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Integrations: hardcode deprecation date for incoming webhooks without a secret (#10993)
  readthedocs/api/v2/views/integrations.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Notifications: small fixes found after reviewer
  readthedocs/subscriptions/notifications.py
Owners: @readthedocs/backend

Handle missing `.format()` key
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Protection agasint XSS when rendering notifications
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Test for missing key in format values and XSS protection
  readthedocs/notifications/tests/test_messages.py
Owners: @readthedocs/backend

Lint
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Fix ref to the "new addons integrations" blog post @ custom build doc
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Fix ref to the "new addons integrations" blog post @ custom build doc (#10997)
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Document we only support `str` and `int` for now in `format_values`
  readthedocs/notifications/messages.py
  readthedocs/notifications/tests/test_messages.py
Owners: @readthedocs/backend

Remove leftovers from `django-messages-extends` (#10994)
  readthedocs/templates/base.html
Owners: @readthedocs/frontend

Eslint fix issues
  readthedocs/builds/static-src/builds/js/detail.js
  readthedocs/builds/static/builds/js/detail.js
Owners: @readthedocs/frontend

Remove newline at the end of the file
  readthedocs/builds/static/builds/js/detail.js
Owners: @readthedocs/frontend

Eslit fix
  readthedocs/builds/static-src/builds/js/detail.js
Owners: @readthedocs/frontend

Typo
  readthedocs/oauth/notifications.py
Owners: @readthedocs/backend

Remove _level_to_color call that doesn't exist
  readthedocs/core/logs.py
Owners: @readthedocs/backend

Remove _level_to_color call that doesn't exist
  readthedocs/core/logs.py
Owners: @readthedocs/backend

Remove _level_to_color call that doesn't exist
  readthedocs/core/logs.py
Owners: @readthedocs/backend

Revert "Remove _level_to_color call that doesn't exist"
  readthedocs/core/logs.py
Owners: @readthedocs/backend
