Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Release 12.0.2 (#12068)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Remove dead code (#12060)
  readthedocs/analytics/tasks.py
Owners: @readthedocs/backend

Update requirements/pip.in
  requirements/pip.in
Owners: @readthedocs/backend

Requirements: use xmlsec with `--no-binary` option (#12056)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Add tests for migration page
  readthedocs/oauth/migrate.py
  readthedocs/profiles/tests/__init__.py
  readthedocs/profiles/tests/test_views.py
  readthedocs/profiles/views.py
Owners: @readthedocs/backend

Webhooks: refactor branch/tag building (#12014)
  readthedocs/api/v2/views/integrations.py
  readthedocs/core/views/hooks.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_integrations.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Fix merge conflict
  readthedocs/core/views/hooks.py
Owners: @readthedocs/backend

Match changes
  readthedocs/oauth/views.py
Owners: @readthedocs/backend

Add models for GitHub App
  readthedocs/oauth/admin.py
  readthedocs/oauth/constants.py
  readthedocs/oauth/migrations/0018_githubapp.py
  readthedocs/oauth/models.py
Owners: @readthedocs/backend

We don't need these yet
  readthedocs/oauth/models.py
Owners: @readthedocs/backend

Updates from review
  readthedocs/oauth/models.py
Owners: @readthedocs/backend

Add models for GitHub App (#12070)
  readthedocs/oauth/admin.py
  readthedocs/oauth/constants.py
  readthedocs/oauth/migrations/0018_githubapp.py
  readthedocs/oauth/models.py
Owners: @readthedocs/backend

Revert "Requirements: use xmlsec with `--no-binary` option (#12056)"
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Revert "Requirements: use xmlsec with `--no-binary` option" (#12071)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Add GitHub App service
  readthedocs/oauth/clients.py
  readthedocs/oauth/models.py
  readthedocs/oauth/querysets.py
  readthedocs/oauth/services/__init__.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/oauth/urls.py
  readthedocs/oauth/views.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_oauth.py
  readthedocs/rtd_tests/tests/test_oauth_tasks.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/settings/test.py
  readthedocs/urls.py
Owners: @readthedocs/backend

Update RTD config
  .readthedocs.yml
Owners: @readthedocs/backend

Update docs/user/build-customization.rst
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Downgrade safemigrate
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Install PyGithub
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Sync organizations
  readthedocs/oauth/services/githubapp.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Include docs as well
  docs/dev/install.rst
  docs/dev/settings.rst
Owners: @readthedocs/advocacy

Set as literal
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Decouple migration from current GH account
  readthedocs/oauth/migrate.py
Owners: @readthedocs/backend

More decoupling
  readthedocs/oauth/migrate.py
  readthedocs/profiles/views.py
Owners: @readthedocs/backend

Docs: mention fine-grained personal access token for GitHub
  docs/user/guides/private-python-packages.rst
Owners: @readthedocs/advocacy

Very WIP docs
  docs/user/guides/connecting-git-account.rst
  docs/user/guides/pull-requests.rst
  docs/user/intro/add-project.rst
  docs/user/reference/git-integration.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Update docs
  docs/user/guides/private-submodules.rst
  docs/user/guides/setup/git-repo-manual.rst
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Updates from review
  docs/dev/install.rst
  docs/dev/settings.rst
  readthedocs/oauth/models.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Fix nested list
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Add dev docs for the GitHub App integration
  docs/dev/github-app.rst
  docs/dev/index.rst
Owners: @readthedocs/advocacy

Storage: remove build environment storage
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/storage/__init__.py
  readthedocs/storage/s3_storage.py
Owners: @readthedocs/backend

Build: use scoped credentials for interacting with S3
  readthedocs/api/v2/views/model_views.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/storage/rclone.py
  readthedocs/storage/s3_storage.py
  readthedocs/storage/security_token_service.py
Owners: @readthedocs/backend

Updates
  readthedocs/api/v2/views/model_views.py
  readthedocs/builds/storage.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/settings/base.py
  readthedocs/storage/s3_storage.py
  readthedocs/storage/security_token_service.py
Owners: @readthedocs/backend

Less settings
  readthedocs/builds/storage.py
  readthedocs/projects/tasks/builds.py
  readthedocs/settings/base.py
  readthedocs/storage/s3_storage.py
  readthedocs/storage/security_token_service.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/projects/tests/mockers.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Add test for the task
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tests/mockers.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Storage: remove build environment storage (#12077)
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/storage/__init__.py
  readthedocs/storage/s3_storage.py
Owners: @readthedocs/backend

Docs and settings
  docs/dev/aws-temporary-credentials.rst
  docs/dev/index.rst
  docs/dev/settings.rst
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Cleanup tests
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend
