Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Release 15.2.1
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Updates from review
  docs/user/guides/private-submodules.rst
  docs/user/guides/pull-requests.rst
Owners: @readthedocs/advocacy

Updates from review
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Docs: update visual diff docs (#12453)
  docs/user/img/build-overview-comment.png
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Format
  docs/user/guides/private-submodules.rst
Owners: @readthedocs/advocacy

Fix link
  docs/user/guides/pull-requests.rst
Owners: @readthedocs/advocacy

Docs: update docs to mention GitHub app (#12452)
  docs/user/guides/private-submodules.rst
  docs/user/guides/pull-requests.rst
  docs/user/intro/add-project.rst
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Use lock
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Don't use default, just rely on or
  readthedocs/oauth/services/gitlab.py
Owners: @readthedocs/backend

Git services: allow updating a single repository (#12429)
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/oauth/tasks.py
  readthedocs/rtd_tests/tests/test_oauth.py
  readthedocs/rtd_tests/tests/test_oauth_tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Projects: improve deletion
  readthedocs/builds/models.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

This is already done in clean_project_resources
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Updates
  readthedocs/builds/models.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

Remove todo
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

Docs: mention checks permission
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Versions: more tests for sync versions
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Version: use git_identifier in vcs_url
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Project: use get_original_latest_version in form
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Project: use latest version or its alias for syncing versions
  readthedocs/core/views/hooks.py
Owners: @readthedocs/backend

We no longer have branches with origin/
  readthedocs/rtd_tests/tests/test_version.py
  readthedocs/rtd_tests/tests/test_version_commit_name.py
Owners: @readthedocs/backend

Fix test
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Latest has priority
  readthedocs/core/views/hooks.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Projects: improve deletion (#12456)
  readthedocs/projects/models.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

Docs: mention checks permission (#12457)
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Project: use get_original_latest_version in form (#12460)
  readthedocs/projects/forms.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Project: use latest version for syncing versions (#12461)
  readthedocs/core/views/hooks.py
Owners: @readthedocs/backend

OAuth: re-enable sync active user repos task (#12443)
  readthedocs/oauth/tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Version: use git_identifier in vcs_url (#12459)
  readthedocs/builds/models.py
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/rtd_tests/tests/test_version.py
  readthedocs/rtd_tests/tests/test_version_commit_name.py
Owners: @readthedocs/backend

Versions: more tests for sync versions (#12458)
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Build: skip checkout for latest when no default version is given
  readthedocs/api/v2/views/integrations.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

docs: fix git-lfs changelog overrides the local one
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

docs: fix git-lfs changelog overrides the local one (#12464)
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Release 15.2.2
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Build: use 24h for build API token expiry date
  readthedocs/api/v2/models.py
Owners: @readthedocs/backend

Add small comment about revoke behavior
  readthedocs/api/v2/models.py
Owners: @readthedocs/backend

Update test
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Update test again
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Build: use 24h for build API token expiry date (#12469)
  readthedocs/api/v2/models.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend
