Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Use past tense for PROJECT_DELETE display text
  readthedocs/audit/migrations/0009_add_project_delete_action.py
  readthedocs/audit/models.py
Owners: @readthedocs/backend

Add tests for project deletion audit logging and history IP/browser capture
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Create project audit logs when an organization is deleted
  readthedocs/core/tasks.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Docs: clarify that page redirects apply to all translations
  docs/user/user-defined-redirects.rst
Owners: @readthedocs/advocacy

Rename 'Iranian' to 'Persian' for Farsi language code
  readthedocs/projects/constants.py
Owners: @readthedocs/backend

Fix build status notification: remove stray HTML tag, add troubleshooting link
  readthedocs/oauth/notifications.py
Owners: @readthedocs/backend

Update broken embed API example URLs
  docs/user/api/v2.rst
  docs/user/api/v3.rst
  readthedocs/embed/v3/views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Apply pre-commit auto-fixes
  readthedocs/embed/v3/views.py
  readthedocs/oauth/notifications.py
  readthedocs/projects/constants.py
Owners: @readthedocs/backend

Fix screenshot width: use CSS selectors to crop to primary content
  screenshots.yml
Owners: @readthedocs/backend

Remove changefreq and priority from sitemap.xml
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
  readthedocs/templates/sitemap.xml
Owners: @readthedocs/backend

Consolidate screenshot tools into shot-scraper and hide page chrome
  screenshots.yml
  take_screenshots.py
Owners: @readthedocs/backend

Regenerate screenshots with chrome hidden and correct dimensions
  docs/user/_static/images/search-analytics-demo.png
  docs/user/_static/images/tutorial/active-versions.png
  docs/user/_static/images/tutorial/inactive-versions.png
  docs/user/_static/images/tutorial/rtd-empty-dashboard.png
  docs/user/_static/images/tutorial/rtd-first-successful-build.png
  docs/user/_static/images/tutorial/rtd-import-projects.png
  docs/user/_static/images/tutorial/rtd-project-home.png
  docs/user/_static/images/tutorial/search-analytics-terms.png
  docs/user/_static/images/tutorial/traffic-analytics-plot.png
  docs/user/img/screenshot-howto-build-configuration-file.png
  docs/user/img/screenshot-webhook.png
  docs/user/img/screenshot_automation_rules_add.png
  docs/user/img/screenshot_connected_services.png
  docs/user/img/screenshot_environment_variables.png
  docs/user/img/screenshot_redirects.png
  docs/user/img/screenshot_redirects_preview.png
  docs/user/img/screenshot_subprojects_list.png
  docs/user/img/screenshots/business-project-manual-form.png
  docs/user/img/screenshots/business-project-manual-team-select.png
  docs/user/img/screenshots/community-project-subproject-create.png
  docs/user/img/screenshots/community-project-subproject-list.png
  docs/user/img/screenshots/community-project-webhook-activity.png
  docs/user/img/screenshots/community-project-webhook-create.png
  docs/user/img/screenshots/community-project-webhook-secret.png
  screenshots.yml
Owners: @readthedocs/advocacy, @readthedocs/backend

Use selector-based screenshots to auto-size to content
  docs/user/_static/images/search-analytics-demo.png
  docs/user/_static/images/tutorial/active-versions.png
  docs/user/_static/images/tutorial/inactive-versions.png
  docs/user/_static/images/tutorial/rtd-empty-dashboard.png
  docs/user/_static/images/tutorial/rtd-first-successful-build.png
  docs/user/_static/images/tutorial/rtd-project-home.png
  docs/user/_static/images/tutorial/search-analytics-terms.png
  docs/user/_static/images/tutorial/traffic-analytics-plot.png
  docs/user/img/screenshot-howto-build-configuration-file.png
  docs/user/img/screenshot-webhook.png
  docs/user/img/screenshot_automation_rules_add.png
  docs/user/img/screenshot_connected_services.png
  docs/user/img/screenshot_environment_variables.png
  docs/user/img/screenshot_redirects.png
  docs/user/img/screenshot_redirects_preview.png
  docs/user/img/screenshot_subprojects_list.png
  docs/user/img/screenshots/business-project-manual-form.png
  docs/user/img/screenshots/business-project-manual-team-select.png
  docs/user/img/screenshots/community-project-subproject-create.png
  docs/user/img/screenshots/community-project-subproject-list.png
  docs/user/img/screenshots/community-project-webhook-activity.png
  docs/user/img/screenshots/community-project-webhook-create.png
  docs/user/img/screenshots/community-project-webhook-secret.png
  screenshots.yml
Owners: @readthedocs/advocacy, @readthedocs/backend

Remove unrelated changes from screenshot PR
  docs/user/api/v2.rst
  docs/user/api/v3.rst
  docs/user/commercial/sharing.rst
  docs/user/guides/creating-project-private-repository.rst
  docs/user/guides/subprojects.rst
  docs/user/guides/uv.rst
  docs/user/testing.rst
  docs/user/user-defined-redirects.rst
  readthedocs/embed/v3/views.py
  readthedocs/oauth/notifications.py
  readthedocs/projects/constants.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Add import page to screenshots and regenerate all
  docs/user/_static/images/tutorial/active-versions.png
  docs/user/_static/images/tutorial/inactive-versions.png
  docs/user/_static/images/tutorial/rtd-first-successful-build.png
  docs/user/_static/images/tutorial/rtd-import-projects.png
  docs/user/_static/images/tutorial/rtd-project-home.png
  docs/user/img/screenshots/business-project-manual-form.png
  docs/user/img/screenshots/business-project-manual-team-select.png
  screenshots.yml
Owners: @readthedocs/advocacy, @readthedocs/backend

Fix embed API examples to use valid fragments and add v2 deprecation notice
  docs/user/api/v2.rst
  docs/user/api/v3.rst
  readthedocs/embed/v3/views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Fix 404 screenshots and reduce width to 768px viewport
  docs/user/_static/images/search-analytics-demo.png
  docs/user/_static/images/tutorial/active-versions.png
  docs/user/_static/images/tutorial/inactive-versions.png
  docs/user/_static/images/tutorial/rtd-empty-dashboard.png
  docs/user/_static/images/tutorial/rtd-first-successful-build.png
  docs/user/_static/images/tutorial/rtd-import-projects.png
  docs/user/_static/images/tutorial/rtd-project-home.png
  docs/user/_static/images/tutorial/search-analytics-terms.png
  docs/user/_static/images/tutorial/traffic-analytics-plot.png
  docs/user/img/screenshot-howto-build-configuration-file.png
  docs/user/img/screenshot-webhook.png
  docs/user/img/screenshot_automation_rules_add.png
  docs/user/img/screenshot_connected_services.png
  docs/user/img/screenshot_environment_variables.png
  docs/user/img/screenshot_redirects.png
  docs/user/img/screenshot_redirects_preview.png
  docs/user/img/screenshot_subprojects_list.png
  docs/user/img/screenshots/business-project-manual-form.png
  docs/user/img/screenshots/business-project-manual-team-select.png
  docs/user/img/screenshots/community-project-subproject-create.png
  docs/user/img/screenshots/community-project-subproject-list.png
  docs/user/img/screenshots/community-project-webhook-activity.png
  docs/user/img/screenshots/community-project-webhook-create.png
  docs/user/img/screenshots/community-project-webhook-secret.png
  screenshots.yml
Owners: @readthedocs/advocacy, @readthedocs/backend

Skip tests and tests-embedapi jobs when only docs changed
  .circleci/config.yml
Owners: @readthedocs/backend

Skip tests when no changed files are detected
  .circleci/config.yml
Owners: @readthedocs/backend

Remove unnecessary log message on success path
  .circleci/config.yml
Owners: @readthedocs/backend

Strip container padding for tighter screenshot cropping
  docs/user/_static/images/search-analytics-demo.png
  docs/user/_static/images/tutorial/active-versions.png
  docs/user/_static/images/tutorial/inactive-versions.png
  docs/user/_static/images/tutorial/rtd-empty-dashboard.png
  docs/user/_static/images/tutorial/rtd-first-successful-build.png
  docs/user/_static/images/tutorial/rtd-import-projects.png
  docs/user/_static/images/tutorial/rtd-project-home.png
  docs/user/_static/images/tutorial/search-analytics-terms.png
  docs/user/_static/images/tutorial/traffic-analytics-plot.png
  docs/user/img/screenshot-howto-build-configuration-file.png
  docs/user/img/screenshot-webhook.png
  docs/user/img/screenshot_automation_rules_add.png
  docs/user/img/screenshot_connected_services.png
  docs/user/img/screenshot_environment_variables.png
  docs/user/img/screenshot_redirects.png
  docs/user/img/screenshot_redirects_preview.png
  docs/user/img/screenshot_subprojects_list.png
  docs/user/img/screenshots/business-project-manual-form.png
  docs/user/img/screenshots/business-project-manual-team-select.png
  docs/user/img/screenshots/community-project-subproject-create.png
  docs/user/img/screenshots/community-project-subproject-list.png
  docs/user/img/screenshots/community-project-webhook-activity.png
  docs/user/img/screenshots/community-project-webhook-create.png
  docs/user/img/screenshots/community-project-webhook-secret.png
  screenshots.yml
Owners: @readthedocs/advocacy, @readthedocs/backend

Use inner content selectors for tightly cropped screenshots
  docs/user/_static/images/search-analytics-demo.png
  docs/user/_static/images/tutorial/active-versions.png
  docs/user/_static/images/tutorial/inactive-versions.png
  docs/user/_static/images/tutorial/rtd-empty-dashboard.png
  docs/user/_static/images/tutorial/rtd-first-successful-build.png
  docs/user/_static/images/tutorial/rtd-import-projects.png
  docs/user/_static/images/tutorial/rtd-project-home.png
  docs/user/_static/images/tutorial/search-analytics-terms.png
  docs/user/_static/images/tutorial/traffic-analytics-plot.png
  docs/user/img/screenshot-howto-build-configuration-file.png
  docs/user/img/screenshot-webhook.png
  docs/user/img/screenshot_automation_rules_add.png
  docs/user/img/screenshot_connected_services.png
  docs/user/img/screenshot_environment_variables.png
  docs/user/img/screenshot_redirects.png
  docs/user/img/screenshot_redirects_preview.png
  docs/user/img/screenshot_subprojects_list.png
  docs/user/img/screenshots/business-project-manual-form.png
  docs/user/img/screenshots/business-project-manual-team-select.png
  docs/user/img/screenshots/community-project-subproject-create.png
  docs/user/img/screenshots/community-project-subproject-list.png
  docs/user/img/screenshots/community-project-webhook-activity.png
  docs/user/img/screenshots/community-project-webhook-create.png
  docs/user/img/screenshots/community-project-webhook-secret.png
  screenshots.yml
Owners: @readthedocs/advocacy, @readthedocs/backend

Apply suggestions from code review
  docs/dev/uv-native-support-proposal.md
Owners: @readthedocs/advocacy

Replace `operation` with `command`
  docs/dev/uv-native-support-proposal.md
Owners: @readthedocs/advocacy

Fix build status notification: remove stray HTML, add troubleshooting link (#12874)
  readthedocs/oauth/notifications.py
Owners: @readthedocs/backend

Support `uv` natively (initial implementation)
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/models.py
  readthedocs/config/notifications.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/python_environments.py
Owners: @readthedocs/backend

Update readthedocs/vcs_support/backends/git.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Update and rename constants.py to constants.n
  readthedocs/projects/constants.n
Owners: @readthedocs/backend

Fail when more than `python.install` entries are used with `uv`
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/notifications.py
Owners: @readthedocs/backend

Build: don't fetch all branches when building default branch
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Add extended triage of ~275 additional open issues for #12871
  issue-12871-triage-update.md
Owners: @readthedocs/backend

Fix incorrect comment in requirements.txt as generated by pip-compile
  docs/user/guides/reproducible-builds.rst
Owners: @readthedocs/advocacy

Update broken embed API example URLs (#12875)
  docs/user/api/v2.rst
  docs/user/api/v3.rst
  readthedocs/embed/v3/views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Center the Preview build button in PR build overview comment
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Extract docs-only check into a reusable CircleCI command
  .circleci/config.yml
Owners: @readthedocs/backend

Optimize CI: add dependency caching, docs-only skip, and reduce job dependencies
  .circleci/config.yml
Owners: @readthedocs/backend

Remove changefreq and priority from sitemap.xml (#12877)
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
  readthedocs/templates/sitemap.xml
Owners: @readthedocs/backend

Use div align and inline kbd for vertically centered preview button
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Remove page centering from preview button, keep only inline fix
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Switch CI from pip to uv for faster dependency installation
  .circleci/config.yml
  tox.embedapi.ini
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
