Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Merge pull request from GHSA-qhqx-5j25-rv48
  docs/user/api/v2.rst
  docs/user/api/v3.rst
  docs/user/server-side-search/api.rst
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Owners: @readthedocs/advocacy, @readthedocs/frontend

Update docs requirements
  requirements/docs.txt
Owners: @readthedocs/backend

Update docs requirements (#11032)
  requirements/docs.txt
Owners: @readthedocs/backend

Mention redirect limits
  docs/user/user-defined-redirects.rst
Owners: @readthedocs/advocacy

Remove trailing white space
  docs/user/user-defined-redirects.rst
Owners: @readthedocs/advocacy

Redirects: limit to 100 per project (#11028)
  docs/user/api/v3.rst
  docs/user/user-defined-redirects.rst
  readthedocs/api/v3/serializers.py
  readthedocs/projects/forms.py
  readthedocs/projects/models.py
  readthedocs/redirects/tests/test_views.py
  readthedocs/redirects/validators.py
  readthedocs/settings/base.py
  readthedocs/subscriptions/constants.py
Owners: @readthedocs/advocacy, @readthedocs/backend

APIv3: lot of tests for the new endpoints
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/mixins.py
  readthedocs/api/v3/tests/responses/notifications-list.json
  readthedocs/api/v3/tests/responses/organizations-notifications-detail.json
  readthedocs/api/v3/tests/responses/organizations-notifications-list.json
  readthedocs/api/v3/tests/responses/projects-builds-notifications-detail.json
  readthedocs/api/v3/tests/responses/projects-builds-notifications-list.json
  readthedocs/api/v3/tests/responses/projects-notifications-detail.json
  readthedocs/api/v3/tests/responses/projects-notifications-list.json
  readthedocs/api/v3/tests/responses/users-notifications-detail.json
  readthedocs/api/v3/tests/responses/users-notifications-list.json
  readthedocs/api/v3/tests/test_builds.py
  readthedocs/api/v3/tests/test_notifications.py
  readthedocs/api/v3/tests/test_organizations.py
  readthedocs/api/v3/tests/test_projects.py
  readthedocs/api/v3/tests/test_users.py
Owners: @readthedocs/backend

Addons: create an `AddonsConfig` for projects automatically
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Addons: remove features related to them
  readthedocs/projects/models.py
Owners: @readthedocs/backend

APIv3: update tests to make them pass
  readthedocs/api/v3/tests/responses/projects-builds-notifications-detail.json
  readthedocs/api/v3/tests/responses/projects-builds-notifications-list.json
  readthedocs/api/v3/tests/responses/projects-notifications-detail.json
  readthedocs/api/v3/tests/responses/projects-notifications-list.json
  readthedocs/api/v3/tests/test_subprojects.py
Owners: @readthedocs/backend

Release 10.15.1
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.15.1 (#11034)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Check in working django.mo file from `rel` branch
  readthedocs/locale/de/LC_MESSAGES/django.mo
Owners: @readthedocs/backend

Admin: remove "default settings"
  readthedocs/projects/forms.py
  readthedocs/templates/projects/project_advanced.html
  readthedocs/templates/projects/project_advanced_settings_helptext.html
Owners: @readthedocs/backend, @readthedocs/frontend

Redirects: fix infinite loop detection
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/redirects/models.py
Owners: @readthedocs/backend

Logging: reduce not useful lines (#11030)
  readthedocs/core/unresolver.py
  readthedocs/proxito/middleware.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Update readthedocs/templates/projects/project_advanced.html
  readthedocs/templates/projects/project_advanced.html
Owners: @readthedocs/frontend

Admin: remove "default settings" (#11036)
  readthedocs/projects/forms.py
  readthedocs/templates/projects/project_advanced.html
  readthedocs/templates/projects/project_advanced_settings_helptext.html
Owners: @readthedocs/backend, @readthedocs/frontend

Update readthedocs/redirects/models.py
  readthedocs/redirects/models.py
Owners: @readthedocs/backend

Config: allow missing `conda.environment` when using `build.commands`
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

Analytics: remove them from 404 pages
  readthedocs/templates/errors/base.html
Owners: @readthedocs/frontend

Redirects: fix infinite loop detection (#11038)
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/redirects/models.py
Owners: @readthedocs/backend

Analytics: remove them from 404 pages (#11041)
  readthedocs/templates/errors/base.html
Owners: @readthedocs/frontend

Config: allow missing `conda.environment` when using `build.commands` (#11040)
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

Create `AddonsConfig` object automatically
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Remove the Crispy layout from Python code
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Update tests
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Typo
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Missing save the object
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Resolver: don't use str.format
  readthedocs/core/resolver.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

Expose `assert_path_is_inside_docroot` function
  readthedocs/core/utils/filesystem.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Updates from review
  docs/user/security-implications.rst
Owners: @readthedocs/advocacy

Include in toctree
  docs/user/index.rst
Owners: @readthedocs/advocacy

Make form label more explicit
  readthedocs/projects/forms.py
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Make label more explicit
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Docs: remove dead example
  docs/conf.py
  docs/user/guides/jupyter.rst
Owners: @readthedocs/advocacy

Addons: update form to show all the options (#11031)
  readthedocs/projects/forms.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

APIv3: update permissions on notification endpoints and add tests
  readthedocs/api/v3/mixins.py
  readthedocs/api/v3/permissions.py
  readthedocs/api/v3/tests/mixins.py
  readthedocs/api/v3/tests/test_builds.py
  readthedocs/api/v3/tests/test_organizations.py
  readthedocs/api/v3/tests/test_projects.py
  readthedocs/api/v3/tests/test_users.py
  readthedocs/api/v3/views.py
  readthedocs/core/permissions.py
  readthedocs/organizations/querysets.py
Owners: @readthedocs/backend
