Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Do not run this job on forks
  .github/workflows/pip-tools.yaml
Owners: @readthedocs/backend

Do not automatically create pip-tools pull requests on forks of this repo (#11738)
  .github/workflows/pip-tools.yaml
Owners: @readthedocs/backend

API v3: always return projects when listing remote repositories (#11731)
  docs/user/api/v3.rst
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/test_remoterepositories.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Update readthedocs/builds/constants_docker.py
  readthedocs/builds/constants_docker.py
Owners: @readthedocs/backend

Admin: Make large inlines collapse by default (#11717)
  readthedocs/builds/admin.py
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

Notifications: remove unused notification (#11573)
  readthedocs/notifications/migrations/0004_remove_unused_notification.py
  readthedocs/oauth/notifications.py
Owners: @readthedocs/backend

Release 11.12.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.12.0 (#11743)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Addons: split model and data migrations
  readthedocs/projects/migrations/0129_addons_notification_data_migration.py
  readthedocs/projects/migrations/0130_addons_remove_old_fields.py
Owners: @readthedocs/backend

API v3: don't inherit from flex fields when no needed
  readthedocs/api/v3/serializers.py
Owners: @readthedocs/backend

Addons: split model and data migrations
  readthedocs/projects/migrations/0129_addons_notification_data_migration.py
  readthedocs/projects/migrations/0130_addons_remove_old_fields.py
Owners: @readthedocs/backend

Addons: split model and data migrations
  readthedocs/projects/migrations/0129_addons_notification_data_migration.py
  readthedocs/projects/migrations/0130_addons_remove_old_fields.py
Owners: @readthedocs/backend

Remove data migration from 0128
  readthedocs/projects/migrations/0128_addons_notifications.py
Owners: @readthedocs/backend

Remove data migration from 0128
  readthedocs/projects/migrations/0128_addons_notifications.py
Owners: @readthedocs/backend

Remove data migration from 0128
  readthedocs/projects/migrations/0128_addons_notifications.py
Owners: @readthedocs/backend

Update allauth (#11719)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Use `.update` and `F` for the migration
  readthedocs/projects/migrations/0129_addons_notification_data_migration.py
Owners: @readthedocs/backend

Typo
  readthedocs/projects/migrations/0129_addons_notification_data_migration.py
Owners: @readthedocs/backend

Use `.update` and `F` for the migration
  readthedocs/projects/migrations/0129_addons_notification_data_migration.py
Owners: @readthedocs/backend

Typo
  readthedocs/projects/migrations/0129_addons_notification_data_migration.py
Owners: @readthedocs/backend

Use `.update` and `F` for the migration
  readthedocs/projects/migrations/0129_addons_notification_data_migration.py
Owners: @readthedocs/backend

Typo
  readthedocs/projects/migrations/0129_addons_notification_data_migration.py
Owners: @readthedocs/backend

Addons: split model and data migrations (#11744)
  readthedocs/projects/migrations/0128_addons_notifications.py
  readthedocs/projects/migrations/0129_addons_notification_data_migration.py
  readthedocs/projects/migrations/0130_addons_remove_old_fields.py
Owners: @readthedocs/backend

Addons: API response for tooltips
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Custom domain: check CNAME when adding domains
  dockerfiles/Dockerfile
  readthedocs/projects/forms.py
  readthedocs/projects/tests/test_domain_views.py
Owners: @readthedocs/backend

Linter
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Install dig in circle
  .circleci/config.yml
Owners: @readthedocs/backend

Fix test
  readthedocs/projects/tests/test_domain_views.py
Owners: @readthedocs/backend

install dig in ext-theme
  .circleci/config.yml
Owners: @readthedocs/backend

Add model fields for tooltips
  readthedocs/projects/migrations/0131_addons_tooltips_fields.py
  readthedocs/projects/models.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Add tests for tooltips
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Form for tooltips addons
  readthedocs/projects/forms.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Update charfield for choices
  readthedocs/projects/migrations/0131_addons_tooltips_fields.py
Owners: @readthedocs/backend

API v3: don't inherit from flex fields when no needed (#11745)
  readthedocs/api/v3/serializers.py
Owners: @readthedocs/backend

Updates
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Env variables: increase size limit
  docs/user/environment-variables.rst
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/test_environmentvariables.py
  readthedocs/projects/migrations/0131_increase_env_var_size.py
  readthedocs/projects/models.py
  readthedocs/projects/validators.py
Owners: @readthedocs/advocacy, @readthedocs/backend

More tests
  readthedocs/api/v3/tests/test_environmentvariables.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Addons: resolve URLs for file tree diff API response
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Typo
  readthedocs/projects/migrations/0131_addons_tooltips_fields.py
Owners: @readthedocs/backend

Meh, same typo
  readthedocs/projects/migrations/0131_addons_tooltips_fields.py
Owners: @readthedocs/backend
