Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Addons: allow disabling subprojects filter (#12684)
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0158_add_search_subproject_filter_option.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Remove orphan BuildConfig models (#12702)
  readthedocs/builds/tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Analytics: create DB index to improve performance on dashboard (#12703)
  readthedocs/analytics/migrations/0008_add_pageview_index.py
  readthedocs/analytics/models.py
Owners: @readthedocs/backend

Builds: add `data_hash` field and update `get_or_create` method
  readthedocs/builds/managers.py
  readthedocs/builds/migrations/0067_buildconfig_data_hash.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Add org filter to search
  readthedocs/search/api/v3/executor.py
  readthedocs/search/api/v3/queryparser.py
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/api/v3/tests/test_queryparser.py
Owners: @readthedocs/backend

Increase sync versions timeout
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Save the `BuildConfig` properly using `config.setter`
  readthedocs/builds/admin.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Update tests to pass with the new BuildConfig model
  readthedocs/builds/models.py
  readthedocs/doc_builder/director.py
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_builds.py
  readthedocs/rtd_tests/tests/test_version_config.py
Owners: @readthedocs/backend

Remove comments
  readthedocs/rtd_tests/tests/test_version_config.py
Owners: @readthedocs/backend

Final updates for tests
  readthedocs/builds/tests/test_buildconfig.py
  readthedocs/builds/tests/test_celery_task_router.py
Owners: @readthedocs/backend

Addons: Custom script form fields
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Update copy
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Again
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

API: don't return credentials for builds without a version
  readthedocs/api/v2/views/model_views.py
Owners: @readthedocs/backend

Versions sync: do deletion in batches
  readthedocs/api/v2/utils.py
  readthedocs/core/utils/db.py
Owners: @readthedocs/backend

Update readthedocs/core/utils/db.py
  readthedocs/core/utils/db.py
Owners: @readthedocs/backend

Format
  readthedocs/core/tests/test_db_utils.py
Owners: @readthedocs/backend

Add tests for delete_in_batches utility function (#12714)
  readthedocs/core/tests/test_db_utils.py
Owners: @readthedocs/backend

Use itertools.batched
  readthedocs/core/utils/db.py
Owners: @readthedocs/backend

Use itertools.batched
  readthedocs/core/utils/db.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Addons: Custom script form fields (#12710)
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Data migration for BuildConfig model (#12698)
  readthedocs/builds/migrations/0067_migrate_buildconfig.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Tasks: improve deletion of old page views
  readthedocs/analytics/tasks.py
Owners: @readthedocs/backend

Format
  readthedocs/analytics/tasks.py
Owners: @readthedocs/backend

Permissions: improve projects queryset (#12669)
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

Search: avoid timeout when querying sync_id when indexing
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Format
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Tasks: improve deletion of old page views (#12719)
  readthedocs/analytics/tasks.py
Owners: @readthedocs/backend

Update stable version description in versions.rst
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Update stable version description in versions.rst (#12722)
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Versions sync: do deletion in batches (#12713)
  readthedocs/api/v2/utils.py
  readthedocs/core/tests/test_db_utils.py
  readthedocs/core/utils/db.py
Owners: @readthedocs/backend

Updates from review
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Use iter, we don't need an interator at the db level
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Search: avoid timeout when querying sync_id when indexing (#12720)
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Release 15.13.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Add helper function get_pattern() to pattern_opts
  readthedocs/constants.py
Owners: @readthedocs/backend

Build: Skip host key verification when syncing versions
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Build: Skip host key verification when syncing versions
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Add tests for GIT_SSH_COMMAND in SyncRepositoryTask (#12726)
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend
