Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Development: minor updates to `Dockerfile`
  dockerfiles/Dockerfile
Owners: @readthedocs/backend

Development: minor updates to `Dockerfile` (#10605)
  dockerfiles/Dockerfile
Owners: @readthedocs/backend

Update from review
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Versions: keep type of version in sync with the project
  readthedocs/api/v2/utils.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Linter
  readthedocs/api/v2/utils.py
Owners: @readthedocs/backend

Admin: show creation/modification dates on the admin page
  readthedocs/builds/admin.py
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

Proxito: test new implementation more broadly (#10599)
  readthedocs/api/v2/serializers.py
  readthedocs/projects/models.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_backend.py
Owners: @readthedocs/backend

Apply suggestions from code review
  readthedocs/core/models.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/projects/tasks/utils.py
  readthedocs/templates/projects/notifications/deprecated_build_image_used_email.txt
Owners: @readthedocs/backend

Profile: redirect to `/accounts/edit/` view on successful edit
  readthedocs/profiles/views.py
  readthedocs/rtd_tests/tests/test_profile_views.py
Owners: @readthedocs/backend

Add HTML version of the email
  readthedocs/templates/projects/notifications/deprecated_build_image_used_email.html
Owners: @readthedocs/frontend

Extra check when opening files
  readthedocs/core/tests/test_filesystem_utils.py
  readthedocs/core/utils/filesystem.py
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/exceptions.py
Owners: @readthedocs/backend

Extra check when opening files
  readthedocs/core/tests/test_filesystem_utils.py
  readthedocs/core/utils/filesystem.py
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/exceptions.py
Owners: @readthedocs/backend

Admin: show creation/modification dates on the admin page (#10607)
  readthedocs/builds/admin.py
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

Codify brownout dates and remove the feature flag
  readthedocs/doc_builder/director.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Use UTC datetimes to compare
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Deprecation: codify browndates for "no config file deprecation"
  readthedocs/doc_builder/director.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Translations: update them all
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
Owners: @readthedocs/backend

Translations: update them all
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
Owners: @readthedocs/backend

Translations: update them all
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
Owners: @readthedocs/backend

Translations: revert German translation to 9.16.3
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
Owners: @readthedocs/backend

Translations: revert German translation to 9.16.3
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
Owners: @readthedocs/backend

Revert "Proxito: test new implementation more broadly (#10599)"
  readthedocs/api/v2/serializers.py
  readthedocs/projects/models.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_backend.py
Owners: @readthedocs/backend

Revert "Proxito: test new implementation more broadly (#10599)"
  readthedocs/api/v2/serializers.py
  readthedocs/projects/models.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_backend.py
Owners: @readthedocs/backend

Revert "Proxito: test new implementation more broadly (#10599)"
  readthedocs/api/v2/serializers.py
  readthedocs/projects/models.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_backend.py
Owners: @readthedocs/backend

Tests
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Settings: remove CSRF_COOKIE_MASKED
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Revert "Proxito: test new implementation more broadly (#10599)" (#10614)
  readthedocs/api/v2/serializers.py
  readthedocs/projects/models.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_backend.py
Owners: @readthedocs/backend

Upgrade frontpage redirect to a 301
  readthedocs/core/views/__init__.py
Owners: @readthedocs/backend

Merge pull request from GHSA-v7x4-rhpg-3p2r
  readthedocs/core/tests/test_filesystem_utils.py
  readthedocs/core/utils/filesystem.py
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/exceptions.py
Owners: @readthedocs/backend

Build: Fix exceptions
  readthedocs/core/utils/filesystem.py
Owners: @readthedocs/backend

Linter
  readthedocs/core/utils/filesystem.py
Owners: @readthedocs/backend

Profile: redirect to `/accounts/edit/` view on successful edit (#10610)
  readthedocs/profiles/views.py
  readthedocs/rtd_tests/tests/test_profile_views.py
Owners: @readthedocs/backend

Testing: run Coverage report only on CircleCI due to Python debugger
  .circleci/config.yml
  tox.ini
Owners: @readthedocs/backend

Translations: update them all (#10613)
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
Owners: @readthedocs/backend

Contact projects with a build in the last 3 years
  readthedocs/projects/tasks/utils.py
  readthedocs/templates/projects/notifications/deprecated_config_file_used_email.html
  readthedocs/templates/projects/notifications/deprecated_config_file_used_email.txt
Owners: @readthedocs/backend, @readthedocs/frontend

Deprecation: notification and feature flag for `build.image` config (#10589)
  readthedocs/builds/models.py
  readthedocs/core/forms.py
  readthedocs/core/migrations/0014_optout_email_build_image_deprecation.py
  readthedocs/core/models.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/projects/tasks/utils.py
  readthedocs/settings/base.py
  readthedocs/templates/builds/build_detail.html
  readthedocs/templates/projects/notifications/deprecated_build_image_used_email.html
  readthedocs/templates/projects/notifications/deprecated_build_image_used_email.txt
  readthedocs/templates/projects/notifications/deprecated_config_file_used_email.html
  readthedocs/templates/projects/notifications/deprecated_config_file_used_email.txt
Owners: @readthedocs/backend, @readthedocs/frontend

Revert "Contact projects with a build in the last 3 years"
  readthedocs/projects/tasks/utils.py
  readthedocs/templates/projects/notifications/deprecated_config_file_used_email.html
  readthedocs/templates/projects/notifications/deprecated_config_file_used_email.txt
Owners: @readthedocs/backend, @readthedocs/frontend

Deprecation: codify browndates for "no config file deprecation" (#10612)
  readthedocs/doc_builder/director.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Lint: run `prospector` and fix code manually
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/urls.py
  readthedocs/audit/serializers.py
  readthedocs/builds/version_slug.py
  readthedocs/builds/views.py
  readthedocs/core/logs.py
  readthedocs/core/utils/extend.py
  readthedocs/embed/v3/views.py
  readthedocs/gold/models.py
  readthedocs/gold/views.py
  readthedocs/integrations/models.py
  readthedocs/notifications/notification.py
  readthedocs/oauth/management/commands/sync_vcs_data.py
  readthedocs/projects/management/commands/import_project_from_live.py
  readthedocs/projects/tag_utils.py
  readthedocs/projects/views/public.py
  readthedocs/redirects/models.py
  readthedocs/search/signals.py
  readthedocs/storage/s3_storage.py
  readthedocs/subscriptions/apps.py
  readthedocs/worker.py
Owners: @readthedocs/backend

Minor lint
  readthedocs/search/utils.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
