Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Admin: allow blank field from admin (#11962)
  readthedocs/projects/migrations/0144_addons_blank_field.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Addons API: return FTD enabled/disabled based on addons config
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Updates from review
  readthedocs/builds/forms.py
  readthedocs/rtd_tests/tests/test_build_forms.py
Owners: @readthedocs/backend

Mark as safe
  readthedocs/projects/migrations/0144_alter_importedfile_id.py
Owners: @readthedocs/backend

Addons API: return FTD enabled/disabled based on addons config (#11963)
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

ImportedFile: use BigAutoField for primary key (#9669)
  readthedocs/projects/migrations/0144_alter_importedfile_id.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix migration
  readthedocs/projects/migrations/0145_alter_importedfile_id.py
Owners: @readthedocs/backend

Fix migration (#11964)
  readthedocs/projects/migrations/0145_alter_importedfile_id.py
Owners: @readthedocs/backend

Always run sync_versions on the default queue
  readthedocs/core/views/hooks.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

wip
  readthedocs/oauth/models.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/urls.py
  readthedocs/oauth/views.py
  readthedocs/settings/base.py
  readthedocs/urls.py
  requirements/pip.in
Owners: @readthedocs/backend

Remove code
  readthedocs/core/views/hooks.py
Owners: @readthedocs/backend

Add a warning about VCS SSO to import guide
  docs/user/guides/importing-private-repositories.rst
Owners: @readthedocs/advocacy

Always run sync_versions on the default queue (#11965)
  readthedocs/core/views/hooks.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Update importing-private-repositories.rst
  docs/user/guides/importing-private-repositories.rst
Owners: @readthedocs/advocacy

Create readthedocs.yaml
  docs/user/config-file/readthedocs.yaml
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Add feature flag
  readthedocs/builds/forms.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_build_forms.py
Owners: @readthedocs/backend

Allow passing a slug when cleaning a version
  readthedocs/builds/forms.py
  readthedocs/builds/models.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Migration and stuff
  readthedocs/oauth/migrations/0017_githubapp.py
  readthedocs/oauth/models.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/views.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Fixes
  readthedocs/oauth/admin.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/views.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Remove rec
  docs/user/guides/importing-private-repositories.rst
Owners: @readthedocs/advocacy

Clean up copy
  docs/user/guides/importing-private-repositories.rst
Owners: @readthedocs/advocacy

Copy updates for intro pages (#11948)
  docs/user/commercial/index.rst
  docs/user/commercial/organizations.rst
  docs/user/commercial/privacy-level.rst
  docs/user/commercial/sharing.rst
  docs/user/commercial/subscriptions.rst
  docs/user/intro/accounts.rst
  docs/user/intro/add-project.rst
  docs/user/intro/doctools.rst
  docs/user/intro/docusaurus.rst
  docs/user/intro/markdoc.rst
  docs/user/intro/mdbook.rst
  docs/user/intro/mkdocs.rst
  docs/user/intro/sphinx.rst
  docs/user/reference/404-not-found.rst
  docs/user/reference/cdn.rst
  docs/user/reference/environment-variables.rst
  docs/user/reference/features.rst
  docs/user/reference/git-integration.rst
  docs/user/reference/sitemaps.rst
  docs/user/server-side-search/index.rst
  docs/user/server-side-search/syntax.rst
Owners: @readthedocs/advocacy

Add a warning about VCS SSO to import guide (#11966)
  docs/user/guides/importing-private-repositories.rst
Owners: @readthedocs/advocacy

Allow users to change version slug (#11930)
  readthedocs/builds/forms.py
  readthedocs/builds/models.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_build_forms.py
Owners: @readthedocs/backend

Release 11.20.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.20.0 (#11972)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Be defensive with build_complete signal
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

More hooks!
  readthedocs/core/views/hooks.py
  readthedocs/oauth/models.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/views.py
  readthedocs/projects/models.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Show slug on AddonsConfigAdmin
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

Bug fixes and refactor
  readthedocs/core/views/hooks.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/views.py
Owners: @readthedocs/backend

Format
  readthedocs/allauth/providers/githubapp/provider.py
  readthedocs/allauth/providers/githubapp/urls.py
  readthedocs/allauth/providers/githubapp/views.py
  readthedocs/core/adapters.py
Owners: @readthedocs/backend

Update readthedocs/projects/admin.py
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

Show slug on AddonsConfigAdmin (#11974)
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

More events
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/views.py
Owners: @readthedocs/backend

Build: don't trigger build if the project is spam
  readthedocs/projects/querysets.py
Owners: @readthedocs/backend

noqa
  readthedocs/projects/querysets.py
Owners: @readthedocs/backend

File Tree Diff: allow users to ignore files
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0146_addons_filetreediff_ignored_files.py
  readthedocs/projects/models.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Handle `None` value
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
