Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Handle pull requests event for `build_method=direct_upload`
  readthedocs/api/v2/views/integrations.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Split tests
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Split tests (#13354)
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Docs: add design doc for parsing docs on the builder
  docs/dev/design/parse-on-the-builder.rst
Owners: @readthedocs/advocacy

Use `active=True` instead of `built=True` when checking for versions
  readthedocs/projects/views/public.py
Owners: @readthedocs/backend

Search: read pages with a single S3 GET when indexing
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/rtd_tests/tests/test_s3_storage.py
  readthedocs/search/parsers.py
  readthedocs/storage/mixins.py
  readthedocs/storage/s3_storage.py
Owners: @readthedocs/backend

Use bytes as suggested in feedback
  readthedocs/projects/migrations/0170_project_max_build_media_size.py
  readthedocs/projects/models.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/projects/tests/test_clean_build.py
Owners: @readthedocs/backend

Builds: Support temporary environment variables in commands (#13342)
  readthedocs/doc_builder/environments.py
  readthedocs/rtd_tests/tests/test_doc_building.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/projects/tests/test_clean_build.py
Owners: @readthedocs/backend

Builds: Support temporary environment variables in commands (#13342)
  readthedocs/doc_builder/environments.py
  readthedocs/rtd_tests/tests/test_doc_building.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/projects/tests/test_clean_build.py
Owners: @readthedocs/backend

Updates from the meeting
  readthedocs/projects/notifications.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Add a section about how versions work on direct upload projects
  docs/user/guides/build/direct-upload.rst
Owners: @readthedocs/advocacy

Update document with the decisions made during the meeting
  docs/dev/design/direct-upload-projects.rst
Owners: @readthedocs/advocacy

Update latest/stable behavior for direct upload projects
  readthedocs/upload/api/views.py
Owners: @readthedocs/backend

Add test for last commit
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Refactor `.post_save` method
  readthedocs/api/v3/views.py
  readthedocs/builds/forms.py
  readthedocs/builds/models.py
  readthedocs/rtd_tests/tests/test_build_forms.py
Owners: @readthedocs/backend

Small comment in GH Actions workflow
  docs/user/guides/build/direct-upload.rst
Owners: @readthedocs/advocacy

Api: select_related the relations serializers read on builds and versions
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Builds: cache Version.latest_build on the instance
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Proxito: build sitemap.xml with a fixed number of queries
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Search: send pages to Elasticsearch in batches while indexing
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Core: explain where cached_method keeps its results
  readthedocs/core/utils/objects.py
Owners: @readthedocs/backend

Core: shorten the cached_method comment
  readthedocs/core/utils/objects.py
Owners: @readthedocs/backend

Core: replace lru_cache on methods with a per-instance cache (#13353)
  readthedocs/analytics/proxied_api.py
  readthedocs/api/mixins.py
  readthedocs/config/config.py
  readthedocs/core/utils/objects.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/organizations/views/base.py
  readthedocs/projects/views/base.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/views/hosting.py
  readthedocs/rtd_tests/tests/test_core_utils.py
  readthedocs/search/api/v2/views.py
  readthedocs/subscriptions/views.py
Owners: @readthedocs/backend

Resolver: cache per instance instead of on the class
  readthedocs/core/resolver.py
Owners: @readthedocs/backend

Builds: resolve the project once per request in the builds views
  readthedocs/builds/views.py
Owners: @readthedocs/backend

Resolver: cache per instance to stop web worker memory growth (#13352)
  readthedocs/core/resolver.py
Owners: @readthedocs/backend

Search: only download HTML files when indexing
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/storage/mixins.py
  readthedocs/storage/rclone.py
Owners: @readthedocs/backend

Search: hoist the temp dir to callers
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Trim comments
  readthedocs/projects/models.py
  readthedocs/projects/tasks/search.py
  readthedocs/search/parsers.py
  readthedocs/storage/rclone.py
Owners: @readthedocs/backend

Search: simplify the local download path
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/search/parsers.py
  readthedocs/storage/mixins.py
  readthedocs/storage/rclone.py
Owners: @readthedocs/backend

Search: fail when storage is unreachable instead of emptying the version
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/storage/mixins.py
Owners: @readthedocs/backend

Builds: fix comment on latest_build caching
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Storage: move read_file tests and trim docstrings
  readthedocs/rtd_tests/tests/test_s3_storage.py
  readthedocs/storage/mixins.py
  readthedocs/storage/s3_storage.py
  readthedocs/storage/tests/test_s3_storage.py
Owners: @readthedocs/backend

Give the shadowed duplicate test names distinct names (#13345)
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

Proxito: example Cloudflare Worker for edge redirects
  dockerfiles/wrangler/edge-redirects/README.rst
  dockerfiles/wrangler/edge-redirects/cases.json
  dockerfiles/wrangler/edge-redirects/package.json
  dockerfiles/wrangler/edge-redirects/worker.js
  dockerfiles/wrangler/edge-redirects/worker.test.js
  dockerfiles/wrangler/edge-redirects/wrangler.toml
Owners: @readthedocs/backend, @readthedocs/frontend

API: remove `/usr/bin/` from build commands (#13348)
  readthedocs/api/v2/utils.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Build: set a maximum size for build media files (#13287)
  readthedocs/api/v2/serializers.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/projects/migrations/0170_project_max_build_media_size.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend
