Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Recover this file that should be excluded
  readthedocs/rtd_tests/files/conf.py
Owners: @readthedocs/backend

Apply suggestions from code review
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Build: replace GitPython with git commands (#10594)
  readthedocs/doc_builder/environments.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_backend.py
  readthedocs/rtd_tests/tests/test_doc_building.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

VCS: remove `GitPython`
  readthedocs/projects/tasks/mixins.py
  readthedocs/rtd_tests/tests/test_backend.py
  readthedocs/vcs_support/backends/git.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Remove shallow clone repository test
  readthedocs/rtd_tests/tests/test_backend.py
Owners: @readthedocs/backend

More defensive logic and tests updated
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Delete old tests
  readthedocs/rtd_tests/tests/test_backend.py
Owners: @readthedocs/backend

Add max age on the 301 so it isn't cached forever
  readthedocs/core/views/__init__.py
Owners: @readthedocs/backend

Update readthedocs/core/utils/filesystem.py
  readthedocs/core/utils/filesystem.py
Owners: @readthedocs/backend

Use same HomepageView for Community & Business
  readthedocs/core/views/__init__.py
Owners: @readthedocs/backend

Proxito: Don't hit storage for 404s
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Use same HomepageView for Community & Business (#10621)
  readthedocs/core/views/__init__.py
Owners: @readthedocs/backend

Update readthedocs/config/config.py
  readthedocs/config/config.py
Owners: @readthedocs/backend

Declare the variable in the Python Docker container
  .circleci/config.yml
Owners: @readthedocs/backend

Remove `_skip_fetch` that wasn't used
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Testing: run Coverage report only on CircleCI (#10611)
  .circleci/config.yml
  tox.ini
Owners: @readthedocs/backend

Fix tests
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Remove todo
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Update from review
  docs/dev/subscriptions.rst
Owners: @readthedocs/advocacy

Docstring
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Versions: keep type of version in sync with the project (#10606)
  readthedocs/api/v2/utils.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Build: Fix exceptions (#10616)
  readthedocs/core/utils/filesystem.py
Owners: @readthedocs/backend

Custom domain: increase header value length
  readthedocs/projects/migrations/0104_alter_httpheader_value.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Custom domain: increase header value length (#10625)
  readthedocs/projects/migrations/0104_alter_httpheader_value.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Add sitemap index and serve sitemap for subprojects
  docs/user/reference/sitemaps.rst
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/serve.py
  readthedocs/templates/sitemap_index.xml
Owners: @readthedocs/advocacy, @readthedocs/backend

Update deprecation timezone to use PDT
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Update deprecation timezone to use PDT (#10631)
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Small wording cleanup on Integration howto
  docs/user/guides/setup/git-repo-manual.rst
Owners: @readthedocs/advocacy

Release 10.0.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.0.0 (#10633)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Proxito: allow to generate proxied API URLs with a prefix
  readthedocs/api/v2/serializers.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Test
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

Format
  readthedocs/api/v2/serializers.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Suffix -> prefix
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Update docstring
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix test
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Use sitemap index in robots.txt
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Revert "Contact projects with a build in the last 3 years" (#10618)
  readthedocs/projects/tasks/utils.py
  readthedocs/templates/projects/notifications/deprecated_config_file_used_email.html
  readthedocs/templates/projects/notifications/deprecated_config_file_used_email.txt
Owners: @readthedocs/backend, @readthedocs/frontend

Settings: remove CSRF_COOKIE_MASKED (#10608)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
