Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Add test cases for `?expand=permissions`
  readthedocs/api/v3/tests/responses/projects-detail.json
  readthedocs/api/v3/tests/test_projects.py
Owners: @readthedocs/backend

Docs: remove "Canonical URLs" guide (#11516)
  docs/user/canonical-urls.rst
  docs/user/guides/canonical-urls.rst
  docs/user/guides/content/index.rst
  docs/user/reference/404-not-found.rst
Owners: @readthedocs/advocacy

Allow "for Business" to disable addons completely
  readthedocs/projects/forms.py
  readthedocs/proxito/middleware.py
Owners: @readthedocs/backend

Create `AddonsConfig` on project import/add
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Typo
  readthedocs/proxito/middleware.py
Owners: @readthedocs/backend

Docs: simplify repdroducible guide (#11535)
  docs/user/guides/reproducible-builds.rst
Owners: @readthedocs/advocacy

APIv3: return `permissions` expandable field on projects (#10978)
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/responses/projects-detail.json
  readthedocs/api/v3/tests/test_projects.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Slack: use `json=` to send a message using webhooks
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Simplify the message to remove some icons and add more links
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Settings: explicitly set password hashers (#11523)
  readthedocs/settings/base.py
  readthedocs/settings/test.py
Owners: @readthedocs/backend

Release 11.5.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.5.0 (#11537)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Update i18n docs for Sphinx
  docs/user/localization.rst
Owners: @readthedocs/advocacy

Update doc
  docs/dev/design/file-tree-diff.rst
Owners: @readthedocs/advocacy

Linter
  docs/dev/design/file-tree-diff.rst
Owners: @readthedocs/advocacy

Slack: use json= to send a message using webhooks (#11536)
  readthedocs/subscriptions/event_handlers.py
Owners: @readthedocs/backend

Add project: skip config step if YAML file is present
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Updates from comments
  docs/dev/design/file-tree-diff.rst
Owners: @readthedocs/advocacy

Login: add link to SAML login
  readthedocs/templates/account/login.html
Owners: @readthedocs/frontend

Typos
  readthedocs/templates/account/login.html
Owners: @readthedocs/frontend

Login: add link to SAML login (#11541)
  readthedocs/templates/account/login.html
Owners: @readthedocs/frontend

Drop "Unknown message" notification
  readthedocs/notifications/models.py
Owners: @readthedocs/backend

Update instructions for Jupyter notebook galleries
  docs/user/guides/jupyter.rst
Owners: @readthedocs/advocacy

Fix a typo in "invited" in email notification subjects
  readthedocs/invitations/backends.py
Owners: @readthedocs/backend

trim trailing whitespace
  docs/user/localization.rst
Owners: @readthedocs/advocacy

Noodling on doctools
  docs/user/index.rst
  docs/user/intro/doctools.rst
  docs/user/intro/jsdoc.rst
  docs/user/intro/mkdocs.rst
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Pre-commit
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Fix a typo in "invited" in email notification subjects (#11546)
  readthedocs/invitations/backends.py
Owners: @readthedocs/backend

Remove mkdocs getting started guide
  docs/user/guides/canonical-urls.rst
  docs/user/index.rst
  docs/user/intro/getting-started-with-mkdocs.rst
  docs/user/intro/mkdocs.rst
  docs/user/tutorials/index.rst
Owners: @readthedocs/advocacy

Update i18n docs for Sphinx (#11538)
  docs/user/localization.rst
Owners: @readthedocs/advocacy

Remove sentence about Sphinx-Gallery
  docs/user/guides/jupyter.rst
Owners: @readthedocs/advocacy

Remove another mention of Sphinx-Gallery
  docs/user/guides/jupyter.rst
Owners: @readthedocs/advocacy

Docs: make translation section more generic
  docs/user/img/translation_bar.png
  docs/user/localization.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Show a Django message if we detected a .yaml file
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Use OAuth session to support YAML check on private repositories
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Drop "Unknown message" notification (#11542)
  readthedocs/notifications/models.py
Owners: @readthedocs/backend

Update docs/user/localization.rst
  docs/user/localization.rst
Owners: @readthedocs/advocacy

Docs: make URLs not linkable
  docs/user/subprojects.rst
Owners: @readthedocs/advocacy

Docs: make translation section more generic (#11549)
  docs/user/img/translation_bar.png
  docs/user/localization.rst
Owners: @readthedocs/advocacy
