Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Format
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/proxito/tests/test_middleware.py
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Remove the urlconf field from the Project model
  readthedocs/projects/migrations/0105_remove_project_urlconf.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Build: define `html_theme` variable
  readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl
Owners: @readthedocs/backend

Updates from review
  readthedocs/organizations/models.py
  readthedocs/organizations/querysets.py
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/views.py
Owners: @readthedocs/backend

Merge subscription.created and checkout.completed events
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/tests/test_event_handlers.py
Owners: @readthedocs/backend

Don't include data migration, make this a deploy step instead
  readthedocs/organizations/migrations/0013_migrate_locked_subscriptions.py
Owners: @readthedocs/backend

Build: define `html_theme` variable (#10663)
  readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl
Owners: @readthedocs/backend

Fix test
  readthedocs/subscriptions/tests/test_event_handlers.py
Owners: @readthedocs/backend

Requirements: use `psycopg3`
  requirements/deploy.in
  requirements/deploy.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Django 3.x upgrade
  readthedocs/notifications/views.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Docs: update `conda` config key to mention `build.tools.python`
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Addons: create one feature flag per addon
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Addons: decide whether or not enable the addon via feature flag
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Test: update response for Addons V0
  readthedocs/proxito/tests/responses/v0.json
Owners: @readthedocs/backend

Typo
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Flyout: don't show hidden versions
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Remove urlconf from serializer
  readthedocs/api/v2/serializers.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Django 3.x upgrade (#10668)
  readthedocs/notifications/views.py
Owners: @readthedocs/backend

Docs: update `conda` config key to mention `build.tools.python` (#10672)
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Tests: don't enforce hardcoded brownouts
  readthedocs/doc_builder/director.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Tests: don't enforce hardcoded brownouts (#10673)
  readthedocs/doc_builder/director.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Remove urlconf from fixture data
  readthedocs/projects/fixtures/test_data.json
Owners: @readthedocs/backend

Proxito: remove old implementation (#10660)
  readthedocs/api/v2/serializers.py
  readthedocs/core/resolver.py
  readthedocs/core/unresolver.py
  readthedocs/projects/fixtures/test_data.json
  readthedocs/projects/migrations/0105_remove_project_urlconf.py
  readthedocs/projects/models.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_custom_path_prefixes.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/proxito/tests/test_middleware.py
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/proxito/tests/test_redirects.py
  readthedocs/proxito/tests/test_urls.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/decorators.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
  readthedocs/proxito/views/utils.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

Automation rules: show dates in admin
  readthedocs/builds/admin.py
Owners: @readthedocs/backend

Search: remove non-generic parser code
  readthedocs/embed/tests/data/mkdocs/latest/index.json
  readthedocs/embed/tests/test_api.py
  readthedocs/embed/views.py
  readthedocs/projects/models.py
  readthedocs/search/parsers.py
  readthedocs/search/tests/data/sphinx/in/autodoc.json
  readthedocs/search/tests/data/sphinx/in/httpdomain.json
  readthedocs/search/tests/data/sphinx/in/no-title.html
  readthedocs/search/tests/data/sphinx/in/no-title.json
  readthedocs/search/tests/data/sphinx/in/page.html
  readthedocs/search/tests/data/sphinx/in/page.json
  readthedocs/search/tests/data/sphinx/in/requests.json
  readthedocs/search/tests/data/sphinx/in/toctree.html
  readthedocs/search/tests/data/sphinx/out/autodoc.json
  readthedocs/search/tests/data/sphinx/out/httpdomain.json
  readthedocs/search/tests/data/sphinx/out/no-title.json
  readthedocs/search/tests/data/sphinx/out/page.json
  readthedocs/search/tests/data/sphinx/out/requests.json
  readthedocs/search/tests/data/sphinx/out/toctree.json
  readthedocs/search/tests/test_parsers.py
Owners: @readthedocs/backend, @readthedocs/frontend

Fix test
  readthedocs/search/tests/data/sphinx/in/toctree.html
Owners: @readthedocs/frontend

Revert "Fix test"
  readthedocs/search/tests/data/sphinx/in/toctree.html
Owners: @readthedocs/frontend

Fix tests
  readthedocs/search/tests/data/sphinx/out/requests.json
  readthedocs/search/tests/test_parsers.py
Owners: @readthedocs/backend

Automation rules: show dates in admin (#10675)
  readthedocs/builds/admin.py
Owners: @readthedocs/backend

Addons: prepare the backend for the new flyout (#10650)
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v0.json
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Release 10.2.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.2.0 (#10679)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

404: skip not built versions
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

404: skip not built versions
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

404: skip not built versions
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Catch FileNotFoundError exception
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Catch FileNotFoundError exception
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Catch FileNotFoundError exception
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Delete imported files when deactivating version
  readthedocs/api/v3/tests/test_versions.py
  readthedocs/builds/models.py
  readthedocs/projects/tasks/utils.py
  readthedocs/rtd_tests/tests/test_build_forms.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
