Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Updates from review
  readthedocs/oauth/migrate.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Update log message
  readthedocs/search/tasks.py
Owners: @readthedocs/backend

Update log message (#12663)
  readthedocs/search/tasks.py
Owners: @readthedocs/backend

Rename method to match its functionality (#12662)
  readthedocs/core/templatetags/privacy_tags.py
  readthedocs/projects/filters.py
  readthedocs/projects/querysets.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Social accounts: notify users about repo sync
  readthedocs/oauth/notifications.py
  readthedocs/oauth/signals.py
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Search: Disable search indexing for inactive projects
  readthedocs/search/tasks.py
  readthedocs/search/utils.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Permissions: improve projects queryset
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

Social accounts: notify users about repo sync (#12664)
  readthedocs/oauth/notifications.py
  readthedocs/oauth/signals.py
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Search: Disable search indexing for inactive projects (#12666)
  readthedocs/search/tasks.py
  readthedocs/search/utils.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade STORAGES setting to use Django's standard pattern (#12625)
  readthedocs/projects/tasks/storage.py
  readthedocs/proxito/tests/base.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/settings/test.py
  readthedocs/storage/__init__.py
Owners: @readthedocs/backend

Update OpenTelemetry analytics integration to match my expectations
  readthedocs/analytics/admin.py
  readthedocs/analytics/apps.py
  readthedocs/analytics/migrations/0008_opentelemetry_model.py
  readthedocs/analytics/migrations/0008_opentelemetryconfig.py
  readthedocs/analytics/otel_models.py
  readthedocs/analytics/proxied_api.py
  readthedocs/analytics/telemetry.py
  readthedocs/projects/forms.py
  readthedocs/projects/models.py
  readthedocs/projects/urls/private.py
  readthedocs/projects/views/otel_config.py
  readthedocs/projects/views/private.py
  requirements/pip.in
Owners: @readthedocs/backend

Rename field to mention `_config` instead of `_data`
  readthedocs/builds/migrations/0066_add_buildconfig_model.py
  readthedocs/builds/models.py
  readthedocs/builds/tests/test_buildconfig.py
Owners: @readthedocs/backend

Allow configuring ES shards via RTD_ES_SHARDS env var
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Work in progress
  readthedocs/builds/admin.py
  readthedocs/builds/models.py
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_buildconfig.py
  readthedocs/doc_builder/director.py
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_builds.py
  readthedocs/rtd_tests/tests/test_version_config.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Update index.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

GitHub: don't remove valid relationships when updating repo
  readthedocs/oauth/services/github.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

GitHub: don't remove valid relationships when updating repo (#12681)
  readthedocs/oauth/services/github.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

GitHub: don't remove valid relationships when updating repo (#12681)
  readthedocs/oauth/services/github.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Correct typo
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Correct typo (#12683)
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Addons: allow disabling subprojects filter via a feature flag
  readthedocs/projects/models.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Update mystmd.rst
  docs/user/intro/mystmd.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

docs: improve README clarity and contributor guidance
  README.rst
Owners: @readthedocs/backend

Build: Add Miniforge3 support to replace deprecated Mambaforge (#12647)
  docs/user/config-file/v2.rst
  readthedocs/builds/constants_docker.py
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/advocacy, @readthedocs/backend

Update mystmd.rst (#12685)
  docs/user/intro/mystmd.rst
Owners: @readthedocs/advocacy

Release 15.11.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Migrate Celery settings to new format with CELERY_ namespace (#12622)
  readthedocs/core/tasks.py
  readthedocs/core/utils/tasks/public.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/settings/test.py
  readthedocs/worker.py
Owners: @readthedocs/backend

Make the function inline
  readthedocs/projects/models.py
  readthedocs/projects/validators.py
Owners: @readthedocs/backend

Add the field to project creation
  readthedocs/api/v3/serializers.py
Owners: @readthedocs/backend

Update docs to reflect this change
  docs/user/api/v3.rst
Owners: @readthedocs/advocacy

Update inline to avoid saving "" in the database
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Add test case for readthedocs_yaml_path at creation via APIv3
  readthedocs/api/v3/tests/test_projects.py
Owners: @readthedocs/backend

Proxito: use correct storage backend for static files
  readthedocs/settings/base.py
  readthedocs/storage/__init__.py
Owners: @readthedocs/backend

Proxito: use correct storage backend for static files
  readthedocs/settings/base.py
  readthedocs/storage/__init__.py
Owners: @readthedocs/backend

Proxito: use correct storage backend for static files
  readthedocs/settings/base.py
  readthedocs/storage/__init__.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
