Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

builds: skip PR comment creation on closed/merged external versions (#12951)
  readthedocs/oauth/services/githubapp.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

forms: validate addons custom script URL and filetreediff patterns
  readthedocs/projects/forms.py
  readthedocs/redirects/models.py
  readthedocs/rtd_tests/tests/test_project_forms.py
  scripts/snapshot_pr1_forms.py
Owners: @readthedocs/backend

projects: surface options_base_version and add redirect filter
  readthedocs/projects/filters.py
  readthedocs/projects/forms.py
  readthedocs/projects/views/private.py
  readthedocs/redirects/tests/test_views.py
  readthedocs/rtd_tests/tests/test_project_forms.py
  scripts/snapshot_pr2_forms.py
Owners: @readthedocs/backend

chore: ignore local snapshots/ artifacts
  .gitignore
Owners: @readthedocs/backend

chore: drop snapshot helper script
  .gitignore
  scripts/snapshot_pr2_forms.py
Owners: @readthedocs/backend

chore: drop snapshot helper script
  scripts/snapshot_pr1_forms.py
Owners: @readthedocs/backend

projects: add filter to redirect list view
  readthedocs/projects/filters.py
  readthedocs/projects/views/private.py
  readthedocs/redirects/tests/test_views.py
Owners: @readthedocs/backend

Check if the item already exists in the DB instead of `pk`
  readthedocs/projects/ordering.py
Owners: @readthedocs/backend

HTTPHeader: support per-project headers in addition to per-domain
  readthedocs/projects/admin.py
  readthedocs/projects/migrations/0162_add_project_to_httpheader.py
  readthedocs/projects/models.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_headers.py
Owners: @readthedocs/backend

Automation rules: update migrations to fix issues (#12956)
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
  readthedocs/projects/ordering.py
Owners: @readthedocs/backend

Lint
  readthedocs/oauth/migrations/0019_fix_ssh_url_validators.py
  readthedocs/oauth/models.py
Owners: @readthedocs/backend

filters: hoist Q import to module level
  readthedocs/projects/filters.py
Owners: @readthedocs/backend

Docs: lint with sphinx-lint
  docs/dev/i18n.rst
  docs/dev/style-guide.rst
  readthedocs/api/v2/README.rst
Owners: @readthedocs/advocacy, @readthedocs/backend

Builds: delete old build objects (#12800)
  readthedocs/builds/models.py
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/core/tests/test_db_utils.py
  readthedocs/core/utils/db.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_models.py
  readthedocs/settings/base.py
  readthedocs/storage/mixins.py
  readthedocs/storage/s3_storage.py
  readthedocs/storage/tests/test_s3_storage.py
Owners: @readthedocs/backend

Revert "Automation rules: update migrations to fix issues (#12956)"
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
  readthedocs/projects/ordering.py
Owners: @readthedocs/backend

Revert "Automation rules: update migrations to fix issues" (#12975)
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
  readthedocs/projects/ordering.py
Owners: @readthedocs/backend

Revert "Builds: automation rules v2 (#12848)"
  readthedocs/api/v2/utils.py
  readthedocs/builds/automation_actions.py
  readthedocs/builds/constants.py
  readthedocs/builds/forms.py
  readthedocs/builds/managers.py
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/builds/models.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/oauth/views.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0162_add_automationrule_v2.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_models.py
  readthedocs/projects/urls/private.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_automation_rule_views.py
  readthedocs/rtd_tests/tests/test_automation_rules.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Revert "Builds: automation rules v2 (#12848)" (#12976)
  readthedocs/api/v2/utils.py
  readthedocs/builds/automation_actions.py
  readthedocs/builds/constants.py
  readthedocs/builds/forms.py
  readthedocs/builds/managers.py
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/builds/models.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/oauth/views.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0162_add_automationrule_v2.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_models.py
  readthedocs/projects/urls/private.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_automation_rule_views.py
  readthedocs/rtd_tests/tests/test_automation_rules.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Release 2026.04.21
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Builds: automation rules v2 (#12848)
  readthedocs/api/v2/utils.py
  readthedocs/builds/automation_actions.py
  readthedocs/builds/constants.py
  readthedocs/builds/forms.py
  readthedocs/builds/managers.py
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/builds/models.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/oauth/views.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0162_add_automationrule_v2.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
  readthedocs/projects/models.py
  readthedocs/projects/urls/private.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_automation_rule_views.py
  readthedocs/rtd_tests/tests/test_automation_rules.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Automation rules: update migrations to fix issues (#12956)
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
  readthedocs/projects/ordering.py
Owners: @readthedocs/backend

Create new model `projects.AutomationRuleMatch` to avoid sharing PKs
  readthedocs/builds/managers.py
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/builds/models.py
  readthedocs/projects/managers.py
  readthedocs/projects/migrations/0162_add_automationrule_v2.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Match number of queries
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

Related field name change
  readthedocs/builds/migrations/0071_alter_versionautomationrule_fk.py
Owners: @readthedocs/backend

Tests: use `master` as the default branch for git repositories
  readthedocs/rtd_tests/utils.py
Owners: @readthedocs/backend

projects: add filter to redirect list view (#12972)
  readthedocs/projects/filters.py
  readthedocs/projects/views/private.py
  readthedocs/redirects/tests/test_views.py
Owners: @readthedocs/backend

docs: align skip-build limitations with actual behavior (#12957)
  docs/user/guides/build/skip-build.rst
Owners: @readthedocs/advocacy

Document visual diff baseline pinning behavior (#12935)
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Build: update all Python versions
  readthedocs/builds/constants_docker.py
Owners: @readthedocs/backend

Tests: use `master` as the default branch for git repositories (#12978)
  readthedocs/rtd_tests/utils.py
Owners: @readthedocs/backend

Build: update all Python versions (#12983)
  readthedocs/builds/constants_docker.py
Owners: @readthedocs/backend

Automation rules v2 (#12977)
  readthedocs/api/v2/utils.py
  readthedocs/builds/automation_actions.py
  readthedocs/builds/constants.py
  readthedocs/builds/forms.py
  readthedocs/builds/managers.py
  readthedocs/builds/migrations/0071_alter_versionautomationrule_fk.py
  readthedocs/builds/models.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/oauth/views.py
  readthedocs/projects/forms.py
  readthedocs/projects/managers.py
  readthedocs/projects/migrations/0162_add_automationrule_v2.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
  readthedocs/projects/models.py
  readthedocs/projects/ordering.py
  readthedocs/projects/tests/test_models.py
  readthedocs/projects/urls/private.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_automation_rule_views.py
  readthedocs/rtd_tests/tests/test_automation_rules.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

docs: Add curl and Python examples to generic incoming webhook (#12964)
  docs/user/guides/setup/git-repo-manual.rst
Owners: @readthedocs/advocacy

lint
  readthedocs/config/config.py
Owners: @readthedocs/backend

docs: Document how to use local git repositories for local development builds (#12963)
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Lint
  readthedocs/builds/migrations/0071_remove_deprecated_build_fields.py
Owners: @readthedocs/backend

Apply suggestions from code review
  docs/_templates/breadcrumbs.html
Owners: @readthedocs/advocacy

Docs: add sign up and log in CTA to footer (#12841)
  docs/_templates/breadcrumbs.html
  docs/conf.py
Owners: @readthedocs/advocacy

docs: tighten code style guide, drop AGENTS.md overlap
  docs/dev/code-style-guide.rst
Owners: @readthedocs/advocacy

Revert "Docs: skip build on PRs when no docs-related files changed"
  .readthedocs.yml
Owners: @readthedocs/backend
