Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Add reference to search page too
  docs/user/server-side-search/index.rst
Owners: @readthedocs/advocacy

Fix silly lint
  docs/user/reference/main-content-detection.rst
Owners: @readthedocs/advocacy

Tests and more improvements
  readthedocs/projects/models.py
  readthedocs/proxito/redirects.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/rtd_tests/tests/test_resolver.py
  readthedocs/search/api/v3/executor.py
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/tasks.py
Owners: @readthedocs/backend

One less query
  readthedocs/search/api/v2/serializers.py
Owners: @readthedocs/backend

Remove
  readthedocs/search/api/v3/executor.py
Owners: @readthedocs/backend

Docs: document --backupdb argument (#7761)
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Docs: fix --backupdb filename pattern documentation
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Update test case
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Apply suggestions from code review
  docs/user/reference/main-content-detection.rst
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Docs: Explain main content node detection in visual diff (#12586)
  docs/user/index.rst
  docs/user/link-previews.rst
  docs/user/reference/main-content-detection.rst
  docs/user/server-side-search/index.rst
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Swap back to first/exists
  readthedocs/api/v2/views/integrations.py
Owners: @readthedocs/backend

Fix MultipleObjectsReturned error when multiple integrations exist (#12581)
  readthedocs/api/v2/views/integrations.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Update all build tools and add newer versions. (#12596)
  docs/user/config-file/v2.rst
  readthedocs/builds/constants_docker.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/advocacy, @readthedocs/backend

Release 15.7.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Add Celery slop
  docs/dev/celery.rst
Owners: @readthedocs/advocacy

Add index
  docs/dev/index.rst
Owners: @readthedocs/advocacy

Add a search prompt test to teach AI to search
  search-api-reference.md
Owners: @readthedocs/backend

Replace wrong usage of prefetch_related with select_related
  readthedocs/organizations/filters.py
  readthedocs/organizations/migrations/0008_migrate_old_invitations.py
  readthedocs/organizations/views/base.py
  readthedocs/subscriptions/notifications.py
Owners: @readthedocs/backend

Make doctool page titles better for SEO
  docs/user/intro/antora.rst
  docs/user/intro/docusaurus.rst
  docs/user/intro/markdoc.rst
  docs/user/intro/mdbook.rst
  docs/user/intro/mkdocs.rst
  docs/user/intro/sphinx.rst
  docs/user/intro/vitepress.rst
Owners: @readthedocs/advocacy

Search: optimize queryset when searching for subprojects (#12588)
  readthedocs/core/resolver.py
  readthedocs/projects/models.py
  readthedocs/proxito/redirects.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/rtd_tests/tests/test_resolver.py
  readthedocs/search/api/v2/serializers.py
  readthedocs/search/api/v3/executor.py
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/tasks.py
Owners: @readthedocs/backend

changed id to pk
  readthedocs/audit/serializers.py
Owners: @readthedocs/backend

Docs: add Zensical documentation to doctools
  docs/user/intro/doctools.rst
  docs/user/intro/zensical.rst
Owners: @readthedocs/advocacy

Include the document to avoid Sphinx complaining
  docs/user/intro/doctools.rst
Owners: @readthedocs/advocacy

Raise clear error when `mkdocs.yml` config file is missing (#12607)
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

Raise clear error when `mkdocs.yml` config file is missing (#12521)
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/projects/notifications.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

Apply suggestion from @humitos
  docs/user/intro/doctools.rst
Owners: @readthedocs/advocacy

Make doctool page titles better for SEO (#12603)
  docs/user/intro/antora.rst
  docs/user/intro/docusaurus.rst
  docs/user/intro/markdoc.rst
  docs/user/intro/mdbook.rst
  docs/user/intro/mkdocs.rst
  docs/user/intro/sphinx.rst
  docs/user/intro/vitepress.rst
Owners: @readthedocs/advocacy

Replace wrong usage of prefetch_related with select_related (#12602)
  readthedocs/organizations/filters.py
  readthedocs/organizations/migrations/0008_migrate_old_invitations.py
  readthedocs/organizations/views/base.py
  readthedocs/subscriptions/notifications.py
Owners: @readthedocs/backend

Update docs/user/intro/mystmd.rst
  docs/user/intro/mystmd.rst
Owners: @readthedocs/advocacy

Update docs/user/intro/zensical.rst
  docs/user/intro/zensical.rst
Owners: @readthedocs/advocacy

Docs: add mystmd to the list of supported doctools (#12608)
  docs/user/intro/doctools.rst
  docs/user/intro/mystmd.rst
Owners: @readthedocs/advocacy

Project: don't ask to recreate project if SSH key wasn't added
  readthedocs/oauth/notifications.py
Owners: @readthedocs/backend

Tasks: remove user_pk from task calls
  readthedocs/projects/views/mixins.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Fix HTTPHeader inline registration
  readthedocs/projects/admin.py
  readthedocs/projects/migrations/0157_httpheader_project.py
  readthedocs/projects/models.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_headers.py
Owners: @readthedocs/backend

Serve llms.txt in proxito
  docs/user/index.rst
  docs/user/reference/features.rst
  docs/user/reference/llms.rst
  readthedocs/proxito/README.rst
  readthedocs/proxito/tests/base.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/serve.py
  readthedocs/templates/llms.delisted.txt
  readthedocs/templates/llms.spam.txt
  readthedocs/templates/llms.txt
Owners: @readthedocs/advocacy, @readthedocs/backend

Add OpenAPI specification to public API docs
  docs/conf.py
  docs/user/api/index.rst
  docs/user/api/openapi.rst
  docs/user/api/openapi.yaml
  docs/user/api/v3.rst
  requirements/docs.in
  requirements/docs.txt
Owners: @readthedocs/advocacy, @readthedocs/backend

Document proxito settings for subproject redirect test
  docs/design/subproject-page-redirect.md
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Docs: add Zensical documentation to doctools (#12606)
  docs/user/intro/doctools.rst
  docs/user/intro/zensical.rst
Owners: @readthedocs/advocacy

Update JSON file to match response
  readthedocs/api/v3/tests/responses/projects-subprojects-list_POST.json
Owners: @readthedocs/backend

Make `vcs` the default tab and use dynamic provider list
  readthedocs/profiles/views.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
