Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Add labels to the PR event
  readthedocs/oauth/tests/test_githubapp_webhook.py
Owners: @readthedocs/backend

Remove tests related to RegexAutomationRule
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Update query count
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

Add 4 specific tests for the new code added
  readthedocs/oauth/tests/test_githubapp_webhook.py
Owners: @readthedocs/backend

Lint
  readthedocs/rtd_tests/tests/test_automation_rules.py
Owners: @readthedocs/backend

Update migration dependencies
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
Owners: @readthedocs/backend

Tests: update automation rules test suite for v2 model (#12850)
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/projects/tests/test_models.py
  readthedocs/rtd_tests/tests/test_automation_rule_views.py
  readthedocs/rtd_tests/tests/test_automation_rules.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Update test to pass
  readthedocs/rtd_tests/tests/test_privacy_urls.py
Owners: @readthedocs/backend

Remove URLs to avoid breaking test
  readthedocs/projects/urls/private.py
Owners: @readthedocs/backend

Builds: automation rules v2 (#12848)
  readthedocs/api/v2/utils.py
  readthedocs/builds/automation_actions.py
  readthedocs/builds/constants.py
  readthedocs/builds/forms.py
  readthedocs/builds/managers.py
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/builds/models.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/oauth/views.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0162_add_automationrule_v2.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_models.py
  readthedocs/projects/urls/private.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_automation_rule_views.py
  readthedocs/rtd_tests/tests/test_automation_rules.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Require start
  readthedocs/core/tests/test_db_utils.py
  readthedocs/core/utils/db.py
Owners: @readthedocs/backend

Add SessionStart hook for Claude Code on the web
  .claude/hooks/session-start.sh
  .claude/settings.json
Owners: @readthedocs/backend

Revert "Add SessionStart hook for Claude Code on the web"
  .claude/hooks/session-start.sh
  .claude/settings.json
Owners: @readthedocs/backend

Address PR feedback: early return on closed PRs, use log.info
  readthedocs/oauth/services/githubapp.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Add cross-references to build customization docs (#12950)
  docs/user/config-file/v2.rst
  docs/user/downloadable-documentation.rst
  docs/user/guides/enable-offline-formats.rst
Owners: @readthedocs/advocacy

refactor: use pathlib for extension extraction instead of string ops
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Revert "Claude Code: SessionStart hook to load upstream agent instructions"
  .claude/settings.json
Owners: @readthedocs/backend

CI: fix description wording for non-main branch check
  .circleci/config.yml
Owners: @readthedocs/backend

Docs: skip build on PRs when no docs-related files changed
  .readthedocs.yml
Owners: @readthedocs/backend

Automation rules: migrate `AutomationRuleMatch` data
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
Owners: @readthedocs/backend

docs: align skip-build limitations with actual behavior
  docs/user/guides/build/skip-build.rst
Owners: @readthedocs/advocacy

builds: fix AutomationRule v2 data migration
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
Owners: @readthedocs/backend

Update created/modified fields
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
Owners: @readthedocs/backend

docs: clarify skip-build notification and commit status wording
  docs/user/guides/build/skip-build.rst
Owners: @readthedocs/advocacy

Tests: allow running with `--nomigrations` option
  readthedocs/rtd_tests/tests/test_build_notifications.py
  readthedocs/rtd_tests/tests/test_project_forms.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Use `--nomigrations` on CircleCI as well
  .circleci/config.yml
Owners: @readthedocs/backend

Update AGENTS.md with instructions to run tests locally
  AGENTS.md
Owners: @readthedocs/backend

Update readthedocs/projects/migrations/0163_automationrule_data_migration.py
  readthedocs/projects/migrations/0163_automationrule_data_migration.py
Owners: @readthedocs/backend

Tests: use `tox-uv` for faster virtualenv creation and dependency resolution
  tox.ini
Owners: @readthedocs/backend

Lint
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Do not delete the path if it doesn't exist
  readthedocs/core/utils/filesystem.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

Update AGENTS.md with instructions to run tests locally (#12960)
  AGENTS.md
Owners: @readthedocs/backend

Update .circleci/config.yml
  .circleci/config.yml
Owners: @readthedocs/backend

Update tests
  readthedocs/core/tests/test_db_utils.py
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

Tests: allow running with `--nomigrations` option (#12961)
  readthedocs/rtd_tests/tests/test_build_notifications.py
  readthedocs/rtd_tests/tests/test_project_forms.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

vcs: fix typos in git backend comments/log message
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

docs: add code architecture and style guide for agents
  AGENTS.md
  docs/dev/code-style-guide.rst
  docs/dev/index.rst
Owners: @readthedocs/backend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
