Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Fix typo
  readthedocs/search/api/v3/views.py
Owners: @readthedocs/backend

Remove redundant `--no-dev` from uv run commands
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

Search: limit the number of cache tags returned in the search API (#13334)
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/api/v3/views.py
Owners: @readthedocs/backend

Docs: update pull request builds mockups
  docs/_static/images/design-docs/pull-request-builds/empty.png
  docs/_static/images/design-docs/pull-request-builds/list.png
  docs/_static/images/design-docs/pull-request-builds/versions-intermixed.png
Owners: @readthedocs/advocacy

FTD: skip diffing when the base version isn't active and built
  readthedocs/builds/reporting.py
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

FTD: fall back to the default version when latest isn't usable
  docs/user/visual-diff.rst
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tests/test_indexers.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Tests: mark latest as built in the imported file fixture
  readthedocs/rtd_tests/tests/test_imported_file.py
Owners: @readthedocs/backend

Docs: fix trailing newline in build-troubleshooting.rst
  docs/user/guides/build-troubleshooting.rst
Owners: @readthedocs/advocacy

FTD: skip diffing when the base version isn't active and built (#13337)
  readthedocs/builds/reporting.py
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Run the direct upload for GitHub `push` events
  .github/workflows/docs-upload.yaml
  docs/user/guides/build/direct-upload.rst
Owners: @readthedocs/backend, @readthedocs/advocacy

FTD: fall back to the default branch's version, not the default version
  docs/user/visual-diff.rst
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/projects/tests/test_indexers.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Run the direct upload for GitHub `push` events (#13340)
  .github/workflows/docs-upload.yaml
  docs/user/guides/build/direct-upload.rst
Owners: @readthedocs/backend, @readthedocs/advocacy

Upload: run the workflow on specific files only
  .github/workflows/docs-upload.yaml
  docs/user/guides/build/direct-upload.rst
Owners: @readthedocs/backend, @readthedocs/advocacy

Upload: run the workflow on specific files only (#13341)
  .github/workflows/docs-upload.yaml
  docs/user/guides/build/direct-upload.rst
Owners: @readthedocs/backend, @readthedocs/advocacy

Merge commit from fork
  readthedocs/doc_builder/director.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/doc_builder/director.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Merge commit from fork
  readthedocs/doc_builder/director.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Builds: allow passing temporary env vars to build commands
  readthedocs/doc_builder/environments.py
  readthedocs/rtd_tests/tests/test_doc_building.py
Owners: @readthedocs/backend

Builds: don't log environment variable values
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Builds: obfuscate extra env values from command output and logs
  readthedocs/doc_builder/environments.py
  readthedocs/rtd_tests/tests/test_doc_building.py
Owners: @readthedocs/backend

Obfuscate before changing the output
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Route upload builds through concurrency admission
  readthedocs/builds/migrations/0080_build_upload_completed_at.py
  readthedocs/builds/models.py
  readthedocs/builds/tasks.py
  readthedocs/core/utils/__init__.py
  readthedocs/rtd_tests/tests/test_core_utils.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Fix
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Fix duplicate link target in i18n.rst by using anonymous link
  docs/dev/i18n.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Give the shadowed duplicate test names distinct names
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

API: remove `/usr/bin/` from build commands
  readthedocs/api/v2/utils.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Design: onboarding direct upload projects
  docs/dev/design/direct-upload-projects.rst
Owners: @readthedocs/advocacy

Implementation of the design document
  readthedocs/builds/forms.py
  readthedocs/builds/models.py
  readthedocs/core/utils/__init__.py
  readthedocs/core/views/hooks.py
  readthedocs/projects/constants.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0170_project_build_method.py
  readthedocs/projects/models.py
  readthedocs/projects/views/mixins.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_build_forms.py
  readthedocs/rtd_tests/tests/test_core_utils.py
  readthedocs/rtd_tests/tests/test_project_views.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Search: retry with fuzzy matching when a query has no results
  docs/user/server-side-search/api.rst
  docs/user/server-side-search/syntax.rst
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/api/v3/views.py
  readthedocs/search/faceted_search.py
  readthedocs/search/tests/test_views.py
  readthedocs/search/views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Builds: Support temporary environment variables in commands (#13342)
  readthedocs/doc_builder/environments.py
  readthedocs/rtd_tests/tests/test_doc_building.py
Owners: @readthedocs/backend

Remove is_staff check
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Base the version listing on direct uploads
  readthedocs/projects/views/public.py
Owners: @readthedocs/backend

Shorten the prevalidation for pull requests on direct upload
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Remove fields that don't make sense on direct upload
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Dashboard: allow filtering builds by external versions
  readthedocs/builds/filters.py
  readthedocs/builds/tests/test_views.py
  readthedocs/core/filters.py
Owners: @readthedocs/backend

Apply suggestion from @ericholscher
  docs/user/guides/build-troubleshooting.rst
Owners: @readthedocs/advocacy

Docs: add common build failure troubleshooting sections (#13335)
  docs/user/guides/build-troubleshooting.rst
Owners: @readthedocs/advocacy

Core: replace lru_cache on methods with a per-instance cache
  readthedocs/analytics/proxied_api.py
  readthedocs/api/mixins.py
  readthedocs/config/config.py
  readthedocs/core/utils/objects.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/organizations/views/base.py
  readthedocs/projects/views/base.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/views/hosting.py
  readthedocs/rtd_tests/tests/test_core_utils.py
  readthedocs/search/api/v2/views.py
  readthedocs/subscriptions/views.py
Owners: @readthedocs/backend

Clean artifacts when de-activating uploaded versions
  readthedocs/builds/forms.py
  readthedocs/rtd_tests/tests/test_build_forms.py
Owners: @readthedocs/backend
