Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Update
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Test
  readthedocs/rtd_tests/tests/test_version_commit_name.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Update LICENSE, fix license year
  LICENSE
Owners: @readthedocs/backend

Build: use actual git identifier for READTHEDOCS_GIT_IDENTIFIER (#11875)
  readthedocs/api/v2/serializers.py
  readthedocs/builds/models.py
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_project_forms.py
  readthedocs/rtd_tests/tests/test_version.py
  readthedocs/rtd_tests/tests/test_version_commit_name.py
Owners: @readthedocs/backend

Update and rename team.rst to Update team.rst
  docs/user/Update team.rst
  docs/user/team.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Add feature flag
  readthedocs/oauth/signals.py
  readthedocs/oauth/tests/test_models.py
  readthedocs/projects/forms.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Fix test
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Rename
  readthedocs/config/models.py
Owners: @readthedocs/backend

Update README.rst
  README.rst
Owners: @readthedocs/backend

Docstring
  readthedocs/config/models.py
Owners: @readthedocs/backend

Config: inherit all pydantic models from a common base class (#11857)
  readthedocs/config/models.py
Owners: @readthedocs/backend

Release 11.18.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.mo
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.18.0 (#11884)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.mo
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Lower logging for user build errors
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Lower logging for user build errors (#11886)
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Add example for requirements for mkdocs and matrial theme information
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Fix branding
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Fix TOCTree so the files show in the right place
  docs/user/index.rst
  docs/user/intro/doctools.rst
  docs/user/tutorials/index.rst
Owners: @readthedocs/advocacy

Don't reflect user input in raw response
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Add Addons customization docs
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Add reference data for events and event
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Fix list formatting
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Hide real addons data
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Addons: allow to set a "Default" or a explicit position for flyout
  readthedocs/projects/constants.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0143_addons_flyout_position.py
  readthedocs/projects/models.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Note
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Don't reflect user input in raw response (#11887)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Move the endpoint under `/projects/<slug>/filetreediff/`
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/urls.py
  readthedocs/api/v3/views.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Social accounts: link Bitbucket to new dashboard
  readthedocs/templates/socialaccount/snippets/provider_list.html
Owners: @readthedocs/frontend

Environment variables: document special case for PR preview builds
  docs/user/reference/environment-variables.rst
Owners: @readthedocs/advocacy

Update docs/user/reference/environment-variables.rst
  docs/user/reference/environment-variables.rst
Owners: @readthedocs/advocacy

Make APIv3 endpoints under El Proxito to be read-only
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Use requirements file
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Remove CSS variable info
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Revert "Remove CSS variable info"
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Social accounts: link Bitbucket to new dashboard (#11892)
  readthedocs/templates/socialaccount/snippets/provider_list.html
Owners: @readthedocs/frontend

Revert "Use requirements file"
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Install without requirements
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Fix config
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
