Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade dependencies
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Expose PUBLIC_API_URL in templates
  readthedocs/core/context_processors.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/rtd_tests/tests/test_notifications.py
Owners: @readthedocs/backend

Webhooks: use PUBLIC_API_URL to generate the webhook URL (#10801)
  readthedocs/core/context_processors.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/rtd_tests/tests/test_notifications.py
Owners: @readthedocs/backend

Upgrade ES to 8.x (#10771)
  .circleci/config.yml
  readthedocs/search/tests/test_faceted_search.py
  readthedocs/search/tests/test_views.py
  readthedocs/settings/base.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Bump Python versions
  docs/user/build-customization.rst
  docs/user/config-file/examples/mkdocs/.readthedocs.yaml
  docs/user/config-file/examples/sphinx/.readthedocs.yaml
  docs/user/config-file/v2.rst
  docs/user/environment-variables.rst
  docs/user/guides/reproducible-builds.rst
  readthedocs/builds/constants_docker.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
  readthedocs/templates/projects/import_config.html
Owners: @readthedocs/advocacy, @readthedocs/backend, @readthedocs/frontend

Release 10.7.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.7.0 (#10809)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Docs: deprecated note about flyout integration/customization
  docs/user/flyout-menu.rst
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/dev/settings.rst
Owners: @readthedocs/advocacy

Script: compile versions for S3
  scripts/compile_version_upload_s3.sh
Owners: @readthedocs/backend

Logs: always log documentation size in megabytes
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Proxito: always use subdomain for serving docs (#10799)
  docs/dev/install.rst
  docs/dev/settings.rst
  readthedocs/api/v3/tests/mixins.py
  readthedocs/core/context_processors.py
  readthedocs/core/resolver.py
  readthedocs/embed/tests/test_api.py
  readthedocs/embed/v3/tests/test_access.py
  readthedocs/embed/v3/tests/test_basics.py
  readthedocs/embed/v3/tests/test_external_pages.py
  readthedocs/embed/v3/tests/test_internal_pages.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_build_notifications.py
  readthedocs/rtd_tests/tests/test_core_tags.py
  readthedocs/rtd_tests/tests/test_footer.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/rtd_tests/tests/test_privacy.py
  readthedocs/rtd_tests/tests/test_redirects.py
  readthedocs/rtd_tests/tests/test_resolver.py
  readthedocs/rtd_tests/tests/test_single_version.py
  readthedocs/rtd_tests/tests/test_version.py
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/tests/test_api.py
  readthedocs/search/tests/test_views.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/settings/proxito/base.py
  readthedocs/settings/test.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Parse it as int
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Logs: always log documentation size in megabytes (#10812)
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Resolver: refactor
  readthedocs/core/resolver.py
Owners: @readthedocs/backend

Script: compile versions for S3 (#10811)
  scripts/compile_version_upload_s3.sh
Owners: @readthedocs/backend

Docs: deprecated note about flyout integration/customization (#10810)
  docs/user/flyout-menu.rst
Owners: @readthedocs/advocacy

Add Python 3.12 to allowed Python versions (#10808)
  docs/user/build-customization.rst
  docs/user/config-file/examples/mkdocs/.readthedocs.yaml
  docs/user/config-file/examples/sphinx/.readthedocs.yaml
  docs/user/config-file/v2.rst
  docs/user/environment-variables.rst
  docs/user/guides/reproducible-builds.rst
  readthedocs/builds/constants_docker.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
  readthedocs/templates/projects/import_config.html
Owners: @readthedocs/advocacy, @readthedocs/backend, @readthedocs/frontend

Fix tests
  readthedocs/core/resolver.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

Remove override
  readthedocs/core/resolver.py
Owners: @readthedocs/backend

Linter
  readthedocs/core/resolver.py
Owners: @readthedocs/backend

Tests
  readthedocs/core/resolver.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

Linter
  readthedocs/core/resolver.py
Owners: @readthedocs/backend

Linter
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

Alternative implementation
  readthedocs/core/resolver.py
  readthedocs/core/unresolver.py
  readthedocs/projects/constants.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Linter
  readthedocs/projects/constants.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Migration
  readthedocs/projects/constants.py
  readthedocs/projects/migrations/0107_alter_project_language.py
Owners: @readthedocs/backend

Test
  readthedocs/core/unresolver.py
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

Migrate old language codes
  readthedocs/projects/migrations/0108_migrate_language_code.py
Owners: @readthedocs/backend

Avoid downtime
  readthedocs/core/unresolver.py
Owners: @readthedocs/backend

Fix
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/projects/migrations/0108_migrate_language_code.py
Owners: @readthedocs/backend

Test sphinx
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/projects/views/public.py
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

Update comments
  readthedocs/projects/constants.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Docs: update root language redirect docs
  docs/user/user-defined-redirects.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Tests: send api-version and client-version to addons endpoint
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Addons: add test cases for the endpoint (#10754)
  readthedocs/proxito/tests/test_headers.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
