Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Implement ordering
  readthedocs/api/v3/serializers.py
  readthedocs/builds/models.py
  readthedocs/projects/ordering.py
  readthedocs/projects/urls/private.py
  readthedocs/projects/views/private.py
  readthedocs/redirects/migrations/0006_add_new_fields.py
  readthedocs/redirects/models.py
  readthedocs/redirects/templates/redirects/redirect_list.html
  readthedocs/redirects/validators.py
Owners: @readthedocs/backend, @readthedocs/frontend

Updates
  readthedocs/redirects/migrations/0006_add_new_fields.py
  readthedocs/redirects/models.py
  readthedocs/redirects/querysets.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/responses/projects-redirects-detail.json
  readthedocs/api/v3/tests/responses/projects-redirects-detail_PUT.json
  readthedocs/api/v3/tests/responses/projects-redirects-list.json
  readthedocs/api/v3/tests/responses/projects-redirects-list_POST.json
  readthedocs/api/v3/tests/test_redirects.py
  readthedocs/projects/ordering.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
Owners: @readthedocs/backend

Release 10.12.2
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.12.2 (#10944)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Fix django.mo
  readthedocs/locale/de/LC_MESSAGES/django.mo
Owners: @readthedocs/backend

Fix mo file again...
  readthedocs/locale/de/LC_MESSAGES/django.mo
Owners: @readthedocs/backend

Fix mo file..
  readthedocs/locale/de/LC_MESSAGES/django.mo
Owners: @readthedocs/backend

Tests
  readthedocs/api/v3/serializers.py
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/rtd_tests/tests/test_redirects.py
Owners: @readthedocs/backend

Update requirements.txt example with more recent versions
  docs/user/guides/reproducible-builds.rst
Owners: @readthedocs/advocacy

Update the pip-compile example with recent versions
  docs/user/guides/reproducible-builds.rst
Owners: @readthedocs/advocacy

Fix tests
  readthedocs/api/v3/tests/test_redirects.py
  readthedocs/redirects/tests/test_views.py
  readthedocs/redirects/validators.py
Owners: @readthedocs/backend

Search: fix default for search.ranking when indexing
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Update migration
  readthedocs/redirects/migrations/0006_add_new_fields.py
Owners: @readthedocs/backend

Docs
  docs/user/api/v3.rst
  docs/user/guides/redirects.rst
  docs/user/user-defined-redirects.rst
Owners: @readthedocs/advocacy

Updates
  docs/user/guides/redirects.rst
  readthedocs/redirects/templates/redirects/redirect_list.html
Owners: @readthedocs/advocacy, @readthedocs/frontend

Data migration
  docs/user/user-defined-redirects.rst
  readthedocs/projects/views/private.py
  readthedocs/redirects/migrations/0007_migrate_to_new_syntax.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Format
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Allow empty project list on organization team form
  readthedocs/organizations/forms.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Addons: normalize search filters
  readthedocs/proxito/tests/responses/v0.json
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Add AddonsConfig admin (#10938)
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

Addons: normalize search filters (#10951)
  readthedocs/proxito/tests/responses/v0.json
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Addons: get translation from main project
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Notification with `format_values` passed when exception is raised
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/notifications/models.py
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Use `get_display_icon` to show the proper icon in the serializer
  readthedocs/api/v3/serializers.py
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Proper relation name
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Initial work to replace site notifications
  readthedocs/domains/tasks.py
  readthedocs/domains/templates/domains/notifications/pending_domain_configuration_site.html
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend, @readthedocs/frontend

We are not going to create Notifications via APIv3 for now
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Send `format_values` to exception
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Small changes and comments added
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Initial work to migrate an old SiteNotification to new system
  readthedocs/core/tests/test_contact.py
  readthedocs/core/utils/contact.py
  readthedocs/domains/notifications.py
  readthedocs/domains/tasks.py
  readthedocs/notifications/__init__.py
  readthedocs/notifications/backends.py
  readthedocs/notifications/notification.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/settings/base.py
  readthedocs/subscriptions/notifications.py
Owners: @readthedocs/backend

Create a notification `registry` to register messages by application
  readthedocs/domains/notifications.py
  readthedocs/notifications/messages.py
  readthedocs/notifications/models.py
Owners: @readthedocs/backend

Use a custom `models.Manager` to implement de-duplication
  readthedocs/domains/tasks.py
  readthedocs/notifications/models.py
  readthedocs/projects/notifications.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Small refactor to email notifications
  readthedocs/subscriptions/notifications.py
Owners: @readthedocs/backend

Render build/project notifications from Django templates
  readthedocs/builds/static-src/builds/js/detail.js
  readthedocs/builds/static/builds/js/detail.js
  readthedocs/templates/builds/build_detail.html
  readthedocs/templates/core/project_bar_base.html
Owners: @readthedocs/frontend

Attach "build.commands" in beta notification
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/projects/apps.py
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Initial migration pattern for YAML config errors
  readthedocs/config/__init__.py
  readthedocs/config/config.py
  readthedocs/config/notifications.py
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Pass default settings for notifications
  readthedocs/notifications/models.py
Owners: @readthedocs/backend

Organization disabled notification
  readthedocs/subscriptions/notifications.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
