Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Skip templates with unregistered tag libraries in syntax test
  readthedocs/core/tests/test_templates.py
Owners: @readthedocs/backend

Fix cache headers on early forced redirect responses
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Address review feedback and fix CI test failures
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/mixins.py
  readthedocs/api/v3/tests/test_builds.py
  readthedocs/builds/migrations/0070_buildcommandresult_build_job.py
  readthedocs/builds/models.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/environments.py
  readthedocs/doc_builder/tests/test_director.py
  readthedocs/doc_builder/tests/test_environments.py
  readthedocs/rtd_tests/tests/test_api_build_commands.py
  readthedocs/rtd_tests/tests/test_doc_building.py
Owners: @readthedocs/backend

Fix CI: apply ruff formatting and fix deprecated zh language code test
  readthedocs/projects/constants.py
  readthedocs/projects/migrations/0160_alter_historicalproject_language_and_more.py
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

Use group headings instead of per-file status in files changed table
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Use lists and nested details for cleaner file diff display
  readthedocs/builds/tests/test_tasks.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Simplify file diff display: flat layout, auto-expand under 5 files
  readthedocs/builds/tests/test_tasks.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Use markdown formatting for file diff display
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Cap file lists at 10 per group with overflow count
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Split into simple and complex file diff layouts
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Use markdown list for simple layout to avoid <p> per file
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Use plain HTML lines for simple layout instead of markdown list
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Use code-styled text symbols (+, ±, -) instead of emoji
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Address review feedback: move URL fields into BuildURLsSerializer
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/responses/projects-builds-detail.json
  readthedocs/api/v3/tests/responses/projects-builds-list.json
  readthedocs/api/v3/tests/responses/projects-versions-builds-list_POST.json
  readthedocs/api/v3/tests/test_builds.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Restore explicit super().retrieve() when storage is disabled
  readthedocs/api/v2/views/model_views.py
Owners: @readthedocs/backend

Skip pygithub to avoid breaking tests
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Support `uv` natively (design document) (#12868)
  docs/dev/design/uv-native-support-proposal.md
Owners: @readthedocs/advocacy

Release 2026.04.07
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Move forms to projects/forms.py
  readthedocs/builds/forms.py
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Move AutomationRule to projects app
  readthedocs/builds/models.py
  readthedocs/projects/migrations/0159_add_automationrule_v2.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix some issues after moving the model
  readthedocs/api/v2/utils.py
  readthedocs/oauth/tasks.py
  readthedocs/projects/forms.py
  readthedocs/projects/models.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Handle custom match
  readthedocs/builds/constants.py
  readthedocs/builds/models.py
  readthedocs/projects/migrations/0159_add_automationrule_v2.py
Owners: @readthedocs/backend

Update reference to model
  readthedocs/builds/models.py
  readthedocs/projects/migrations/0159_add_automationrule_v2.py
Owners: @readthedocs/backend

Get commit from pull request
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Define missing internal_redirect_root_path attribute
  readthedocs/storage/s3_storage.py
Owners: @readthedocs/backend

Define missing internal_redirect_root_path attribute
  readthedocs/storage/s3_storage.py
Owners: @readthedocs/backend

Define missing internal_redirect_root_path attribute
  readthedocs/storage/s3_storage.py
Owners: @readthedocs/backend

Debug missing coverage
  .circleci/config.yml
Owners: @readthedocs/backend

Search needs rclone
  .circleci/config.yml
Owners: @readthedocs/backend

/.loca/bin needs to be cached, it contains the tox binary
  .circleci/config.yml
Owners: @readthedocs/backend

Purge cache :_
  .circleci/config.yml
Owners: @readthedocs/backend

Define missing internal_redirect_root_path attribute (#12919)
  readthedocs/storage/s3_storage.py
Owners: @readthedocs/backend

Updates from review
  readthedocs/builds/models.py
  readthedocs/builds/tasks.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Updates from review
  readthedocs/storage/s3_storage.py
  readthedocs/storage/tests/test_s3_storage.py
Owners: @readthedocs/backend

Remove import
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/backend

Fix test
  readthedocs/storage/tests/test_s3_storage.py
Owners: @readthedocs/backend

Optimize CI: caching, uv, parallel jobs, docs-only skip (#12886)
  .circleci/config.yml
  .coveragerc
  docs/dev/tests.rst
  requirements/docker.in
  requirements/docker.txt
  tox.ini
Owners: @readthedocs/backend, @readthedocs/advocacy

Use colored circle icons (🟢🟡🔴) for file status indicators
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Feedback from review
  docs/user/config-file/v2.rst
  readthedocs/config/config.py
  readthedocs/config/models.py
  readthedocs/doc_builder/python_environments.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Update code to handle everything in the same function
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/notifications.py
Owners: @readthedocs/backend
