Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Add and update test cases
  readthedocs/doc_builder/tests/test_director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Add test to check we are not passing UV_PYTHON to `uv venv` command
  readthedocs/doc_builder/tests/test_director.py
Owners: @readthedocs/backend

Docs: add design doc for direct artifacts upload architecture
  docs/dev/design/direct-artifacts-upload.rst
Owners: @readthedocs/advocacy

Fix tests
  readthedocs/builds/signals_receivers.py
  readthedocs/upload/api/views.py
Owners: @readthedocs/backend

Fix test
  readthedocs/builds/signals_receivers.py
Owners: @readthedocs/backend

Global override broke the extra check
  readthedocs/settings/docker_compose.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tasks.py
  upload.sh
Owners: @readthedocs/backend

Address review feedback
  readthedocs/builds/tasks.py
  readthedocs/rtd_tests/tests/test_celery.py
Owners: @readthedocs/backend

Builds: skip sending build status when the build has no commit (#13211)
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/rtd_tests/tests/test_celery.py
Owners: @readthedocs/backend

Build: send DAU to isolated builders Celery queue
  readthedocs/upload/api/views.py
Owners: @readthedocs/backend

Updates from review
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/projects/models.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/upload/api/serializers.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tasks.py
Owners: @readthedocs/backend

Finish dead builds
  readthedocs/builds/querysets.py
  readthedocs/builds/tasks.py
  readthedocs/projects/tasks/utils.py
  readthedocs/settings/base.py
  readthedocs/upload/api/views.py
Owners: @readthedocs/backend

Updates
  readthedocs/builds/tasks.py
  readthedocs/upload/tasks.py
Owners: @readthedocs/backend

Make it work with AWS locally
  readthedocs/builds/tasks.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tasks.py
Owners: @readthedocs/backend

Fixes from copilot
  readthedocs/upload/api/serializers.py
  readthedocs/upload/tasks.py
Owners: @readthedocs/backend

Requirements: downgrade pip to avoid requiring `allow_editables` and break
  .github/workflows/pip-tools.yaml
Owners: @readthedocs/backend

Requirements: upgrade them all
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Do not use virual addressing_style on local development for S3
  readthedocs/settings/docker_compose.py
  readthedocs/upload/api/views.py
Owners: @readthedocs/backend

Remove USING_AWS setting since it's not needed
  readthedocs/aws/security_token_service.py
  readthedocs/aws/tests/test_security_token_service.py
  readthedocs/settings/base.py
  readthedocs/upload/api/views.py
Owners: @readthedocs/backend

Keep the original line
  readthedocs/upload/api/views.py
Owners: @readthedocs/backend

Call `admint_project_builds` to dispatch immediately if possible
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Update test cases
  readthedocs/rtd_tests/tests/test_core_utils.py
Owners: @readthedocs/backend

Requirements: downgrade pip to avoid requiring `allow_editables` and … (#13220)
  .github/workflows/pip-tools.yaml
Owners: @readthedocs/backend

Requirements: upgrade them all (#13221)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

This works on both rustfs and aws
  docs/dev/settings.rst
  readthedocs/settings/docker_compose.py
  readthedocs/upload/api/views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

API: build-scoped API token
  readthedocs/api/v2/migrations/0002_buildapikey_build.py
  readthedocs/api/v2/models.py
  readthedocs/api/v2/permissions.py
  readthedocs/api/v2/views/core_views.py
  readthedocs/api/v2/views/model_views.py
  readthedocs/core/utils/__init__.py
  readthedocs/core/views/hooks.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Don't add the API key if the permission returns False
  readthedocs/api/v2/permissions.py
  readthedocs/api/v2/views/model_views.py
Owners: @readthedocs/backend

Test coverage
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Update migration to match latest changes
  readthedocs/api/v2/migrations/0002_buildapikey_build.py
Owners: @readthedocs/backend

Reduce verbosity of the comments
  readthedocs/api/v2/models.py
  readthedocs/api/v2/permissions.py
  readthedocs/api/v2/views/core_views.py
  readthedocs/api/v2/views/model_views.py
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Build: point UV_PYTHON to the Python binary inside the venv (#13218)
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/doc_builder/tests/test_director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Release 2026.08.11
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Revert "Remove USING_AWS setting since it's not needed"
  readthedocs/aws/security_token_service.py
  readthedocs/aws/tests/test_security_token_service.py
  readthedocs/settings/base.py
  readthedocs/upload/api/views.py
Owners: @readthedocs/backend

Add schema.json endpoint
  readthedocs/core/tests/test_homepage.py
  readthedocs/core/views/__init__.py
  readthedocs/urls.py
Owners: @readthedocs/backend

Project: make has_valid_clone nullable before removal
  readthedocs/projects/migrations/0167_alter_has_valid_clone.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Scope config schema endpoint path
  readthedocs/core/tests/test_homepage.py
  readthedocs/core/views/__init__.py
  readthedocs/urls.py
Owners: @readthedocs/backend

Docs: use the latest version of sphinxcontrib-video
  requirements/docs.in
  requirements/docs.txt
Owners: @readthedocs/backend

Update page to avoid warning
  docs/user/science.rst
Owners: @readthedocs/advocacy

Updates from review
  readthedocs/api/v2/models.py
  readthedocs/api/v2/permissions.py
  readthedocs/api/v2/views/model_views.py
  readthedocs/projects/tests/test_models.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Always set build_api_key to `None` at start
  readthedocs/api/v2/permissions.py
Owners: @readthedocs/backend

Apply suggestion from @stsewd
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
