Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Addons: allow to set a "Default" or a explicit position for flyout (#11891)
  readthedocs/projects/constants.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0143_addons_flyout_position.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Release 11.19.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.19.0 (#11926)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.mo
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Docs: update build customization docs
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Docs: update markdoc example to use build.jobs
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Docs: update markdoc example to use build.jobs (#11929)
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Docs: fix markdoc example
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Docs: fix markdoc example (#11932)
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Add RTD_FILETREEDIFF_ALL setting
  docs/dev/settings.rst
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/views/hosting.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Project: use clone URL from connected repository if available (#11826)
  readthedocs/oauth/signals.py
  readthedocs/oauth/tests/test_models.py
  readthedocs/projects/forms.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_project_forms.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Update readthedocs/settings/docker_compose.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Release 11.19.1
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.19.1 (#11938)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Run FileTreeDiff indexer on all versions in dev (#11873)
  docs/dev/settings.rst
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/views/hosting.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Addons: expose `readthedocs.resolver.filename` in the API response
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Update response from tests
  readthedocs/proxito/tests/responses/v1.json
Owners: @readthedocs/backend

We expect `None` when there is no `?url=` passed
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Version sync: restore verbose_name for stable version
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Migrate GitHub OAuth App to GitHub App
  readthedocs/allauth/providers/githubapp/__init__.py
  readthedocs/allauth/providers/githubapp/provider.py
  readthedocs/allauth/providers/githubapp/urls.py
  readthedocs/allauth/providers/githubapp/views.py
  readthedocs/core/adapters.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Note that there's a soft disk limit for doc builds
  docs/user/builds.rst
Owners: @readthedocs/advocacy

Docs: update build customization docs (#11927)
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Add vitepress doc page
  docs/user/intro/doctools.rst
  docs/user/intro/vitepress.rst
Owners: @readthedocs/advocacy

Remove embed API v2 code
  readthedocs/api/mixins.py
  readthedocs/embed/v3/views.py
  readthedocs/embed/views.py
Owners: @readthedocs/backend

Fancier link
  docs/user/intro/vitepress.rst
Owners: @readthedocs/advocacy

Add basepath logic
  docs/user/intro/vitepress.rst
Owners: @readthedocs/advocacy

More concise uv example
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Add Antora docs page
  docs/user/examples.rst
  docs/user/intro/antora.rst
  docs/user/intro/doctools.rst
Owners: @readthedocs/advocacy

Consistnet url
  docs/user/intro/vitepress.rst
Owners: @readthedocs/advocacy

Copy updates for intro pages
  docs/user/intro/docusaurus.rst
Owners: @readthedocs/advocacy

A couple more
  docs/user/intro/doctools.rst
  docs/user/intro/mkdocs.rst
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

More small updates
  docs/user/intro/accounts.rst
  docs/user/intro/add-project.rst
  docs/user/intro/markdoc.rst
  docs/user/intro/mdbook.rst
Owners: @readthedocs/advocacy

More copy updates
  docs/user/reference/404-not-found.rst
  docs/user/reference/cdn.rst
  docs/user/reference/environment-variables.rst
  docs/user/reference/features.rst
  docs/user/reference/git-integration.rst
  docs/user/reference/sitemaps.rst
Owners: @readthedocs/advocacy

More fixes
  docs/user/server-side-search/index.rst
  docs/user/server-side-search/syntax.rst
Owners: @readthedocs/advocacy

More tweaks
  docs/user/commercial/index.rst
  docs/user/commercial/organizations.rst
  docs/user/commercial/privacy-level.rst
  docs/user/commercial/sharing.rst
  docs/user/commercial/subscriptions.rst
Owners: @readthedocs/advocacy

Do not escape API value
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Add Antora docs page (#11947)
  docs/user/examples.rst
  docs/user/intro/antora.rst
  docs/user/intro/doctools.rst
Owners: @readthedocs/advocacy

Address review feedback
  docs/user/intro/vitepress.rst
Owners: @readthedocs/advocacy

Note that there's a soft disk limit for doc builds (#11943)
  docs/user/builds.rst
Owners: @readthedocs/advocacy

Merge commit from fork
  readthedocs/core/adapters.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
