Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Apply suggestion from @ericholscher
  docs/user/guides/custom-domains.rst
Owners: @readthedocs/advocacy

Sitemaps: allow custom `sitemap.xml` in default branch (#12902)
  docs/user/reference/sitemaps.rst
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Support `uv` natively
  docs/dev/uv-native-support-proposal.md
Owners: @readthedocs/advocacy

note about Docker container
  docs/dev/uv-native-support-proposal.md
Owners: @readthedocs/advocacy

Note about sphinx-build invocation
  docs/dev/uv-native-support-proposal.md
Owners: @readthedocs/advocacy

Replace `operation` with `command`
  docs/dev/uv-native-support-proposal.md
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/dev/uv-native-support-proposal.md
Owners: @readthedocs/advocacy

Notes about both implementations
  docs/dev/uv-native-support-proposal.md
Owners: @readthedocs/advocacy

Proposal reviewed and ready to discuss
  docs/dev/uv-native-support-proposal.md
Owners: @readthedocs/advocacy

Move file under design/ directory
  docs/dev/design/uv-native-support-proposal.md
Owners: @readthedocs/advocacy

Updaet schema to support uv implementation
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/backend

Update based on feedback
  readthedocs/builds/forms.py
  readthedocs/builds/migrations/0071_add_automationrule_v2.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Update code based on feedback
  readthedocs/builds/models.py
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Delete dead settings (#12909)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Attempt to use RichSelect and RichChoice
  readthedocs/builds/forms.py
Owners: @readthedocs/backend

Clean after copilot
  readthedocs/storage/tests/test_s3_storage.py
Owners: @readthedocs/backend

We have a common class to test with
  readthedocs/storage/tests/test_s3_storage.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

Fix tests (#12912)
  readthedocs/proxito/tests/test_full.py
Owners: @readthedocs/backend

Docs: clarify that SSL certificates are auto-provisioned after DNS setup (#12911)
  docs/user/guides/custom-domains.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Address review feedback from @stsewd
  .circleci/config.yml
  .coveragerc
Owners: @readthedocs/backend

Add comment explaining cache fallback key logic
  .circleci/config.yml
Owners: @readthedocs/backend

Move cache explanation to top-level comment
  .circleci/config.yml
Owners: @readthedocs/backend

Simplify cache keys: prefix-only for restore, checksum for save
  .circleci/config.yml
Owners: @readthedocs/backend

Clarify caching comment: explain why save needs checksum but restore doesn't
  .circleci/config.yml
Owners: @readthedocs/backend

Add CircleCI caching docs reference
  .circleci/config.yml
Owners: @readthedocs/backend

Document remaining design decisions in top-level comment
  .circleci/config.yml
Owners: @readthedocs/backend

Improve project admin list page for spam detection
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

Updates from review
  readthedocs/builds/tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Use cache
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Test delete_paths
  readthedocs/storage/tests/test_s3_storage.py
Owners: @readthedocs/backend

Remove unnecessary getattr fallbacks for spam threshold settings
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

Add spam score and owner ban status columns to Project admin (#12916)
  readthedocs/projects/admin.py
Owners: @readthedocs/backend

Sort added files first in GitHub PR comment and auto-expand for small diffs
  readthedocs/builds/tests/test_tasks.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Address review: exact cache keys for restore, remove ~/.local/bin
  .circleci/config.yml
Owners: @readthedocs/backend

Clean up summary in files changed details header
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Use HTML table in details element and separate all file groups
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Fix Vale spelling error: rephrase 'crawlable' to 'discoverable'
  docs/user/ai-tooling.rst
Owners: @readthedocs/advocacy

Fix trigger_build mock return values to support tuple unpacking
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend
