Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

link fix
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

WIP
  docs/user/index.rst
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

SAML: update Okta setup steps
  docs/user/guides/set-up-single-sign-on-saml.rst
Owners: @readthedocs/advocacy

SAML: update Okta setup steps (#11569)
  docs/user/guides/set-up-single-sign-on-saml.rst
Owners: @readthedocs/advocacy

Admin: set raw field for SSOIntegration
  readthedocs/sso/admin.py
Owners: @readthedocs/backend

Format
  readthedocs/sso/admin.py
Owners: @readthedocs/backend

break
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Allauth: don't completely override the `send_email` method (#11526)
  readthedocs/core/adapters.py
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Review feedback
  docs/user/intro/doctools.rst
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Remove Getting Started with Sphinx
  docs/user/index.rst
  docs/user/intro/getting-started-with-sphinx.rst
Owners: @readthedocs/advocacy

Remove links as well
  docs/user/tutorials/index.rst
Owners: @readthedocs/advocacy

Update readthedocs/projects/views/private.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Logging filename
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Typo
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Bump Python tool 3.12 version to 3.12.5
  readthedocs/builds/constants_docker.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Some updates to Sphinx and MkDocs pages
  docs/user/intro/mkdocs.rst
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Add project: skip config step if YAML file is present (#11540)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Directive not installed
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Release 11.7.1
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.7.1 (#11580)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Admin: set raw field for SSOIntegration (#11572)
  readthedocs/sso/admin.py
Owners: @readthedocs/backend

Email: use first recipient from email object
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Email: use first recipient from email object
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Email: use first recipient from email object
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Revert "Allauth: don't completely override the `send_email` method (#11526)"
  readthedocs/core/adapters.py
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Email: use first recipient from email object (#11581)
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Add Notification for failure to add deploy key on manual imported project
  readthedocs/oauth/notifications.py
Owners: @readthedocs/backend

SAML: update docs
  docs/user/guides/set-up-single-sign-on-saml.rst
Owners: @readthedocs/advocacy

Updates from review
  docs/user/guides/set-up-single-sign-on-saml.rst
Owners: @readthedocs/advocacy

Updates from recent conversations
  docs/dev/design/file-tree-diff.rst
Owners: @readthedocs/advocacy

WIP
  docs/user/intro/doctools.rst
  docs/user/intro/mkdocs.rst
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Shorter!
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Add canonical url for sphinx
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Docs: small updates to sitemaps page
  docs/user/reference/sitemaps.rst
Owners: @readthedocs/advocacy

Add see also
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Complete instructions
  docs/user/intro/mkdocs.rst
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Add test card display
  docs/conf.py
  docs/user/intro/doctools.rst
  requirements/docs.in
Owners: @readthedocs/advocacy, @readthedocs/backend

API: separate querysets from API V2 and V3
  readthedocs/api/v2/views/model_views.py
  readthedocs/builds/querysets.py
  readthedocs/oauth/querysets.py
  readthedocs/projects/querysets.py
  readthedocs/redirects/querysets.py
Owners: @readthedocs/backend

Update deps
  requirements/docs.txt
Owners: @readthedocs/backend
