Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Same for `deleted` and `modified`
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Update test
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Clarify flyout options
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Docs: testing for file tree diff
  docs/user/guides/best-practice/index.rst
  docs/user/guides/deprecating-content.rst
  docs/user/guides/index.rst
  docs/user/guides/redirects.rst
  docs/user/guides/technical-docs-seo-guide.rst
  docs/user/index.rst
  docs/user/user-defined-redirects.rst
Owners: @readthedocs/advocacy

Dont fail on warnings
  .readthedocs.yml
Owners: @readthedocs/backend

added/deleted files
  docs/user/added.rst
  docs/user/guides/best-practice/index.rst
  docs/user/guides/best-practice/links.rst
Owners: @readthedocs/advocacy

Sort files by deepness
  readthedocs/filetreediff/__init__.py
Owners: @readthedocs/backend

Use aggregate
  readthedocs/projects/validators.py
Owners: @readthedocs/backend

Docusaurus basics
  docs/user/index.rst
  docs/user/intro/doctools.rst
  docs/user/intro/docusaurus.rst
Owners: @readthedocs/advocacy

Env variables: increase size limit (#11748)
  docs/user/environment-variables.rst
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/test_environmentvariables.py
  readthedocs/projects/migrations/0131_increase_env_var_size.py
  readthedocs/projects/models.py
  readthedocs/projects/validators.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Updates for new dashboard linking
  readthedocs/builds/views.py
  readthedocs/core/context_processors.py
  readthedocs/core/notifications.py
  readthedocs/projects/views/private.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Lint and test fix
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_notifications.py
Owners: @readthedocs/backend

PEP 621: Migrate from setup.cfg to pyproject.toml
  pyproject.toml
  readthedocs/rtd_tests/tests/test_celery.py
  setup.cfg
  setup.py
  tox.embedapi.ini
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Test the amount of DB queries on FTD
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Reduce the amount of DB queries by using `resolve_version`
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Better sorting algorithm for file names
  readthedocs/filetreediff/__init__.py
Owners: @readthedocs/backend

Pin pip for pip-tools for now
  .github/workflows/pip-tools.yaml
Owners: @readthedocs/backend

Clarify flyout options (#11750)
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Pin pip for pip-tools for now (#11756)
  .github/workflows/pip-tools.yaml
Owners: @readthedocs/backend

Adddons: allow injecting an "always live" JavaScript file
  dockerfiles/nginx/proxito.conf.template
  readthedocs/projects/migrations/0132_addons_user_js_file.py
  readthedocs/projects/models.py
  readthedocs/proxito/middleware.py
Owners: @readthedocs/backend

Use dnspython and just cover some basic cases
  readthedocs/projects/forms.py
  readthedocs/projects/tests/test_domain_views.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

We no longer need dig
  .circleci/config.yml
  dockerfiles/Dockerfile
Owners: @readthedocs/backend

Fix test
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Update url and date
  readthedocs/core/notifications.py
Owners: @readthedocs/backend

Rename "tooltips" by "link previews"
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0131_addons_linkpreviews_fields.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Fix site-wide new dashboard notification (#11543)
  readthedocs/builds/views.py
  readthedocs/core/context_processors.py
  readthedocs/core/notifications.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Update dockerfiles/nginx/proxito.conf.template
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend

Addons: remove old `X-RTD-Hosting-Integrations` HTTP header (#11653)
  dockerfiles/nginx/proxito.conf.template
  readthedocs/proxito/middleware.py
Owners: @readthedocs/backend

Updates from feedback
  readthedocs/filetreediff/__init__.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Addons: resolve URLs for file tree diff API response (#11749)
  readthedocs/filetreediff/__init__.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Addons: API response for tooltips (#11746)
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0131_addons_linkpreviews_fields.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Release 11.13.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.13.0 (#11760)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Update migration to not conflict
  readthedocs/projects/migrations/0131_addons_linkpreviews_fields.py
  readthedocs/projects/migrations/0132_addons_linkpreviews_fields.py
Owners: @readthedocs/backend

Update migration to not conflict
  readthedocs/projects/migrations/0131_addons_linkpreviews_fields.py
  readthedocs/projects/migrations/0132_addons_linkpreviews_fields.py
Owners: @readthedocs/backend

Update migration to not conflict
  readthedocs/projects/migrations/0131_addons_linkpreviews_fields.py
  readthedocs/projects/migrations/0132_addons_linkpreviews_fields.py
Owners: @readthedocs/backend

Update migration to not conflict (#11761)
  readthedocs/projects/migrations/0131_addons_linkpreviews_fields.py
  readthedocs/projects/migrations/0132_addons_linkpreviews_fields.py
Owners: @readthedocs/backend

Docs: disable `sphinx-hoverxref` in our docs
  docs/conf.py
  requirements/docs.in
  requirements/docs.txt
Owners: @readthedocs/advocacy, @readthedocs/backend

Docs: disable `sphinx-hoverxref` in our docs (#11762)
  docs/conf.py
  requirements/docs.in
  requirements/docs.txt
Owners: @readthedocs/advocacy, @readthedocs/backend
