Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Add small readme explaining how each NGINX configuration works
  dockerfiles/nginx/README.rst
Owners: @readthedocs/backend

Development: use `wrangler` locally (update NGINX/Dockerfile config) (#10965)
  dockerfiles/Dockerfile.wrangler
  dockerfiles/force-readthedocs-addons.js
  dockerfiles/nginx/README.rst
  dockerfiles/nginx/proxito.conf.template
  dockerfiles/nginx/wrangler.conf.template
  docs/dev/install.rst
Owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Feedback from review
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

API V3: Only return notifications for given organization
  readthedocs/api/v3/tests/test_organizations.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Lint
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Validate the header value before injecting it
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_old_redirects.py
Owners: @readthedocs/backend

Notifications: Add QuerySet method to filter out cancelled and dismissed states
  readthedocs/notifications/querysets.py
  readthedocs/notifications/tests/test_querysets.py
  readthedocs/organizations/templates/organizations/organization_detail.html
  readthedocs/templates/builds/build_detail.html
  readthedocs/templates/core/project_bar_base.html
Owners: @readthedocs/backend, @readthedocs/frontend

Updates from review
  docs/dev/migrations.rst
Owners: @readthedocs/advocacy

Pytest tests -> unittest tests
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Use form validation errors for important UI feedback (#11095)
  readthedocs/core/forms.py
  readthedocs/projects/forms.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Notifications: add admin
  readthedocs/notifications/admin.py
Owners: @readthedocs/backend

Fix test on .com
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Fix test on .com (#11115)
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Settings: remove unused
  docs/dev/settings.rst
  readthedocs/search/tests/test_views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Use _get_parent_organization
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Update readthedocs/api/v3/tests/test_organizations.py
  readthedocs/api/v3/tests/test_organizations.py
Owners: @readthedocs/backend

Update readthedocs/api/v3/tests/test_organizations.py
  readthedocs/api/v3/tests/test_organizations.py
Owners: @readthedocs/backend

Remove unused import
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Notifications: show them based on permissions
  readthedocs/builds/views.py
  readthedocs/core/context_processors.py
  readthedocs/notifications/querysets.py
  readthedocs/organizations/templates/organizations/organization_detail.html
  readthedocs/organizations/views/public.py
  readthedocs/projects/views/public.py
  readthedocs/templates/builds/build_detail.html
  readthedocs/templates/core/project_bar_base.html
Owners: @readthedocs/backend, @readthedocs/frontend

Minor docstring change
  readthedocs/notifications/querysets.py
Owners: @readthedocs/backend

Keep APIv3 behavior
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Initialize `request.unresolved_url` as `None`
  readthedocs/proxito/middleware.py
Owners: @readthedocs/backend

Add test for longer filename
  readthedocs/proxito/tests/test_headers.py
Owners: @readthedocs/backend

Inject the `unresolved_url` on 404 pages
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Notifications: add admin (#11114)
  readthedocs/notifications/admin.py
Owners: @readthedocs/backend

API V3: Only return notifications for a given organization (#11112)
  readthedocs/api/v3/tests/test_organizations.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Settings: remove unused (#11116)
  docs/dev/settings.rst
  readthedocs/search/tests/test_views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Use django-safemigrate for migrations (#11087)
  docs/dev/index.rst
  docs/dev/migrations.rst
  readthedocs/builds/migrations/0057_migrate_timestamp_fields.py
  readthedocs/builds/migrations/0058_alter_version_created_alter_version_modified.py
  readthedocs/builds/models.py
  readthedocs/integrations/migrations/0013_set_timestamp_fields_as_no_null.py
  readthedocs/integrations/models.py
  readthedocs/projects/fixtures/test_data.json
  readthedocs/projects/migrations/0114_set_timestamp_fields_as_no_null.py
  readthedocs/projects/models.py
  readthedocs/settings/base.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/advocacy, @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Docs: update bullet/item list display
  docs/dev/migrations.rst
Owners: @readthedocs/advocacy

Projects: remove old/non-used fields
  readthedocs/projects/migrations/0115_mark_fields_as_null.py
  readthedocs/projects/migrations/0116_remove_old_issues.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Lint
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/notifications/tests/test_querysets.py
  readthedocs/notifications/tests/test_signals.py
Owners: @readthedocs/backend

Docs: update bullet/item list display (#11123)
  docs/dev/migrations.rst
Owners: @readthedocs/advocacy

wrangler: move script to `common/`
  dockerfiles/Dockerfile.wrangler
  dockerfiles/force-readthedocs-addons.js
Owners: @readthedocs/backend, @readthedocs/frontend

Addons: add model history on `AddonsConfig`
  readthedocs/projects/migrations/0115_add_addonsconfig_history.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Lint
  readthedocs/projects/models.py
Owners: @readthedocs/backend

wrangler: move script to `common/` (#11126)
  dockerfiles/Dockerfile.wrangler
  dockerfiles/force-readthedocs-addons.js
Owners: @readthedocs/backend, @readthedocs/frontend

Keep `Project.documentation_type` to avoid breaking changes
  readthedocs/projects/migrations/0115_mark_fields_as_null.py
  readthedocs/projects/migrations/0116_remove_old_fields.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Make the `resource=` argument required
  readthedocs/notifications/querysets.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
