Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Unpin newrelic to use the latest version in the next upgrade (#12809)
  requirements/deploy.in
Owners: @readthedocs/backend

Release 15.15.1
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Upgrade Elasticsearch to 9.3.1 (#12824)
  .circleci/config.yml
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Remove global storage secrets from builders
  dockerfiles/settings/build.py
  readthedocs/projects/tasks/storage.py
Owners: @readthedocs/backend

Remove global storage secrets from builders (#12827)
  dockerfiles/settings/build.py
  readthedocs/projects/tasks/storage.py
Owners: @readthedocs/backend

GitHub App: add extra metadata
  readthedocs/oauth/migrations/0019_githubappinstallation_all_repositories_selected_and_more.py
  readthedocs/oauth/models.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
Owners: @readthedocs/backend

Mark as safe
  readthedocs/oauth/migrations/0019_githubapp_add_extra_fields.py
Owners: @readthedocs/backend

Initial implementation by the AI
  DATA_MIGRATION_PLAN.md
  readthedocs/builds/automation_rule_v2_examples.py
  readthedocs/builds/migrations/0071_add_automationrule_v2.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Don't set default and fix tests
  readthedocs/oauth/migrations/0019_githubapp_add_extra_fields.py
  readthedocs/oauth/models.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
Owners: @readthedocs/backend

API: validate repository URLs in serializers
  readthedocs/api/v3/serializers.py
Owners: @readthedocs/backend

Format
  readthedocs/api/v3/serializers.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Add API v3 tests for repo URL validation on project create and update (#12832)
  readthedocs/api/v3/tests/test_projects.py
Owners: @readthedocs/backend

Update tests
  readthedocs/api/v3/tests/test_projects.py
  readthedocs/projects/validators.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Tasks: delete delete_outdated_imported_files
  readthedocs/core/tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Tasks: delete delete_outdated_imported_files (#12833)
  readthedocs/core/tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Refresh outdated project fixtures for local dev
  readthedocs/projects/fixtures/test_data.json
Owners: @readthedocs/backend

Notes
  readthedocs/api/v3/serializers.py
Owners: @readthedocs/backend

API: validate repository URLs in serializers (#12831)
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/test_projects.py
  readthedocs/projects/validators.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Project: block all actions on banned projects
  readthedocs/projects/views/base.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
Owners: @readthedocs/backend

Fix tests on .com
  readthedocs/builds/tests/test_views.py
Owners: @readthedocs/backend

More tests to fix
  readthedocs/builds/tests/test_views.py
Owners: @readthedocs/backend

fixtures: replace archived poliastro project with psf/requests
  readthedocs/projects/fixtures/test_data.json
Owners: @readthedocs/backend

Release 15.16.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Add uv and testing docs guides
  docs/user/build-customization.rst
  docs/user/guides/build/index.rst
  docs/user/guides/uv.rst
  docs/user/testing.rst
Owners: @readthedocs/advocacy

Add uv guide and related docs links
  docs/user/build-customization.rst
  docs/user/guides/build/index.rst
  docs/user/guides/uv.rst
Owners: @readthedocs/advocacy

Add RTD-focused testing docs guide
  docs/user/testing.rst
Owners: @readthedocs/advocacy

Build: add parallel building feature flag
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Project: block all actions on spam projects (#12835)
  readthedocs/builds/tests/test_views.py
  readthedocs/projects/views/base.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
Owners: @readthedocs/backend

Refactor storage
  readthedocs/builds/storage.py
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/settings/test.py
  readthedocs/storage/filesystem.py
  readthedocs/storage/mixins.py
  readthedocs/storage/s3_storage.py
Owners: @readthedocs/backend

Clean up
  readthedocs/builds/storage.py
  readthedocs/settings/test.py
  readthedocs/storage/filesystem.py
Owners: @readthedocs/backend

Update
  readthedocs/settings/test.py
Owners: @readthedocs/backend

Docs: add sign up and log in CTA to docs footer
  docs/_static/css/custom.css
  docs/_templates/footer.html
  docs/conf.py
Owners: @readthedocs/advocacy

fixtures: swap heavy fixture repos for lighter docs projects
  readthedocs/projects/fixtures/test_data.json
Owners: @readthedocs/backend

Build: add parallel building feature flag (#12839)
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Logging: missing pieces for structlog migration
  readthedocs/core/tasks.py
Owners: @readthedocs/backend

Match the pattern
  readthedocs/core/tasks.py
Owners: @readthedocs/backend

Apply suggestion from @humitos
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Update docstring
  readthedocs/storage/mixins.py
Owners: @readthedocs/backend

Walk
  readthedocs/storage/mixins.py
Owners: @readthedocs/backend
