Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

APIv3: include `readthedocs_yaml_path` in Project serializer (#12566)
  docs/user/api/v3.rst
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/responses/projects-detail.json
  readthedocs/api/v3/tests/responses/projects-list.json
  readthedocs/api/v3/tests/responses/projects-list_POST.json
  readthedocs/api/v3/tests/responses/projects-subprojects-detail.json
  readthedocs/api/v3/tests/responses/projects-subprojects-list.json
  readthedocs/api/v3/tests/responses/projects-subprojects-list_POST.json
  readthedocs/api/v3/tests/responses/projects-superproject.json
  readthedocs/api/v3/tests/responses/projects-versions-builds-list_POST.json
  readthedocs/api/v3/tests/responses/remoterepositories-list.json
  readthedocs/api/v3/tests/test_projects.py
  readthedocs/projects/forms.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v1.json
Owners: @readthedocs/advocacy, @readthedocs/backend

Fix tests
  readthedocs/settings/docker_compose.py
  readthedocs/settings/test.py
Owners: @readthedocs/backend

Proxito: use correct storage backend for static files (#12691)
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/settings/test.py
  readthedocs/storage/__init__.py
Owners: @readthedocs/backend

Docker: don't use compatibility mode
  .env
  docker-compose.override.yml
Owners: @readthedocs/backend

Feedback addressed
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Add BuildConfig to the admin
  readthedocs/builds/admin.py
Owners: @readthedocs/backend

Do not save the BuildConfig if the config is None
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Set YAML config to None if _config is None
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Build: Add BuildConfig model for deduplicated config storage (#12646)
  readthedocs/builds/admin.py
  readthedocs/builds/migrations/0066_add_buildconfig_model.py
  readthedocs/builds/models.py
  readthedocs/builds/tests/test_buildconfig.py
Owners: @readthedocs/backend

Tests: use pytest builtin option for specifying django settings module
  tox.ini
Owners: @readthedocs/backend

Update docs
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Change settings
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Docker: don't use compatibility mode (#12692)
  .env
  docker-compose.override.yml
  docs/dev/install.rst
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend, @readthedocs/advocacy

Docker: use `_` for network and volume names
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Docker: use `_` for network and volume names (#12694)
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/backend

Search: use default pooling
  readthedocs/search/faceted_search.py
Owners: @readthedocs/backend

Format
  readthedocs/search/faceted_search.py
Owners: @readthedocs/backend

Add resolver to nginx templates
  dockerfiles/nginx/proxito.conf.template
  dockerfiles/nginx/web.conf.template
  dockerfiles/nginx/wrangler.conf.template
Owners: @readthedocs/backend

Filter builds based on GHA webhook path filtering rules
  IMPLEMENTATION_SUMMARY.md
  PUSH_AUTOMATION_RULES.md
  readthedocs/builds/models.py
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Data migration for BuildConfig model
  readthedocs/builds/migrations/0067_migrate_buildconfig.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Tests: use pytest builtin option for specifying django settings module (#12693)
  tox.ini
Owners: @readthedocs/backend

Search: use default pooling (#12695)
  readthedocs/search/faceted_search.py
Owners: @readthedocs/backend

Builds: use `BuildConfig` model in API and doc builder director
  readthedocs/api/v2/serializers.py
  readthedocs/builds/migrations/0067_remove_old_build_config.py
  readthedocs/builds/models.py
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Reduce code needed for front end web components
  readthedocs/core/forms.py
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Fix test
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Add dont-sync attr for feature flag
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Match copy to front end
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Add note about custom .readthedocs.yaml path for monorepos
  README.rst
  docs/user/config-file/v2.rst
Owners: @readthedocs/backend, @readthedocs/advocacy

Use addons setting
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0158_add_search_subproject_filter_option.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Test
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Test parent project
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Document usage of custom .readthedocs.yaml path (#12577) (#12579)
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Updates from reviews
  readthedocs/builds/migrations/0067_migrate_buildconfig.py
Owners: @readthedocs/backend

Update the migration code to make it runnable
  readthedocs/builds/migrations/0067_migrate_buildconfig.py
Owners: @readthedocs/backend

Remove orphan BuildConfig models
  readthedocs/builds/tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Release 15.12.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Analytics: create DB index to improve performance on dashboard
  readthedocs/analytics/migrations/0008_add_pageview_index.py
  readthedocs/analytics/models.py
Owners: @readthedocs/backend

Update readthedocs/analytics/models.py
  readthedocs/analytics/models.py
Owners: @readthedocs/backend

Simplify
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
