Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Revert unused dependencies
  requirements/docs.in
  requirements/docs.txt
Owners: @readthedocs/backend

Revert unused dependencies
  docs/conf.py
Owners: @readthedocs/advocacy

Make terminology and paths consistent for onboarding announcements
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Make terminology and paths consistent for onboarding announcements (#11608)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

API: Include project description
  readthedocs/api/v3/serializers.py
Owners: @readthedocs/backend

Use theme 3.0.0rc2 (version/language selector)
  requirements/docs.in
  requirements/docs.txt
Owners: @readthedocs/backend

Addons: prepare Proxito and dashboard to enable them by default (#11513)
  readthedocs/projects/forms.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/middleware.py
Owners: @readthedocs/backend

Apply suggestions from code review
  docs/user/intro/mkdocs.rst
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Use the full feature branch for now
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Style
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Comment addons flyout section for now
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Add list of supported tools (#11547)
  docs/user/index.rst
  docs/user/intro/doctools.rst
  docs/user/intro/getting-started-with-mkdocs.rst
  docs/user/intro/getting-started-with-sphinx.rst
  docs/user/intro/mkdocs.rst
  docs/user/intro/sphinx.rst
  docs/user/tutorials/index.rst
Owners: @readthedocs/advocacy

Use theme 3.0.0rc2 (version/language selector) (#11611)
  requirements/docs.in
  requirements/docs.txt
Owners: @readthedocs/backend

Add project: check YAML file for specific branch (#11607)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Add date version index on build
  readthedocs/builds/migrations/0059_add_version_date_index.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Add support for successful build prefetch
  readthedocs/projects/models.py
  readthedocs/projects/querysets.py
Owners: @readthedocs/backend

Add speed up indexes
  readthedocs/integrations/migrations/0014_add_index_speedup.py
  readthedocs/integrations/models.py
  readthedocs/search/migrations/0006_add_index_speedup.py
  readthedocs/search/models.py
Owners: @readthedocs/backend

Prefetch build and project on version list
  readthedocs/builds/models.py
  readthedocs/builds/querysets.py
  readthedocs/projects/views/public.py
Owners: @readthedocs/backend

Add date version index on build (#11612)
  readthedocs/builds/migrations/0059_add_version_date_index.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Make it a list like other indexes
  readthedocs/integrations/models.py
Owners: @readthedocs/backend

Add speed up indexes (#11614)
  readthedocs/integrations/migrations/0014_add_index_speedup.py
  readthedocs/integrations/models.py
  readthedocs/search/migrations/0006_add_index_speedup.py
  readthedocs/search/models.py
Owners: @readthedocs/backend

Add exit_code to build errors
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Add exit_code to build errors (#11597)
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Prefetch build and project on version list (#11616)
  readthedocs/builds/models.py
  readthedocs/builds/querysets.py
  readthedocs/projects/views/public.py
Owners: @readthedocs/backend

Add support for successful build prefetch (#11613)
  readthedocs/projects/models.py
  readthedocs/projects/querysets.py
Owners: @readthedocs/backend

Release 11.8.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.8.0 (#11619)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Don't subquery for builds in project listing prefetch
  readthedocs/projects/querysets.py
Owners: @readthedocs/backend

Missing filter by projects
  readthedocs/projects/querysets.py
Owners: @readthedocs/backend

Use Build.internal queryset instead
  readthedocs/projects/querysets.py
Owners: @readthedocs/backend

Revert "Prefetch build and project on version list (#11616)"
  readthedocs/builds/models.py
  readthedocs/builds/querysets.py
  readthedocs/projects/views/public.py
Owners: @readthedocs/backend

Revert "Add support for successful build prefetch (#11613)"
  readthedocs/projects/models.py
  readthedocs/projects/querysets.py
Owners: @readthedocs/backend

Don't use project prefetching for now
  readthedocs/projects/querysets.py
Owners: @readthedocs/backend

Still rename model method, without prefetch
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Add comment back
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Only use django-filters filtering on project dashboard
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Remove indexes that aren't used and that are large
  readthedocs/builds/models.py
  readthedocs/core/history.py
  readthedocs/oauth/models.py
  readthedocs/projects/models.py
  requirements/pip.in
  requirements/pip.txt
Owners: @readthedocs/backend

Only use django-filters filtering on project dashboard (#11622)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Revert "Prefetch build and project on version list (#11616)"
  readthedocs/builds/models.py
  readthedocs/builds/querysets.py
  readthedocs/projects/views/public.py
Owners: @readthedocs/backend
