Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Re-organize UV_ environment variables and uv installation
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Split .match into .match_version and .match_webhook
  readthedocs/oauth/tasks.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Split `match_webhook` into 3 different helper methods
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Update migrations
  readthedocs/builds/migrations/0071_alter_automationrulematch_rule_and_more.py
  readthedocs/projects/migrations/0159_add_automationrule_v2.py
Owners: @readthedocs/backend

fix(builds): handle files without extension in artifact processing
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Pass `use_data_binding` to make the field work properly
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Override hidden widget to allow multiplechoice
  readthedocs/core/forms.py
Owners: @readthedocs/backend

Use a custom field to handle multichoice select with RichSelect
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Revert "Override hidden widget to allow multiplechoice"
  readthedocs/core/forms.py
Owners: @readthedocs/backend

Use ➕/±/➖ icons matching addons convention
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Revert to original ➕/📝/➖ icons
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Use code-styled +/±/- symbols for file status indicators
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Improve file diff display in GitHub PR comments (#12918)
  readthedocs/builds/tests/test_tasks.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Apply suggestions from code review
  docs/user/build-customization.rst
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Support `uv` natively (initial implementation) (#12879)
  docs/user/build-customization.rst
  docs/user/config-file/index.rst
  docs/user/config-file/v2.rst
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/models.py
  readthedocs/config/notifications.py
  readthedocs/config/tests/test_config.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/doc_builder/tests/test_director.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/advocacy, @readthedocs/backend

Move data migration to another migration file
  readthedocs/projects/migrations/0159_add_automationrule_v2.py
  readthedocs/projects/migrations/0160_automationrule_data_migration.py
Owners: @readthedocs/backend

Refactor get_storage_path* functions (#12906)
  readthedocs/builds/models.py
  readthedocs/embed/v3/views.py
  readthedocs/filetreediff/__init__.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/rtd_tests/tests/test_project.py
  readthedocs/search/parsers.py
Owners: @readthedocs/backend

Docs: update code block spacing
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Don't use __contains on JSONField in SQLite because it's not supported
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Update tests to pass
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
Owners: @readthedocs/backend

There is 2 new queries to `projects_automationrule` table
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

Add visual diff base HTML snapshot for stable PR comparisons
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/hosting.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/storage/mixins.py
  readthedocs/storage/rclone.py
Owners: @readthedocs/backend

Snapshot base manifest on first PR build to fix stale branch diffs
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Address review feedback: deduplicate storage path helper, fix comment accuracy
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Use exists() instead of parsing JSON for snapshot write-once check
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/tests/test_filetreediff.py
Owners: @readthedocs/backend

Fix import ordering and test mocking issues
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Fix CI coverage reporting to handle missing coverage files
  .circleci/config.yml
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

S3: delete directories in batches (#12910)
  readthedocs/storage/s3_storage.py
  readthedocs/storage/tests/test_s3_storage.py
Owners: @readthedocs/backend

Docs: draft issue for high-impact user-docs improvements
  docs/user/ISSUE_DRAFT_user_docs_improvements.md
Owners: @readthedocs/advocacy

Simplify: only guard coverage combine against missing files
  .circleci/config.yml
Owners: @readthedocs/backend

Docs: add sign up and log in CTA to docs footer
  docs/_static/css/custom.css
  docs/_templates/footer.html
  docs/conf.py
Owners: @readthedocs/advocacy

Docs: slim footer CTA to two simple link buttons
  docs/_static/css/custom.css
  docs/_templates/footer.html
Owners: @readthedocs/advocacy

Docs: split footer CTA into Community and Business cards
  docs/_static/css/custom.css
  docs/_templates/footer.html
Owners: @readthedocs/advocacy

Docs: align footer CTA buttons with about.readthedocs.com brand colors
  docs/_static/css/custom.css
Owners: @readthedocs/advocacy

Build: filter artifact files by expected extension
  readthedocs/builds/constants.py
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Docs: update issue draft to avoid duplicating website content
  docs/user/ISSUE_DRAFT_user_docs_improvements.md
Owners: @readthedocs/advocacy

Addons: default ``notifications_show_on_external`` to off for new projects
  readthedocs/projects/migrations/0159_addons_notifications_show_on_external_default_false.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

PR build settings: surface the "show notification on PR builds" toggle
  readthedocs/projects/forms.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Update readthedocs/projects/forms.py
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
