Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Use a definition list that renders better
  docs/user/examples.rst
Owners: @readthedocs/advocacy

API: support rebuilding external version builds with build create endpoint
  readthedocs/api/v3/views.py
  readthedocs/builds/views.py
Owners: @readthedocs/backend

Tests: run tests with the ext-theme
  .circleci/config.yml
  readthedocs/core/views/__init__.py
  readthedocs/organizations/tests/test_privacy_urls.py
  readthedocs/organizations/urls/private.py
  readthedocs/projects/urls/private.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
  readthedocs/settings/base.py
  readthedocs/subscriptions/templates/subscriptions/subscription_detail.html
  readthedocs/subscriptions/tests/test_views.py
  tox.ini
Owners: @readthedocs/backend, @readthedocs/frontend

Run tests in another job
  .circleci/config.yml
Owners: @readthedocs/backend

Fix tests
  readthedocs/rtd_tests/tests/test_privacy.py
  readthedocs/rtd_tests/tests/test_profile_views.py
  readthedocs/rtd_tests/tests/test_project_views.py
  readthedocs/templates/profiles/private/token_list.html
Owners: @readthedocs/backend, @readthedocs/frontend

Notification: update copy for "No HTML content found"
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Put "Real-life examples" at the top
  docs/user/examples.rst
Owners: @readthedocs/advocacy

Docs: update "Example projects" a little (#11404)
  docs/user/examples.rst
Owners: @readthedocs/advocacy

Build: remove "beta" from `build.commands`
  docs/user/build-customization.rst
  docs/user/config-file/v2.rst
  readthedocs/doc_builder/director.py
Owners: @readthedocs/advocacy, @readthedocs/backend

New dashboard: use `app.` instead of `beta.`
  docs/user/versions.rst
  readthedocs/core/notifications.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Fix proxito tests
  readthedocs/proxito/tests/handler_404_urls.py
  readthedocs/proxito/tests/test_old_redirects.py
Owners: @readthedocs/backend

Comment
  readthedocs/proxito/tests/handler_404_urls.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

New dashboard: use `app.` instead of `beta.` (#11412)
  docs/user/versions.rst
  readthedocs/core/notifications.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Apply suggestions from code review
  docs/user/build-customization.rst
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/user/build-customization.rst
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Build: remove "beta" from `build.commands` (#11411)
  docs/user/build-customization.rst
  docs/user/config-file/v2.rst
  readthedocs/doc_builder/director.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Rename the offline format file properly
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Builds: don't call `git clean` anymore
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Initial attempt to write a test case
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Revert "Initial attempt to write a test case"
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Test case and filename fix
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Build: add support for Ubuntu 24.04 LTS
  docs/user/config-file/v2.rst
  readthedocs/builds/constants_docker.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
  scripts/compile_version_upload_s3.sh
Owners: @readthedocs/advocacy, @readthedocs/backend

Update docs.rst
  docs/dev/docs.rst
Owners: @readthedocs/advocacy

Update docs.rst (#11422)
  docs/dev/docs.rst
Owners: @readthedocs/advocacy

Update scripts/compile_version_upload_s3.sh
  scripts/compile_version_upload_s3.sh
Owners: @readthedocs/backend

Don't update Ubuntu latest yet
  readthedocs/builds/constants_docker.py
Owners: @readthedocs/backend

Builds: don't call `git clean` anymore (#11420)
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/backend

Build: add support for Ubuntu 24.04 LTS (#11421)
  docs/user/config-file/v2.rst
  readthedocs/builds/constants_docker.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
  scripts/compile_version_upload_s3.sh
Owners: @readthedocs/advocacy, @readthedocs/backend

Release 11.1.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.1.0 (#11423)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Use literal `None` in session cookie samesite setting
  readthedocs/core/middleware.py
  readthedocs/rtd_tests/tests/test_middleware.py
  readthedocs/settings/base.py
  readthedocs/settings/proxito/base.py
Owners: @readthedocs/backend

Fix
  readthedocs/core/middleware.py
Owners: @readthedocs/backend

Comment
  readthedocs/core/middleware.py
Owners: @readthedocs/backend

Ops: delete triggering a `time-test` build on `build-large` queue (#11379)
  readthedocs/metrics/tasks.py
Owners: @readthedocs/backend

Link website from docs sidebar
  docs/user/index.rst
Owners: @readthedocs/advocacy

Be more defensive in redirect code
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Use custom 401 for proxito only
  readthedocs/proxito/views/mixins.py
  readthedocs/templates/errors/401.html
Owners: @readthedocs/backend, @readthedocs/frontend

Use literal `None` in session cookie samesite setting (#11424)
  readthedocs/core/middleware.py
  readthedocs/rtd_tests/tests/test_middleware.py
  readthedocs/settings/base.py
  readthedocs/settings/proxito/base.py
Owners: @readthedocs/backend

Proxito: allow serving `zh` (deprecated) language code
  readthedocs/projects/constants.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
