Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Dashboard: optimize projects queryset
  readthedocs/projects/querysets.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

One at a time
  readthedocs/projects/querysets.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Delete docs/user/intro/doctools.rst
  docs/user/intro/doctools.rst
Owners: @readthedocs/advocacy

Fix test
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Dashboard: optimize projects queryset (constant time)
  readthedocs/projects/models.py
  readthedocs/projects/querysets.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Attempt to move Pageview deletion to a background task
  readthedocs/analytics/apps.py
  readthedocs/analytics/migrations/0008_no_cascade.py
  readthedocs/analytics/models.py
  readthedocs/analytics/tasks/__init__.py
  readthedocs/analytics/tasks/pageviews.py
  readthedocs/analytics/tests/test_pageview_cleanup.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Fix test
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Upgrade django-allauth (#12382)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Fix silly test mistake
  readthedocs/analytics/tests/test_pageview_cleanup.py
Owners: @readthedocs/backend

Remove hack
  readthedocs/analytics/tests/test_pageview_cleanup.py
Owners: @readthedocs/backend

Move to project cleanup tasks
  readthedocs/analytics/apps.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Test version delete too
  readthedocs/analytics/tasks/pageviews.py
  readthedocs/analytics/tests/test_pageview_cleanup.py
  readthedocs/analytics/tests/test_tasks.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Dashboard: optimize projects queryset (#12383)
  readthedocs/projects/querysets.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Dashboard: don't use subquery
  readthedocs/projects/querysets.py
Owners: @readthedocs/backend

Fix test
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Fix test (#12388)
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Dashboard: optimize for .com
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

One less query
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

More optimizations
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

One more
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Build: shrink preview comment
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Dashboard: don't use subquery (#12387)
  readthedocs/projects/querysets.py
Owners: @readthedocs/backend

Match icon
  readthedocs/filetreediff/dataclasses.py
Owners: @readthedocs/backend

Make test to pass
  readthedocs/builds/tests/test_tasks.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

More tests
  readthedocs/builds/tests/test_tasks.py
Owners: @readthedocs/backend

Build: shrink preview comment (#12391)
  readthedocs/builds/tests/test_tasks.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/templates/core/build-overview.md
Owners: @readthedocs/backend

Scope optimizations
  readthedocs/core/permissions.py
  readthedocs/projects/models.py
  readthedocs/projects/querysets.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Format
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

Dashboard: optimize for .com (#12389)
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

More projects
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Build: Denormalize latest build for projects
  readthedocs/builds/apps.py
  readthedocs/builds/signals_receivers.py
  readthedocs/builds/tests/test_trigger_build.py
  readthedocs/projects/admin.py
  readthedocs/projects/filters.py
  readthedocs/projects/migrations/0153_project_latest_build.py
  readthedocs/projects/migrations/0154_set_latest_build.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Dashboard: optimize projects queryset (constant number of queries) (#12385)
  readthedocs/projects/models.py
  readthedocs/projects/querysets.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Use mock instead of a IS_TESTING setting
  readthedocs/projects/tasks/utils.py
  readthedocs/rtd_tests/tests/test_projects_tasks.py
  readthedocs/settings/base.py
  readthedocs/settings/test.py
Owners: @readthedocs/backend

Updates from review
  readthedocs/builds/signals_receivers.py
  readthedocs/projects/migrations/0153_project_latest_build.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Don't use new field yet
  readthedocs/projects/filters.py
Owners: @readthedocs/backend

Build: Denormalize latest build for projects (#12392)
  readthedocs/builds/apps.py
  readthedocs/builds/signals_receivers.py
  readthedocs/builds/tests/test_trigger_build.py
  readthedocs/projects/admin.py
  readthedocs/projects/migrations/0153_project_latest_build.py
  readthedocs/projects/migrations/0154_set_latest_build.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Build: use only one setting for build time limit (#12369)
  docs/dev/settings.rst
  readthedocs/api/v2/models.py
  readthedocs/core/utils/__init__.py
  readthedocs/doc_builder/constants.py
  readthedocs/doc_builder/environments.py
  readthedocs/projects/tasks/utils.py
  readthedocs/rtd_tests/tests/test_core_utils.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/settings/test.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Release 15.0.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

API: don't rely on the version object for builds
  readthedocs/api/v2/serializers.py
  readthedocs/api/v2/views/model_views.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
