Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Drop bitbucket provider settings/env vars
  docs/dev/settings.rst
Owners: @readthedocs/advocacy

Allow setting Allauth provider secrets from host system (#11194)
  docs/dev/settings.rst
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Notifications: show "Maxium concurrency limit reached" as `WARNING`
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Notifications: de-duplicate them when using APIv2 from builders
  readthedocs/api/v2/serializers.py
  readthedocs/notifications/querysets.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Build: rename PDF/ePUB filename to valid one automatically
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Notifications: show "Maxium concurrency limit reached" as `WARNING` (#11196)
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

[DATALAD RUNCMD] Run pre-commit across entire clean codebase and allow to fail (prospector)
  docs/_static/css/custom.css
  media/css/header.css
  media/javascript/searchtools.js
  readthedocs/api/v3/proxied_views.py
  readthedocs/api/v3/tests/test_environmentvariables.py
  readthedocs/api/v3/tests/test_remoteorganizations.py
  readthedocs/api/v3/tests/test_remoterepositories.py
  readthedocs/audit/apps.py
  readthedocs/audit/signals.py
  readthedocs/builds/signals.py
  readthedocs/builds/urls.py
  readthedocs/core/history.py
  readthedocs/core/management/commands/collectstatic.py
  readthedocs/core/utils/contact.py
  readthedocs/doc_builder/loader.py
  readthedocs/embed/v3/tests/conftest.py
  readthedocs/oauth/management/commands/reconnect_remoterepositories.py
  readthedocs/oauth/management/commands/sync_vcs_data.py
  readthedocs/organizations/tasks.py
  readthedocs/profiles/urls/public.py
  readthedocs/projects/static-src/projects/css/admin.less
  readthedocs/projects/tag_utils.py
  readthedocs/rtd_tests/base.py
  readthedocs/rtd_tests/files/conf.py
  readthedocs/rtd_tests/tests/test_api_permissions.py
  readthedocs/search/models.py
  readthedocs/search/tasks.py
  readthedocs/search/tests/test_search_tasks.py
  readthedocs/sso/admin.py
  setup.py
Owners: @readthedocs/advocacy, @readthedocs/frontend, @readthedocs/backend

Add leftover skips for codespell
  setup.cfg
Owners: @readthedocs/backend

[DATALAD RUNCMD] Do interactive fixing of leftover ambigous typos
  docs/dev/design/better-doc-urls-handling.rst
  docs/dev/design/build-images.rst
  docs/dev/design/redirects.rst
  docs/dev/search-integration.rst
  docs/user/reference/analytics.rst
  readthedocs/api/v2/views/model_views.py
  readthedocs/api/v3/permissions.py
  readthedocs/core/middleware.py
  readthedocs/core/utils/__init__.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/version_handling.py
  readthedocs/redirects/querysets.py
  readthedocs/storage/rclone.py
  readthedocs/vcs_support/backends/git.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Add codespell config to setup.cfg
  setup.cfg
Owners: @readthedocs/backend

Do not codespell migrations
  setup.cfg
Owners: @readthedocs/backend

Ignore "to perfom an" for now
  setup.cfg
Owners: @readthedocs/backend

Revert "Notifications: show "Maxium concurrency limit reached" as `WARNING` (…"
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Correcte the tx push command
  docs/user/guides/manage-translations-sphinx.rst
Owners: @readthedocs/advocacy

APIv3: add more generic fields
  readthedocs/api/v3/serializers.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Build: remove `append_conf` _magic_ from MkDocs
  readthedocs/config/tests/test_yaml_loader.py
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/projects/tests/mockers.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
Owners: @readthedocs/backend

Enable Addons if project is MkDocs
  readthedocs/projects/apps.py
  readthedocs/projects/models.py
  readthedocs/projects/signals.py
Owners: @readthedocs/backend

Revert "Notifications: show "Maxium concurrency limit reached" as `WARNING`" (#11202)
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Listen to Version instead
  readthedocs/projects/signals.py
Owners: @readthedocs/backend

Typo
  readthedocs/projects/signals.py
Owners: @readthedocs/backend

Update readthedocs/notifications/querysets.py
  readthedocs/notifications/querysets.py
Owners: @readthedocs/backend

Update readthedocs/projects/signals.py
  readthedocs/projects/signals.py
Owners: @readthedocs/backend

Notifications: de-duplicate them when using APIv2 from builders (#11197)
  readthedocs/api/v2/serializers.py
  readthedocs/notifications/querysets.py
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

Add build detail view beta notification
  readthedocs/builds/views.py
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/backend, @readthedocs/frontend

Fix typo
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/frontend

Update logic to support a link on the new dashboard too
  readthedocs/builds/views.py
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/backend, @readthedocs/frontend

Addons: sorting algorithm for versions customizable on flyout (#11069)
  readthedocs/projects/constants.py
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0118_addons_flyout_sorting.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_version_handling.py
  readthedocs/projects/version_handling.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
  readthedocs/rtd_tests/tests/test_project_forms.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Update migrations
  readthedocs/projects/migrations/0119_docdiff_helptext.py
Owners: @readthedocs/backend

Migrations fixed
  readthedocs/projects/migrations/0119_alter_addonsconfig_flyout_sorting_custom_pattern_and_more.py
  readthedocs/projects/migrations/0120_docdiff_helptext.py
Owners: @readthedocs/backend

Add build detail view beta notification (#11208)
  readthedocs/builds/views.py
  readthedocs/templates/builds/build_detail.html
Owners: @readthedocs/backend, @readthedocs/frontend

Addons: allow users to define `root_selector` from the WebUI (#11181)
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0119_alter_addonsconfig_flyout_sorting_custom_pattern_and_more.py
  readthedocs/projects/migrations/0120_docdiff_helptext.py
  readthedocs/projects/models.py
  readthedocs/proxito/tests/responses/v0.json
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Release 10.22.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.22.0 (#11211)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Try to use clean_prevalidation
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Use proper validation logic
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Cleanup merge
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Organizations: take into account the user when listing members
  readthedocs/core/permissions.py
  readthedocs/organizations/views/public.py
Owners: @readthedocs/backend

Format
  readthedocs/core/permissions.py
  readthedocs/organizations/views/public.py
Owners: @readthedocs/backend

Build: always reset the build before building
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
