Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Fix package name
  docs/dev/migrations.rst
Owners: @readthedocs/advocacy

Fix argument type
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Initial example of using notification system for view-specific errors
  readthedocs/projects/exceptions.py
  readthedocs/projects/notifications.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Some fixes for notifications
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/notifications/models.py
Owners: @readthedocs/backend

Some fixes for notifications
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/notifications/models.py
Owners: @readthedocs/backend

Initial example of using notification system for view-specific errors
  readthedocs/projects/exceptions.py
  readthedocs/projects/notifications.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Config file: add support for latest aliases (#11081)
  docs/user/config-file/v2.rst
  readthedocs/builds/constants_docker.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/advocacy, @readthedocs/backend

add example list for showing basic asciidoc using Antora (#11091)
  docs/user/examples.rst
Owners: @readthedocs/advocacy

Add more conditional placeholders and messages
  readthedocs/projects/notifications.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Release 10.18.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.18.0 (#11096)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Addons: allow to put `stable` and `latest` first when sorting
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0115_addons_flyout_sorting_stable_latest.py
  readthedocs/projects/models.py
  readthedocs/projects/version_handling.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Development: use `wrangler` locally (update NGINX/Dockerfile config)
  dockerfiles/Dockerfile.wrangler
  dockerfiles/nginx/proxito.conf.template
  dockerfiles/nginx/wrangler.conf.template
Owners: @readthedocs/backend

Add CF Worker .js script
  dockerfiles/force-readthedocs-addons.js
Owners: @readthedocs/frontend

Proxy JS files to Addons GitHub's repository
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend

Some fixes for notifications (#11094)
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/notifications/models.py
Owners: @readthedocs/backend

Build: check for pre-compiled `build.tools` when using `ubuntu-lts-latest`
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Build: check for pre-compiled `build.tools` when using `ubuntu-lts-latest`
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Build: check for pre-compiled `build.tools` when using `ubuntu-lts-latest`
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Drop exception handling from project create view
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Update readthedocs/doc_builder/director.py
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Build: check for pre-compiled `build.tools` when using `ubuntu-lts-latest` (#11098)
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Added a troubleshooting section for webhook
  docs/user/guides/build/webhooks.rst
Owners: @readthedocs/advocacy

Addons + Proxito: return `X-RTD-Resolver-Filename` and inject via CF
  dockerfiles/force-readthedocs-addons.js
  dockerfiles/nginx/proxito.conf.template
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_headers.py
Owners: @readthedocs/frontend, @readthedocs/backend

Match login template with changes from .com
  readthedocs/templates/account/login.html
Owners: @readthedocs/frontend

Update docs/user/guides/build/webhooks.rst
  docs/user/guides/build/webhooks.rst
Owners: @readthedocs/advocacy

Add base classes for prevalidation Form and rich validation errors
  readthedocs/core/forms.py
Owners: @readthedocs/backend

Refactor project create form to use form validation errors
  readthedocs/projects/exceptions.py
  readthedocs/projects/forms.py
  readthedocs/projects/notifications.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Add logic for team, owner, and SSO validations
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Add validation logic to form
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Docs: build documentation with social cards
  requirements/docs.in
  requirements/docs.txt
Owners: @readthedocs/backend

Docs: build documentation with social cards (#11109)
  requirements/docs.in
  requirements/docs.txt
Owners: @readthedocs/backend

Invert conditional to avoid `not any()`
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Clarify some of the prevalidation form internals
  readthedocs/core/forms.py
Owners: @readthedocs/backend

Fix is_valid call
  readthedocs/core/forms.py
Owners: @readthedocs/backend

Fix not implemented throw
  readthedocs/core/forms.py
Owners: @readthedocs/backend

Add tests for form prevalidation
  readthedocs/projects/forms.py
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Docs: update development install page
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Add NGINX cache for addons js files
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
