Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Tests
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

Match build process
  readthedocs/config/config.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Update docs
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Remove dead code from old footer
  readthedocs/builds/models.py
  readthedocs/projects/constants.py
  readthedocs/projects/models.py
  readthedocs/projects/version_handling.py
  readthedocs/rtd_tests/tests/test_repo_parsing.py
Owners: @readthedocs/backend

Remove test
  readthedocs/rtd_tests/tests/test_project.py
Owners: @readthedocs/backend

Remove yamale
  readthedocs/rtd_tests/fixtures/spec/v2/schema.yml
  readthedocs/rtd_tests/tests/test_build_config.py
  requirements/testing.in
  requirements/testing.txt
Owners: @readthedocs/backend

Update docs/user/intro/doctools.rst
  docs/user/intro/doctools.rst
Owners: @readthedocs/advocacy

docs: Reframe Supported Tools (#11853)
  docs/user/intro/doctools.rst
Owners: @readthedocs/advocacy

Remove yamale (#11855)
  readthedocs/rtd_tests/fixtures/spec/v2/schema.yml
  readthedocs/rtd_tests/tests/test_build_config.py
  requirements/testing.in
  requirements/testing.txt
Owners: @readthedocs/backend

WIP: migrate config validation to pydantic
  readthedocs/config/config.py
  readthedocs/config/models.py
Owners: @readthedocs/backend

Config: inherit all pydantic models from a common base class
  readthedocs/config/models.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Return API URLs in the `/_/addons/` endpoint
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Remove `NoLinks` serializers
  readthedocs/api/v3/serializers.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Use "Visual diff" instead of doc diff (#11838)
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Docs: use "Visual diff" for marketing "Doc Diff"
  docs/user/addons.rst
  docs/user/index.rst
  docs/user/pull-requests.rst
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Match User method in TeamMember
  readthedocs/organizations/models.py
Owners: @readthedocs/backend

Remove Limitations
  docs/user/intro/mdbook.rst
Owners: @readthedocs/advocacy

Note additional-css
  docs/user/intro/mdbook.rst
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Match deprecation timelines with the blog post
  readthedocs/config/config.py
Owners: @readthedocs/backend

Docs: use "Visual diff" for marketing "Doc Diff" (#11860)
  docs/user/addons.rst
  docs/user/index.rst
  docs/user/pull-requests.rst
  docs/user/visual-diff.rst
Owners: @readthedocs/advocacy

Lint
  readthedocs/organizations/models.py
Owners: @readthedocs/backend

Match User method in TeamMember (#11861)
  readthedocs/organizations/models.py
Owners: @readthedocs/backend

Add mdbook docs page (#11849)
  docs/user/intro/doctools.rst
  docs/user/intro/mdbook.rst
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Remove dead code from old footer (#11854)
  readthedocs/builds/models.py
  readthedocs/projects/constants.py
  readthedocs/projects/models.py
  readthedocs/projects/version_handling.py
  readthedocs/rtd_tests/tests/test_project.py
  readthedocs/rtd_tests/tests/test_repo_parsing.py
Owners: @readthedocs/backend

Skip running default commands when GENRIC doctool
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Skip running default commands when GENRIC doctool (#11863)
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Fix link
  docs/user/intro/mdbook.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Build: remove conda_append_core_requirements feature flag (#11847)
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Update MkDocs page to be generic and note MkDocs for Material integrationo
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Recommend Material explicitly
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Add example project
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Config file: make sphinx or mkdocs configuration required for projects using Sphinx or MkDocs (#11852)
  docs/user/config-file/v2.rst
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/notifications.py
  readthedocs/config/tests/test_config.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
Owners: @readthedocs/advocacy, @readthedocs/backend

Fix ext-theme tests
  readthedocs/organizations/templates/organizations/organization_choose.html
  readthedocs/organizations/tests/test_views.py
Owners: @readthedocs/frontend, @readthedocs/backend

Fix ext-theme tests (#11872)
  readthedocs/organizations/templates/organizations/organization_choose.html
  readthedocs/organizations/tests/test_views.py
Owners: @readthedocs/frontend, @readthedocs/backend

Run FileTreeDiff indexer on all versions in dev
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Default latest and non-stable notifications to off
  readthedocs/projects/migrations/0143_default_notifications_off.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Version: better support for manual created latest and stable versions (#11823)
  readthedocs/builds/models.py
  readthedocs/rtd_tests/tests/test_version.py
  readthedocs/rtd_tests/tests/test_version_commit_name.py
Owners: @readthedocs/backend

Build: use actual git identifier for READTHEDOCS_GIT_IDENTIFIER
  readthedocs/api/v2/serializers.py
  readthedocs/builds/models.py
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_project_forms.py
  readthedocs/rtd_tests/tests/test_version.py
  readthedocs/rtd_tests/tests/test_version_commit_name.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
