Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

OAuth: add tests for GitHub App build status error handling
  readthedocs/oauth/services/githubapp.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Proxito: noindex projects from organizations on trial (#13248)
  docs/user/commercial/index.rst
  readthedocs/organizations/querysets.py
  readthedocs/organizations/tests/test_querysets.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_headers.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Update docs/user/pull-requests.rst
  docs/user/pull-requests.rst
Owners: @readthedocs/advocacy

Proxito: noindex delisted and spam projects
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/templates/robots.delisted.txt
  readthedocs/templates/robots.spam.txt
Owners: @readthedocs/backend

OAuth: add tests for GitHub App build status error handling
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

OAuth: use pytest assert style in new build status tests
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

OAuth: add tests for GitHub App build status error handling (#13256)
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Upgrade PyGithub
  readthedocs/oauth/clients.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/rtd_tests/tests/test_oauth.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

File Tree Diff: hash the text of a page, not its HTML
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/search/parsers.py
  readthedocs/search/tests/data/generic/out/basic.json
  readthedocs/search/tests/data/mkdocs/out/gitbook.json
  readthedocs/search/tests/data/mkdocs/out/material.json
  readthedocs/search/tests/data/mkdocs/out/mkdocs-1.1.json
  readthedocs/search/tests/data/mkdocs/out/readthedocs-1.1.json
  readthedocs/search/tests/data/mkdocs/out/windmill.json
  readthedocs/search/tests/data/pelican/out/default.json
  readthedocs/search/tests/data/sphinx/out/autodoc.json
  readthedocs/search/tests/data/sphinx/out/httpdomain.json
  readthedocs/search/tests/data/sphinx/out/local-toc.json
  readthedocs/search/tests/data/sphinx/out/no-title.json
  readthedocs/search/tests/data/sphinx/out/page.json
  readthedocs/search/tests/data/sphinx/out/requests.json
  readthedocs/search/tests/data/sphinx/out/toctree.json
  readthedocs/search/tests/test_parsers.py
Owners: @readthedocs/backend

Users: capture first-touch attribution at signup
  readthedocs/core/admin.py
  readthedocs/core/middleware.py
  readthedocs/core/migrations/0002_userprofile_attribution.py
  readthedocs/core/models.py
  readthedocs/core/signals.py
  readthedocs/core/tests/test_attribution.py
  readthedocs/settings/base.py
  readthedocs/settings/proxito/base.py
Owners: @readthedocs/backend

Users: collapse signup attribution into a single JSON field
  readthedocs/core/admin.py
  readthedocs/core/middleware.py
  readthedocs/core/migrations/0002_userprofile_attribution.py
  readthedocs/core/models.py
  readthedocs/core/signals.py
  readthedocs/core/tests/test_attribution.py
  readthedocs/settings/base.py
  readthedocs/settings/proxito/base.py
Owners: @readthedocs/backend

Users: capture attribution from a single ref parameter
  readthedocs/core/middleware.py
  readthedocs/core/migrations/0002_userprofile_attribution.py
  readthedocs/core/models.py
  readthedocs/core/tests/test_attribution.py
Owners: @readthedocs/backend

Users: note the existing ref convention from WelcomeView
  readthedocs/core/middleware.py
Owners: @readthedocs/backend

Api: allow changing the version slug from APIv3
  docs/user/api/v3.rst
  docs/user/versions.rst
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/test_versions.py
  readthedocs/api/v3/views.py
  readthedocs/builds/forms.py
  readthedocs/builds/version_slug.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Users: pass the referrer through the old domain redirect
  readthedocs/core/middleware.py
  readthedocs/core/migrations/0002_userprofile_attribution.py
  readthedocs/core/models.py
  readthedocs/core/tests/test_attribution.py
  readthedocs/core/tests/test_homepage.py
  readthedocs/core/views/__init__.py
Owners: @readthedocs/backend

Development: refresh outdated project fixtures (#12834)
  readthedocs/projects/fixtures/test_data.json
Owners: @readthedocs/backend

Fixtures: fix JSON syntax and group the entry with the other projects
  readthedocs/projects/fixtures/test_data.json
Owners: @readthedocs/backend

Improve README clarity and contributor guidance (#12689)
  README.rst
Owners: @readthedocs/backend

Docs: link the migrated privacy policy instead of dropping the references
  docs/user/.tx/config
  docs/user/advertising/ad-blocking.rst
  docs/user/advertising/advertising-details.rst
  docs/user/legal/security-policy.rst
  docs/user/reference/policies.rst
Owners: @readthedocs/advocacy

Proxito: cache disabled-organization responses, trim docstrings
  readthedocs/organizations/querysets.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/tests/test_disabled_organizations.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
Owners: @readthedocs/backend

Fix invalid `except A, B:` syntax across the codebase
  readthedocs/api/v2/serializers.py
  readthedocs/api/v2/views/integrations.py
  readthedocs/builds/tasks.py
  readthedocs/core/apps.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/environments.py
  readthedocs/integrations/models.py
  readthedocs/oauth/migrations/0003_move_github.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/organizations/templatetags/organizations.py
  readthedocs/projects/forms.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/views/public.py
  readthedocs/search/api/pagination.py
Owners: @readthedocs/backend

Tests: use uv with tox for the embed API tests
  .circleci/config.yml
  .gitignore
  tox.embedapi.ini
Owners: @readthedocs/backend

Tests: run the embed API matrix on tox 4
  .circleci/config.yml
  tox.embedapi.ini
Owners: @readthedocs/backend

Proxito: address review on spam noindex
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Proxito: fix spamfighting mock in noindex tests
  readthedocs/proxito/tests/test_headers.py
Owners: @readthedocs/backend

Fixtures: add the test-builds project to test_data.json (#12522)
  readthedocs/projects/fixtures/test_data.json
Owners: @readthedocs/backend

Proxito: noindex delisted and spam projects (#13257)
  readthedocs/proxito/middleware.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_headers.py
  readthedocs/settings/base.py
  readthedocs/templates/robots.delisted.txt
  readthedocs/templates/robots.spam.txt
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Docs: address review feedback on pull request previews
  docs/user/pull-requests.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Projects: enable pull request builds by default (#13249)
  docs/user/config-file/index.rst
  docs/user/guides/pull-requests.rst
  docs/user/index.rst
  docs/user/pull-requests.rst
  docs/user/tutorial/index.rst
  readthedocs/projects/migrations/0169_external_builds_enabled_default_true.py
  readthedocs/projects/models.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Use `project.slug` as prefix for the S3 bucket
  readthedocs/aws/tests/test_security_token_service.py
  readthedocs/builds/models.py
  readthedocs/upload/tests/test_views.py
Owners: @readthedocs/backend

Direct artifacts upload (#13178)
  docs/dev/settings.rst
  readthedocs/api/v2/serializers.py
  readthedocs/api/v2/views/model_views.py
  readthedocs/api/v3/views.py
  readthedocs/aws/security_token_service.py
  readthedocs/aws/tests/test_security_token_service.py
  readthedocs/builds/migrations/0075_build_is_uploaded.py
  readthedocs/builds/migrations/0076_version_is_uploaded.py
  readthedocs/builds/models.py
  readthedocs/builds/querysets.py
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_views.py
  readthedocs/core/utils/__init__.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/storage.py
  readthedocs/projects/tasks/utils.py
  readthedocs/rtd_tests/tests/test_core_utils.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/settings/test.py
  readthedocs/storage/s3_storage.py
  readthedocs/storage/tests/test_s3_storage.py
  readthedocs/upload/__init__.py
  readthedocs/upload/api/serializers.py
  readthedocs/upload/api/urls.py
  readthedocs/upload/api/views.py
  readthedocs/upload/tests/__init__.py
  readthedocs/upload/tests/test_views.py
  readthedocs/urls.py
  scripts/upload.sh
Owners: @readthedocs/advocacy, @readthedocs/backend

Trim comments and log a warning if we can't grab the lock
  readthedocs/builds/querysets.py
  readthedocs/builds/tasks.py
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Always send `terminate=True` to Celery when canceling a build
  readthedocs/core/utils/__init__.py
Owners: @readthedocs/backend

Update tests when cancelling a build
  readthedocs/builds/tests/test_views.py
Owners: @readthedocs/backend

Reorder migration
  readthedocs/builds/migrations/0077_build_dispatched_date.py
Owners: @readthedocs/backend

Builds: concurrency limit for ephemeral builders (#13203)
  readthedocs/builds/migrations/0077_build_dispatched_date.py
  readthedocs/builds/models.py
  readthedocs/builds/querysets.py
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_build_queryset.py
  readthedocs/builds/tests/test_views.py
  readthedocs/core/utils/__init__.py
  readthedocs/projects/tasks/utils.py
  readthedocs/rtd_tests/tests/test_core_utils.py
  readthedocs/rtd_tests/tests/test_projects_tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

File Tree Diff: hash the text of a page, not its HTML (#13250)
  readthedocs/filetreediff/__init__.py
  readthedocs/filetreediff/dataclasses.py
  readthedocs/filetreediff/tests/test_filetreediff.py
  readthedocs/projects/tasks/search.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/search/parsers.py
  readthedocs/search/tests/data/generic/out/basic.json
  readthedocs/search/tests/data/mkdocs/out/gitbook.json
  readthedocs/search/tests/data/mkdocs/out/material.json
  readthedocs/search/tests/data/mkdocs/out/mkdocs-1.1.json
  readthedocs/search/tests/data/mkdocs/out/readthedocs-1.1.json
  readthedocs/search/tests/data/mkdocs/out/windmill.json
  readthedocs/search/tests/data/pelican/out/default.json
  readthedocs/search/tests/data/sphinx/out/autodoc.json
  readthedocs/search/tests/data/sphinx/out/httpdomain.json
  readthedocs/search/tests/data/sphinx/out/local-toc.json
  readthedocs/search/tests/data/sphinx/out/no-title.json
  readthedocs/search/tests/data/sphinx/out/page.json
  readthedocs/search/tests/data/sphinx/out/requests.json
  readthedocs/search/tests/data/sphinx/out/toctree.json
  readthedocs/search/tests/test_parsers.py
Owners: @readthedocs/backend

Sync AGENTS.md from readthedocs/common
  AGENTS.md
Owners: @readthedocs/backend

Builds: rename `isolated-builders` to `build-isolated`
  readthedocs/api/v2/views/model_views.py
  readthedocs/builds/querysets.py
  readthedocs/builds/tasks.py
  readthedocs/builds/tests/test_build_queryset.py
  readthedocs/core/utils/__init__.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/utils.py
  readthedocs/rtd_tests/tests/test_core_utils.py
  readthedocs/settings/base.py
  readthedocs/settings/docker_compose.py
  readthedocs/upload/api/views.py
Owners: @readthedocs/backend
