Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Add small comment with explanation
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Django Debug Toolbar: disable slow panels (#11804)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Fix Sphinx tutorial seealso links
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Development: try `uv` on Docker images
  dockerfiles/Dockerfile
Owners: @readthedocs/backend

Dependencies: update django-simple-history
  readthedocs/core/migrations/0016_update_dj_simple_history.py
  readthedocs/organizations/migrations/0014_update_dj_simple_history.py
  readthedocs/projects/migrations/0142_update_dj_simple_history.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Safe migrate
  readthedocs/core/migrations/0016_update_dj_simple_history.py
  readthedocs/organizations/migrations/0014_update_dj_simple_history.py
  readthedocs/projects/migrations/0142_update_dj_simple_history.py
Owners: @readthedocs/backend

Build: don't run default steps if no `sphinx` or `mkdocs`
  readthedocs/config/config.py
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

EmbedAPI: support "pretty URLs"
  readthedocs/embed/v3/views.py
Owners: @readthedocs/backend

EmbedAPI: main content based on documentation tool
  readthedocs/embed/v3/views.py
Owners: @readthedocs/backend

Fix Sphinx tutorial seealso links (#11806)
  docs/user/intro/sphinx.rst
Owners: @readthedocs/advocacy

Use `condition_dict` to decide whether or not show the config step
  readthedocs/projects/urls/private.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Upgrade NR to fix issue (#11802)
  requirements/deploy.txt
Owners: @readthedocs/backend

Allow users to edit Version's `identifier` and/or `slug`
  readthedocs/api/v2/utils.py
  readthedocs/builds/forms.py
  readthedocs/builds/migrations/0060_change_slug_identifier.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Development: try `uv` on Docker images (#11807)
  dockerfiles/Dockerfile
Owners: @readthedocs/backend

Remove comment
  requirements/pip.in
Owners: @readthedocs/backend

Add notification class
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Add methods for targetting projects/users
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Add email for business projects and new dashboard change
  readthedocs/templates/projects/notifications/new_dashboard.html
  readthedocs/templates/projects/notifications/new_dashboard.txt
Owners: @readthedocs/frontend, @readthedocs/backend

Add docs
  readthedocs/projects/notifications.py
  readthedocs/templates/projects/notifications/new_dashboard_email.html
  readthedocs/templates/projects/notifications/new_dashboard_email.txt
Owners: @readthedocs/backend, @readthedocs/frontend

Copy changes from review
  readthedocs/templates/projects/notifications/new_dashboard_email.html
  readthedocs/templates/projects/notifications/new_dashboard_email.txt
Owners: @readthedocs/frontend, @readthedocs/backend

Lint
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Make tests happy
  readthedocs/projects/notifications.py
Owners: @readthedocs/backend

Development: use `uv` to install everything
  dockerfiles/Dockerfile
Owners: @readthedocs/backend

Try files using django-stroage join function
  readthedocs/embed/v3/views.py
Owners: @readthedocs/backend

Use `?maincontent=` as argument field
  docs/user/api/v3.rst
  docs/user/guides/embedding-content.rst
  readthedocs/embed/v3/views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Write a test for `?maincontent=`
  readthedocs/embed/v3/tests/test_external_pages.py
  readthedocs/embed/v3/views.py
Owners: @readthedocs/backend

Add email for business projects and new dashboard change (#11809)
  readthedocs/projects/notifications.py
  readthedocs/templates/projects/notifications/new_dashboard_email.html
  readthedocs/templates/projects/notifications/new_dashboard_email.txt
Owners: @readthedocs/backend, @readthedocs/frontend

Release 11.16.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.16.0 (#11817)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Development: use `uv` to install everything (#11815)
  dockerfiles/Dockerfile
Owners: @readthedocs/backend

EmbedAPI: main content based on documentation tool (#11812)
  docs/user/api/v3.rst
  docs/user/guides/embedding-content.rst
  readthedocs/embed/v3/tests/test_external_pages.py
  readthedocs/embed/v3/views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Dependencies: update django-simple-history (#11808)
  readthedocs/core/migrations/0016_update_dj_simple_history.py
  readthedocs/organizations/migrations/0014_update_dj_simple_history.py
  readthedocs/projects/migrations/0142_update_dj_simple_history.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

update docstring
  readthedocs/config/models.py
Owners: @readthedocs/backend

Config file: use pydantic for all config models (#11798)
  readthedocs/config/config.py
  readthedocs/config/models.py
  readthedocs/config/utils.py
Owners: @readthedocs/backend

Update message
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Build: better error message when rclone fails (#11796)
  readthedocs/doc_builder/environments.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

API: use restricted serializer for related projects
  readthedocs/api/v3/serializers.py
Owners: @readthedocs/backend

Tests: mock dns queries to avoid flaking tests
  readthedocs/rtd_tests/tests/test_domains.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/api/v3/serializers.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend
