Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Update docs/user/build-customization.rst
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Update from feedback
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Apply suggestion from @humitos
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Add UI field for `Project.git_checkout_command` in settings (#12743)
  docs/user/build-customization.rst
  readthedocs/projects/forms.py
  readthedocs/projects/tests/test_views.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Tasks: delete delete-orphaned-addons-configs task (#12766)
  readthedocs/core/tasks.py
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Consider only the head/latest commit for files change
  readthedocs/builds/models.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/utils.py
Owners: @readthedocs/backend

Docs: update SAML set up instructions (#12767)
  docs/user/guides/set-up-single-sign-on-saml.rst
Owners: @readthedocs/advocacy

Rename PushAutomationRule to WebhookAutomationRule
  readthedocs/api/v2/utils.py
  readthedocs/builds/forms.py
  readthedocs/builds/migrations/0068_add_webhook_automation_rule.py
  readthedocs/builds/models.py
  readthedocs/oauth/tasks.py
  readthedocs/projects/urls/private.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Update tests
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/backend

Missing replacement
  readthedocs/builds/migrations/0068_add_webhook_automation_rule.py
Owners: @readthedocs/backend

Add tests for search pagination max_result_window limit (#12769)
  readthedocs/search/api/v3/tests/test_api.py
Owners: @readthedocs/backend

GitHub App: skip repo sync notification for GH app users
  readthedocs/oauth/signals.py
Owners: @readthedocs/backend

Release 15.14.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Document custom prefixes feature for projects and subprojects (#12637)
  docs/user/index.rst
  docs/user/subprojects.rst
  docs/user/url-path-prefixes.rst
  docs/user/versioning-schemes.rst
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Update GitHub App instructions for development environment (#12765)
  docs/dev/install.rst
Owners: @readthedocs/advocacy

Updates from feedback
  readthedocs/builds/managers.py
  readthedocs/builds/migrations/0068_buildconfig_data_hash.py
Owners: @readthedocs/backend

Build: run user commands with `nice`
  readthedocs/doc_builder/environments.py
Owners: @readthedocs/backend

Update readthedocs/search/api/pagination.py
  readthedocs/search/api/pagination.py
Owners: @readthedocs/backend

Limit to 1K
  readthedocs/search/api/pagination.py
  readthedocs/search/api/v3/tests/test_api.py
Owners: @readthedocs/backend

Search: validate max result window and pages (#12768)
  readthedocs/search/api/pagination.py
  readthedocs/search/api/v3/tests/test_api.py
Owners: @readthedocs/backend

Rename
  readthedocs/builds/models.py
  readthedocs/projects/urls/private.py
Owners: @readthedocs/backend

Get the head commit directly instead of PR and commits list
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Keep filtering version rules by actions
  readthedocs/api/v2/utils.py
Owners: @readthedocs/backend

Add comprehensive tests for WebhookAutomationRule path filtering (#12772)
  readthedocs/builds/models.py
  readthedocs/oauth/tests/test_githubapp_webhook.py
  readthedocs/rtd_tests/tests/test_automation_rules.py
Owners: @readthedocs/backend

Revert this change that breaks tests
  readthedocs/projects/ordering.py
Owners: @readthedocs/backend

Update test
  readthedocs/doc_builder/tests/test_environments.py
Owners: @readthedocs/backend

Apply suggestion from @humitos
  readthedocs/doc_builder/tests/test_environments.py
Owners: @readthedocs/backend

Update tests
  readthedocs/oauth/tests/test_githubapp_webhook.py
Owners: @readthedocs/backend

Tasks: go back to delete BuildData objects once per day
  readthedocs/settings/base.py
  readthedocs/telemetry/tasks.py
Owners: @readthedocs/backend

Fix
  readthedocs/telemetry/tasks.py
Owners: @readthedocs/backend

Add header support for Cross-Origin-Opener-Policy
  readthedocs/projects/migrations/0159_add_header_cross_origin_opener_policy.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Relint
  readthedocs/projects/migrations/0159_add_header_cross_origin_opener_policy.py
Owners: @readthedocs/backend

Try nginx config change to use application header
  dockerfiles/nginx/proxito.conf.template
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Check if data is a dictionary
  readthedocs/builds/managers.py
Owners: @readthedocs/backend

Builds: add `data_hash` field and update `get_or_create` method (#12704)
  readthedocs/builds/managers.py
  readthedocs/builds/migrations/0068_buildconfig_data_hash.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Always check for all the commits in the push/pull_request event
  readthedocs/oauth/tasks.py
Owners: @readthedocs/backend

Lint
  readthedocs/rtd_tests/tests/test_automation_rules.py
Owners: @readthedocs/backend
