Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Tests: run tests with the ext-theme (#11383)
  .circleci/config.yml
  readthedocs/core/views/__init__.py
  readthedocs/organizations/tests/test_privacy_urls.py
  readthedocs/organizations/urls/private.py
  readthedocs/projects/urls/private.py
  readthedocs/proxito/tests/handler_404_urls.py
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/proxito/views/mixins.py
  readthedocs/rtd_tests/tests/test_privacy.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
  readthedocs/rtd_tests/tests/test_profile_views.py
  readthedocs/rtd_tests/tests/test_project_views.py
  readthedocs/settings/base.py
  readthedocs/subscriptions/templates/subscriptions/subscription_detail.html
  readthedocs/subscriptions/tests/test_views.py
  readthedocs/templates/account/login.html
  readthedocs/templates/account/signup.html
  readthedocs/templates/errors/proxito/401.html
  readthedocs/templates/profiles/private/token_list.html
  tox.ini
Owners: @readthedocs/backend, @readthedocs/frontend

Remove the conditional that's not needed
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Build: disable Sphinx manipulation
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

sembr
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Add basic test case for external build trigger
  readthedocs/api/v3/tests/responses/projects-versions-builds-list-external_POST.json
  readthedocs/api/v3/tests/test_builds.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Proxito: remove redirect for `README.html` files
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/serve.py
  readthedocs/proxito/views/utils.py
Owners: @readthedocs/backend

Update readthedocs/notifications/messages.py
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Notification: update copy for "No HTML content found" (#11410)
  readthedocs/notifications/messages.py
Owners: @readthedocs/backend

Minor refactor of Private Python packages page (#11395)
  docs/user/config-file/v2.rst
  docs/user/guides/private-python-packages.rst
Owners: @readthedocs/advocacy

POC addons listing
  docs/user/addons.rst
  docs/user/analytics.rst
  docs/user/index.rst
  docs/user/pull-requests.rst
Owners: @readthedocs/advocacy

Remove whitespace with pre-commit
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Mention linting
  docs/dev/style-guide.rst
Owners: @readthedocs/advocacy

Fix whitespace that the linter doesnt catch
  docs/dev/style-guide.rst
Owners: @readthedocs/advocacy

Build: add `READTHEDOCS_REPOSITORY_PATH` environment variable
  docs/user/reference/environment-variables.rst
  readthedocs/doc_builder/director.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Build: add `READTHEDOCS_PRODUCTION_DOMAIN` as environment variable
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Organization: disable organization on non-active subscription (#11430)
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/tasks.py
  readthedocs/subscriptions/tests/test_event_handlers.py
  readthedocs/subscriptions/tests/test_tasks.py
Owners: @readthedocs/backend

Update readthedocs/projects/forms.py
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Add Pull Request builds page to settings (#10656)
  readthedocs/projects/forms.py
  readthedocs/projects/urls/private.py
  readthedocs/projects/views/private.py
  readthedocs/templates/projects/pull_requests_form.html
Owners: @readthedocs/backend, @readthedocs/frontend

Refactor tests
  readthedocs/api/v3/tests/responses/projects-versions-builds-list-external_POST.json
  readthedocs/api/v3/tests/test_builds.py
Owners: @readthedocs/backend

Lint
  readthedocs/api/v3/tests/test_builds.py
Owners: @readthedocs/backend

APIv3: return `permissions` expandable field on projects
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

API: support rebuilding external version builds with build create endpoint (#11407)
  readthedocs/api/v3/tests/test_builds.py
  readthedocs/api/v3/views.py
  readthedocs/builds/views.py
Owners: @readthedocs/backend

Release 11.1.2
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.1.2 (#11446)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Review fixes
  docs/dev/style-guide.rst
Owners: @readthedocs/advocacy

Fix tests
  readthedocs/api/v3/tests/mixins.py
Owners: @readthedocs/backend

Fix tests on .com (#11447)
  readthedocs/api/v3/tests/mixins.py
Owners: @readthedocs/backend

CSP: Allow inline scripts in gold subscription view
  readthedocs/gold/tests/test_views.py
  readthedocs/gold/views.py
Owners: @readthedocs/backend

Mention linting (#11445)
  docs/dev/style-guide.rst
Owners: @readthedocs/advocacy

Document `READTHEDOCS_PRODUCTION_DOMAIN` env var
  docs/user/reference/environment-variables.rst
Owners: @readthedocs/advocacy

Update tests
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Build: disable Sphinx manipulation (#11441)
  docs/user/reference/environment-variables.rst
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/advocacy, @readthedocs/backend

List all addons
  docs/user/_static/images/flyout-addons.png
  docs/user/_static/images/flyout-closed.png
  docs/user/addons.rst
  docs/user/flyout-menu.rst
  docs/user/index.rst
  docs/user/notifications.rst
  docs/user/pull-requests.rst
  docs/user/server-side-search/index.rst
Owners: @readthedocs/advocacy

CSP: Allow inline scripts in gold subscription view (#11448)
  readthedocs/gold/tests/test_views.py
  readthedocs/gold/views.py
Owners: @readthedocs/backend

API V3: Allow other users to see build notifications from public projects
  readthedocs/api/v3/permissions.py
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Review feedback
  docs/user/addons.rst
  docs/user/advertising/advertising-details.rst
  docs/user/analytics.rst
  docs/user/flyout-menu.rst
  docs/user/guides/technical-docs-seo-guide.rst
  docs/user/notifications.rst
  docs/user/server-side-search/index.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Update image
  docs/user/_static/images/addons-analytics.png
  docs/user/_static/images/traffic-analytics-demo.png
  docs/user/analytics.rst
Owners: @readthedocs/advocacy

Delete deprecated sections
  docs/user/flyout-menu.rst
Owners: @readthedocs/advocacy

Restore useful GA section
  docs/user/advertising/advertising-details.rst
Owners: @readthedocs/advocacy
