Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Release 11.21.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.21.0 (#11989)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Full feature!
  readthedocs/oauth/clients.py
  readthedocs/oauth/models.py
  readthedocs/oauth/services/__init__.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/views.py
Owners: @readthedocs/backend

Settings: avoid having `app.app.readthedocs.org`
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Settings: avoid having `app.app.readthedocs.org`
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Settings: avoid having `app.app.readthedocs.org`
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Requirements: unpin `requests` and `docker`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

More refactor
  readthedocs/api/v2/views/model_views.py
  readthedocs/builds/tasks.py
  readthedocs/oauth/models.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/oauth/tasks.py
  readthedocs/projects/models.py
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

More fixes and updates
  readthedocs/builds/tasks.py
  readthedocs/oauth/views.py
Owners: @readthedocs/backend

Docstrings and updates
  readthedocs/allauth/providers/githubapp/provider.py
  readthedocs/allauth/providers/githubapp/urls.py
  readthedocs/allauth/providers/githubapp/views.py
  readthedocs/core/adapters.py
  readthedocs/oauth/admin.py
  readthedocs/oauth/clients.py
  readthedocs/oauth/models.py
  readthedocs/oauth/services/__init__.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/views.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Note on GH user access tokens
  readthedocs/oauth/services/githubapp.py
Owners: @readthedocs/backend

Remove code
  readthedocs/oauth/services/base.py
Owners: @readthedocs/backend

Requirements: unpin `requests` and `docker` (#11992)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Settings: avoid having `app.app.readthedocs.org` (#11991)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Error handling and logging
  readthedocs/oauth/models.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/views.py
Owners: @readthedocs/backend

Validate when trying to connect to an existing account
  readthedocs/core/adapters.py
Owners: @readthedocs/backend

Less indentation
  readthedocs/core/adapters.py
Owners: @readthedocs/backend

And both apps lived happy forever after.
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/githubapp.py
Owners: @readthedocs/backend

Updates from review
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Skip incompatible integrations
  readthedocs/oauth/utils.py
Owners: @readthedocs/backend

Format
  readthedocs/core/adapters.py
Owners: @readthedocs/backend

Check for attribute instead
  readthedocs/builds/tasks.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
Owners: @readthedocs/backend

Fix querysets
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/githubapp.py
Owners: @readthedocs/backend

Git service: attach each service to a allauth provider
  readthedocs/api/v2/views/model_views.py
  readthedocs/builds/tasks.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/oauth/tasks.py
  readthedocs/projects/models.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Missed this file
  readthedocs/oauth/clients.py
Owners: @readthedocs/backend

Use just the hostname for the base_api_url
  readthedocs/oauth/services/bitbucket.py
Owners: @readthedocs/backend

Git service: depend on the project instead of users (#11983)
  readthedocs/builds/tasks.py
  readthedocs/oauth/models.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/oauth/tasks.py
  readthedocs/oauth/utils.py
  readthedocs/projects/models.py
  readthedocs/projects/views/mixins.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_celery.py
  readthedocs/rtd_tests/tests/test_oauth.py
  readthedocs/rtd_tests/tests/test_oauth_sync.py
  readthedocs/rtd_tests/tests/test_project.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Git service: attach each service to an allauth provider (#11995)
  readthedocs/api/v2/views/model_views.py
  readthedocs/builds/tasks.py
  readthedocs/oauth/clients.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/oauth/tasks.py
  readthedocs/projects/models.py
  readthedocs/projects/views/private.py
  readthedocs/rtd_tests/tests/test_oauth.py
Owners: @readthedocs/backend

Stash
  readthedocs/oauth/models.py
  readthedocs/profiles/urls/private.py
  readthedocs/profiles/views.py
  readthedocs/settings/base.py
  readthedocs/templates/profiles/private/migrate-to-gh-app.html
Owners: @readthedocs/backend, @readthedocs/frontend

Import: fix session
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Format
  readthedocs/oauth/models.py
  readthedocs/profiles/urls/private.py
  readthedocs/profiles/views.py
Owners: @readthedocs/backend

Clarification on PR build webhooks and GitHub Action
  docs/user/guides/pull-requests.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Import: fix session (#11997)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

stash
  readthedocs/oauth/migrate.py
  readthedocs/profiles/views.py
  readthedocs/templates/profiles/private/migrate-to-gh-app.html
Owners: @readthedocs/backend, @readthedocs/frontend

Basic migration page
  readthedocs/oauth/constants.py
  readthedocs/oauth/migrate.py
  readthedocs/oauth/querysets.py
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/profiles/views.py
  readthedocs/settings/docker_compose.py
  readthedocs/templates/profiles/private/migrate-to-gh-app.html
Owners: @readthedocs/backend, @readthedocs/frontend

Release 11.21.1
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.21.1 (#12001)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Upgrade to Ubuntu 24.04 for our application
  .circleci/config.yml
  dockerfiles/Dockerfile
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
  tox.ini
Owners: @readthedocs/backend

Run tests with 3.12
  .circleci/config.yml
Owners: @readthedocs/backend
