Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Make Ubuntu callout correct
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Add organization view UI filters (#10847)
  readthedocs/core/filters.py
  readthedocs/organizations/filters.py
  readthedocs/organizations/tests/test_filters.py
  readthedocs/organizations/views/private.py
  readthedocs/organizations/views/public.py
Owners: @readthedocs/backend

Make Ubuntu callout correct (#10883)
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Version: don't use default_branch when getting the commit name
  readthedocs/builds/models.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Revert "Build: use tag name for checkout (#10879)"
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Revert "Build: use tag name for checkout (#10879)"
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Revert "Build: use tag name for checkout (#10879)"
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Revert "Build: use tag name for checkout" (#10887)
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Move to constants
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/test_redirects.py
  readthedocs/redirects/constants.py
  readthedocs/redirects/migrations/0006_add_new_fields.py
  readthedocs/redirects/models.py
  readthedocs/redirects/querysets.py
  readthedocs/redirects/tests/test_views.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Design doc: new notification system
  docs/dev/design/new-notifications-system.rst
Owners: @readthedocs/advocacy

Update Sphinx titles
  docs/dev/design/new-notifications-system.rst
Owners: @readthedocs/advocacy

Update code `Retry` from `urllib3`
  readthedocs/api/v2/client.py
Owners: @readthedocs/backend

Resolver: don't use one global instance and implement caching (#10872)
  readthedocs/analytics/models.py
  readthedocs/api/v2/serializers.py
  readthedocs/api/v3/serializers.py
  readthedocs/core/resolver.py
  readthedocs/core/templatetags/core_tags.py
  readthedocs/embed/views.py
  readthedocs/projects/models.py
  readthedocs/projects/views/mixins.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/redirects.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/tests/test_redirects.py
  readthedocs/proxito/views/hosting.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
  readthedocs/redirects/models.py
  readthedocs/rtd_tests/tests/test_build_notifications.py
  readthedocs/rtd_tests/tests/test_resolver.py
Owners: @readthedocs/backend

Don't consider email/webhook notifications
  docs/dev/design/new-notifications-system.rst
Owners: @readthedocs/advocacy

Clarify non-goal
  docs/dev/design/new-notifications-system.rst
Owners: @readthedocs/advocacy

Add some queryset filters to the API
  docs/dev/design/new-notifications-system.rst
Owners: @readthedocs/advocacy

Add `db_index`
  docs/dev/design/new-notifications-system.rst
Owners: @readthedocs/advocacy

Add note about notification create endpoint
  docs/dev/design/new-notifications-system.rst
Owners: @readthedocs/advocacy

Sphinx style
  docs/dev/design/new-notifications-system.rst
Owners: @readthedocs/advocacy

Format
  readthedocs/api/v3/tests/test_redirects.py
  readthedocs/redirects/migrations/0006_add_new_fields.py
  readthedocs/redirects/models.py
Owners: @readthedocs/backend

Fix test
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/responses/projects-redirects-detail.json
  readthedocs/api/v3/tests/responses/projects-redirects-detail_PUT.json
  readthedocs/api/v3/tests/responses/projects-redirects-list.json
  readthedocs/api/v3/tests/responses/projects-redirects-list_POST.json
  readthedocs/api/v3/tests/test_redirects.py
  readthedocs/redirects/migrations/0006_add_new_fields.py
  readthedocs/redirects/models.py
  readthedocs/redirects/tests/test_views.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/redirects/models.py
  readthedocs/redirects/querysets.py
Owners: @readthedocs/backend

Linter
  readthedocs/api/v3/serializers.py
Owners: @readthedocs/backend

Release 10.10.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.mo
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.10.0 (#10893)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.mo
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Fix tests
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/redirects/models.py
Owners: @readthedocs/backend

Update docs/user/versions.rst
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Update docs/user/versions.rst
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Fix tests
  readthedocs/api/v3/serializers.py
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/redirects/models.py
  readthedocs/redirects/querysets.py
Owners: @readthedocs/backend

Linter
  readthedocs/redirects/models.py
Owners: @readthedocs/backend

remove obsolete note
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Update migration
  readthedocs/redirects/migrations/0006_add_new_fields.py
Owners: @readthedocs/backend

Add extra validations
  readthedocs/api/v3/serializers.py
  readthedocs/proxito/tests/test_old_redirects.py
  readthedocs/redirects/models.py
Owners: @readthedocs/backend

Missing file!
  readthedocs/redirects/validators.py
Owners: @readthedocs/backend

docs: update documentation around version warning banner (#10877)
  docs/user/versions.rst
Owners: @readthedocs/advocacy

Fix tests
  readthedocs/api/v3/serializers.py
Owners: @readthedocs/backend

Automation Rules: simplify ordering
  docs/user/guides/automation-rules.rst
  readthedocs/builds/forms.py
  readthedocs/builds/managers.py
  readthedocs/builds/migrations/0055_alter_versionautomationrule_priority.py
  readthedocs/builds/models.py
  readthedocs/rtd_tests/tests/test_automation_rules.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Linter
  readthedocs/builds/managers.py
  readthedocs/builds/models.py
Owners: @readthedocs/backend

Fix tests
  readthedocs/builds/forms.py
  readthedocs/rtd_tests/tests/test_automation_rule_views.py
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
