Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy

Adapt `__str__` and `__repr__` methods for DB (#11329)
  readthedocs/analytics/models.py
  readthedocs/builds/models.py
  readthedocs/builds/querysets.py
  readthedocs/core/models.py
  readthedocs/core/querysets.py
  readthedocs/integrations/models.py
  readthedocs/invitations/models.py
  readthedocs/notifications/querysets.py
  readthedocs/oauth/models.py
  readthedocs/oauth/querysets.py
  readthedocs/organizations/models.py
  readthedocs/organizations/querysets.py
  readthedocs/projects/models.py
  readthedocs/projects/querysets.py
  readthedocs/redirects/querysets.py
  readthedocs/rtd_tests/tests/test_footer.py
  readthedocs/search/models.py
  readthedocs/sso/models.py
  readthedocs/subscriptions/querysets.py
  readthedocs/telemetry/models.py
Owners: @readthedocs/backend

Release 10.25.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 10.25.0 (#11334)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Docs: PO only allowed on annual Pro/Enterprise plans
  docs/user/commercial/subscriptions.rst
Owners: @readthedocs/advocacy

Celery: user `builder` instead of `instance` as argument
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Celery: user `builder` instead of `instance` as argument
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Celery: user `builder` instead of `instance` as argument
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Celery: user `builder` instead of `instance` as argument (#11337)
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
Owners: @readthedocs/backend

Second half of the doc edits
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Update allauth (#11327)
  readthedocs/oauth/services/gitlab.py
  readthedocs/rtd_tests/tests/test_celery.py
  readthedocs/settings/base.py
  readthedocs/templates/account/login.html
  readthedocs/templates/account/signup.html
  readthedocs/templates/allauth/layouts/base.html
  readthedocs/templates/socialaccount/authentication_error.html
  readthedocs/templates/socialaccount/snippets/provider_list.html
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.in
  requirements/testing.txt
Owners: @readthedocs/backend, @readthedocs/frontend

Apply suggestions from code review
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Refactor conf options
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Less Python version maintenance
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Use ref for links
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Docs: fix external resources link on support page
  docs/user/support.rst
Owners: @readthedocs/advocacy

Or just say next
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Use ref for link to hading
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Cleanup bullets
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Tests: set provider explicitly
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Tests: set provider explicitly (#11342)
  readthedocs/rtd_tests/tests/test_project_forms.py
Owners: @readthedocs/backend

Update docs/user/commercial/subscriptions.rst
  docs/user/commercial/subscriptions.rst
Owners: @readthedocs/advocacy

Docs: fix external resources link on support page (#11340)
  docs/user/support.rst
Owners: @readthedocs/advocacy

Docs: PO only allowed on annual Pro/Enterprise plans (#11335)
  docs/user/commercial/subscriptions.rst
Owners: @readthedocs/advocacy

Fix whitespace, thanks pre-commit
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Update docs/user/tutorial/index.rst
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Condense email shenanigans
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

allauth: login after email confirmation
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Tighten up and refactor the tutorial WIP (#11316)
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

allauth: login after email confirmation (#11346)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Fix small docs display issue on tutorial
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Proxito: browndate for redirecting `/` to `README.html`
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/views/serve.py
  readthedocs/proxito/views/utils.py
Owners: @readthedocs/backend

Dashboard: use `app.` domain instead of `beta.`
  readthedocs/builds/views.py
Owners: @readthedocs/backend

Fix small docs display issue on tutorial (#11347)
  docs/user/tutorial/index.rst
Owners: @readthedocs/advocacy

Add permission check for team instances
  readthedocs/core/permissions.py
Owners: @readthedocs/backend

Beta: fix dashboard when user doesn't have projects
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Fix version visibility filter method
  readthedocs/projects/filters.py
Owners: @readthedocs/backend

Set better success URL for version form views
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Rename function to make it clearer
  readthedocs/projects/tasks/search.py
  readthedocs/proxito/views/serve.py
  readthedocs/proxito/views/utils.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend
