Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Update readthedocs/builds/tasks.py
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Build: fix delete_old_build_objects task (#13004)
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Automation rules: fix import
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Build: fix delete_old_build_objects task (#13004)
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Build: fix delete_old_build_objects task (#13004)
  readthedocs/builds/tasks.py
Owners: @readthedocs/backend

Automation rules: fix import
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Automation rules: fix import
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Automation rules: fix import (#13008)
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Fix YAML in uv examples (#13006)
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Notifications: user content type model attribute instead of name
  readthedocs/api/v3/serializers.py
  readthedocs/notifications/models.py
Owners: @readthedocs/backend

redirects: use FilteredModelChoiceFilter for URL filter
  readthedocs/projects/filters.py
  readthedocs/redirects/tests/test_views.py
Owners: @readthedocs/backend

ci: refresh CircleCI orbs (codecov v3 → v5, drop unused node orb) (#13001)
  .circleci/config.yml
Owners: @readthedocs/backend

ci: harden workflows against zizmor findings (#13000)
  .github/workflows/main.yml
  .github/workflows/pip-tools.yaml
Owners: @readthedocs/backend

redirects: comment why get_redirect_queryset is needed
  readthedocs/projects/filters.py
Owners: @readthedocs/backend

Fix observations flagged by Claude in querysets (#13003)
  readthedocs/core/permissions.py
  readthedocs/organizations/signals.py
Owners: @readthedocs/backend

projects: admin page to run spam rule checks from URLs
  readthedocs/projects/admin.py
  readthedocs/rtd_tests/tests/projects/test_admin_actions.py
  readthedocs/templates/admin/projects/project/change_list.html
  readthedocs/templates/admin/projects/project/spam_rule_checks_from_urls.html
Owners: @readthedocs/backend, @readthedocs/frontend

builds: add pre-built HTML upload as a Version source type
  docs/dev/design/prebuilt-html-upload.rst
  docs/user/examples/github-actions-upload.yml
  readthedocs/api/v2/utils.py
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/responses/projects-detail.json
  readthedocs/api/v3/tests/responses/projects-versions-builds-list_POST.json
  readthedocs/api/v3/tests/responses/projects-versions-detail.json
  readthedocs/api/v3/tests/test_uploads.py
  readthedocs/api/v3/views.py
  readthedocs/builds/constants.py
  readthedocs/builds/migrations/0072_version_source_type_upload_content_hash.py
  readthedocs/builds/models.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/uploads.py
  readthedocs/projects/tests/test_uploads.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
Owners: @readthedocs/advocacy, @readthedocs/backend

builds: harden upload archive handling for common user mistakes
  readthedocs/api/v2/serializers.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/uploads.py
  readthedocs/projects/tests/test_uploads.py
Owners: @readthedocs/backend

design: tighten pre-built HTML upload doc
  docs/dev/design/prebuilt-html-upload.rst
Owners: @readthedocs/advocacy

projects: tolerate messy URL formats in spam rule checks page
  readthedocs/projects/admin.py
  readthedocs/rtd_tests/tests/projects/test_admin_actions.py
Owners: @readthedocs/backend

tests: update Version snapshots for source_type and upload_content_hash
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/rtd_tests/tests/test_api.py
Owners: @readthedocs/backend

design: rephrase to satisfy Vale custom-spelling
  docs/dev/design/prebuilt-html-upload.rst
Owners: @readthedocs/advocacy

Comment
  readthedocs/api/v3/serializers.py
  readthedocs/notifications/models.py
Owners: @readthedocs/backend

Add default theme option temporarily
  readthedocs/core/migrations/0018_add_profile_theme.py
  readthedocs/core/models.py
Owners: @readthedocs/backend

Also helper for light theme
  readthedocs/core/models.py
Owners: @readthedocs/backend

Integrations: stop syncing user-org relationships
  readthedocs/oauth/services/base.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/oauth/services/github.py
  readthedocs/oauth/services/githubapp.py
  readthedocs/oauth/services/gitlab.py
  readthedocs/rtd_tests/tests/test_oauth_sync.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Fix tests
  readthedocs/rtd_tests/tests/test_oauth.py
  readthedocs/rtd_tests/tests/test_oauth_sync.py
Owners: @readthedocs/backend

Automation rules: delete old models and forms
  readthedocs/builds/admin.py
  readthedocs/builds/forms.py
  readthedocs/builds/migrations/0072_delete_automation_rules.py
  readthedocs/builds/models.py
  readthedocs/projects/views/private.py
  readthedocs/settings/base.py
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Build: use Ubuntu 26.04 LTS as default LTS latest image
  readthedocs/builds/constants_docker.py
Owners: @readthedocs/backend

Docs: automation rules
  docs/user/automation-rules.rst
  docs/user/guides/build/skip-build.rst
Owners: @readthedocs/advocacy

Update conflicting migrations
  readthedocs/builds/migrations/0072_remove_deprecated_build_fields.py
Owners: @readthedocs/backend

Update conflicting migrations
  readthedocs/builds/migrations/0072_remove_deprecated_build_fields.py
Owners: @readthedocs/backend

Update conflicting migrations
  readthedocs/builds/migrations/0072_remove_deprecated_build_fields.py
Owners: @readthedocs/backend

Update conflicting migrations
  readthedocs/builds/migrations/0072_remove_deprecated_build_fields.py
Owners: @readthedocs/backend

Test signing
  README.rst
Owners: @readthedocs/backend

test
  AGENTS.md
Owners: @readthedocs/backend

Fix linting
  docs/dev/i18n.rst
  docs/dev/style-guide.rst
  readthedocs/api/v2/README.rst
Owners: @readthedocs/advocacy, @readthedocs/backend

Fix typos in comments
  readthedocs/api/v3/serializers.py
  readthedocs/notifications/models.py
Owners: @readthedocs/backend

Dev: update docker images to ubuntu 26.04
  dockerfiles/Dockerfile
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
