Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Don't install mkdocs
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Add django-impersonate when admin is enabled
  readthedocs/core/admin.py
  readthedocs/settings/base.py
  readthedocs/urls.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Add middleware
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Format
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Return PR number for git_identifier
  docs/user/reference/environment-variables.rst
  readthedocs/builds/models.py
  readthedocs/rtd_tests/tests/test_version.py
  readthedocs/rtd_tests/tests/test_version_commit_name.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Docs: remove CSS variables override for font-size
  docs/user/intro/mdbook.rst
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Fix tests
  readthedocs/projects/migrations/0143_addons_flyout_position.py
  readthedocs/proxito/tests/responses/v1.json
Owners: @readthedocs/backend

Typo
  readthedocs/projects/migrations/0143_addons_flyout_position.py
Owners: @readthedocs/backend

Return correct URLs based on request/dashboard
  readthedocs/api/v3/serializers.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Update URL for active, built and not hidden versions
  readthedocs/api/v3/filters.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Accept `?sorting=` parameter to sort versions in the API endpoint
  readthedocs/api/v3/views.py
Owners: @readthedocs/backend

Increase the limit of the version displayed in the flyout
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Comment
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Environment variables: document special case for PR preview builds (#11893)
  docs/user/reference/environment-variables.rst
  readthedocs/builds/models.py
  readthedocs/rtd_tests/tests/test_version.py
  readthedocs/rtd_tests/tests/test_version_commit_name.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Add django-impersonate when admin is enabled (#11894)
  readthedocs/core/admin.py
  readthedocs/settings/base.py
  readthedocs/urls.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

SAML: link to new dashboard
  readthedocs/templates/account/login.html
Owners: @readthedocs/frontend

Update MkDocs page to be generic and note MkDocs for Material integration (#11871)
  docs/user/index.rst
  docs/user/intro/doctools.rst
  docs/user/intro/mkdocs.rst
  docs/user/tutorials/index.rst
Owners: @readthedocs/advocacy

Docs: remove CSS variables override for font-size (#11897)
  docs/user/intro/mdbook.rst
  docs/user/intro/mkdocs.rst
Owners: @readthedocs/advocacy

Add note around specificity
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Document new build jobs
  docs/user/build-customization.rst
  docs/user/builds.rst
  docs/user/config-file/v2.rst
  docs/user/intro/docusaurus.rst
  docs/user/intro/mdbook.rst
Owners: @readthedocs/advocacy

Fix
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

updates
  docs/user/build-customization.rst
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Fix titles
  docs/user/build-customization.rst
Owners: @readthedocs/advocacy

Revert "Add note around specificity"
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Don't require sphinx/mkdocs keys when using build.commands
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

Rename
  readthedocs/api/v3/serializers.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Mention previous behavior in docs
  docs/user/api/v3.rst
Owners: @readthedocs/advocacy

Lint
  docs/user/api/v3.rst
Owners: @readthedocs/advocacy

Updates from review
  docs/user/build-customization.rst
  docs/user/config-file/v2.rst
Owners: @readthedocs/advocacy

Don't require sphinx/mkdocs keys when using build.commands (#11913)
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

Don't require sphinx/mkdocs keys when using build.commands (#11913)
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

Don't require sphinx/mkdocs keys when using build.commands (#11913)
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
Owners: @readthedocs/backend

API: use restricted serializer for related projects (#11820)
  docs/user/api/v3.rst
  readthedocs/api/v3/serializers.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/advocacy, @readthedocs/backend

API: separate querysets from API V2 and V3 (#11586)
  readthedocs/api/v2/views/model_views.py
  readthedocs/api/v3/tests/mixins.py
  readthedocs/builds/querysets.py
  readthedocs/oauth/querysets.py
  readthedocs/projects/querysets.py
  readthedocs/redirects/querysets.py
Owners: @readthedocs/backend

Document new build jobs (#11900)
  docs/user/build-customization.rst
  docs/user/builds.rst
  docs/user/config-file/v2.rst
  docs/user/intro/docusaurus.rst
  docs/user/intro/mdbook.rst
Owners: @readthedocs/advocacy

Update docs/user/addons.rst
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Remove unused vars
  docs/user/addons.rst
Owners: @readthedocs/advocacy

Add Addons customization docs (#11888)
  docs/user/addons.rst
Owners: @readthedocs/advocacy

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
