Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Update tests
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Update docs/dev/settings.rst
  docs/dev/settings.rst
Owners: @readthedocs/advocacy

Apply suggestions from code review
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Review feedback
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Update supported features
  docs/user/intro/docusaurus.rst
Owners: @readthedocs/advocacy

Use conditional
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Move all actions to their method
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Add Markdoc to the doc tools (#11782)
  docs/user/index.rst
  docs/user/intro/doctools.rst
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Update docs/dev/settings.rst
  docs/dev/settings.rst
Owners: @readthedocs/advocacy

Unused variable
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Fix
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Support RTD_USE_PROMOS for setting USE_PROMOS in dev (#11790)
  docs/dev/settings.rst
  readthedocs/settings/docker_compose.py
Owners: @readthedocs/advocacy, @readthedocs/backend

Build: allow partial override of build steps (#11710)
  .circleci/config.yml
  readthedocs/config/config.py
  readthedocs/config/exceptions.py
  readthedocs/config/models.py
  readthedocs/config/notifications.py
  readthedocs/config/tests/test_config.py
  readthedocs/core/utils/objects.py
  readthedocs/doc_builder/director.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/fixtures/spec/v2/schema.json
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Fix spacing
  docs/user/intro/doctools.rst
Owners: @readthedocs/advocacy

Add project: use an instance variable to avoid 500
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Features -> limitations
  docs/user/intro/docusaurus.rst
Owners: @readthedocs/advocacy

Build: better error message when rclone fails
  readthedocs/doc_builder/environments.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/notifications/exceptions.py
  readthedocs/notifications/messages.py
  readthedocs/projects/tasks/builds.py
Owners: @readthedocs/backend

Allauth: disable account enumeration protection
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Config file: use pydantic for all config models
  readthedocs/config/config.py
  readthedocs/config/models.py
  readthedocs/config/utils.py
Owners: @readthedocs/backend

Allauth: disable account enumeration protection (#11797)
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Bugfix
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Addons: create `AddonsConfig` on `Project.post_save`
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0141_create_addonsconfig.py
  readthedocs/projects/signals.py
  readthedocs/projects/tests/test_version_handling.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Release 11.15.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

Release 11.15.0 (#11800)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Owners: @readthedocs/backend, @readthedocs/advocacy

features -> limitations for Markdoc as well
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Docusaurus basics (#11752)
  docs/user/index.rst
  docs/user/intro/doctools.rst
  docs/user/intro/docusaurus.rst
  docs/user/intro/markdoc.rst
Owners: @readthedocs/advocacy

Use same default
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Upgrade NR to fix issue
  requirements/deploy.txt
Owners: @readthedocs/backend

Upgrade NR to fix issue
  requirements/deploy.txt
Owners: @readthedocs/backend

Upgrade NR to fix issue
  requirements/deploy.txt
Owners: @readthedocs/backend

Addons: create `AddonsConfig` on `Project.post_save` (#11799)
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0141_create_addonsconfig.py
  readthedocs/projects/signals.py
  readthedocs/projects/tests/test_version_handling.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/views/hosting.py
Owners: @readthedocs/backend

Update tests
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_headers.py
  readthedocs/proxito/tests/test_hosting.py
Owners: @readthedocs/backend

Remove `fixture.get` for AddonsConfig
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/rtd_tests/tests/test_imported_file.py
Owners: @readthedocs/backend

Django Debug Toolbar: disable slow panels
  readthedocs/settings/base.py
Owners: @readthedocs/backend

Addons: base version to compare against (DocDiff and File Tree Diff) (#11794)
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0140_addons_options_base_version.py
  readthedocs/projects/migrations/0141_create_addonsconfig.py
  readthedocs/projects/models.py
  readthedocs/projects/signals.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tests/test_version_handling.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_headers.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
  readthedocs/rtd_tests/tests/test_imported_file.py
Owners: @readthedocs/backend

File tree diff: migrate feature flag to model field (#11793)
  readthedocs/projects/forms.py
  readthedocs/projects/migrations/0139_addons_filetreediff_field.py
  readthedocs/projects/migrations/0140_addons_options_base_version.py
  readthedocs/projects/migrations/0141_create_addonsconfig.py
  readthedocs/projects/models.py
  readthedocs/projects/signals.py
  readthedocs/projects/tasks/search.py
  readthedocs/projects/tests/test_version_handling.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/tests/responses/v1.json
  readthedocs/proxito/tests/test_headers.py
  readthedocs/proxito/tests/test_hosting.py
  readthedocs/proxito/views/hosting.py
  readthedocs/rtd_tests/tests/test_imported_file.py
Owners: @readthedocs/backend

Declare `form_list` at class level because it's mandatory
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

It's required to use `OrderedDict`
  readthedocs/projects/views/private.py
Owners: @readthedocs/backend

Requirements: install unicode-slugify from pypi
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Requirements: install unicode-slugify from pypi (#11805)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
