Repository readthedocs/readthedocs.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @readthedocs/backend, @readthedocs/frontend, @readthedocs/advocacy

Docs: move CustomScript addons to a different toctree (#12645)
  docs/user/index.rst
Owners: @readthedocs/advocacy

Revert unseting `CONDA_` variables because it's not needed
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Run pre-commit on files
  readthedocs/builds/migrations/0066_add_buildconfig_model.py
  readthedocs/builds/models.py
  readthedocs/builds/tests/test_buildconfig.py
Owners: @readthedocs/backend

Update link
  docs/user/builds.rst
Owners: @readthedocs/advocacy

Lint
  docs/user/guides/build/skip-build.rst
Owners: @readthedocs/advocacy

Build: set `GIT_SSH_COMMAND` to avoid host key checking for private repos
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Add test case for this
  readthedocs/doc_builder/tests/test_director.py
Owners: @readthedocs/backend

Proxito: use cookie lax policy
  readthedocs/settings/proxito/base.py
Owners: @readthedocs/backend

Build: set `GIT_SSH_COMMAND` to avoid host key checking (#12649)
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/tests/test_director.py
Owners: @readthedocs/backend

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/pip.txt
  requirements/testing.txt
Owners: @readthedocs/backend

Some initial changes to support a rich select project repository combo field
  readthedocs/projects/forms.py
Owners: @readthedocs/backend

Revert "Proxito: use cookie lax policy"
  readthedocs/settings/proxito/base.py
Owners: @readthedocs/backend

Add the setting only for Proxito development
  dockerfiles/settings/proxito.py
Owners: @readthedocs/backend

Move the normalization inside `Project.save`
  readthedocs/api/v3/serializers.py
  readthedocs/projects/forms.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Update dockerfiles/settings/proxito.py
  dockerfiles/settings/proxito.py
Owners: @readthedocs/backend

Release 15.10.0
  docs/conf.py
  readthedocs/__init__.py
  setup.cfg
Owners: @readthedocs/advocacy, @readthedocs/backend

Proxito: use cookie lax policy (#12650)
  dockerfiles/settings/proxito.py
Owners: @readthedocs/backend

Revert "Build: set `GIT_SSH_COMMAND` to avoid host key checking (#12649)"
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/tests/test_director.py
Owners: @readthedocs/backend

Build: add GIT_SSH_COMMAND env var VCS environment variables
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Fix skip build document reference
  docs/user/builds.rst
Owners: @readthedocs/advocacy

Update test case to cover VCS env vars as well
  readthedocs/doc_builder/tests/test_director.py
Owners: @readthedocs/backend

Move GIT_SSH_COMMAND env var outside `READTHEDOCS_` variables
  readthedocs/doc_builder/director.py
Owners: @readthedocs/backend

Add dedicated documentation page for skip build feature (exit 183) (#12648)
  docs/user/build-customization.rst
  docs/user/builds.rst
  docs/user/guides/build/index.rst
  docs/user/guides/build/skip-build.rst
  docs/user/guides/setup/monorepo.rst
Owners: @readthedocs/advocacy

Build: add GIT_SSH_COMMAND env var VCS environment variables (#12656)
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/tests/test_director.py
Owners: @readthedocs/backend

Indexers: skip posting build overview when re-indexing
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

GitHub App: show projects that require manual migration
  readthedocs/profiles/tests/test_views.py
  readthedocs/profiles/views.py
  readthedocs/projects/models.py
Owners: @readthedocs/backend

Test TBD
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

Missed this
  readthedocs/oauth/migrate.py
Owners: @readthedocs/backend

Add tests for repository_html_url and repository_full_name properties (#12659)
  readthedocs/projects/tests/test_models.py
Owners: @readthedocs/backend

Search: record queries in batch
  readthedocs/search/api/v2/views.py
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/api/v3/views.py
  readthedocs/search/tasks.py
Owners: @readthedocs/backend

Format
  readthedocs/search/api/v3/views.py
  readthedocs/search/tasks.py
Owners: @readthedocs/backend

Hash it
  readthedocs/oauth/migrate.py
  readthedocs/profiles/tests/test_views.py
Owners: @readthedocs/backend

Order back
  readthedocs/profiles/tests/test_views.py
Owners: @readthedocs/backend

Indexers: skip posting build overview when re-indexing (#12657)
  readthedocs/projects/tasks/search.py
Owners: @readthedocs/backend

Search: record queries in batch (#12660)
  readthedocs/search/api/v2/views.py
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/api/v3/views.py
  readthedocs/search/tasks.py
Owners: @readthedocs/backend

Fix link to Community migration (#12630)
  docs/user/reference/git-integration.rst
Owners: @readthedocs/advocacy

Tests: make test to pass on community and corporate
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Tests: make test to pass on community and corporate (#12661)
  readthedocs/projects/tests/test_build_tasks.py
Owners: @readthedocs/backend

Rename method to match its functionality
  readthedocs/core/templatetags/privacy_tags.py
  readthedocs/projects/filters.py
  readthedocs/projects/querysets.py
  readthedocs/rtd_tests/tests/test_project_views.py
Owners: @readthedocs/backend

Initial work for OpenTelemetry analytics integration done by Copilot
  readthedocs/analytics/admin.py
  readthedocs/analytics/apps.py
  readthedocs/analytics/migrations/0008_opentelemetryconfig.py
  readthedocs/analytics/otel_models.py
  readthedocs/analytics/proxied_api.py
  readthedocs/analytics/telemetry.py
  requirements/pip.in
Owners: @readthedocs/backend

.github/CODEOWNERS:

*       @readthedocs/backend
*.js    @readthedocs/frontend
*.html  @readthedocs/frontend
*.css   @readthedocs/frontend
*.less  @readthedocs/frontend
*.scss  @readthedocs/frontend
*.svg   @readthedocs/frontend
*.png   @readthedocs/frontend
*.jpg   @readthedocs/frontend
/docs/  @readthedocs/advocacy
